{#
  Data fetched from here: https://codepen.io/phebert/pen/PoqQqYM
  And beautified here: https://codebeautify.org/htmlviewer/
  With some rows removed for readability.
  And then refactored to use our table.twig template
#}

{% embed '../table.twig' with { tableClass: rowModifier } %}

  {% if hasHeader %}
    {% block header %}
      <tr>
        <th></th>
        <th class="o-table__heading" scope="col">Stars</th>
        <th class="o-table__heading" scope="col">Forks</th>
        <th class="o-table__heading" scope="col">Watchers</th>
        <th class="o-table__heading" scope="col">Issues</th>
      </tr>
    {% endblock %}
  {% endif %}

  {% block body %}
    <tr class="o-table__row">
      <th class="o-table__heading" scope="row">
        <a href="https://github.com/cloudfour/guides">guides</a>
      </th>
      <td class="o-table__cell {% if numericCells %} o-table__cell--numeric {% endif %}">
        <a href="https://github.com/cloudfour/guides/stargazers">16</a>
      </td>
      <td class="o-table__cell {% if numericCells %} o-table__cell--numeric {% endif %}">
        <a href="https://github.com/cloudfour/guides/network/members">0</a>
      </td>
      <td class="o-table__cell {% if numericCells %} o-table__cell--numeric {% endif %}">16</td>
      <td class="o-table__cell {% if numericCells %} o-table__cell--numeric {% endif %}">
        <a href="https://github.com/cloudfour/guides/issues">9</a>
      </td>
    </tr>
    <tr class="o-table__row">
      <th class="o-table__heading" scope="row">
        <a href="https://github.com/cloudfour/hideShowPassword">hideShowPassword</a>
      </th>
      <td class="o-table__cell {% if numericCells %} o-table__cell--numeric {% endif %}">
        <a href="https://github.com/cloudfour/hideShowPassword/stargazers">720</a>
      </td>
      <td class="o-table__cell {% if numericCells %} o-table__cell--numeric {% endif %}">
        <a href="https://github.com/cloudfour/hideShowPassword/network/members">111</a>
      </td>
      <td class="o-table__cell {% if numericCells %} o-table__cell--numeric {% endif %}">720</td>
      <td class="o-table__cell {% if numericCells %} o-table__cell--numeric {% endif %}">
        <a href="https://github.com/cloudfour/hideShowPassword/issues">4</a>
      </td>
    </tr>
    <tr class="o-table__row">
      <th class="o-table__heading" scope="row">
        <a href="https://github.com/cloudfour/image-breakpoints">image-breakpoints</a>
      </th>
      <td class="o-table__cell {% if numericCells %} o-table__cell--numeric {% endif %}">
        <a href="https://github.com/cloudfour/image-breakpoints/stargazers">28</a>
      </td>
      <td class="o-table__cell {% if numericCells %} o-table__cell--numeric {% endif %}">
        <a href="https://github.com/cloudfour/image-breakpoints/network/members">1</a>
      </td>
      <td class="o-table__cell {% if numericCells %} o-table__cell--numeric {% endif %}">28</td>
      <td class="o-table__cell {% if numericCells %} o-table__cell--numeric {% endif %}">
        <a href="https://github.com/cloudfour/image-breakpoints/issues">1</a>
      </td>
    </tr>
    <tr class="o-table__row">
      <th class="o-table__heading" scope="row">
        <a href="https://github.com/cloudfour/offCanvasMenu">offCanvasMenu</a>
      </th>
      <td class="o-table__cell {% if numericCells %} o-table__cell--numeric {% endif %}">
        <a href="https://github.com/cloudfour/offCanvasMenu/stargazers">147</a>
      </td>
      <td class="o-table__cell {% if numericCells %} o-table__cell--numeric {% endif %}">
        <a href="https://github.com/cloudfour/offCanvasMenu/network/members">25</a>
      </td>
      <td class="o-table__cell {% if numericCells %} o-table__cell--numeric {% endif %}">147</td>
      <td class="o-table__cell {% if numericCells %} o-table__cell--numeric {% endif %}">
        <a href="https://github.com/cloudfour/offCanvasMenu/issues">6</a>
      </td>
    </tr>
    <tr class="o-table__row">
      <th class="o-table__heading" scope="row">
        <a href="https://github.com/cloudfour/pwastats">pwastats</a>
      </th>
      <td class="o-table__cell {% if numericCells %} o-table__cell--numeric {% endif %}">
        <a href="https://github.com/cloudfour/pwastats/stargazers">79</a>
      </td>
      <td class="o-table__cell {% if numericCells %} o-table__cell--numeric {% endif %}">
        <a href="https://github.com/cloudfour/pwastats/network/members">5</a>
      </td>
      <td class="o-table__cell {% if numericCells %} o-table__cell--numeric {% endif %}">79</td>
      <td class="o-table__cell {% if numericCells %} o-table__cell--numeric {% endif %}">
        <a href="https://github.com/cloudfour/pwastats/issues">7</a>
      </td>
    </tr>
    <tr class="o-table__row">
      <th class="o-table__heading" scope="row">
        <a href="https://github.com/cloudfour/simple-svg-placeholder">simple-svg-placeholder</a>
      </th>
      <td class="o-table__cell {% if numericCells %} o-table__cell--numeric {% endif %}">
        <a href="https://github.com/cloudfour/simple-svg-placeholder/stargazers">89</a>
      </td>
      <td class="o-table__cell {% if numericCells %} o-table__cell--numeric {% endif %}">
        <a href="https://github.com/cloudfour/simple-svg-placeholder/network/members">4</a>
      </td>
      <td class="o-table__cell {% if numericCells %} o-table__cell--numeric {% endif %}">89</td>
      <td class="o-table__cell {% if numericCells %} o-table__cell--numeric {% endif %}">
        <a href="https://github.com/cloudfour/simple-svg-placeholder/issues">0</a>
      </td>
    </tr>
    <tr class="o-table__row">
      <th class="o-table__heading" scope="row">
        <a href="https://github.com/cloudfour/SimpleSlideView">SimpleSlideView</a>
      </th>
      <td class="o-table__cell {% if numericCells %} o-table__cell--numeric {% endif %}">
        <a href="https://github.com/cloudfour/SimpleSlideView/stargazers">260</a>
      </td>
      <td class="o-table__cell {% if numericCells %} o-table__cell--numeric {% endif %}">
        <a href="https://github.com/cloudfour/SimpleSlideView/network/members">32</a>
      </td>
      <td class="o-table__cell {% if numericCells %} o-table__cell--numeric {% endif %}">260</td>
      <td class="o-table__cell {% if numericCells %} o-table__cell--numeric {% endif %}">
        <a href="https://github.com/cloudfour/SimpleSlideView/issues">6</a>
      </td>
    </tr>
    <tr class="o-table__row">
      <th class="o-table__heading" scope="row">
        <a href="https://github.com/cloudfour/transition-hidden-element">transition-hidden-element</a>
      </th>
      <td class="o-table__cell {% if numericCells %} o-table__cell--numeric {% endif %}">
        <a href="https://github.com/cloudfour/transition-hidden-element/stargazers">34</a>
      </td>
      <td class="o-table__cell {% if numericCells %} o-table__cell--numeric {% endif %}">
        <a href="https://github.com/cloudfour/transition-hidden-element/network/members">0</a>
      </td>
      <td class="o-table__cell {% if numericCells %} o-table__cell--numeric {% endif %}">34</td>
      <td class="o-table__cell {% if numericCells %} o-table__cell--numeric {% endif %}">
        <a href="https://github.com/cloudfour/transition-hidden-element/issues">0</a>
      </td>
    </tr>
  {% endblock %}

  {% if hasFooter %}
    {% block footer %}
      <tr>
        <th class="o-table__heading" scope="row">Total:</th>
        <td class="o-table__cell {% if numericCells %} o-table__cell--numeric {% endif %}">2125</td>
        <td class="o-table__cell {% if numericCells %} o-table__cell--numeric {% endif %}">234</td>
        <td class="o-table__cell {% if numericCells %} o-table__cell--numeric {% endif %}">2125</td>
        <td class="o-table__cell {% if numericCells %} o-table__cell--numeric {% endif %}">245</td>
      </tr>
    {% endblock %}
  {% endif %}
{% endembed %}
