<table class="0-table">
  <thead>
    <tr>
      <th scope="col">Unsorted</th>
      <th scope="col">Sorted in Browser</th>
      <th scope="col">Sorted in Node</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>cloudfour.com-patterns</td>
      <td>cloudfour.com-patterns</td>
      <td>pwa.rocks</td>
    </tr>
    <tr>
      <td>drizzle</td>
      <td>drizzle</td>
      <td>cloudfour.com-patterns</td>
    </tr>
    <tr>
      <td>leveller</td>
      <td>leveller</td>
      <td>drizzle</td>
    </tr>
    <tr>
      <td>pwa-workshop</td>
      <td>pwa-workshop</td>
      <td>pwa-workshop</td>
    </tr>
    <tr>
      <td>pwa.rocks</td>
      <td>pwa.rocks</td>
      <td>leveller</td>
    </tr>
  </tbody>
</table>
