{#
  Data fetched from here: https://codepen.io/phebert/pen/PoqQqYM
  And beautified here: https://codebeautify.org/htmlviewer/
#}
<table class="o-table">
  {% if hasHeader %}
  <thead>
    <tr>
      <th></th>
      <th class="o-table__heading" scope="col">Stars</th>
      <th class="o-table__heading" scope="col">Forks</th>
      <th class="o-table__heading" scope="col">Watchers</th>
      <th class="o-table__heading" scope="col">Issues</th>
    </tr>
  </thead>
  {% endif %}
  <tbody>
    <tr>
      <th class="o-table__heading" scope="row">
        <a href="https://github.com/cloudfour/guides">guides</a>
      </th>
      <td class="o-table__cell">
        <a href="https://api.github.com/repos/cloudfour/guides/stargazers">16</a>
      </td>
      <td class="o-table__cell">
        <a href="https://api.github.com/repos/cloudfour/guides/forks">0</a>
      </td>
      <td class="o-table__cell">16</td>
      <td class="o-table__cell">
        <a href="https://api.github.com/repos/cloudfour/guides/issues{/number}">9</a>
      </td>
    </tr>
    <tr>
      <th class="o-table__heading" scope="row">
        <a href="https://github.com/cloudfour/hideShowPassword">hideShowPassword</a>
      </th>
      <td class="o-table__cell">
        <a href="https://api.github.com/repos/cloudfour/hideShowPassword/stargazers">720</a>
      </td>
      <td class="o-table__cell">
        <a href="https://api.github.com/repos/cloudfour/hideShowPassword/forks">111</a>
      </td>
      <td class="o-table__cell">720</td>
      <td class="o-table__cell">
        <a href="https://api.github.com/repos/cloudfour/hideShowPassword/issues{/number}">4</a>
      </td>
    </tr>
    <tr>
      <th class="o-table__heading" scope="row">
        <a href="https://github.com/cloudfour/image-breakpoints">image-breakpoints</a>
      </th>
      <td class="o-table__cell">
        <a href="https://api.github.com/repos/cloudfour/image-breakpoints/stargazers">28</a>
      </td>
      <td class="o-table__cell">
        <a href="https://api.github.com/repos/cloudfour/image-breakpoints/forks">1</a>
      </td>
      <td class="o-table__cell">28</td>
      <td class="o-table__cell">
        <a href="https://api.github.com/repos/cloudfour/image-breakpoints/issues{/number}">1</a>
      </td>
    </tr>
    <tr>
      <th class="o-table__heading" scope="row">
        <a href="https://github.com/cloudfour/offCanvasMenu">offCanvasMenu</a>
      </th>
      <td class="o-table__cell">
        <a href="https://api.github.com/repos/cloudfour/offCanvasMenu/stargazers">147</a>
      </td>
      <td class="o-table__cell">
        <a href="https://api.github.com/repos/cloudfour/offCanvasMenu/forks">25</a>
      </td>
      <td class="o-table__cell">147</td>
      <td class="o-table__cell">
        <a href="https://api.github.com/repos/cloudfour/offCanvasMenu/issues{/number}">6</a>
      </td>
    </tr>
    <tr>
      <th class="o-table__heading" scope="row">
        <a href="https://github.com/cloudfour/pwastats">pwastats</a>
      </th>
      <td class="o-table__cell">
        <a href="https://api.github.com/repos/cloudfour/pwastats/stargazers">79</a>
      </td>
      <td class="o-table__cell">
        <a href="https://api.github.com/repos/cloudfour/pwastats/forks">5</a>
      </td>
      <td class="o-table__cell">79</td>
      <td class="o-table__cell">
        <a href="https://api.github.com/repos/cloudfour/pwastats/issues{/number}">7</a>
      </td>
    </tr>
    <tr>
      <th class="o-table__heading" scope="row">
        <a href="https://github.com/cloudfour/simple-svg-placeholder">simple-svg-placeholder</a>
      </th>
      <td class="o-table__cell">
        <a href="https://api.github.com/repos/cloudfour/simple-svg-placeholder/stargazers">89</a>
      </td>
      <td class="o-table__cell">
        <a href="https://api.github.com/repos/cloudfour/simple-svg-placeholder/forks">4</a>
      </td>
      <td class="o-table__cell">89</td>
      <td class="o-table__cell">
        <a href="https://api.github.com/repos/cloudfour/simple-svg-placeholder/issues{/number}">0</a>
      </td>
    </tr>
    <tr>
      <th class="o-table__heading" scope="row">
        <a href="https://github.com/cloudfour/SimpleSlideView">SimpleSlideView</a>
      </th>
      <td class="o-table__cell">
        <a href="https://api.github.com/repos/cloudfour/SimpleSlideView/stargazers">260</a>
      </td>
      <td class="o-table__cell">
        <a href="https://api.github.com/repos/cloudfour/SimpleSlideView/forks">32</a>
      </td>
      <td class="o-table__cell">260</td>
      <td class="o-table__cell">
        <a href="https://api.github.com/repos/cloudfour/SimpleSlideView/issues{/number}">6</a>
      </td>
    </tr>
    <tr>
      <th class="o-table__heading" scope="row">
        <a href="https://github.com/cloudfour/transition-hidden-element">transition-hidden-element</a>
      </th>
      <td class="o-table__cell">
        <a href="https://api.github.com/repos/cloudfour/transition-hidden-element/stargazers">34</a>
      </td>
      <td class="o-table__cell">
        <a href="https://api.github.com/repos/cloudfour/transition-hidden-element/forks">0</a>
      </td>
      <td class="o-table__cell">34</td>
      <td class="o-table__cell">
        <a href="https://api.github.com/repos/cloudfour/transition-hidden-element/issues{/number}">0</a>
      </td>
    </tr>
  </tbody>

  {% if hasFooter %}
    <tfoot>
      <tr>
        <th class="o-table__heading" scope="row">Total:</th>
        <td class="o-table__cell">2125</td>
        <td class="o-table__cell">234</td>
        <td class="o-table__cell">2125</td>
        <td class="o-table__cell">245</td>
      </tr>
    </tfoot>
  {% endif %}
</table>
