@use '../../compiled/tokens/scss/color';
@use '../../compiled/tokens/scss/ease';
@use '../../compiled/tokens/scss/size';
@use '../../compiled/tokens/scss/transition';
@use '../../mixins/focus';
@use '../../mixins/ms';

.c-footnote-link {
  background: color.$text-action;
  border-radius: size.$border-radius-full;
  color: color.$text-light-emphasis;
  display: inline-block;
  font-size: ms.step(-1);
  height: size.$square-footnote-link;
  line-height: size.$square-footnote-link;
  // font-size: smaller;
  text-align: center;
  text-decoration: none;
  vertical-align: super;
  width: size.$square-footnote-link;
}

// TODO: Hover styles
// TODO: Focus styles
// TODO: Active styles? :Target styles?
