@use '../../compiled/tokens/scss/color';
@use '../../compiled/tokens/scss/ease';
@use "../../compiled/tokens/scss/font-weight";
@use '../../compiled/tokens/scss/size';
@use "../../compiled/tokens/scss/scale";
@use '../../compiled/tokens/scss/transition';
@use '../../mixins/focus';
@use '../../mixins/ms';
@use '../../mixins/theme';

.c-footnote-link {
  background-color: color.$base-gray-lighter;
  border-radius: size.$border-radius-full;
  color: color.$text-action;
  display: inline-block;
  font-size: ms.step(-2);
  font-weight: font-weight.$medium;
  height: size.$square-footnote-link;
  line-height: size.$square-footnote-link;
  min-width: size.$square-footnote-link;
  padding: 0 ms.step(-5);
  scroll-margin: ms.step(4);
  text-align: center;
  text-decoration: none;
  transition-duration: transition.$quick;
  transition-property: background-color, color, transform;
  transition-timing-function: ease.$out;
  vertical-align: super;

  &:hover {
    background-color: color.$text-action;
    color: color.$text-light-emphasis;
  }

  @include theme.styles(dark) {
    background-color: color.$brand-primary-dark;
    color: color.$text-light-emphasis;

    &:hover {
      background-color: color.$text-light-emphasis;
      color: color.$text-action;
    }
  }

  @include focus.focus-visible {
    box-shadow: 0 0 0 size.$edge-medium color.$brand-primary-lighter;
  }

  &:active {
    transform: scale(scale.$effect-shrink);
  }
}
