{% embed '@cloudfour/objects/media-group/media-group.twig' %}
  {% block items %}
    {% for item in items %}
      {% embed '@cloudfour/objects/media-group/media-group-item.twig' %}
        {% block object %}
          {% include '@cloudfour/components/avatar/avatar.twig' with {
            "src": item.src,
            "sizes": "60px"
          } only %}
        {% endblock %}
        {% block content %}
          <p>{{item.content}}</p>
        {% endblock %}
      {% endembed %}
    {% endfor %}
  {% endblock %}
{% endembed %}
