<div class="o-hype-group
  {% if reverse %}o-hype-group--reverse{% endif %}">
  <div class="o-hype-group__intro">
    {% block intro %}{% endblock %}
  </div>
  <div class="o-hype-group__stage">
    <div class="o-hype-group__object">
      {% block object %}{% endblock %}
    </div>
  </div>
  <div class="o-hype-group__content {{content_class}}">
    {% block content %}{% endblock %}
  </div>
</div>
