#case-study-listings {

  .book-wrapper {
      background-color: #f2f5f7;
  }

  .top-wrapper {
    padding-top: 4em;
    padding-bottom: 4em;
    @media (min-width: 50em) {
      padding-top: 4em;
      padding-bottom: 4em;
    }
  }

  .grid-wrapper {
    display: grid;
    grid-gap: .5em;
    grid-template-rows: auto auto;
    padding-top: 2em;
    padding-bottom: 4em;
    grid-template-areas: "intro"
      "content";
    @media (min-width: 60em) {
      // padding-top: 1em;
      padding-bottom: 3em;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "intro content content";
    }

    .content {
      grid-area: content;
      display: grid;
      grid-gap: 4em;
      @media (min-width: 60em) {
        grid-template-columns: 1fr 1fr;
      }
    }

    .intro {
      grid-area: intro;

      h2 {
        font-weight: 300;
        font-size: 2.44em;
        padding-bottom: .75em;
        padding-right: .5em;
      }
    }
  }

  .item {
    display: grid;
    grid-template-columns: minmax(0, auto) 2fr;
    grid-column-gap: 1em;
    justify-items: center;
    align-items: start;
    @media (min-width: 60em) {
      grid-template-columns: 1fr 2fr;
    }

    .item-content {
      justify-self: start;
    }

    .book-img {
      @media (max-width: 959px) {
        max-width: 6em;
      }
    }
  }
}
