#case-study-listings {

  .title {
    padding-bottom: 1.5em;

    p {
      padding-top: .75em;
    }
  }

  .book-container {
    background-color: #f2f5f7;
  }

  .o-container {
    @media (min-width: 60em) {
    padding-top: 0;
    padding-bottom: 0;
    }
  }

  .top-wrapper {
    @media (min-width: 60em) {
      padding-top: 4em;
      padding-bottom: 2em;
    }
  }

  .wrapper {
    @media (min-width: 60em) {
      padding-top: 2.5em;
      padding-bottom: 2em;
    }
  }

  .c-card__header {
    @media (min-width: 60em) {
      h2 {
        font-size: 34px;
      }
    }
  }
}
