<div id="case-study-listings">
  <div class="c-cloud-cover t-dark">
    <div class="o-container o-container--pad-inline">
      <div class="o-container__content c-cloud-cover__inner">
        <div class="c-cloud-cover__content">
          <div class="o-rhythm o-rhythm--condensed">
            <h1 class="c-heading c-heading--level-n2">Our Work</h1>
            <p>
              We’ve built responsive websites, JavaScript applications, hybrid apps, you name it—if it’s mobile, we’ve built it.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="o-container o-container--pad">
  <div class="o-container__content">
    <div class="o-deck o-deck--2-column@l">
      <article class="c-card c-card--with-link c-card--horizontal@m">
        <header class="c-card__header">
          <h2 class="c-card__heading">
            <a
              href="#"
              class="c-card__link"
            >
              Champion Power Equipment
            </a>
          </h2>
        </header>

        <div class="c-card__cover">
          <img
            src="{{cpe}}"
            alt=""
          />
        </div>

        <div class="c-card__content">
          <p>
            Champion Power Equipment is a market leader in power generation equipment. They chose Cloud Four to design...
          </p>
        </div>
      </article>

      <article class="c-card c-card--with-link">
        <header class="c-card__header">
          <h2 class="c-card__heading">
            <a
              href="#"
              class="c-card__link"
            >
              Walmart Grocery
            </a>
          </h2>
        </header>

        <div class="c-card__cover">
          <img
            src="{{wm}}"
            alt=""
          />
        </div>

        <div class="c-card__content">
          <p>
            Cloud Four was hired to help Walmart make the transition to responsive web design. We started with the smaller Walmart Grocery site, built a pattern library, and converted...
          </p>
        </div>
      </article>

      <article class="c-card c-card--with-link">
        <header class="c-card__header">
          <h2 class="c-card__heading">
            <a
              href="#"
              class="c-card__link"
            >
              Ceasefire Oregon
            </a>
          </h2>
        </header>

        <div class="c-card__cover">
          <img
            src="{{cf}}"
            alt=""
          />
        </div>

        <div class="c-card__content">
          <p>
            Ceasefire Oregon is a small, non-profit organization working for sensible gun law reform. Their site had a wealth of information, but was difficult to navigate and read. We helped...
          </p>
        </div>
      </article>
    </div>



    <div class="title2">
      <h1>Books</h1>
    </div>
    <div class="card-container o-deck o-deck--2-column@l">
      <article class="c-card c-card--with-link c-card--horizontal@m">
        <header class="c-card__header">
          <h2 class="c-card__heading">
            <a
              href="https://cloudfour.com/thinks/building-flexible-components-with-transparency/"
              class="c-card__link"
            >
              Building Flexible Components With Transparency
            </a>
          </h2>
        </header>

        <div class="c-card__cover">
          <img
            src="https://cloudfour.com/wp-content/uploads/2020/11/transparent-flexible.png"
            alt=""
          />
        </div>

        <div class="c-card__content">
          <p>
            By adding a touch of transparency, we can design components that
            automatically adapt to their backgrounds.
          </p>
        </div>
      </article>
    </div>
  </div>
</div>


</div>
