@use "../../compiled/tokens/scss/size";
@use "../../mixins/spacing";

:root {
  --rhythm: #{size.$rhythm-default};
  --rhythm-headings: var(--rhythm);
}

.o-rhythm {
  @include spacing.vertical-rhythm(size.$rhythm-default);
}

// General spacing modifiers

.o-rhythm--compact {
  --rhythm: #{size.$rhythm-compact};
}

.o-rhythm--condensed {
  --rhythm: #{size.$rhythm-condensed};
}

.o-rhythm--generous {
  --rhythm: #{size.$rhythm-generous};
}

// Heading modifiers

.o-rhythm--generous-headings {
  --rhythm-headings: #{size.$rhythm-generous};
}
