@use "../../compiled/tokens/scss/size";

/**
 * This pattern makes heavy use of Heydon Pickering's "lobotomized owl"
 * selectors. By adding `margin-top` to adjacent elements, we avoid impacting
 * the layout of the container itself (which would complicate alignment of
 * adjacent columns).
 *
 * @see https://alistapart.com/article/axiomatic-css-and-lobotomized-owls/
 */

.o-rhythm > * + * {
  margin-top: size.$rhythm-default;
}

/**
 * General spacing modifiers
 */

.o-rhythm--compact > * + * {
  margin-top: size.$rhythm-compact;
}

.o-rhythm--condensed > * + * {
  margin-top: size.$rhythm-condensed;
}

.o-rhythm--generous > * + * {
  margin-top: size.$rhythm-generous;
}

/**
 * Heading modifiers
 */

.o-rhythm--generous-headings {
  & > * + h1,
  & > * + h2,
  & > * + h3,
  & > * + h4,
  & > * + h5,
  & > * + h6 {
    margin-top: size.$rhythm-generous;
  }
}
