.f-Icons {
  display: flex;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}

.f-Icon {
  flex: 0 1 25%;
  padding: 1em 0 0.75em;
  text-align: center;
  background: var(--Icon-background);
}

.f-Icon:hover {
  color: #fff;
  background: var(--Icon-hover-background);
}

.f-Icon svg {
  width: 1.5em;
  height: 1.5em;
}

.f-Icon-label {
  margin: 0;
  display: block;
  font-size: 0.75em;
}
