.f-Masthead-control {
  padding: 0.875rem 1rem;
  line-height: 1;
  vertical-align: middle;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.f-Masthead-control svg {
  width: 1.125rem;
  height: 1.125rem;

  fill: currentColor;
}

.f-Masthead-title {
  display: inline-block;
  font-size: 0.75rem;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  vertical-align: middle;
}

.f-Masthead-title a {
  color: inherit;
  text-decoration: none;
}
