.f-Nav {
  color: var(--Nav-color);
  background-color: var(--Nav-background);
}

.f-Nav a,
.f-Nav a:matches(:focus, :hover, :active) {
  text-decoration: none;
  color: inherit;
}

.f-Nav-header {
  margin: 0.5rem 1rem;
}

.f-Nav-header svg {
  width: 2rem;
  height: 2rem;

  fill: currentColor;
}

.f-Nav-menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.f-Nav-menu > li {
  margin: 0;
}

.f-Nav-item {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}

.f-Nav-menu .f-Nav-menu .f-Nav-item {
  padding-left: 2rem;
}

.f-Nav-item.f-is-active {
  box-shadow: 3px 0 0 var(--Nav-color) inset;
}

.f-Nav-item:hover,
.f-Nav-item:focus {
  background-color: var(--Nav-hover-background);
}

.f-Nav-item--heading {
  margin-top: 0.75rem;
  font-size: 1rem;
  font-weight: 300;
}

.f-Nav-footer {
  margin: 2rem 1rem 1rem;
  font-size: 0.75rem;
  opacity: 0.5;
}
