.f-Swatches {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  padding-left: 0;
  list-style: none;

  flex-wrap: wrap;
}

.f-Swatch {
  margin-top: 0;
  margin-bottom: 2em;
  box-sizing: border-box;
  padding: 1em;
  font-size: 0.75em;
  border-top-width: 8em;
  border-top-style: solid;

  flex: 1 0 100%;
}

@media (--large-viewport) {
  .f-Swatch {
    flex-basis: 13em;
  }
}

.f-Swatch-name,
.f-Swatch-color {
  margin: 0;
}

.f-Swatch-name {
  font-weight: 700;
}
