@use "../../../mixins/ms";
@use "../../../compiled/tokens/scss/size";

#single-article {
  .main-container {
    padding-top: ms.step(6);
    padding-bottom: ms.step(6);
  }

  .table {
    margin-top: size.$rhythm-default;
  }
}
