@use 'sass:math';
@use '../../../compiled/tokens/scss/breakpoint';
@use '../../../compiled/tokens/scss/color';
@use '../../../mixins/ms';

$_gap: ms.step(1);

@function _cloud-space($amount: 1, $vh: 12vh, $vw: 3vw) {
  @if $amount == 1 {
    @return calc(#{$vh} + #{$vw});
  }

  @return calc((#{$vh} + #{$vw}) * #{$amount});
}

#cloud-cover-prototype {
  .c-cloud-cover__inner {
    align-items: center;
    display: grid;
    grid-column-gap: $_gap;
    grid-template-areas:
      '.'
      'scene'
      'content'
      'extra'
      '.';
    grid-template-rows:
      _cloud-space(0.5)
      repeat(3, auto)
      _cloud-space(); /* 1 */
    position: relative; /* 2 */
    z-index: 1; /* 2 */

  @media (width >= 45em) {
    grid-template-areas:
      '. .'
      '. scene'
      'content extra'
      '. .'
      '. .';
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:
      repeat(2, _cloud-space(0.5))
      auto
      repeat(2, _cloud-space(0.5)); /* 1 */
  }
}

/**
  * The subscribe component has a heading that says "Never miss an article!" * It's hard coded into the component and should probably be removed,
  * at least for this instance.
  */

  h2 {
    display: none;
  }

  .c-cloud-cover__extra {
  grid-area: extra;

  /**
   * Because we don't want lingering row gaps when there is no extra, we must
   * use margin to avoid this running up against adjacent content.
   */

  @media (width < 45em) {
    margin-block-start: $_gap;
  }
}
}
