{% embed '@cloudfour/components/cloud-cover/cloud-cover.twig' %}
  {% block content %}
    {% embed '@cloudfour/objects/rhythm/rhythm.twig' with {
      class: 'o-rhythm--condensed'
    } only %}
      {% block content %}
        {% include '@cloudfour/components/heading/heading.twig' with {
          level: -2,
          content: 'Articles'
        } only %}
        <p>
          Tales from the edge of the web
        </p>
      {% endblock %}
    {% endembed %}
  {% endblock %}
  {% block extra %}
    {% include '@cloudfour/components/subscribe/subscribe.twig' %}
  {% endblock %}
{% endembed %}
