<footer class="u-containSpread u-padSides1 u-padTop2 u-padBottom3" role="contentinfo">
  <div class="Grid u-posRelative">
    <div class="Grid-cell u-sm-size1of2 u-md-size1of3">
      <p>
        <a href="/"><strong>Cloud Four, Inc.</strong></a>
      </p>
      <p>
        208 SW 1st Ave, Suite 240<br>
        Portland, Oregon 97204 USA
      </p>
      <ul class="u-listUnstyled">
        <li><a href="mailto:info@cloudfour.com">info@cloudfour.com</a></li>
        <li><a href="tel:15032901090">+1 503.290.1090</a></li>
      </ul>
      <ul class="u-listInline u-spaceTop1 u-md-spaceTopNone u-md-posAbsoluteTopRight">
        {{#each drizzle.data.social.contents.links}}
          <li>
            <a class="u-textGrow1" href="{{url}}" title="{{text}}">
              {{svg icon class="Icon Icon--large" role="img"}}
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
    <hr class="Grid-cell u-sm-hidden u-spaceTop1 u-spaceBottomNone"/>
    <nav class="Grid-cell u-spaceTop1 u-sm-spaceTopNone u-sm-size1of2 u-md-size1of3">
      <ul class="u-listUnstyled u-columns2">
        <li><a href="/">What We Do</a></li>
        <li><a href="/">Our Approach</a></li>
        <li><a href="/">Our Work</a></li>
        <li><a href="/">Articles</a></li>
        <li><a href="/">Speaking</a></li>
        <li><a href="/">Labs</a></li>
        <li><a href="/">Team</a></li>
        <li><a href="/">Patterns</a></li>
        <li><a href="/">Device Lab</a></li>
      </ul>
    </nav>
    <hr class="Grid-cell u-md-hidden u-spaceTop1 u-spaceBottomNone"/>
    <p class="Grid-cell u-spaceTop1 u-md-sizeFit u-md-flexAlignSelfEnd u-md-flexExpandLeft">
      <small>&copy; 2007 - 2016 Cloud Four, Inc.</small>
    </p>
  </div>
</footer>
