{{!-- Navigation --}}
{{> patterns.components.sky.base }}
{{!-- Section header --}}
{{#with section}}
  {{#embed "patterns.components.sky.base" class="Sky--clouds"}}
    {{#content "top"}}
      <div class="u-paddingMd">
        <h1>{{defaultTo heading "Section"}}</h1>
        <p>{{defaultTo subheading "About this section"}}</p>
      </div>
    {{/content}}
  {{/embed}}
{{/with}}
