<div class="u-posRelative">
  <p class="u-paddingMd u-size2of3">
    <span class="u-inlineBlock u-textLarger u-marginRightSm u-textNoWrap">
      Need help clouding your fours?
    </span>
    <a class="Button Button--primary u-marginEndsXs u-textNoWrap" href="mailto:info@cloudfour.com">
      <svg class="Icon Icon--large" role="img">
        <use xlink:href="/assets/toolkit/images/icons.svg#envelope"/>
      </svg>
      Squiddly-doo
    </a>
  </p>
  <img class="u-posAbsoluteBottomRight u-size2of5 u-sm-size1of3 u-sm-marginRightMd u-md-size1of4"
    src="/assets/toolkit/images/portland.svg" alt="">
</div>
