{{#embed "patterns.components.sky.base" class="Sky--clouds"}}
  {{#content "top"}}
    <div class="u-pad1 u-md-flex u-flexAlignItemsBaseline">
      <h1 class="u-textGrow5 u-sm-textGrow6 u-spaceRight1">
        {{defaultTo heading "Section"}}
      </h1>
      <p class="u-textGrow1">
        {{defaultTo subheading "About this section"}}
      </p>
    </div>
  {{/content}}
{{/embed}}
