<div class="u-posRelative">
  <p class="u-pad1 u-size2of3">
    <span class="u-inlineBlock u-textGrow1 u-spaceRight u-textNoWrap">
      Need help clouding your fours?
    </span>
    <a class="Button Button--primary u-spaceEnds01 u-textNoWrap" href="mailto:info@cloudfour.com">
      {{{
        embed "patterns.components.icon.base"
        class="Icon--large"
        iconid="envelope"
        role="presentation"
      }}}
      Squiddly-doo
    </a>
  </p>
  <img class="u-posAbsoluteBottomRight u-size2of5 u-sm-size1of3 u-sm-spaceRight1 u-md-size1of4"
    src="/assets/toolkit/images/portland.svg" alt="">
</div>
