@use "../../../design-tokens/breakpoint.yml";
@use "../../../design-tokens/motion.yml";
@use "../../../design-tokens/colors.yml";
@use "../../../mixins/ms";

/**
 * Wrap entire prototype in selector to prevent CSS leakage.
 *
 * @see https://github.com/storybookjs/storybook/issues/729
 */

#prototype-articles-danielle {
  p, h2 {
    margin: ms.step(-3) 0;
  }

  .articles {
    display: grid;
    grid-gap: ms.step(4);

    @media (min-width: breakpoint.$m) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: breakpoint.$xl) {
      grid-gap: ms.step(6);
      grid-template-columns: 1fr;
    }
  }
}

.card {
  align-content: start;
  display: grid;
  grid-gap: ms.step(0);
  position: relative;

  @media (min-width: breakpoint.$xl) {
    align-items: center;
    grid-template-columns: 1fr 2fr;

    &:first-child {
      grid-template-columns: 2fr 1fr;

      .card__link {
        font-size: ms.step(3);
      }
    }
  }
}

.card__image {

  @media (min-width: breakpoint.$xl) {
    grid-column: 1/2;
  }
}

.card__content {

  @media (min-width: breakpoint.$xl) {
    grid-column: 2/3;
  }
}

.card__link {
  color: colors.$primary-brand-dark;
  text-decoration: none;
  transition: color motion.$speed-quick motion.$ease-out;

  &:hover,
  &:active,
  &:focus {
    color: colors.$primary-brand;
    text-decoration: underline;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
  }
}

.card__image {
  opacity: 1;
  transition: opacity motion.$speed-quick motion.$ease-out;
}

.card:hover .card__image {
  opacity: 0.85;
}

.author {
  color: colors.$text-dark-muted;
}
