@use "../../../design-tokens/breakpoint.yml";
@use "../../../design-tokens/motion.yml";
@use "../../../design-tokens/colors.yml";
@use "../../../design-tokens/sizes.yml";
@use "../../../design-tokens/font.yml";
@use "../../../mixins/ms";

/**
 * Wrap entire prototype in selector to prevent CSS leakage.
 *
 * @see https://github.com/storybookjs/storybook/issues/729
 */

#prototype-articles-danielle {
  p, h2, h3 {
    margin: ms.step(-3) 0;
  }

  li {
    list-style: none;
  }

  .o-container {
    padding: ms.step(1);
  }

  .articles {
    display: grid;
    grid-gap: ms.step(4);
    padding: ms.step(0) 0;

    @media (min-width: breakpoint.$m) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: breakpoint.$xl) {
      grid-gap: ms.step(5);
      grid-template-columns: 1fr;
      padding: ms.step(2) 0;
    }
  }
}

.card {
  align-content: start;
  display: grid;
  grid-gap: ms.step(0);
  position: relative;


  @media (min-width: breakpoint.$xl) {
    align-items: center;
    grid-gap: ms.step(2);
    grid-template-columns: 1fr 2fr;

    &:first-child {
      grid-template-columns: 2fr 1fr;

      .card__link {
        font-size: ms.step(3);
      }
    }
  }
}

.card__image {

  @media (min-width: breakpoint.$xl) {
    grid-column: 1/2;
  }
}

.card__content {

  @media (min-width: breakpoint.$xl) {
    grid-column: 2/3;
  }
}

.card__link,
.essentials__link {
  color: colors.$primary-brand-dark;
  text-decoration: none;
  transition: color motion.$speed-quick motion.$ease-out;

  &:hover,
  &:active,
  &:focus {
    color: colors.$primary-brand;
    text-decoration: underline;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
  }
}

.card__image {
  opacity: 1;
  transition: opacity motion.$speed-quick motion.$ease-out;
}

.card:hover .card__image {
  opacity: 0.85;
}

.author {
  color: colors.$text-dark-muted;
}

.essentials {
  // background-color: colors.$gray-lighter;
  // border-top: sizes.$edge-large solid colors.$gray-light;
}

.essentials__content {
  border-top: sizes.$edge-large solid colors.$gray-light;
  display: grid;
  grid-gap: ms.step(0);
  padding: ms.step(0) 0;

  @media (min-width: breakpoint.$m) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: breakpoint.$xl) {
    grid-gap: ms.step(2);
    grid-template-columns: repeat(3, 1fr);
    padding: ms.step(2) 0;
  }
}

.essentials__item {
  // border-radius: sizes.$radius-medium;
  // background-color: colors.$gray-lighter;
  // border: 1px solid colors.$gray-light;
  // list-style: none;
  // padding: ms.step(0);
  position: relative;
}

// .essentials__link {
//   color: colors.$primary-brand-dark;
//   font-weight: font.$weight-medium;
//   text-decoration: none;
//   transition: color motion.$speed-quick motion.$ease-out;

//   &:hover,
//   &:active,
//   &:focus {
//     color: colors.$primary-brand;
//     text-decoration: underline;
//   }
// }

.topics__content {
  border-top: sizes.$edge-large solid colors.$gray-light;
  padding: ms.step(0) 0;

  @media (min-width: breakpoint.$xl) {
    padding: ms.step(2) 0;
  }
}

.topics__items {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: calc(#{ms.step(-2)} * -1);
  padding: 0;
}

.topics__item {
  border: sizes.$edge-small solid colors.$primary-brand;
  padding: ms.step(-5) ms.step(-2);
  margin: ms.step(-2);
}


.topics__link {
  text-decoration: none;
}
