@use "../../../design-tokens/breakpoint.yml";
@use "../../../design-tokens/motion.yml";
@use "../../../design-tokens/colors.yml";
@use "../../../design-tokens/sizes.yml";
@use "../../../design-tokens/font.yml";
@use "../../../mixins/ms";

/**
 * Wrap entire prototype in selector to prevent CSS leakage.
 *
 * @see https://github.com/storybookjs/storybook/issues/729
 */

#articles-danielle-b {
  p, h2, h3 {
    margin: 0;
  }

  li {
    list-style: none;
  }


  .o-container {
    padding: calc(#{ms.step(0)} + 2vw);
  }

  .articles {
    display: grid;
    grid-gap: ms.step(2);

    @media (min-width: breakpoint.$m) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: breakpoint.$xl) {
      grid-gap: ms.step(4);
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .article {
    align-content: start;
    display: grid;
    grid-gap: ms.step(0);
    position: relative;

    &:hover {
      .o-embed {
        &::after {
          background-color: rgba(colors.$primary-brand-darker, 0.5);
        }
      }
    }


    @media (min-width: breakpoint.$xl) {
      grid-gap: ms.step(2);


      &:nth-of-type(4n + 1) {
        align-items: center;
        grid-column: 1/-1;
        grid-template-columns: 2fr 1fr;

        .article__link {
          font-size: ms.step(3);
        }
      }
    }
  }

  .article__content {
    display: grid;
    grid-gap: ms.step(-3);
  }

  .article__link,
  .essentials__link {
    text-decoration: none;
    transition: color motion.$speed-quick motion.$ease-out;

    &:hover {
      color: colors.$primary-brand-dark;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1;
    }
  }

  .article__image {

    .o-embed {
      border-radius: sizes.$radius-medium;

      &::after {
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: background-color motion.$speed-quick motion.$ease-out;
        z-index: 1;
      }
    }
  }

  .author {
    color: colors.$text-dark-muted;
  }

  /**
   * Essentials
   */

  .essentials__content {
    border-top: sizes.$edge-large solid colors.$gray-light;
    display: grid;
    grid-gap: ms.step(2);
    margin-top: ms.step(0);
    padding-top: ms.step(2);

    @media (min-width: breakpoint.$m) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: breakpoint.$xl) {
      grid-gap: ms.step(4);
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .essentials__item {
    align-content: start;
    display: grid;
    grid-gap: ms.step(-3);
    position: relative;
  }

  /**
   * Topics
   */

  .topics__content {
    border-top: sizes.$edge-large solid colors.$gray-light;
    margin-top: ms.step(0);
    padding-top: ms.step(2);
  }

  .topics__list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: calc(#{ms.step(-2)} * -1);
    padding: 0;
  }

  .topics__item {
    margin: ms.step(-2);
    position: relative;
  }


  .topics__link {
    background-color: colors.$text-light-emphasis;
    border: sizes.$edge-small solid colors.$primary-brand;
    border-radius: sizes.$radius-medium;
    display: block;
    padding: ms.step(-5) ms.step(-2);
    text-decoration: none;
    transition:
      color motion.$speed-quick motion.$ease-out,
      background-color motion.$speed-quick motion.$ease-out;

    &:hover {
      background-color: colors.$primary-brand;
      color: colors.$text-light-emphasis;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1;
    }
  }

  .more__link {
    &:not(:hover) {
      text-decoration: none;
    }
  }

}

