@use '../../compiled/tokens/scss/color';
@use '../../compiled/tokens/scss/size';
@use '../../mixins/focus';
@use '../../mixins/ms';

.c-footnote-list-item {
  position: relative;
  scroll-margin: ms.step(-2);

  &:target::before {
    background-color: color.$base-gray-lighter;
    border-radius: size.$border-radius-medium;
    content: '';
    top: calc(#{ms.step(-2)} * -1);
    // TODO: tidy this up and maybe manually set the :marker size?
    bottom: calc(#{ms.step(-2)} * -1);
    right: calc(#{ms.step(-2)} * -1);
    left: calc(#{ms.step(3)} * -1);
    position: absolute;
    z-index: -1;
  }

  // arrow icon?
}
