@use '../../compiled/tokens/scss/breakpoint';
@use '../../compiled/tokens/scss/size';
@use '../../mixins/fluid';
@use '../../mixins/media-query';
@use '../../mixins/ms';

/**
 * Provides a layout for a group of media elements. When using the modifier, media objects align vertically.
 */

@supports (display: grid) {
  .o-media-group {
    display: grid;
    grid-gap: calc(#{ms.step(0)} * 3);
    @include fluid.grid-gap(
    breakpoint.$s,
    breakpoint.$xl,
    size.$spacing-gap-fluid-min,
    size.$spacing-gap-fluid-max
  );
  }

  @for $i from 2 through 4 {
    .o-media-group--#{$i}-column {
      @include media-query.breakpoint-classes($from: s, $to: xl) {
        grid-template-columns: repeat(#{$i}, 1fr);
        @include fluid.column-gap(
          breakpoint.$s,
          breakpoint.$xl,
          size.$spacing-gap-fluid-min,
          size.$spacing-gap-fluid-max
        );

        .o-media-group__item {
          grid-template-columns: 1fr 2fr;
        }
      }
    }
  }

  .o-media-group__item {
    align-items: start;
    display: grid;
    grid-column-gap:  ms.step(0);
    grid-template-columns: minmax(0, auto) 2fr;
    justify-items: center;
  }
}
