<div class="o-media-group__item">
  <div class="o-media-group__object">
    {% block object %}{% endblock %}
  </div>
  <div class="o-media-group__content">
    {% block content %}{% endblock %}
  </div>
</div>

