@use '../../compiled/tokens/scss/breakpoint';
@use '../../compiled/tokens/scss/size';
@use '../../mixins/fluid';
@use '../../mixins/ms';

/**
 * Provides a layout for a group of media elements. When using the modifier, media objects align vertically.
 */

@supports (display: grid) {
  .o-media-group {
    display: grid;
    grid-gap: calc(#{ms.step(0)} * 3);
    @include fluid.grid-gap(
    breakpoint.$s,
    breakpoint.$xl,
    size.$spacing-gap-fluid-min,
    size.$spacing-gap-fluid-max
  );

    @media (min-width: breakpoint.$l) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .o-media-group__item {
    align-items: start;
    display: grid;
    grid-column-gap:  ms.step(0);
    grid-template-columns: minmax(0, auto) 2fr;
    justify-items: center;

    @media (min-width: breakpoint.$l) {
      grid-template-columns: 1fr 2fr;
    }
  }
}
