{% set datetime = datetime|default('now') %}
{% set days = days|default(1) %}

<time class="c-calendar-date" datetime="{{datetime|date('Y-m-d')}}">
  <span class="c-calendar-date__header">
    {{datetime|date('M')}}
  </span>
  <span class="c-calendar-date__content">
    <span class="c-calendar-date__day">
      {{datetime|date('j')}}
    </span>
  </span>
  {% if sold_out %}
    <span class="c-calendar-date__content">
      <span class="c-calendar-date__note">
        Sold out
      </span>
    </span>
  {% elseif days > 1 %}
    <span class="c-calendar-date__content">
      <span class="c-calendar-date__note">
        {{days}}-day event
      </span>
    </span>
  {% endif %}
</time>
