@use "../../compiled/scss/tokens";
@use '../../mixins/ms';
@use '../../mixins/theme';

$size: ms.step(8);
$edge-size: tokens.$size-edge-medium;
$radius: tokens.$size-border-radius-medium;

/**
 * Themed properties
 */

@include theme.props() {
  --theme-color-border-calendar-date: #{tokens.$color-base-gray-light};
}

@include theme.props(dark) {
  --theme-color-border-calendar-date: #{tokens.$color-brand-primary-dark};
}

.c-calendar-date {
  display: flex;
  flex-direction: column;
  font-weight: tokens.$number-font-weight-medium;
  height: $size;
  line-height: ms.step(1, 1);
  text-align: center;
  user-select: none;
  width: $size;
}

/**
 * 1. These defaults colors are a little drab, but they won't require any
 *    complex specificity to override across themes, and they will rarely be
 *    seen unless seasonal modifier classes are omitted.
 */

.c-calendar-date__header {
  align-items: center;
  background-color: tokens.$color-base-gray-dark; /* 1 */
  border: $edge-size solid tokens.$color-base-gray-darker; /* 1 */
  border-bottom-width: 0;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
  color: tokens.$color-text-light-emphasis;
  display: flex;
  flex: none;
  font-weight: tokens.$number-font-weight-semibold;
  height: ms.step(3);
  justify-content: center;
  text-transform: uppercase;

  /**
   * Seasonal colors
   */

  .c-calendar-date--march &,
  .c-calendar-date--april &,
  .c-calendar-date--may & {
    background-color: tokens.$color-base-green-dark;
    border-color: tokens.$color-base-green-darker;
  }

  .c-calendar-date--june &,
  .c-calendar-date--july &,
  .c-calendar-date--august & {
    background-color: tokens.$color-base-fuchsia-dark;
    border-color: tokens.$color-base-fuchsia-darker;
  }

  .c-calendar-date--september &,
  .c-calendar-date--october &,
  .c-calendar-date--november & {
    background-color: tokens.$color-base-orange-dark;
    border-color: tokens.$color-base-orange-darker;
  }

  .c-calendar-date--december &,
  .c-calendar-date--january &,
  .c-calendar-date--february & {
    background-color: tokens.$color-base-purple-dark;
    border-color: tokens.$color-base-purple-darker;
  }
}

.c-calendar-date__main {
  align-items: center;
  background-color: tokens.$color-text-light-emphasis;
  border: $edge-size solid var(--theme-color-border-calendar-date);
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
  border-top-width: 0;
  color: tokens.$color-text-dark;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.c-calendar-date__day {
  font-size: ms.step(3);
}

/**
 * 1. Truncation
 */

.c-calendar-date__note {
  font-size: ms.step(-1);
  overflow: hidden; /* 1 */
  padding: 0 tokens.$size-spacing-control-text-inset;
  text-overflow: ellipsis; /* 1 */
  white-space: nowrap; /* 1 */
  width: 100%; /* 1 */
}
