@use '../../mixins/a11y';

/// Hide from everything but assistive devices.
.u-hidden-visually {
  @include a11y.sr-only($important: true);
}

/// Clearfix: forces a container to expand to fit floated children
/// @link https://www.cssmojo.com/latest-new-clearfix-so-far/
.u-clearfix::after {
  clear: both;
  content: '';
  display: block;
}
