@use '../../design-tokens/breakpoint.yml';
@use '../../design-tokens/sizes.yml';
@use '../../mixins/fluid';
@use '../../mixins/media-query';

.o-deck {
  display: grid;
  grid-auto-flow: dense;
  @include fluid.grid-gap(
    breakpoint.$s,
    breakpoint.$xl,
    sizes.$gap-fluid-min,
    sizes.$gap-fluid-max
  );

  @media (width >= breakpoint.$xs) {
    grid-template-columns: repeat(
      auto-fit,
      minmax(#{sizes.$card-column-min}, 1fr)
    );
  }
}

@for $i from 2 through 3 {
  .o-deck--#{$i}-column {
    @include media-query.breakpoint-classes($from: s, $to: xl) {
      grid-template-columns: repeat(#{$i}, 1fr);
    }
  }
}
