@use "../../compiled/scss/tokens";
@use '../../mixins/fluid';
@use '../../mixins/media-query';

/**
 * 1. If horizontal items are shown at the wrong column count, they will appear
 *    to break the grid. This rule keeps items densely packed so it will always
 *    appear visually correct.
 *
 * @todo Use progressive enhancement so older browsers get a minimal fallback.
 */

.o-deck {
  display: grid;
  grid-auto-flow: dense; /* 1 */
  @include fluid.grid-gap(
    tokens.$size-breakpoint-s,
    tokens.$size-breakpoint-xl,
    tokens.$size-spacing-gap-fluid-min,
    tokens.$size-spacing-gap-fluid-max
  );

  /**
   * We define a media query for our initial grid so child elements will flex
   * for viewports smaller than our minimum column size.
   *
   * Our use of `auto-fit` means columns will be automatically created as space
   * allows.
   */

  @media (width >= tokens.$size-breakpoint-xs) {
    grid-template-columns: repeat(
      auto-fit,
      minmax(#{tokens.$size-width-card-column-min}, 1fr)
    );
  }
}

/**
 * Responsive column count modifiers
 *
 * These modifier classes specify a hard-set column count at a particular
 * breakpoint. This may be used to limit the column count to a particular
 * maximum or to coordinate with adjacent elements.
 */

@for $i from 2 through 3 {
  .o-deck--#{$i}-column {
    @include media-query.breakpoint-classes(
      $from: size-breakpoint-s,
      $to: size-breakpoint-xl
    ) {
      grid-template-columns: repeat(#{$i}, 1fr);
    }
  }
}
