---
notes: |
  Labels look like placeholders when `.is-empty` class is applied.
links:
  "Brad Frost: Float Label Pattern": http://bradfrost.com/blog/post/float-label-pattern/
labels:
  - inprogress
  - javascript
---
<div class="FloatLabel js-FloatLabel">
  <label class="FloatLabel-label" for="demo-floatlabel-filled-input">First name</label>
  <input type="text" class="Input" id="demo-floatlabel-filled-input" value="Aileen">
</div>
<div class="FloatLabel js-FloatLabel">
  <label class="FloatLabel-label" for="demo-floatlabel-empty-input">Last name</label>
  <input type="text" class="Input" id="demo-floatlabel-empty-input">
</div>
