---
notes: |
  Friendly, more tappable style for links to footnotes from prose content.
links:
  "W3C: Common idioms": http://www.w3.org/TR/html5/common-idioms.html#footnotes
---

<p>
  I’ve seen many complaints about the new responsive images specification. Most
  amount to either complaints about complexity that ignore the fact that images
  on the web are inherently
  complex<sup><a class="FootnoteLink" href="#demo-fn-1" id="demo-fn-ref-1" title="Jump to footnote">1</a></sup>
  or some variation of WWIC.
</p>

<p>
  As a reminder, display density is a resolution switching use case. And when
  we’re solving for resolution switching, we want to use
  srcset.<sup><a class="FootnoteLink" href="#demo-fn-2" id="demo-fn-ref-2" title="Jump to footnote">2</a></sup>
</p>

<h4>Footnotes</h4>

<ol>
  <li id="demo-fn-1">
    How quickly we forget web-safe colors, Lynda Weinman’s multiple books on web
    graphics, and the way different images formats compress. And it’s not
    getting any simpler. Images on the web are inherently complex.
    <a href="#demo-fn-ref-1" title="Return to reference">
      <svg class="Icon">
        <use xlink:href="{{baseurl}}/assets/toolkit/images/icons.svg#return" />
      </svg>
    </a>
  </li>
  <li id="demo-fn-2">
    Unless we’re providing different image formats which we will cover later.
    <a href="#demo-fn-ref-2" title="Return to reference">
      <svg class="Icon">
        <use xlink:href="{{baseurl}}/assets/toolkit/images/icons.svg#return" />
      </svg>
    </a>
  </li>
</ol>
