---
notes: |
  Fluid, infinitely-nestable grid component that works with responsive sizing
  utilities to provide lots of layout options. Also supports gutters, centered
  columns and different vertical alignments!
links:
  SUITCSS Grid Component: https://github.com/suitcss/components-grid/
---
<div class="Grid Grid--withGutter">
  <div class="Grid-cell u-sm-size1of2 u-md-size2of3">
    Full-width, then half-width, then two-thirds
  </div>
  <div class="Grid-cell u-sm-size1of2 u-md-size1of3">
    Full-width, then half-width, then one-third
  </div>
</div>
