---
notes: |
  Consistently styles inline SVG icons. Icons that use `currentColor` will
  inherit the parent element's text color.

  Size can be adjusted by including a modifier class in the format of
  `Icon--{size}`. Current sizes include `md`, `lg` or `xl`.
labels:
  - inprogress
---
<div>
  <button class="Button Button--primary">
    <svg class="Icon Icon--md">
      <use xlink:href="{{baseurl}}/assets/toolkit/images/icons.svg#envelope" />
    </svg>
    Drop us a line!
  </button>
</div>
<div>
  <a href="#">
    View live demo
    <svg class="Icon Icon--md">
      <use xlink:href="{{baseurl}}/assets/toolkit/images/icons.svg#arrow" />
    </svg>
  </a>
</div>
