---
notes: |
  Consistently styles inline SVG icons. Icons that use `currentColor` will
  inherit the parent element's text color.
---
<div>
  <button class="Button Button--primary">
    <svg class="Icon Icon--large">
      <use xlink:href="{{baseurl}}/assets/toolkit/images/icons.svg#envelope" />
    </svg>
    Drop us a line!
  </button>
</div>
<div>
  <a href="#">
    View live demo
    <svg class="Icon Icon--large">
      <use xlink:href="{{baseurl}}/assets/toolkit/images/icons.svg#arrow" />
    </svg>
  </a>
</div>
