---
notes: |
  Container for topmost page content.

  By default includes `.Sky-nav`, responsive navigation designed specifically
  for this containing element.

  Add clouds with the `.Sky--clouds` modifier.
labels:
  - inprogress
---
<div class="Sky{{#if clouds}} Sky--clouds{{/if}}">
  {{#block "top"}}
    <header class="Sky-nav" role="banner">
      <ul class="Sky-nav-controls">
        {{! TODO: Allow these href destinations to be customized }}
        <li><a class="Sky-nav-controls-skipToMain Button Button--inverse u-textNoWrap u-hiddenTillFocus" href="#main">Skip to main content</a></li>
        <li><a class="Sky-nav-controls-skipToMenu Button Button--defaultLight" href="#menu" aria-label="Skip to navigation">Menu</a></li>
      </ul>
      <a class="Sky-nav-logo" href="/">
        <svg class="Sky-nav-logo-object" width="80" height="80" role="img" aria-labelledby="logo-title">
          <title id="logo-title">Cloud Four</title>
          <use xlink:href="/assets/toolkit/images/icons.svg#cloud-four" fill="currentColor"/>
        </svg>
      </a>
      {{! TODO: Allow this ID to be customized (see above href todo as well) }}
      <nav class="Sky-nav-menu" role="navigation" id="menu">
        <ul class="Sky-nav-menu-items">
          <li><a class="Sky-nav-menu-item" href="/#main" aria-current>Our Process</a></li>
          <li><a class="Sky-nav-menu-item" href="/">Our Work</a></li>
          <li><a class="Sky-nav-menu-item" href="/">Articles</a></li>
          <li><a class="Sky-nav-menu-item" href="/">Speaking</a></li>
          <li><a class="Sky-nav-menu-item" href="/">Code</a></li>
          <li><a class="Sky-nav-menu-item" href="/">The Team</a></li>
        </ul>
      </nav>
    </header>
  {{/block}}
  {{{block "bottom"}}}
</div>
