---
labels:
  - inprogress
---
<table class="Table">
  <thead>
    <tr>
      <th></th>
      <th scope="col">JPEG 2000</th>
      <th scope="col">JPEG-XR</th>
      <th scope="col">PNG</th>
      <th scope="col">WEBP</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">320×240</th>
      <td>2K</td>
      <td>22.6K</td>
      <td>55.2K</td>
      <td>112.1K</td>
    </tr>
    <tr>
      <th scope="row">600×450</th>
      <td>13.5K</td>
      <td>48.5K</td>
      <td>14.3K</td>
      <td>26.6K</td>
    </tr>
    <tr>
      <th scope="row">1024×768</th>
      <td>19.2K</td>
      <td>95.7K</td>
      <td>325.7K</td>
      <td>56K</td>
    </tr>
  </tbody>
</table>

<table class="Table Table--ruled">
  <thead>
    <tr>
      <th></th>
      <th scope="col">JPEG 2000</th>
      <th scope="col">JPEG-XR</th>
      <th scope="col">PNG</th>
      <th scope="col">WEBP</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">320×240</th>
      <td>2K</td>
      <td>22.6K</td>
      <td>55.2K</td>
      <td>112.1K</td>
    </tr>
    <tr>
      <th scope="row">600×450</th>
      <td>13.5K</td>
      <td>48.5K</td>
      <td>14.3K</td>
      <td>26.6K</td>
    </tr>
    <tr>
      <th scope="row">1024×768</th>
      <td>19.2K</td>
      <td>95.7K</td>
      <td>325.7K</td>
      <td>56K</td>
    </tr>
  </tbody>
</table>

<table class="Table Table--striped">
  <thead>
    <tr>
      <th></th>
      <th scope="col">JPEG 2000</th>
      <th scope="col">JPEG-XR</th>
      <th scope="col">PNG</th>
      <th scope="col">WEBP</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">320×240</th>
      <td>2K</td>
      <td>22.6K</td>
      <td>55.2K</td>
      <td>112.1K</td>
    </tr>
    <tr>
      <th scope="row">600×450</th>
      <td>13.5K</td>
      <td>48.5K</td>
      <td>14.3K</td>
      <td>26.6K</td>
    </tr>
    <tr>
      <th scope="row">1024×768</th>
      <td>19.2K</td>
      <td>95.7K</td>
      <td>325.7K</td>
      <td>56K</td>
    </tr>
  </tbody>
</table>

<!-- <table class="Table">
  <thead>
    <tr>
      <th scope="col">Model</th>
      <th scope="col">Type</th>
      <th scope="col" colspan="2">Size</th>
      <th scope="col">Display</th>
      <th scope="col" colspan="2">Resolution</th>
      <th scope="col" colspan="2">Viewport</th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th scope="col">
        <abbr title="Width">W</abbr>
      </th>
      <th scope="col">
        <abbr title="Height">H</abbr>
      </th>
      <th></th>
      <th scope="col">
        <abbr title="Width">W</abbr>
      </th>
      <th scope="col">
        <abbr title="Width">H</abbr>
      </th>
      <th scope="col">
        <abbr title="Width">W</abbr>
      </th>
      <th scope="col">
        <abbr title="Width">H</abbr>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Samsung Galaxy Note 2</th>
      <td>Phone</td>
      <td>3.17”</td>
      <td>5.95”</td>
      <td>5.5”</td>
      <td>720</td>
      <td>1280</td>
      <td>360</td>
      <td>640</td>
    </tr>
    <tr>
      <th scope="row">Motorola RAZR HD</th>
      <td>Phone</td>
      <td>2.67”</td>
      <td>5.19”</td>
      <td>4.7”</td>
      <td>720</td>
      <td>1280</td>
      <td>360</td>
      <td>519</td>
    </tr>
    <tr>
      <th scope="row">Motorola Atrix HD</th>
      <td>Phone</td>
      <td>2.75”</td>
      <td>5.26”</td>
      <td>4.5”</td>
      <td>720</td>
      <td>1280</td>
      <td>540</td>
      <td>812</td>
    </tr>
    <tr>
      <th scope="row">HTC Droid DNA</th>
      <td>Phone</td>
      <td>2.78”</td>
      <td>5.5”</td>
      <td>5”</td>
      <td>1080</td>
      <td>1920</td>
      <td>360</td>
      <td>640</td>
    </tr>
    <tr>
      <th scope="row">Nexus 7</th>
      <td>Tablet</td>
      <td>4.72”</td>
      <td>7.81”</td>
      <td>7”</td>
      <td>800</td>
      <td>1280</td>
      <td>600</td>
      <td>793</td>
    </tr>
    <tr>
      <th scope="row">Kindle Fire</th>
      <td>Tablet</td>
      <td>4.72”</td>
      <td>7.44”</td>
      <td>7”</td>
      <td>600</td>
      <td>1024</td>
      <td>600</td>
      <td>819</td>
    </tr>
    <tr>
      <th scope="row">Kindle Fire HD</th>
      <td>Tablet</td>
      <td>5.4”</td>
      <td>7.6”</td>
      <td>7”</td>
      <td>800</td>
      <td>1280</td>
      <td>533</td>
      <td>731</td>
    </tr>
  </tbody>
</table> -->
