---
notes: |
  Intended for differentiating small blocks of text content. Modifiers exist
  for additional `font-size` and `line-height` configurations.
---
<div class="TextBlock">
  We build mobile websites, desktop-mobile hybrids, and mobile apps.
  If you already have a desktop site or application and need to go mobile,
  we can take you there. If you want to build something brand new,
  we do that, too. Contact us to discuss your project.
</div>

<div class="TextBlock TextBlock--large TextBlock--compact">
  Looking for a way to get your team up to speed on what it takes to build
  on the multi-device web? That's our speciality.
</div>
