{% set _extra_content %}
  {% block extra %}
    {% if icon %}
      {% include '@cloudfour/components/icon/icon.twig' with {
        name: icon
      } only %}
    {% endif %}
  {% endblock %}
{% endset %}

<span class="c-badge{% if class %} {{class}}{% endif %}">
  {% if _extra_content|trim %}
    <span class="c-badge__extra">
      {{_extra_content}}
    </span>
  {% endif %}
  <span class="c-badge__content">
    {% block content %}
      {{label|default('Label')}}
    {% endblock %}
  </span>
</span>
