<div class="c-badge">
  <div class="c-badge__extra">
    {% include '@cloudfour/assets/brand/logo.svg.twig' with {
      class: 'c-icon',
    } only %}
  </div>
  <div class="c-badge__content">
    {{label|default('Team')}}
  </div>
</div>
