@use "../../compiled/tokens/scss/font-weight";
@use "../../compiled/tokens/scss/line-height";
@use "../../compiled/tokens/scss/size";
@use '../../mixins/ms';
@use 'sass:math';

.c-badge {
  align-items: center;
  background: var(--theme-color-background-secondary);
  border-radius: size.$border-radius-medium;
  color: var(--theme-color-text-muted);
  display: inline-flex;
  font-size: ms.step(-1);
  font-weight: font-weight.$medium;
  // Because the text in a badge does not wrap, we can avoid icons accidentally
  // increasing the height as often by setting this here instead of relying on
  // vertical padding.
  height: ms.step(2);
  line-height: line-height.$tighter;
  // We only apply half padding because the padding feels too tight around icons
  // but not around the label content. We'll apply the other half of padding on
  // the content element itself.
  padding: 0 math.div(size.$padding-cell-horizontal, 2);
  vertical-align: middle;
  white-space: nowrap;
}

.c-badge__content {
  &:first-child {
    padding-left: math.div(size.$padding-cell-horizontal, 2);
  }

  &:last-child {
    padding-right: math.div(size.$padding-cell-horizontal, 2);
  }
}

.c-badge__extra {
  align-items: center;
  display: flex;
  flex: none;
  justify-content: center;
  min-width: ms.step(2);
}
