@use "../../compiled/tokens/scss/color";
@use "../../compiled/tokens/scss/font-weight";
@use "../../compiled/tokens/scss/line-height";
@use "../../compiled/tokens/scss/size";
@use '../../mixins/ms';
@use '../../mixins/theme';
@use 'sass:math';

.c-badge {
  background: var(--theme-color-background-secondary);
  border-radius: size.$border-radius-medium;
  color: var(--theme-color-text-muted);
  display: inline-flex;
  font-size: ms.step(-1);
  font-weight: font-weight.$medium;
  height: ms.step(2);
  line-height: line-height.$tighter;
  padding: 0 math.div(size.$padding-cell-horizontal, 2);
  vertical-align: middle;
  white-space: nowrap;
}

.c-badge__content {
  align-self: center;

  &:first-child {
    padding-left: math.div(size.$padding-cell-horizontal, 2);
  }

  &:last-child {
    padding-right: math.div(size.$padding-cell-horizontal, 2);
  }
}

.c-badge__extra {
  align-items: center;
  display: flex;
  justify-content: center;
  min-width: ms.step(2);
}
