/**
 * Fabricator styles
 * @author Luke Askew
 * Class selectors are namespaced with "f-"
 */

@import 'base/variables';

@import 'components/icon';
@import 'components/item';
@import 'components/label';
@import 'components/layout';
@import 'components/masthead';
@import 'components/nav';
@import 'components/swatch';
@import 'components/timeline';

@import 'utils/display';
@import 'utils/layout';
@import 'utils/list';
@import 'utils/space';

@import 'vendor/prism';
@import 'previews';

body {
  background: #fff !important;
}
