/dist
/ts-dist
/src/compiled
/storybook-static

# Ignore all files in the prototypes directory except for stories
# The `*.*` syntax is required so we don't ignore entire directories
# If we ignore directories there's no way to unignore `stories` files in them.
/src/prototypes/**/*.*
!/src/prototypes/**/*.stories.*

# Ignore syntax highlighting examples
/src/vendor/highlight/demo/samples

# Ignore changeset files (these are temporary)
.changeset/*

# Prettier 2's MDX parser predates MDX 2/3 and corrupts these files: it rewrites the
# `{/* ... */}` comments MDX 3 requires into `{/_ ... _/}`, reading the asterisks as
# markdown emphasis, and glues self-closing JSX onto the following markdown block.
# Remove this once we are on Prettier 3.
*.mdx
