#team-article-page2 {
  .c-pagination {
    padding-top: 4em;
  }

  .article-container {
    padding-top: 4em;
    padding-bottom: 4em;
    .article-heading {
      padding-bottom: 1.25em;
    }
  }

  .main-container {
    padding-top: 2em;
    padding-bottom: 4em;
  }
}
