@use "../../../mixins/ms";
@use "../../../compiled/tokens/scss/breakpoint";
@use "../../../compiled/tokens/scss/font-weight";
@use "../../../compiled/tokens/scss/ease";
@use "../../../compiled/tokens/scss/transition";

#team-listings {

  .avatar-name {
    font-weight: font-weight.$semibold;
    font-size: ms.step(1);

    &:not(:hover) {
    text-decoration: none;
    }

    @media (min-width: breakpoint.$l) {
      font-size: ms.step(2);
    }
  }

  .team-member {
    text-align: center;
    margin: ms.step(-2);

    .c-card__cover {
      border-radius: 50%;

      &::before {
        padding-bottom: 100%;
      }
    }
  }

  .team-container {
    display: grid;
    grid-gap: ms.step(0);
    grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
    @media (min-width: breakpoint.$l) {
      grid-template-columns: repeat(auto-fill, minmax(15.25em, 1fr));
    }
  }
}
