{% if aspect_ratio %}
  {% set style = (style|default('')) ~ ';--aspect-ratio:' ~ aspect_ratio %}
{% endif %}

<div class="o-embed{% if class %} {{ class }}{% endif %}"
  {% if style %}
    style="
      {%- for rule in style|split(';')|filter(rule => rule|length) -%}
        {{ rule }}{% if not loop.last %};{% endif %}
      {%- endfor -%}"
  {% endif %}>
  {% block content %}
  {% endblock %}
</div>
