@use 'sass:meta';
@use '../../design-tokens/aspect-ratio.yml';

/* stylelint-disable suitcss/custom-property-no-outside-root */

@mixin o-embed-modifiers() {
  @each $name, $ratio in meta.module-variables('aspect-ratio') {
    .o-embed--#{$name} {
      --aspect-ratio: #{$ratio};
    }
  }
}

/* stylelint-enable */

.o-embed > * {
  display: block;
  width: 100%;
}

@supports (--custom: property) {
  .o-embed[class*='o-embed--'],
  .o-embed[style*='--aspect-ratio'] {
    position: relative;

    &::before {
      content: '';
      display: block;
      padding-bottom: calc(100% / (var(--aspect-ratio)));
    }

    > *,
    > picture > img {
      height: 100%;
      left: 0;
      object-fit: cover;
      object-position: center;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  @include o-embed-modifiers();
}
