<figure class="c-figure {% if figureClass %} {{figureClass}} {% endif %}">
  <img src="{{src}}" alt="{{alt}}" class="c-figure__object">
  {% if block("caption") %}
    <figcaption class="c-figure__caption">
      {% block caption %}{% endblock %}
    </figcaption>
  {% endif %}
</table>
