@use "../../design-tokens/colors.yml";
@use "../../mixins/ms";

/**
 * Removes default margin from <figure>
 */
.c-figure {
  margin: 0;
}

/**
 * Contain and center image
 */
.c-figure__object {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

/**
 * Styles the caption
 */
.c-figure__caption {
  color: colors.$gray-dark;
  font-size: ms.step(-1);
  font-style: italic;
  margin-top: ms.step(-1);
  text-align: center;

  .t-dark & {
    color: colors.$text-light;
  }
}
