<div class="demo-u-size-block">
  <div style="height:150px;">
    <div class="u-size-block-full u-pad-n1 u-rounded t-dark t-alternate u-text-center">
      full (in a 150px tall container)
    </div>
  </div>
  <div style="height:150px;">
    <div class="u-size-block-auto u-pad-n1 u-rounded t-dark t-alternate u-text-center">
      auto (in a 150px tall container)
    </div>
  </div>
</div>
