<div class="demo-u-size-responsive">
  <div class="u-size-inline-1/2 u-size-inline-2/3@s u-size-inline-3/4@m u-size-inline-4/5@l u-size-inline-5/6@xl t-dark t-alternate u-rounded u-pad-n1">
    <div>1/2</div>
    <div>2/3@s</div>
    <div>3/4@m</div>
    <div>4/5@l</div>
    <div>5/6@xl</div>
  </div>
  <div class="u-size-inline-1/2 u-size-inline-1/3@s u-size-inline-1/4@m u-size-inline-1/5@l u-size-inline-1/6@xl t-dark t-alternate u-rounded u-pad-n1">
    <div>1/2</div>
    <div>1/3@s</div>
    <div>1/4@m</div>
    <div>1/5@l</div>
    <div>1/6@xl</div>
  </div>
</div>
