.demo-u-size-inline {
  display: grid;
  gap: 1em;

  > * {
    display: flex;
    gap: inherit;
  }
}

.demo-u-size-block {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.demo-u-size-responsive {
  display: flex;
  gap: 1em;
}
