<p>
  Before:
  {% include '../../../assets/icons/heart.svg.twig' with {
    class: 'o-icon'
  } %}
</p>
<p>
  After:
  {% include '../../../assets/icons/heart.svg.twig' with {
    class: 'o-icon o-icon--inline'
  } %}
</p>
