@use "../../mixins/button";

.c-button {
  @include button.default;
}

/**
 * Modifier: Secondary
 */

.c-button--secondary {
  @include button.secondary;
}

/**
 * Modifier: Tertiary
 */

.c-button--tertiary {
  @include button.tertiary;
}

.c-button--toggle {
  @include button.secondary;

  .c-icon {
    clip-path: polygon(
      105% 115%,
      0 115%,
      0 10%,
      105% 115%,
      115% 105%,
      10% 0,
      115% 0,
      115% 105%
    );
  }
}

.c-button__effect {
  // align-items: center;
  // display: flex;
  display: inline-block;
  // justify-content: center;
  position: relative;
  // transition-duration: tokens.$motion-speed-quick;
  // transition-duration: var(--vwc-motion-speed-quick);
  // transition-property: transform;
  // transition-timing-function: ease;

  &::after {
    background-color: currentColor;
    // border-radius: var(--vwc-size-radius-full);
    content: '';
    height: 75%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-0.125rem, -50%) rotate(-45deg);
    width: 2px;
  }
}
