@use '../../mixins/button';

.c-button {
  @include button.default;
}

/**
 * Modifier: Secondary
 */

.c-button--secondary {
  @include button.secondary;
}

/**
 * Modifier: Tertiary
 */

.c-button--tertiary {
  @include button.tertiary;
}

/**
 * Element: Extra
 */

.c-button__extra {
  @include button.extra;

  /**
   * Show visual slash through element when button is in slashed state
   */

  .c-button.is-slashed & {
    @include button.extra-slashed;
  }
}

/**
 * Element: Tooltip
 */

.c-button__tooltip {
  @include button.tooltip;
}
