---
name: Overview
---

<ul class="u-listUnstyled">
  {{#iterate 5}}
    <li class="DotLeader">
      <span class="DotLeader-start">{{capitalize (random "word")}}</span>
      <span class="DotLeader-between" aria-hidden="true"></span>
      <span class="DotLeader-end">{{random min=0 max=200}}</span>
    </li>
  {{/iterate}}
</ul>
