@import '../design-tokens/brand.yml';

.demo-button {
  color: $brand-primary;

  // TODO: These font styles are temporary, for demo purposes
  font-family: inherit;
  font-size: 15px;
}

.demo-button:disabled {
  filter: grayscale(100%);
  opacity: 0.5;
}
