<div class="o-page">
<div class="o-page__content" id="error404">

  <!-- standard Sky Nav -->
  {% include '@cloudfour/components/sky-nav/sky-nav.twig' with {
    "class": "t-dark",
    menu: skyNavMenu
  } only %}

  <!-- The actual Error block. This should be a Sky Nav -->
  {% embed '@cloudfour/objects/container/container.twig' with {
    class: 'wrapper t-dark'
  } only %}
    {% block content %}
      {% embed '@cloudfour/objects/container/container.twig' with {
        class: 'o-container--pad'
      } only %}
        {% block content %}

          {% embed '@cloudfour/objects/media/media.twig' with {
            reverse: true,
          } only %}

            {% block object %}
              <img src="media/404-robot.svg" />
            {% endblock %}

            {% block content %}

              {% embed '@cloudfour/objects/rhythm/rhythm.twig' with {
                class: 'o-rhythm--condensed'
              } only %}
                {% block content %}

                {% include '@cloudfour/components/heading/heading.twig' with {
                  "content": "Cloud 404!",
                  "level": -2,
                  class: 'heading'
                } only %}
                <p>We can't seem to find the page you're looking for. But don't give up! Try browsing our <a href="#">list of topics</a> or use this handy-dandy search...</p>
                {% embed '@cloudfour/objects/input-group/input-group.twig' %}
                  {% block content %}
                    {% include '@cloudfour/components/input/input.twig' only %}
                    {% embed '@cloudfour/components/button/button.twig' with {
                      class: 'search-btn'
                    }  %}
                      {% block content %}
                        {% include '@cloudfour/components/icon/icon.twig' with {
                          name: 'magnifying-glass'
                        } %}
                      {% endblock %}
                    {% endembed %}
                  {% endblock %}
                {% endembed %}
              {% endblock %}
            {% endembed %}
            {% endblock %}
          {% endembed %}
        {% endblock %}
      {% endembed %}
    {% endblock %}
  {% endembed %}

  {% embed '@cloudfour/components/cloud-cover/cloud-cover.twig' only %}
    {% block content %}
      <p class="footer-content">
        © 2007 - 2021 Cloud Four, Inc.
      </p>
    {% endblock %}
  {% endembed %}


</div>
<div class="o-page__footer t-dark">
  <!-- standard Ground Nav -->
  {% include '@cloudfour/components/ground-nav/ground-nav.twig' with {
    menu: menu,
    social: social,
    action: action,
    organization: organization
  } only %}
</div>
</div>
