{% embed '@cloudfour/objects/page/page.twig' %}
  {% block header %}

    <!-- standard Sky Nav component -->
    {% include '@cloudfour/components/sky-nav/sky-nav.twig' with {
      "class": "t-dark",
      menu: skyNavMenu
    } only %}

  {% endblock %}
  {% block content %}

    <!-- the Error is a full-height Cloud Cover component -->
    {% embed '@cloudfour/components/cloud-cover/cloud-cover.twig' with {
      class: 'c-cloud-cover--full-height',
    } only %}
      {% block heading %}
        {% include '@cloudfour/components/heading/heading.twig' with {
          "content": "Cloud 404!",
          "level": -2,
          class: 'heading'
        } only %}
      {% endblock %}
      {% block content %}
        <p>We can't seem to find the page you're looking for. But don't give up! Try browsing our <a href="#">list of topics</a> or use this handy-dandy search...</p>
        {% embed '@cloudfour/objects/input-group/input-group.twig' %}
          {% block content %}
            {% include '@cloudfour/components/input/input.twig' only %}
            {% embed '@cloudfour/components/button/button.twig' with {
              class: 'search-btn'
            }  %}
              {% block content %}
                {% include '@cloudfour/components/icon/icon.twig' with {
                  name: 'magnifying-glass'
                } %}
              {% endblock %}
            {% endembed %}
          {% endblock %}
        {% endembed %}
      {% endblock %}
      {% block scene %}
        <img class="c-cloud-cover__scene-object" src="media/404-robot.svg" />
      {% endblock %}
    {% endembed %}

  {% endblock %}
  {% block footer %}

    <!-- standard Ground Nav component -->
    {% include '@cloudfour/components/ground-nav/ground-nav.twig' with {
      menu: menu,
      social: social,
      action: action,
      organization: organization
    } only %}

  {% endblock %}
{% endembed %}
