{% embed '@cloudfour/objects/page/page.twig' %}
  {% block header %}

    <!-- standard Sky Nav component -->
    {% include '@cloudfour/components/sky-nav/sky-nav.twig' with {
      "class": "t-dark",
      menu: skyNavMenu
    } only %}

  {% endblock %}
  {% block content %}

    <!-- the Error is a full-height Cloud Cover component -->
    {% embed '@cloudfour/components/cloud-cover/cloud-cover.twig' with {
      class: 'c-cloud-cover--full-height',
    } only %}
      {% block heading %}
        {% include '@cloudfour/components/heading/heading.twig' with {
          "content": "Your Device is Offline",
          "level": -2,
          class: 'heading'
        } only %}
      {% endblock %}
      {% block content %}
        <p>Here at Cloud Four, we scout the frontier of the web to find practical uses for new technology. Like, offline web pages and progressive web apps. Sorry you have no connection at the moment. Let’s work together to make the web a good place for on and offline experiences!</p>
      {% endblock %}
      {% block scene %}
        <img class="c-cloud-cover__scene-object" src="media/sleepy-robot.svg" />
      {% endblock %}
    {% endembed %}

  {% endblock %}
  {% block footer %}

    <!-- standard Ground Nav component -->
    {% include '@cloudfour/components/ground-nav/ground-nav.twig' with {
      menu: menu,
      social: social,
      action: action,
      organization: organization
    } only %}

  {% endblock %}
{% endembed %}
