---
order: 2
name: Message with Close Button
---

{{#embed "patterns.components.message.overview" 
  includeClose=true}}
  {{#content "content"}}
    <p>Message with close button.</p>
  {{/content}}
{{/embed}}

