---
order: 2
name: Message with Close Button
sourceless: true
---

<div class="Message">
  I'm a message with a close button!
  <button class="Message-close">
    {{svg "icons/x" class="Icon Icon--large"}}
  </button>
</div>
