@import "suitcss-utils-display";

/**
 * Hidden visually until keyboard focus. Accessible by screen readers.
 */

.u-hiddenTillFocus:not(:focus) {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

/**
 * Utilities for testing offset dimensions of objects without making them
 * fully visible.
 */

.u-testBlock {
  display: block !important;
  left: 0 !important;
  position: fixed !important;
  top: 0 !important;
  transform: translate(-100%, -100%) !important;
  z-index: -1 !important;
}

/**
 * Responsive variations of some SUIT CSS display utilities.
 */

@media (--sm-viewport) {
  .u-sm-hidden {
    display: none !important;
  }

  .u-sm-block {
    display: block !important;
  }

  .u-sm-inlineBlock {
    display: inline-block !important;
  }
}

@media (--md-viewport) {
  .u-md-hidden {
    display: none !important;
  }

  .u-md-block {
    display: block !important;
  }

  .u-md-inlineBlock {
    display: inline-block !important;
  }
}

@media (--lg-viewport) {
  .u-lg-hidden {
    display: none !important;
  }

  .u-lg-block {
    display: block !important;
  }

  .u-lg-inlineBlock {
    display: inline-block !important;
  }

  .u-lg-showVisually {
    clip: initial !important;
    width: initial !important;
    height: initial !important;
    position: initial !important;
    overflow: initial !important;
  }
}
