@import "suitcss-utils-display";

/**
 * Hidden visually until keyboard focus. Accessible by screen readers.
 */

.u-hiddenTillFocus:not(:focus) {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

/**
 * Responsive variations of some SUIT CSS display utilities.
 */

@media (--sm-viewport) {
  .u-sm-hidden {
    display: none !important;
  }
}

@media (--md-viewport) {
  .u-md-hidden {
    display: none !important;
  }
}

@media (--lg-viewport) {
  .u-lg-hidden {
    display: none !important;
  }
}
