@import "suitcss-utils-link";

.u-linkTarget {
  color: var(--color-blue);
}

.u-linkBlock:matches(:active, :--enter) .u-linkTarget,
.u-linkClean:matches(:active, :--enter) .u-linkTarget {
  color: var(--link-hover-color);
}

.u-linkEnter {
  text-decoration: none;
}

/**
 * :--enter when combined with :not() misbehaves, so it is not used here.
 */
.u-linkEnter:not(:hover, :focus) {
  color: var(--color-relative);
}

/**
 * Link Colors
 */

.u-linkBlueA11y {
  color: var(--color-blue-a11y) !important;
}

.u-linkBlueA11y:--enter {
  color: color(var(--color-blue-a11y) l(+10%)) !important;
}

.u-linkGrayDark {
  color: color(var(--color-gray) l(-45%)) !important;
}

.u-linkGrayDark:--enter {
  color: color(var(--color-gray) l(-35%)) !important;
}
