@import "suitcss-utils-link";

.u-linkTarget {
  color: var(--color-blue);
}

.u-linkBlock:matches(:active, :--enter) .u-linkTarget,
.u-linkClean:matches(:active, :--enter) .u-linkTarget {
  color: var(--link-hover-color);
}

.u-linkEnter {
  text-decoration: none;
}

/**
 * :--enter when combined with :not() misbehaves, so it is not used here.
 */
.u-linkEnter:not(:hover, :focus) {
  color: var(--color-relative);
}
