@import "suitcss-utils-position";

.u-posAbsoluteMiddle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  left: 0;
}

/**
 * Additional positioning utilities
 *
 * TODO: Revisit once we're able to update PostCSS to latest version
 */

@define-mixin makePosUtils $prefix {
  .u-$(prefix)posAbsoluteTopLeft,
  .u-$(prefix)posAbsoluteTopRight,
  .u-$(prefix)posAbsoluteBottomLeft,
  .u-$(prefix)posAbsoluteBottomRight {
    position: absolute !important;
  }

  .u-$(prefix)posAbsoluteTopLeft,
  .u-$(prefix)posAbsoluteTopRight {
    top: 0 !important;
  }

  .u-$(prefix)posAbsoluteBottomLeft,
  .u-$(prefix)posAbsoluteBottomRight {
    bottom: 0 !important;
  }

  .u-$(prefix)posAbsoluteTopLeft,
  .u-$(prefix)posAbsoluteBottomLeft {
    left: 0 !important;
  }

  .u-$(prefix)posAbsoluteTopRight,
  .u-$(prefix)posAbsoluteBottomRight {
    right: 0 !important;
  }
}

@mixin makePosUtils;

@media (--sm-viewport) {
  @mixin makePosUtils sm-;
}

@media (--md-viewport) {
  @mixin makePosUtils md-;
}

@media (--lg-viewport) {
  @mixin makePosUtils lg-;
}
