@import "suitcss-utils-position";

/**
 * Pins element to left or right side (depending on which class is used),
 * with vertical centering.
 */

.u-posAbsoluteLeft,
.u-posAbsoluteRight {
  bottom: 0 !important;
  margin: auto !important;
  position: absolute !important;
  top: 0 !important;
}

.u-posAbsoluteLeft {
  left: 0 !important;
  right: auto !important;
}

.u-posAbsoluteRight {
  left: auto !important;
  right: 0 !important;
}
