@import "suitcss-utils-position";

/**
 * Additional positioning utilities
 *
 * TODO: Revisit once we're able to update PostCSS to latest version
 */

.u-posAbsoluteTopCenter {
  position: absolute;
  left: 50% !important;
  top: 0 !important;
  transform: translateX(-50%) !important;
}

@define-mixin makePosUtils $prefix {
  .u-$(prefix)posAbsoluteTopLeft,
  .u-$(prefix)posAbsoluteTopRight,
  .u-$(prefix)posAbsoluteBottomLeft,
  .u-$(prefix)posAbsoluteBottomRight {
    position: absolute !important;
  }

  .u-$(prefix)posAbsoluteTopLeft,
  .u-$(prefix)posAbsoluteTopRight {
    top: 0 !important;
  }

  .u-$(prefix)posAbsoluteBottomLeft,
  .u-$(prefix)posAbsoluteBottomRight {
    bottom: 0 !important;
  }

  .u-$(prefix)posAbsoluteTopLeft,
  .u-$(prefix)posAbsoluteBottomLeft {
    left: 0 !important;
  }

  .u-$(prefix)posAbsoluteTopRight,
  .u-$(prefix)posAbsoluteBottomRight {
    right: 0 !important;
  }
}

@mixin makePosUtils;

@media (--sm-viewport) {
  @mixin makePosUtils sm-;
}

@media (--md-viewport) {
  @mixin makePosUtils md-;
}

@media (--lg-viewport) {
  @mixin makePosUtils lg-;
}
