/** @define utilities */

@import "suitcss-utils-size";

/* Set height limits with vh units */

.u-limitHeight2of3 {
  max-height: calc(100vh * 2 / 3) !important;
}

.u-limitHeight3of4 {
  max-height: 75vh !important;
}

@media (--mdh-viewport) {
  .u-mdh-limitHeight1of2 {
    max-height: 50vh !important;
  }
}
