/** @define utilities */

/**
 * Apply the Lobotomized Owl selector on child sibling elements within.
 * http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
 */

.u-spaceChildren > * + * {
  margin-top: var(--base-margin) !important;
}

/**
 * Spacing utilities
 */

/**
 * Adjacent children
 */

.u-stack > *,
.u-stackXs > *,
.u-stackSm > *,
.u-stackMd > *,
.u-stackLg > * {
  margin-bottom: 0;
  margin-top: 0;
}

.u-stackXs > * + * {
  margin-top: var(--space-xs);
}

.u-stackSm > * + * {
  margin-top: var(--space-sm);
}

.u-stackMd > * + * {
  margin-top: var(--space-md);
}

.u-stackLg > * + * {
  margin-top: var(--space-lg);
}

/**
 * Auto (horizontal margin only)
 */

.u-marginSidesAuto {
  margin-left: auto;
  margin-right: auto;
}

/**
 * Extra Small
 */

.u-marginXs {
  margin: var(--space-xs);
}

.u-marginSidesXs,
.u-marginLeftXs {
  margin-left: var(--space-xs);
}

.u-marginSidesXs,
.u-marginRightXs {
  margin-right: var(--space-xs);
}

.u-marginEndsXs,
.u-marginTopXs {
  margin-top: var(--space-xs);
}

.u-marginEndsXs,
.u-marginBottomXs {
  margin-bottom: var(--space-xs);
}

.u-paddingXs {
  padding: var(--space-xs);
}

.u-paddingSidesXs,
.u-paddingLeftXs {
  padding-left: var(--space-xs);
}

.u-paddingSidesXs,
.u-paddingRightXs {
  padding-right: var(--space-xs);
}

.u-paddingEndsXs,
.u-paddingTopXs {
  padding-top: var(--space-xs);
}

.u-paddingEndsXs,
.u-paddingBottomXs {
  padding-bottom: var(--space-xs);
}

/**
 * Small
 */

.u-marginSm {
  margin: var(--space-sm);
}

.u-marginSidesSm,
.u-marginLeftSm {
  margin-left: var(--space-sm);
}

.u-marginSidesSm,
.u-marginRightSm {
  margin-right: var(--space-sm);
}

.u-marginEndsSm,
.u-marginTopSm {
  margin-top: var(--space-sm);
}

.u-marginEndsSm,
.u-marginBottomSm {
  margin-bottom: var(--space-sm);
}

.u-paddingSm {
  padding: var(--space-sm);
}

.u-paddingSidesSm,
.u-paddingLeftSm {
  padding-left: var(--space-sm);
}

.u-paddingSidesSm,
.u-paddingRightSm {
  padding-right: var(--space-sm);
}

.u-paddingEndsSm,
.u-paddingTopSm {
  padding-top: var(--space-sm);
}

.u-paddingEndsSm,
.u-paddingBottomSm {
  padding-bottom: var(--space-sm);
}

/**
 * Medium
 */

.u-marginMd {
  margin: var(--space-md);
}

.u-marginSidesMd,
.u-marginLeftMd {
  margin-left: var(--space-md);
}

.u-marginSidesMd,
.u-marginRightMd {
  margin-right: var(--space-md);
}

.u-marginEndsMd,
.u-marginTopMd {
  margin-top: var(--space-md);
}

.u-marginEndsMd,
.u-marginBottomMd {
  margin-bottom: var(--space-md);
}

.u-paddingMd {
  padding: var(--space-md);
}

.u-paddingSidesMd,
.u-paddingLeftMd {
  padding-left: var(--space-md);
}

.u-paddingSidesMd,
.u-paddingRightMd {
  padding-right: var(--space-md);
}

.u-paddingEndsMd,
.u-paddingTopMd {
  padding-top: var(--space-md);
}

.u-paddingEndsMd,
.u-paddingBottomMd {
  padding-bottom: var(--space-md);
}

/**
 * Large
 */

.u-marginLg {
  margin: var(--space-lg);
}

.u-marginSidesLg,
.u-marginLeftLg {
  margin-left: var(--space-lg);
}

.u-marginSidesLg,
.u-marginRightLg {
  margin-right: var(--space-lg);
}

.u-marginEndsLg,
.u-marginTopLg {
  margin-top: var(--space-lg);
}

.u-marginEndsLg,
.u-marginBottomLg {
  margin-bottom: var(--space-lg);
}

.u-paddingLg {
  padding: var(--space-lg);
}

.u-paddingSidesLg,
.u-paddingLeftLg {
  padding-left: var(--space-lg);
}

.u-paddingSidesLg,
.u-paddingRightLg {
  padding-right: var(--space-lg);
}

.u-paddingEndsLg,
.u-paddingTopLg {
  padding-top: var(--space-lg);
}

.u-paddingEndsLg,
.u-paddingBottomLg {
  padding-bottom: var(--space-lg);
}

/**
 * None
 */

.u-noMargin {
  margin: 0;
}

.u-noMarginSides,
.u-noMarginLeft {
  margin-left: 0;
}

.u-noMarginSides,
.u-noMarginRight {
  margin-right: 0;
}

.u-noMarginEnds,
.u-noMarginTop {
  margin-top: 0;
}

.u-noMarginEnds,
.u-noMarginBottom {
  margin-bottom: 0;
}

.u-noPadding {
  padding: 0;
}

.u-noPaddingSides,
.u-noPaddingLeft {
  padding-left: 0;
}

.u-noPaddingSides,
.u-noPaddingRight {
  padding-right: 0;
}

.u-noPaddingEnds,
.u-noPaddingTop {
  padding-top: 0;
}

.u-noPaddingEnds,
.u-noPaddingBottom {
  padding-bottom: 0;
}
