/**
 * Utilities: Transform
 */

/**
 * Rotation
 *
 * Borrows `XofY` style from SUITCSS size utilities.
 */

.u-turn1of4 {
  transform: rotate(90deg);
}

.u-turn1of2,
.u-turn2of4 {
  transform: rotate(180deg);
}

.u-turn3of4 {
  transform: rotate(270deg);
}
