@use '../../../compiled/tokens/scss/size';
@use '../../../compiled/tokens/scss/color';
@use '../../../compiled/tokens/scss/ease';
@use '../../../compiled/tokens/scss/z-index';
@use 'sass:color' as sass-color;
@use '../../../mixins/ms';

///
/// Tooltip styles
///
/// TODO Consider making a Tooltip patterns component in the future
///

$tooltip-color-background: var(--theme-color-background-secondary);
$tooltip-color-border: #{sass-color.change(
    color.$brand-primary-darker,
    $alpha: 0.4
  )};

.c-tooltip {
  border: ms.step(-4) solid $tooltip-color-background;
  border-radius: size.$border-radius-medium;
  background: $tooltip-color-background;
  color: var(--theme-color-text-emphasis);
  box-shadow: 0 0 0 size.$edge-medium $tooltip-color-border,
    size.$edge-large size.$edge-large 0 size.$edge-medium #{sass-color.change(
        color.$brand-primary-darker,
        $alpha: 0.2
      )};
  inline-size: max-content; // Is this the right way to handle this?
  inset-inline-start: 50%;
  opacity: 0;
  position: absolute;
  z-index: z-index.$alert;
  inset-block-start: 2.65em; // TODO magic number
  transform: translate(-50%, -0.15em); // TODO Should this be em??

  ///
  /// Tooltip arrow
  ///

  &::before,
  &::after {
    border-style: solid;
    content: '';
    inset-block-end: 1.97em; // TODO magic number
    inset-inline-start: 50%;
    position: absolute;
    transform: translateX(-50%);
  }

  &::before {
    border-color: transparent transparent $tooltip-color-border;
    border-width: 13px;
  }

  &::after {
    border-color: transparent transparent $tooltip-color-background;
    border-width: 10px;
  }

  &.is-animating-intro,
  &.is-animating-outro {
    animation-fill-mode: both;
  }

  &.is-animating-intro {
    animation-duration: 0.4s;
    animation-name: tooltipIntro;

    // &.is-animation-intro--simple {
    //   animation-name: tooltipIntroSimple;
    //   animation-timing-function: cubic-bezier(
    //     0.34,
    //     1.56,
    //     0.64,
    //     1
    //   ); // https://easings.net/#easeOutBack
    // }
  }

  &.is-animating-outro {
    animation-duration: 0.45s;
    animation-name: tooltipOutro;
    animation-timing-function: ease.$in_back;
  }
}

///
/// Tooltip "intro" animation
///

@keyframes tooltipIntro {
  from {
    animation-timing-function: ease.$out_sine;
  }

  50% {
    animation-timing-function: ease.$in_out_sine;
    transform: translate(-50%, 13%);
  }

  to {
    opacity: 1;
  }
}

@keyframes tooltipIntroSimple {
  from {
    transform: translate(-50%, -20%);
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}

///
/// Tooltip "outro" animation
///

@keyframes tooltipOutro {
  from {
    opacity: 1;
  }

  to {
    transform: translate(-50%, 20%);
  }
}
