{# The `o-container` wrappers are here only for demo purposes #}
<div class="o-container o-container--pad o-container--prose">
	<div class="o-container__content o-rhythm o-rhythm--default o-rhythm--generous-headings">
		{# Draft email message #}
		<textarea
			id="email-draft"
			class="c-input u-pad-1 js-elastic-textarea"
			spellcheck="false"
			data-message-subject="{{ draftSubject }}"
		>{{ draftMessage }}</textarea>

		{# Copy and Draft buttons #}
		{% embed '@cloudfour/objects/button-group/button-group.twig' with {
			grow: true,
			class: 'u-space-block-start-n2',
			subject: draftSubject | url_encode,
			message: draftMessage | url_encode
		} only %}
			{% block content %}
				{% include '@cloudfour/components/button/button.twig' with {
					label: 'Copy',
					id: 'copy-btn',
					content_start_icon: 'copy',
				} only %}
				{% include '@cloudfour/components/button/button.twig' with {
					label: 'Draft email',
					id: 'draft-email-btn',
					class: 'c-button--secondary',
					content_start_icon: 'envelope',
					href: "mailto:info@cloudfour.com?subject=#{subject}&body=#{message}",
				} only %}
			{% endblock %}
		{% endembed %}

		{# The copy action "success" message #}
		<p
			id="copy-success-message"
			role="status"
			hidden
		>
			{% include '@cloudfour/components/icon/icon.twig' with {
				name: 'check',
				inline: true,
			} %}
			Copied to clipboard
		</p>

		{# The copy action "fail" message #}
		<p
			id="copy-fail-message"
			role="status"
			hidden
		>
			Sorry, copy to clipboard failed
			&nbsp;{% include '@cloudfour/components/icon/icon.twig' with {
				name: 'confused-face',
				inline: true,
			} %}
		</p>
	</div>
</div>
