{% embed '@cloudfour/objects/container/container.twig' with {
  class: 'o-container--pad'
} only %}
  {% block content %}
    <div class="demoWrapper">
      <p class="content">This text will wrap: <strong>The quick brown
fox jumps over the lazy dog.</strong></p>
    </div>
  {% endblock %}
{% endembed %}
{% embed '@cloudfour/objects/container/container.twig' with {
  class: 'o-container--pad'
} only %}
  {% block content %}
    <div class="demoWrapper">
      <p class="content">This text will not wrap: <strong class="u-text-no-wrap">The quick brown
fox jumps over the lazy dog.</strong></p>
    </div>
  {% endblock %}
{% endembed %}
