{% embed '@cloudfour/objects/container/container.twig' with {
  class: 'o-container--pad'
} only %}
  {% block content %}
    <div class="demoWrapper">
      <p class="content">This is some text to show how it works: <strong>some-long-text</strong>.</p>
    </div>
  {% endblock %}
{% endembed %}
{% embed '@cloudfour/objects/container/container.twig' with {
  class: 'o-container--pad'
} only %}
  {% block content %}
    <div class="demoWrapper">
      <p class="content">This is some text to show how it works: <strong class="u-text-no-wrap">some-long-text</strong>.</p>
    </div>
  {% endblock %}
{% endembed %}
