<div class="o-rhythm">
  <p class="u-text-big">
    This paragraph has <b>u-text-big</b> applied. It starts the same size as the body copy, but gradually grows larger with the viewport size.
  </p>
  <p>
    This paragraph is the default font size. There are no text utilities applied to it.
  </p>
  <p class="u-text-small">
    This paragraph has <b>u-text-small</b> applied. It will always be one modular scale step smaller than the default font size, except it will never reduce below 16 pixels to maintain readability.
  </p>
</div>
