<div class="o-container{% if class %} {{class}}{% endif %}">
  <div class="o-container__content{% if content_class %} {{content_class}}{% endif %}">
    {% block content %}{% endblock %}
  </div>
</div>
