@use "../../design-tokens/layout.yml";

.o-container__content {
  margin: 0 auto;
  max-width: layout.$max_width_spread;
}

/**
 * Prose modifier adjusts content `max-width`
 */

.o-container--prose {
  .o-container__content {
    max-width: layout.$max_width_prose;
  }
}
