<div class="o-container{% if containerClass %} {{containerClass}} {% endif %}">
  <div class="o-container__content{% if containerContentClass %} {{containerContentClass}} {% endif %}">
    {% block content %}{% endblock %}
  </div>
</div>
