<div class="o-container{% if class %} {{class}}{% endif %}{% if theme %} t-{{theme}}{% endif %}">
  <div class="o-container__content{% if contentClass %} {{contentClass}}{% endif %}">
    {% block content %}{% endblock %}
  </div>
</div>
