{% embed '@cloudfour/objects/page/page.twig' %}
  {% block content %}
    <p class="u-pad-1">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu ex
      enim. Nunc efficitur scelerisque dolor et sollicitudin. Donec finibus
      lorem elit, eu consectetur quam pellentesque sed. Pellentesque habitant
      morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    </p>
  {% endblock %}
  {% block footer %}
    <p class="u-pad-1 t-dark">
      Footer content.
    </p>
  {% endblock %}
{% endembed %}
