---
name: Basic
order: 1
notes: |
  Adds inner shadow to nested `<img>` with subtle `hover`, `focus` and `active`
  effects. Particularly useful for avatars.
---

<a href="#" class="Thumbnail">
  <img src="{{dummyImgSrc 128 128 bg="#008080" text="A"}}">
</a>
