---
name: Basic
order: 1
notes: |
  Adds inner shadow to nested `<img>` with subtle `hover`, `focus` and `active`
  effects. Particularly useful for avatars.
---

<a href="#" class="Thumbnail">
  <img src="http://placeimg.com/128/128/arch" alt="Architecture">
</a>
