---
name: Circle Modifier
notes: |
  Use the `.Thumbnail--circle` modifier to make it a circle shape.
---

<a href="#" class="Thumbnail Thumbnail--circle">
  <img src="http://placeimg.com/128/128/animals" alt="Animals">
</a>
