---
name: Circle Modifier
notes: |
  Use the `.Thumbnail--circle` modifier to make it a circle shape.
---


<a href="#" class="Thumbnail Thumbnail--circle">
  <img src="{{dummyImgSrc 128 128 bg="#c33f0a" text="B"}}">
</a>