---
name: Rounded Modifier
notes: |
  Use the `.Thumbnail--rounded` modifier to round the corners. 
---

<a href="#" class="Thumbnail Thumbnail--rounded">
  <img src="{{dummyImgSrc 128 128 bg="#a3d2be" text="C"}}">
</a>
