---
name: Rounded Modifier
notes: |
  Use the `.Thumbnail--rounded` modifier to round the corners.
---

<a href="#" class="Thumbnail Thumbnail--rounded">
  <img src="http://placeimg.com/128/128/nature" alt="Nature">
</a>
