{# TODO: More semantic elements #}
{# TODO: aria-labelledby? #}

<section class="o-overview">
  <div class="o-overview__header">
    {% block header %}{% endblock %}
  </div>
  <div class="o-overview__actions">
    {% block actions %}{% endblock %}
  </div>
  <div class="o-overview__content">
    {% block content %}{% endblock %}
  </div>
</section>
