@use "../../../compiled/tokens/scss/breakpoint";
@use "../../../compiled/tokens/scss/color";
@use "../../../compiled/tokens/scss/size";
@use "../../../mixins/ms";

#speaking-event {
  .speaker-title {
    color: var(--theme-color-text-muted);
  }

  .flex-title {
    @media (min-width: breakpoint.$s) {
      align-items: baseline;
      display: flex;
    }
  }

  .feature-box {
    background-color: #{color.$base-gray-lighter};
    @media (min-width: breakpoint.$l) {
      border-radius: size.$border-radius-medium;
    }
  }
}
