@use "../../../compiled/tokens/scss/color";
@use "../../../mixins/ms";

#speaking-event {
  .speaker-title {
    color: var(--theme-color-text-muted);
  }

  .flex-title {
    align-items: flex-end;
    display: flex;
  }

  .feature-box {
    background-color: #{color.$base-gray-lighter};
  }
}
