@use "../../../compiled/tokens/scss/breakpoint";
@use "../../../compiled/tokens/scss/color";
@use "../../../compiled/tokens/scss/size";
@use "../../../mixins/ms";

#speaking-event {
  .speaker-title {
    color: var(--theme-color-text-muted);
  }

  .feature-box {
    background-color: #{color.$base-gray-lighter};
    @media (min-width: breakpoint.$l) {
      border-radius: size.$border-radius-medium;
    }
  }

  .muted-text {
    color: color.$text-dark-muted;
  }

  .button-columns {
    display: grid;
    grid-gap: ms.step(-2);
    grid-template-columns: 1fr;
    @media (min-width: breakpoint.$l) {
      grid-template-columns: repeat((2, 1fr));
    }
  }

  // .o-button-group .c-button {
  //   flex: 1 1 0;
  // }
}
