@use '../../compiled/tokens/scss/breakpoint';
@use '../../compiled/tokens/scss/color';
@use '../../compiled/tokens/scss/size';
@use '../../mixins/a11y';

.c-subscription-choices {
  position: relative;
}

.c-subscription-choices__controls-wrapper {
  display: grid;
  gap: 1em;
  margin: size.$rhythm-default 0;

  @media (min-width: breakpoint.$s) {
    grid-template-columns: 1fr 1fr;
  }
}

.c-subscription-choices__control {
  width: 100%;
}

.c-subscription-choices__form {
  background-color: var(--form-bg-color, color.$base-white);
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;

  label,
  .c-subscription-choices:not(.activate-form)
    &:not(:target):not(:focus-within) {
    @include a11y.sr-only;
  }
}

.c-subscription-choices__input-group {
  display: grid;
  gap: 1em;
  margin: size.$rhythm-default 0;

  @media (min-width: breakpoint.$s) {
    grid-template-columns: 1fr 1fr;
  }
}
