@use "../../../design-tokens/breakpoint.yml";
@use "../../../design-tokens/colors.yml";
@use "../../../design-tokens/sizes.yml";
@use "../../../mixins/ms";

$overlap: ms.step(6);
$line-height-sm: 1.2;
$line-height-md: 1.5;

/**
 * Wrap entire prototype in selector to prevent CSS leakage.
 *
 * @see https://github.com/storybookjs/storybook/issues/729
 */

#prototype-ds02-articles-example {

  * {
    box-sizing: border-box;
    margin: 0;
  }

  p {
    line-height: $line-height-md;
  }

  h2,
  h2 {
    line-height: $line-height-sm;
  }

  /**
   * Articles prototyping
   */

  .articles {
    display: grid;
    grid-gap: ms.step(1);
    padding: ms.step(0);

    @media (min-width: breakpoint.$xs) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  .articles__item {
    background-color: colors.$text_light_emphasis;
    grid-template-rows: subgrid;
    padding: ms.step(-1);
  }

  .articles__item:first-of-type {
    display: grid;
    grid-template-columns: 0.96fr 1fr;
    grid-column: span 4;
    grid-column-gap: ms.step(4);
    grid-row: span 1;

    .articles__header {
      font-size: ms.step(1);
    }
  }

  .articles__info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &:hover .articles__headerLink {
      color: colors.$primary_brand;
      
    }

    &:hover .articles__author {
      color: colors.$text_dark;
    }
  }

  .articles__header {
    margin-top: ms.step(2);
    width: 100%;
  }

  .articles__headerLink {
    color: inherit;
    font-size: ms.step(-1);
    text-decoration: none;
    transition: color ease 0.7s;
  }

  .articles__date {
    font-size: ms.step(-1);
    width: 100%;
  }

  .articles__img {
    border-radius: sizes.$radius_medium;
  }

  .articles__description {
    color: colors.$text_dark_muted;
    padding: ms.step(-1) 0;
  }

  .articles__author {
    color: colors.$text_action;
    text-decoration: none;
    font-size: ms.step(-1);
    transition: color ease 0.7s;
  }

  .articles__authorImg {
    border-radius: 50%;
    display: flex;
    height: 50px;
    width: 50px;
    margin-right: ms.step(-1);
  }

  .articles__navigation {
    background-color: colors.$gray_lighter;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding: ms.step(4);

    h2 {
      padding: ms.step(2) 0;
      text-align: center;
    }
  }

  .articles__navigationList {
    padding: ms.step(2) 0;
    text-align: center;
  }

  .articles__navigationListItem {
    display: inline;
    padding: 0 ms.step(-1);
  }

}
