@use "../../../design-tokens/breakpoint.yml";
@use "../../../design-tokens/colors.yml";
@use "../../../design-tokens/sizes.yml";
@use "../../../mixins/ms";

$overlap: ms.step(6);
$line-height-sm: 1.2;
$line-height-md: 1.5;

/**
 * Wrap entire prototype in selector to prevent CSS leakage.
 *
 * @see https://github.com/storybookjs/storybook/issues/729
 *
 * Note to self: 
 * Resist the urge to refactor this CSS, it's just a prototype!
 */

#prototype-ds02-articles-example {

  * {
    box-sizing: border-box;
    margin: 0;
  }

  p {
    line-height: $line-height-md;
  }

  h2,
  h2 {
    line-height: $line-height-sm;
  }

  /**
   * Articles prototyping
   */

  .articles {
    display: grid;
    grid-gap: ms.step(2);
    padding: 0 ms.step(0);

    @media (min-width: breakpoint.$m) {
      grid-template-columns: repeat(2, minmax(min-content, 1fr));
      padding: ms.step(0);
    }

    @media (min-width: breakpoint.$l) {
      grid-template-columns: repeat(3, minmax(min-content, 1fr));
    }

    @media (min-width: breakpoint.$xl) {
      grid-template-columns: repeat(4, minmax(min-content, 1fr));
    }
  }

  .articles__item {
    background-color: colors.$text_light_emphasis;

    &:hover .articles__headerLink {
      color: colors.$primary_brand;  
    }

    &:hover .articles__author {
      color: colors.$text_dark;
    }
  }

  .articles__item:not(:first-of-type) {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-rows: subgrid;
    grid-row: span 3;
    grid-row-gap: 0;
  }

  .articles__item:first-of-type {
    background-color: colors.$gray_lighter;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: ms.step(4);
    grid-row: span 1;
    padding: ms.step(1);

    @media (min-width: breakpoint.$m) {
      grid-column: span 2;
    }

    @media (min-width: breakpoint.$l) {
      background-color: transparent;
      border-radius: 0;
      grid-column: span 3;
      grid-template-columns: repeat(2, 1fr);
      padding: 0;
    }

    @media (min-width: breakpoint.$xl) {
      grid-column: span 4;
    }

    .articles__header {
      font-size: ms.step(2);
      margin-top: ms.step(-2);
    }

    .articles__author {
      font-size: ms.step(-2);
    }
  }

  .articles__header {
    margin-top: ms.step(2);
    width: 100%;
  }

  .articles__headerLink {
    color: inherit;
    font-size: ms.step(1);
    text-decoration: none;
    transition: color ease 0.6s;

    @media (min-width: breakpoint.$m) {
      font-size: ms.step(0);
    }
  }

  .articles__date {
    font-size: ms.step(-1);
    width: 100%;
  }

  .articles__img {
    border-radius: sizes.$radius_medium;
  }

  .articles__description {
    color: colors.$text_dark_muted;
    padding: ms.step(-1) 0;
  }

  .articles__author {
    color: colors.$text_action;
    text-decoration: none;
    font-size: ms.step(0);
    transition: color ease 0.6s;

    @media (min-width: breakpoint.$m) {
      font-size: ms.step(-1);
    }
  }

  .articles__authorImg {
    border-radius: 50%;
    display: flex;
    height: 50px;
    width: 50px;
    margin-right: ms.step(-1);
  }

  .articles__navigation {
    background-color: colors.$gray_lighter;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding: ms.step(4);

    h2 {
      padding: ms.step(2) 0;
      text-align: center;
    }
  }

  .articles__navigationList {
    padding: ms.step(2) 0;
    text-align: center;
  }

  /**
   * Essential (reading list)
   */

  .essentialArticles {
    padding: ms.step(2) ms.step(0);

    header {
      border-top: 4px solid colors.$gray_lighter;
      padding: ms.step(2) 0;
    }

    .essentialArticles__container {
      display: grid;
      grid-gap: ms.step(2);
      grid-template-rows: repeat(4, auto);
  
      @media (min-width: breakpoint.$l) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (min-width: breakpoint.$xl) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .essentialArticles__item {
      border-width: 2px;
      border-style: solid;
      border-color: colors.$gray_light;
      display: grid;
      grid-row-gap: 0;
      padding: ms.step(0);
      border-radius: sizes.$radius_medium;
      text-decoration: none;
      color: inherit;

      @media (min-width: breakpoint.$m) {
        grid-template-rows: subgrid;
        grid-row: span 2;
      }

      .articles__description {
        display: none;
      }

      @media (min-width: breakpoint.$m) {
        .articles__description {
          display: block;
        }
      }

      a {
        
      }

      &:hover {
        border-color: colors.$primary_brand;
      }

      &:hover .articles__headerLink {
        color: colors.$primary_brand;  
      }
  
      &:hover .articles__author {
        color: colors.$text_dark;
      }
    }
  }

  /**
   * Explore topic tags
   */

  .articles__navigationList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, max-content));
    grid-gap: 1em;
  }

  .articles__navigationListItem {
    display: inline-flex;

    &:nth-of-type(1) {
      color: colors.$purple;
    }
    
    &:nth-of-type(2) {
      color: colors.$primary_brand;
    }

    &:nth-of-type(3) {
      color: colors.$green;
    }

    &:nth-of-type(4) {
      color: colors.$orange_dark;
    }

    &:nth-of-type(5) {
      color: colors.$gray_dark;
    }

    &:nth-of-type(6) {
      color: colors.$primary_brand_dark;
    }
  }

  .articles__navigationListLink {
    border-color: inherit;
    border-style: solid;
    border-width: 2px;
    color: inherit;
    display: flex;
    padding: 0 ms.step(-1);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    div {
      display: inline-flex;
      padding: ms.step(-8) 0;

      &:first-of-type {
        border-right-width: 2px;
        border-right-color: inherit;
        border-right-style: solid;
        padding-right: ms.step(-2);
        margin-right: ms.step(-2);
      }
    }
  }

  /**
   * Prototype utilities
   */

   @media (max-width: breakpoint.$m) {
    .u-full-width-sm {
      width: 100vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
    }
  }

}
