---
title: Global Nav
layout: toolkit.default
labels:
  - latest
notes: |
  Header and footer nav accounted for, includes expand/collapse functionality
  at small sizes. Should also be accessible via keyboard and assistive devices.
---

<h1>In-Page Heading</h1>
<p>Bulk of content would likely start here.</p>
<p>But, maybe not, y'know? The world's a crazy place.</p>
<p>Some <a href="https://hipsum.co/">Hipster Ipsum</a>:</p>
<blockquote>
  <p>Tofu snackwave readymade, 3 wolf moon food truck enamel pin man bun pabst helvetica heirloom beard. Put a bird on it vice celiac synth disrupt crucifix. Palo santo plaid tousled normcore, selvage fixie meggings chartreuse organic. </p>
</blockquote>
