---
previewClass: u-spaceItems1
notes: |
  Wheeeeeeee
---

<p>
<label class="ToggleControl">
  <input class="ToggleControl-input" type="checkbox">
  <span class="ToggleControl-indicator" aria-hidden="true"></span>
  Label text
  {{!-- {{random "paragraph" sentences=2}} --}}
</label>
</p>
<p>
<label class="ToggleControl">
  <input class="ToggleControl-input" type="checkbox">
  <span class="ToggleControl-indicator" aria-hidden="true"></span>
  {{!-- Label text --}}
  {{random "paragraph" sentences=2}}
</label>
</p>
