{% if columns and columns > 1 and columnsBreakpoint and columnsBreakpoint != 'none' %}
  {% set _list_class = 'o-list--' ~ columns ~ '-column' ~ columnsBreakpoint %}
{% else %}
  {% set _list_class = '' %}
{% endif %}

{% embed '@cloudfour/objects/list/list.twig' with {
  class: _list_class,
} %}
  {% block content %}
    {% for item in items %}
      <li>{{item}}</li>
    {% endfor %}
  {% endblock %}
{% endembed %}
