@use "../../../compiled/tokens/scss/color";
@use "../../../mixins/ms";

#quotes {

  blockquote {
    color: #{color.$base-gray-dark};

    p {
      font-style: italic;
    }

    cite {
      font-style: normal;
    }
  }

  .pull-quote {
    background: #{color.$base-gray-lighter};
    margin-left: calc(#{ms.step(1)} * -1);
    margin-right: calc(#{ms.step(1)} * -1);
    padding: ms.step(1);
  }

  .quote {
    border-left: .125rem solid #{color.$base-gray-light};
  }

  .c-comment blockquote {
    border-left: .125rem solid #{color.$base-gray-light};
  }
}
