---
title: Case Study A
layout: toolkit.single
notes: |
  Case study page.
stylesheets:
  - sandbox/sara-wip
---

<h1 class="u-spaceTop4">Walmart</h1>

<p class="TextBlock">In 2014, we were asked to help Walmart transition to responsive design. We started with the smaller <a href="http://grocery.walmart.com">Walmart Grocery site</a>, built a pattern library, and converted the site to responsive design in three months. We finished a week ahead of schedule due to our <a href="http://blog.cloudfour.com/the-power-of-responsive-design-sprints/">responsive design sprint</a> approach.</p>

<p>After that project, Walmart asked us to help with the main <a href="walmart.com">Walmart.com</a> site starting with the complex cart and checkout process.</p>

<div class="u-pullSides1 u-lg-pullSides6 u-spaceEnds3">
  <figure class="FlexEmbed u-flexExpand">
    <div class="FlexEmbed-ratio FlexEmbed-ratio--2by1"></div>
    <video id="walmartVideo" class="FlexEmbed-content" src="http://www.cloudfour.com/images/projects/walmart-grocery-responsive-on-black.m4v" controls="" autoplay="" preload="auto">
      <p>
      Your browser does not support the <code>video</code> element.
      </p>
    </video>
  </figure>
</div>

<p>Walmart had recently redesigned so any responsive plans that required a full redesign were non-starters. But Walmart wasn't looking for a quick, responsive retrofit either. They wanted to do a responsive redesign the right way, which is why they hired us to assist their team.</p>

<p>Fortunately, we have a lot of experience with what we call <a href="http://blog.cloudfour.com/converting-an-existing-site-or-app-to-a-responsive-design/">responsive conversions</a>—taking a working fixed-width design and making it responsive. The key is to break the site into small design patterns and make those patterns responsive.</p>

<p>After we broke the designs down into constituent patterns, we built an agile sprint schedule. <a href="http://blog.cloudfour.com/the-power-of-responsive-design-sprints/">Responsive design sprints</a> are powerful tools for finding the best design quickly through rapid iteration.</p>

<figure class="Figure u-lg-size7of12 u-lg-floatRight u-lg-pullRight6 u-lg-spaceLeft1 u-pullSides1">
  <div class="FlexEmbed">
    <div class="FlexEmbed-ratio FlexEmbed-ratio--2by1"></div>
    <iframe src="https://www.youtube.com/embed/CJ07hLitIfU?list=PLkJyefyZTdnFyzdh70LWuzhFTBOgMBnmJ" frameborder="0" allowfullscreen class="FlexEmbed-content"></iframe>
  </div>
  <figcaption class="Figure-caption u-textShrink1">
    Ola Oladunni and Mini Kurhan from Walmart present a talk on responsive images for Responsive Field Day
  </figcaption>
</figure>

<p>One of the best parts of working with Walmart was the ability to work closely with their UX team. We worked as a cohesive team with constant communication in Slack throughout the day. One of the Walmart designers embedded in our team.</p>

<p>Like many of our projects, our responsibilities included more than the design. During our time working with Walmart Labs, we built a single-page application based on CanJS and implemented designs in Walmart's Node.js backend system.</p>

<p>It was one of the best projects we've ever worked on. We're proud of how Walmart's new responsive sites turned out.</p>

<div class="u-pullSides1 u-bgGray u-pad1 u-spaceItems02">
  <h2><span class="u-textShrink1">Project Deliverables</span></h2>
  <ul class="u-spaceItems02">
    <li>Pattern library and responsive site conversion for Walmart Grocery</li>
    <li>Responsive patterns and conversion for Walmart.com cart and checkout</p>
    <li>Embedded with team to implement responsive designs for other sections of Walmart.com</li>
    <li>Responsive image solution for home page heroes</li>
    <li>Single page application for ?</li>
  </ul>
</div>

<p class="u-spaceEnds2">
  <a href="" class="Button">
    {{{
      embed "patterns.components.icon.base"
      iconid="arrow-left"
      role="presentation"
    }}}
    All case studies
  </a>
</p>
