---
title: Button Style Exploration
layout: toolkit.blank
notes: |
  Test page to show buttons in use.
---


{{{embed "patterns.components.sky.base"}}}

<main role="main" id="main">
  {{#embed "patterns.components.sky.base" class="Sky--clouds"}}
    {{#content "top"}}
      {{! Intro }}
      <div class="u-containProse u-md-spaceSidesNone u-spaceBottom1 u-spaceItems1 u-pad1 u-textWhite">
        <h1 class="u-textGrow5 u-sm-textGrow6">Page Heading</h1>
        <p class="TextBlock u-sm-textGrow2">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <button class="Button Button--defaultDark" type="button">
          Default Dark
        </button>
      </div>
    {{/content}}
  {{/embed}}

  <div class="u-bgWhite">
    <div class="u-containSpread u-pad1">

    {{! The Work }}
    <div class="Grid Work u-spaceTop4 u-posRelative u-posRelative">
      {{#iterate 2}}
      <div class="Grid-cell u-flex u-flexCol u-md-size1of2 u-spaceEnds2">
        <h2 class="u-textGrow2 u-sm-textGrow2">Heading</h2>
        <p class="u-spaceTop02 u-spaceBottom1 u-md-padRight3">
          {{random "paragraph"}}
        </p>
        <p>
          <button class="Button Button--default">
            Read more
            {{svg "icons/arrow-right" class="Icon" role="presentation"}}
          </button>
        </p>
      </div>
      {{/iterate}}
    </div>

  </div>
  <div class="u-containSpread">
    <hr class="u-spaceSides1 u-spaceEndsNone">
    {{> toolkit.page-segue }}
  </div>
</div>
</main>

{{> toolkit.global-footer }}
