---
title: What We Do (nicole)
layout: toolkit.default
section:
  heading: What We Do
  subheading: We love solving tough puzzles through our design and code
labels:
  - inprogress
notes: |
  Includes only content from the "What We Do" document.
---

<p class="u-textGrow1">
      Do you have an app or site that no one believes can be made responsive? Perhaps you want to use the latest web technology, but no one on your team has experience with&nbsp;it?
    </p>
    <h1>
      We Can Help
    </h1>
    <p>
      Many companies know they need a responsive web design or progressive web app, but don't know where to start. Their teams face the pressure of deadlines but need the project done right the first time.
    </p>
    <p>
      We work closely with internal teams to find the best design and technical approach. We set them up for success by incorporating education and training into every project.
    </p>
    <h2>
        Industry Jargon
      </h2>
      <p>
        When you hire someone, we think it matters more how they work and what they can accomplish for you than whether or not they’ve used a particular framework. But we recognize that sometimes you’ve been told that you gotta find a team that knows X or it won’t work. So here’s our list&hellip;
      </p>
      <ul class="u-listUnstyled u-columns3">
        <li>CanJS</li>
        <li>Bootstrap</li>
        <li>React</li>
        {{#iterate 12}}
          <li>{{capitalize (random "word" syllables=3)}}</li>
        {{/iterate}}
      </ul>

    <h2>
      Our Services
    </h2>
    <div class="u-release u-textCenter u-padSides4 u-padBottom4">
      <img class="u-size2of3" src="/images/sandbox/services/responsive.svg">
      <h2>Responsive Web Design</h2>
      <p><strong>Make things squishy.</strong> Here are some words about responsive web design.</p>
    </div>
    <div class="u-release u-spaceTopNone u-padSides4">
      <div class="Grid Grid--withGutter">
        <div class="Grid-cell u-size1of3">
          <img src="/images/sandbox/services/web-app.svg">
        </div>
        <div class="Grid-cell u-size2of3">
          <h2>Progressive Web Apps</h2>
          <p>Here are some words about progressive web apps.</p>
        </div>
      </div>
    </div>
    <div class="u-release u-spaceTopNone u-pad4">
      <div class="Grid Grid--withGutter">
        <div class="Grid-cell u-size2of3 u-textRight">
          <h2>User Experience</h2>
          <p>Here are some words about user experience.</p>
        </div>
        <div class="Grid-cell u-size1of3">
          <img src="/images/sandbox/services/ux.svg">
        </div>
      </div>
    </div>
    <div class="u-release u-spaceTopNone u-padSides4">
      <div class="Grid Grid--withGutter">
        <div class="Grid-cell u-size1of3">
          <img src="/images/sandbox/services/javascript.svg">
        </div>
        <div class="Grid-cell u-size2of3">
          <h2>JavaScript</h2>
          <p>Here are some words about JavaScript.</p>
        </div>
      </div>
    </div>
    <div class="u-release u-textCenter u-padSides4 u-spaceTopNone">
      <img class="u-size2of3" src="/images/sandbox/services/performance.svg">
      <h2>Web Performance Tuning</h2>
      <p><strong>Make things fast.</strong> Here are some words about web performance tuning.</p>
    </div>
    <div class="u-release u-textCenter u-pad4 u-spaceTopNone">
      <img class="u-size2of3" src="/images/sandbox/services/presentation.svg">
       <h2>Training and Workshops</h2>
      <p>Here are some words about raining and Workshops.</p>
    </div>

    <h2>
      Our Services
    </h2>
    <div class="Grid Grid--withGutter">
      <div class="Grid-cell u-size1of2">
        <div class="u-textCenter u-padSides4 u-padBottom4">
          <img style="height:6em"  src="/images/sandbox/services/responsive.svg">
          <h2>Responsive Web Design</h2>
          <p><strong>Make things squishy.</strong> Here are some words about responsive web design.</p>
        </div>
      </div>
      <div class="Grid-cell u-size1of2 u-textCenter">
        <img style="height:6em" src="/images/sandbox/services/web-app.svg">
        <h2>Progressive Web Apps</h2>
        <p>Here are some words about progressive web apps.</p>
      </div>
      <div class="Grid-cell u-size1of2 u-textCenter">
        <img style="height:6em" src="/images/sandbox/services/ux.svg">
        <h2>User Experience</h2>
        <p>Here are some words about user experience.</p>
      </div>
      <div class="Grid-cell u-size1of2 u-textCenter">
        <img style="height:6em" src="/images/sandbox/services/javascript.svg">
        <h2>JavaScript</h2>
        <p>Here are some words about JavaScript.</p>
      </div>
      <div class="Grid-cell u-size1of2 u-textCenter u-spaceTop2">
        <img style="height:6em" src="/images/sandbox/services/performance.svg">
        <h2>Web Performance Tuning</h2>
        <p>Here are some words about web performance.</p>
      </div>
      <div class="Grid-cell u-size1of2 u-textCenter u-spaceTop2">
        <img style="height:6em" src="/images/sandbox/services/presentation.svg">
        <h2>Training and Workshops</h2>
        <p>Here are some words about training and workshops.</p>
      </div>
    </div>



  <div class="Grid-cell u-md-size1of4 u-flexExpandLeft u-spaceItems1 u-spaceTop4 u-md-spaceTopNone u-md-floatRight">
    <h2>
      Our Services
    </h2>
    <ul class="u-listUnstyled u-spaceItems1">
      <li class="u-flex u-flexAlignItemsCenter">
        <img class="u-spaceRight01" src="/images/sandbox/services/responsive.svg" alt=""  style="width: 3.75em;">
        Responsive Web&nbsp;Design
      </li>
      <li class="u-flex u-flexAlignItemsCenter">
        <img class="u-spaceRight01" src="/images/sandbox/services/web-app.svg" alt=""  style="width: 3.75em;">
        Progressive Web&nbsp;Apps
      </li>
      <li class="u-flex u-flexAlignItemsCenter">
        <img class="u-spaceRight01" src="/images/sandbox/services/ux.svg" alt=""  style="width: 3.75em;">
        User Experience Design
      </li>
      <li class="u-flex u-flexAlignItemsCenter">
        <img class="u-spaceRight01" src="/images/sandbox/services/javascript.svg" alt=""  style="width: 3.75em;">
        JavaScript Development
      </li>
      <li class="u-flex u-flexAlignItemsCenter">
        <img class="u-spaceRight01" src="/images/sandbox/services/performance.svg" alt=""  style="width: 3.75em;">
        Web Performance Tuning
      </li>
      <li class="u-flex u-flexAlignItemsCenter">
        <img class="u-spaceRight01" src="/images/sandbox/services/presentation.svg" alt=""  style="width: 3.75em;">
        Training and Workshops
      </li>
    </ul>
  </div>
