---
title: What We Do (nicole)
layout: toolkit.blank
labels:
  - inprogress
---

{{{embed "patterns.components.sky.base"}}}

<main role="main" id="main">
  {{#embed "patterns.components.sky.base" class="Sky--clouds"}}
    {{#content "top"}}
      <div class="Grid Grid--alignMiddle u-spaceBottom1">
        <div class="Grid-cell u-md-size1of2 u-padSides1 u-md-padSidesNone u-md-flexOrderLast u-textCenter">
          <img class="u-limitHeight2of3" src="/images/sandbox/what_we_do-robot.svg" alt="" style="width: 21.25em; height: 15.625em;">
        </div>
        <div class="Grid-cell u-md-size1of2 u-padSides1 u-padBottom1 u-md-padTop1">
          <h1 class="u-textGrow5 u-sm-textGrow6 u-spaceRight1">
            What We Do
          </h1>
          <p class="u-textGrow1">
            We love solving tough puzzles through our design <span class="u-textNoWrap">and code</span>
          </p>
        </div>
      </div>
    {{/content}}
  {{/embed}}
  <div class="u-bgWhite">
    <div class="u-containProse u-pad1 u-spaceItems1">
      <p class="u-textGrow1">
        Do you have an app or site that no one believes can be made responsive? Perhaps you want to use the latest web technology, but no one on your team has experience with&nbsp;it?
      </p>
      <p>
        Many companies know they need a responsive web design or progressive web app, but don't know where to start. Their teams face the pressure of deadlines but need the project done right the first time.
      </p>
      <h3>
        We Can Help
      </h3>
      <p>
        We work closely with internal teams to find the best design and technical approach. We set them up for success by incorporating education and training into every project.
      </p>
    </div>

    <div class="Grid Grid--withGutter u-spaceItems1 u-containSpread">
      <div class="Grid-cell u-sm-size1of2 u-lg-size1of3 u-spaceTop1">
        <div class="u-textCenter">
          <img style="height:6em"  src="/images/sandbox/services/responsive.svg">
          <h2>Responsive Web Design</h2>
          <p><strong>Make things squishy.</strong> Here are some words about responsive web design.</p>
        </div>
      </div>
      <div class="Grid-cell u-sm-size1of2 u-lg-size1of3 u-textCenter">
        <img style="height:6em" src="/images/sandbox/services/web-app.svg">
        <h2>Progressive Web Apps</h2>
        <p>Here are some words about progressive web apps.</p>
      </div>
      <div class="Grid-cell u-sm-size1of2 u-lg-size1of3 u-textCenter">
        <img style="height:6em" src="/images/sandbox/services/ux.svg">
        <h2>User Experience</h2>
        <p>Here are some words about user experience.</p>
      </div>
      <div class="Grid-cell u-sm-size1of2 u-lg-size1of3 u-textCenter">
        <img style="height:6em" src="/images/sandbox/services/javascript.svg">
        <h2>JavaScript</h2>
        <p>Here are some words about JavaScript.</p>
      </div>
      <div class="Grid-cell u-sm-size1of2 u-lg-size1of3 u-textCenter">
        <img style="height:6em" src="/images/sandbox/services/performance.svg">
        <h2>Web Performance Tuning</h2>
        <p>Here are some words about web performance.</p>
      </div>
      <div class="Grid-cell u-sm-size1of2 u-lg-size1of3 u-textCenter">
        <img style="height:6em" src="/images/sandbox/services/presentation.svg">
        <h2>Training and Workshops</h2>
        <p>Here are some words about training and workshops.</p>
      </div>
    </div>

    <div class="u-containProse u-pad1 u-spaceItems1">
      <h2 class="u-spaceTop1">
        Industry Jargon
      </h2>
      <p>
        When you hire someone, we think it matters more how they work and what they can accomplish for you than whether or not they’ve used a particular framework. But we recognize that sometimes you’ve been told that you gotta find a team that knows X or it won’t work. So here’s our list&hellip;
      </p>
      <ul class="u-listUnstyled u-columns3">
        <li>CanJS</li>
        <li>Bootstrap</li>
        <li>React</li>
        {{#iterate 12}}
          <li>{{capitalize (random "word" syllables=3)}}</li>
        {{/iterate}}
      </ul>
    </div>

    <div class="u-containSpread">
      <hr class="u-spaceSides1 u-spaceEndsNone">
      {{> toolkit.page-segue }}
    </div>
  </div>
</main>

{{> toolkit.global-footer }}
