---
title: Global Nav
layout: toolkit.default
labels:
  - latest
notes: |
  Header and footer nav accounted for, includes expand/collapse functionality
  at small sizes. Should also be accessible via keyboard and assistive devices.
---

<h1>In-Page Heading</h1>
<p>Bulk of content would likely start here.</p>
<p>But, maybe not, y'know? The world's a crazy place.</p>
<p>Some <a href="http://www.buseyipsum.com/">Busey Ipsum</a>:</p>
<blockquote>
  <p>It depends on your ability to take a risk on eating something when you dont know what it is. Thats why I enjoy eating in the dark. When you get lost in your imaginatory vagueness, your foresight will become a nimble vagrant.</p>
</blockquote>
