---
title: Tyler Nav C
layout: toolkit.blank
stylesheets:
  - sandbox/tcs-nav-c
notes: |
  Expand/collapse with options for testing different animation strategies.
---

<div class="Sky">

  <header class="Header" role="banner">

    <p class="Header-logo">
      <a href="/" title="Home">
        <svg class="Icon">
          <use xlink:href="/assets/toolkit/images/icons.svg#cloud-four"/>
        </svg>
      </a>
    </p>

    <p class="Header-menuToggle">
      <a class="Button" href="#menu">
        Menu
      </a>
    </p>

    <nav class="Header-menu" id="menu">
      <ul>
        <li>
          <a href="#">
            Our Process
          </a>
        </li>
        <li>
          <a href="#">
            Our Work
          </a>
        </li>
        <li>
          <a href="#">
            Our Team
          </a>
        </li>
        <li>
          <a href="#">
            Articles
          </a>
        </li>
        <li>
          <a href="#">
            Speaking
          </a>
        </li>
        <li>
          <a href="#">
            Code
          </a>
        </li>
      </ul>
    </nav>

  </header>

    <div class="Sky-content">
    <h1>
      Page Title
    </h1>
    <p>
      Some sort of description.
    </p>
  </div>

</div>

<div class="u-spaceChildren" style="margin:1.25rem">
  <label class="u-block">
    <input type="checkbox" id="columned">
    Two columns
  </label>
  <label class="u-block">
    <input type="radio" name="menuTechnique" value="none" checked>
    No animation
  </label>
  <label class="u-block">
    <input type="radio" name="menuTechnique" value="css">
    CSS transition
  </label>
  <label class="u-block">
    <input type="radio" name="menuTechnique" value="page">
    Animate page via transform
  </label>
</div>

<p style="margin:1.25rem">
  White dwarf shores of the cosmic ocean, with pretty stories for which there's little good evidence dream of the mind's eye. Brain is the seed of intelligence. Science Cambrian explosion muse about! Billions upon billions cosmic fugue dispassionate extraterrestrial observer hearts of the stars science light years culture descended from astronomers trillion? Cosmic ocean star stuff harvesting star light decipherment? Radio telescope decipherment? Corpus callosum permanence of the stars extraplanetary the only home we've ever known extraordinary claims require extraordinary evidence! Explorations radio telescope.
</p>

<p>
  Need help on a project?
  <a class="Button Button--primary" href="mailto:info@cloudfour.com">
    <svg class="Icon Icon--large">
      <use xlink:href="/assets/toolkit/images/icons.svg#envelope"/>
    </svg>
    Work with us
  </a>
</p>

<footer class="Footer" role="contentinfo">

  <p>
    <a href="/">
      <b>Cloud Four, Inc.</b>
    </a><br>
    208 SW 1st Ave, Suite 240<br>
    Portland, Oregon 97204 USA
  </p>

  <ul>
    <li>
      <a href="mailto:info@cloudfour.com">
        info@cloudfour.com
      </a>
    </li>
    <li>
      <a href="tel:15032901090">
        +1 503.290.1090
      </a>
    </li>
  </ul>

  <hr>

  <nav>
    <ul>
      <li>
        <a href="#">
          Our Process
        </a>
      </li>
      <li>
        <a href="#">
          Our Work
        </a>
      </li>
      <li>
        <a href="#">
          Articles
        </a>
      </li>
      <li>
        <a href="#">
          Speaking
        </a>
      </li>
      <li>
        <a href="#">
          Code
        </a>
      </li>
      <li>
        <a href="#">
          Our Team
        </a>
      </li>
      <li>
        <a href="#">
          Device Lab
        </a>
      </li>
      <li>
        <a href="#">
          Patterns
        </a>
      </li>
    </ul>
  </nav>

  <hr>

  <ul>
    <li>
      <a href="#">
        Twitter
      </a>
    </li>
    <li>
      <a href="#">
        Facebook
      </a>
    </li>
    <li>
      <a href="#">
        Instagram
      </a>
    </li>
    <li>
      <a href="#">
        GitHub
      </a>
    </li>
    <li>
      <a href="#">
        LinkedIn
      </a>
    </li>
  </ul>

  <hr>

  <p>
    &copy; 2007 - 2016 Cloud Four, Inc.
  </p>

</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
<script>

var body = document.body;
var toggle = document.querySelector('a[href="#menu"]');
var menu = document.getElementById('menu');
var columnCheckbox = document.getElementById('columned');
var duration = 500;
var easing = [0.455, 0.03, 0.515, 0.955];
var start = toggle.offsetTop;

toggle.addEventListener('click', function (event) {
  event.preventDefault();
  menu.classList.remove('use-css');

  var technique = document.querySelector('input[name="menuTechnique"]:checked').value;
  var isOpen = menu.classList.contains('is-open');
  var height;

  switch (technique) {
    case 'page':
      if (isOpen) {
        height = menu.offsetHeight;
        Velocity(body, {
          translateY: height * -1
        }, {
          duration: duration,
          easing: easing,
          complete: function () {
            Velocity(body, {
              translateY: 0
            }, {
              duration: 0,
              complete: function () {
                menu.classList.remove('is-open');
              }
            });
          }
        });
      } else {
        menu.classList.add('will-open', 'is-open');
        height = menu.offsetHeight;
        Velocity(body, {
          translateY: height * -1
        }, {
          duration: 0,
          complete: function () {
            Velocity(body, {
              translateY: 0
            }, {
              duration: duration,
              easing: easing,
              begin: function () {
                menu.classList.remove('will-open');
              }
            });
          }
        });
      }
      break;
    case 'css':
      menu.classList.add('use-css');
    default:
      menu.classList.toggle('is-open');
      break;
  }
});

columnCheckbox.addEventListener('change', function () {
  if (columnCheckbox.checked) {
    menu.classList.add('columned');
  } else {
    menu.classList.remove('columned');
  }
});

</script>
