---
title: Our Approach
layout: toolkit.blank
labels:
  - inprogress
notes: |
  Another iteration of the page formerly known as "What Sets Us Apart," now with
  header illustration.
---

{{{embed "patterns.components.sky.base"}}}

<main role="main" id="main">
  {{#embed "patterns.components.sky.base" class="Sky--clouds"}}
    {{#content "top"}}
      <div class="Sky-scene">
        <img class="Sky-scene-object" src="/images/sky-our_approach.svg" alt="">
        <div class="Sky-scene-content">
          <div class="u-pad1 u-padBottom3 u-md-padTop3 u-md-size1of2">
            <h1 class="u-textGrow4 u-sm-textGrow6 u-textNoWrap">
              Our Approach
            </h1>
            <p class="u-textGrow1">
              We believe the web can provide fast, compelling, and inclusive experiences, and we’ve set out to prove it.
            </p>
          </div>
        </div>
      </div>
    {{/content}}
  {{/embed}}
  <div class="u-bgWhite">
    <div class="u-padEnds4 u-padSides1 u-spaceItems4">
      <div class="u-containProse u-spaceItems1 u-md-textGrow1">
        <p>
          We view our role as bigger than the output of our work. We believe a small company like ours can have an outsized impact on the world and our customers.
        </p>
        <p>
          We’re constantly looking for ways we can make the web better. And we use what we learn to help our customers build better web experiences.
        </p>
      </div>
      <div class="u-containProse u-spaceItems1">
        <div class="Grid Grid--withGutter Grid--alignCenter Grid--alignMiddle">
          <div class="Grid-cell u-sm-size2of3 u-md-size1of3 u-md-flexOrderLast">
            <div class="u-md-pullRight1">
              <img class="u-sizeFull" src="/images/sandbox/chat.svg" alt="">
            </div>
          </div>
          <div class="Grid Grid-cell u-spaceItems1 u-spaceTop1 u-md-spaceTopNone u-md-size2of3">
            <h2>
              We Share What We Learn
            </h2>
            <p>
              Recounting lessons learned for clients and the greater web community is a core part of what we do. Nearly every project we do includes some sort of training or education component.
            </p>
            <p>
              We even flip the typical staffing model on its head by having client designers and developers embed with us for a period of time, so we can bring them up to speed on the work that we are doing.
            </p>
          </div>
        </div>
      </div>
      <div class="u-containProse u-spaceItems1">
        <div class="Grid Grid--withGutter Grid--alignMiddle">
          <div class="Grid-cell u-md-size1of3 u-md-flexOrderLast">
            <div class="u-pullSides1 u-md-spaceLeftNone u-textCenter">
              <img class="u-limitHeight2of3" src="/images/sandbox/photo-prep.jpg" alt="">
            </div>
          </div>
          <div class="Grid Grid-cell u-spaceItems1 u-spaceTop1 u-md-spaceTopNone u-md-size2of3">
            <h2>
              We’re Intensely Collaborative
            </h2>
            <p>
              After an initial discovery process, many agencies retreat to offices only to emerge weeks later to present “the solution”. These big reveals <a href="https://vimeo.com/20736616">only work on TV</a>.
            </p>
            <p>
              We take the opposite approach. We share our work and solicit feedback multiple times per day. We sketch, design and code quickly so we can iterate on ideas and find the best ones.
            </p>
          </div>
        </div>
      </div>
      <div class="u-containProse">
        <blockquote class="u-bgGray u-pad1 u-pullSides1">
          <div class="Thumbnail Thumbnail--circle u-floatRight u-spaceLeft">
            <img src="/images/sandbox/michael.gif" width="80"
             height="80" alt="" />
          </div>
          <p>
            It’s not like you gather client requirements, go away and make something, then come back and ask for feedback. It’s constant iteration, constantly involving the client.
          </p>
          <footer>
            <cite>Michael Hallinan, <a href="#">Treasure Coast Hospice</a></cite>
          </footer>
        </blockquote>
      </div>
      <div class="u-containProse u-spaceItems1">
        <div class="Grid Grid--withGutter Grid--alignCenter Grid--alignMiddle">
          <div class="Grid-cell u-md-size1of3 u-md-flexOrderLast">
            <div class="u-pullSides1 u-md-spaceLeftNone u-textCenter">
              <img class="u-limitHeight2of3" src="{{dummyImgSrc 512 512 text='WIP' bg='#DBE5EA'}}" alt="">
            </div>
          </div>
          <div class="Grid Grid-cell u-spaceItems1 u-spaceTop1 u-md-spaceTopNone u-md-size2of3">
            <h2>
              We’re All Agile
            </h2>
            <p>
              We’ve ditched the traditional waterfall design process of wireframes and Photoshop mockups. Responsive web design makes that process obsolete—how many wireframes and comps do you need to cover all the screen sizes available?
            </p>
            <p>
              Instead, we believe in responsive design sprints. We break design problems into smaller patterns. We sketch mobile-first versions of those patterns. Then we quickly move into code and design in the browser.
            </p>
          </div>
        </div>
      </div>
      <div class="u-containProse">
        <aside class="u-bgGray u-pad1 u-pullSides1 u-spaceItems02">
          <footer class="Thumbnail Thumbnail--circle u-floatRight u-spaceLeft">
            <img src="/images/team/megan.png" width="80"
             height="80" alt="Megan Notarte" />
          </footer>
          <header class="u-spaceTopNone">
            <h3>
              <a class="u-linkClean" href="#">Client Engagement the Cloud Four Way</a>
            </h3>
          </header>
          <p class="u-md-padRight1">
            One of the things that is really clear to us (and that we hear often from our clients) is that the way we engage with our clients is unique. In fact, bringing clients in early and often to our process is one of our specialties at Cloud Four.
            <a class="u-textNoWrap u-linkClean u-inlineBlock u-textShrink1" href="#">
              More
              {{{
                embed "patterns.components.icon.base"
                iconid="arrow-right"
                role="presentation"
              }}}
            </a>
          </p>
        </aside>
      </div>
      <div class="u-containProse u-spaceItems1">
        <div class="Grid Grid--withGutter Grid--alignCenter Grid--alignMiddle">
          <div class="Grid-cell u-md-size1of3 u-md-flexOrderLast">
            <div class="u-pullSides1 u-md-spaceLeftNone u-textCenter">
              <img class="u-limitHeight2of3" src="{{dummyImgSrc 512 512 text='WIP' bg='#DBE5EA'}}" alt="">
            </div>
          </div>
          <div class="Grid Grid-cell u-spaceItems1 u-spaceTop1 u-md-spaceTopNone u-md-size2of3">
            <h2>
              Our Designers Code, Our <span class="u-textNoWrap">Developers Design</span>
            </h2>
            <p>
              Our sprint-based process works because we’re full of what our industry considers unicorns. Our designers write code. Our developers went to art school.
            </p>
            <p>
              We didn’t set out to become a unicorn safe haven, but we’re happy it happened. Our team’s unique combination of skills is what enables us to do great work for our clients.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="u-containSpread">
      <hr class="u-spaceSides1 u-spaceEndsNone">
      {{> toolkit.page-segue }}
    </div>
  </div>
</main>

{{> toolkit.global-footer }}
