---
title: What We Do
layout: toolkit.default
section:
  heading: What We Do
  subheading: Solving the toughest puzzles with our design and code.
labels:
  - inprogress
---

<p class="u-textGrow1">
  Do you have an app or site that no one believes can be made responsive?
</p>
<p class="u-textGrow1">
  Perhaps you want to use the latest web technology, but no one on your team has experience with it?
</p>

<div class="Grid Grid--withGutter">
  <div class="Grid-cell u-md-size2of3 u-spaceItems1">
    <h2>
      We can help.
    </h2>
    <p>
      Many companies know they need a responsive web design or progressive web app, but don't know where to start. Their teams face the pressure of deadlines but need the project done right the first time.
    </p>
    <p>
      We work closely with internal teams to find the best design and technical approach. We set them up for success by incorporating education and training into every project.
    </p>
  </div>
  <div class="Grid-cell u-md-size1of4 u-flexExpandLeft u-spaceItems1">
    <h3 class="u-spaceTop05">
      Services
    </h3>
    <ul class="u-listUnstyled">
      <li>Responsive web design</li>
      <li>Progressive web apps</li>
      <li>User experience design</li>
      <li>JavaScript development</li>
      <li>Web performance tuning</li>
      <li>Training and workshops</li>
    </ul>
  </div>
</div>
