---
title: Core Labs Page
layout: toolkit.default
section:
  heading: Labs
  subheading: Open source goodness for our fellow web craftspeople
stylesheets:
  - sandbox/tcs-labs-a
labels:
  - latest
notes: |
  Will include our open source projects and recent nuggets of code goodness.
---

<h1 class="u-marginEndsXs">Tools and Resources</h1>
<div class="Grid Grid--withGutter">
  {{#each drizzle.data.labs.contents.projects}}
    <article class="Grid-cell u-flex u-marginEndsLg u-md-size1of2 u-lg-size1of3">
      {{#embed "patterns.combos.labs.project" project=this}}{{/embed}}
    </article>
  {{/each}}
</div>
<hr class="u-marginEndsMd u-marginBottomLg">
<h1 class="u-marginEndsXs">Experiments</h1>
<div class="Grid Grid--withGutter">
  {{#each drizzle.data.labs.contents.pens}}
    <article class="Grid-cell u-marginEndsXs u-marginBottomMd u-sm-size1of2 u-md-size1of3">
      {{#embed "patterns.combos.labs.pen-preview" pen=this}}{{/embed}}
    </article>
  {{/each}}
</div>
