---
title: Core Events Page
layout: toolkit.blank
stylesheets:
  - sandbox/tcs-events-a
labels:
  - latest
notes: |
  With upcoming events and index of talks.
---

{{{embed "patterns.components.sky.base"}}}

<main role="main" id="main">
  {{#embed "patterns.components.sky.base" class="Sky--clouds"}}
    {{#content "top"}}
      <div class="u-paddingMd u-md-flex u-flexAlignItemsBaseline">
        <h1 class="u-textGrow5 u-sm-textGrow6 u-marginRightMd">Speaking</h1>
        <p class="u-textGrow1">
          Saying what we mean, meaning what we say
        </p>
      </div>
    {{/content}}
  {{/embed}}
  <div class="u-bgWhite">
    <div class="u-containSpread u-paddingMd">
      <h1 class="u-marginEndsXs">Future Events</h1>
      <div class="Grid Grid--withGutter">
        {{#each drizzle.data.events.contents.upcoming}}
          <article class="Grid-cell u-flex u-marginEndsXs u-sm-size1of2 u-md-size1of3">
            {{#embed "patterns.combos.speaking.future-event" event=this}}{{/embed}}
          </article>
        {{/each}}
      </div>
      <hr class="u-marginEndsMd">
      <h1 class="u-marginEndsXs">Our Talks</h1>
      <div class="Grid Grid--withGutter">
        {{#each drizzle.data.talks.contents}}
          <article class="Grid-cell u-marginEndsXs u-marginBottomMd u-sm-size1of2 u-md-size1of3">
            {{#embed "patterns.combos.speaking.talk-preview" talk=this}}{{/embed}}
          </article>
        {{/each}}
      </div>
    </div>
    <div class="u-containSpread">
      <hr class="u-marginSidesMd u-marginEndsNone">
      {{> toolkit.page-segue}}
    </div>
  </div>
</main>

{{> toolkit.global-footer }}
