/**
 * Timeline
 */

:root {
  --Timeline-space: 1em;
  --Timeline-border-color: var(--color-silver);
  --Timeline-border-width: 0.1875em;
  --Timeline-tile-background: #fff;
  --Timeline-tile-border-radius: 0.5em;
  --Timeline-marker-stroke: currentColor;
  --Timeline-marker-fill: #fff;
  --Timeline-marker-size: 1em;
  --Timeline-marker-position: calc(var(--Timeline-space) * 1.5 + var(--Timeline-border-width) * 2);
  --Timeline-fuzzy-item-opacity: 0.8;
}

/**
 * 1. Items should not stretch (should appear staggered).
 * 2. Prepare for positioning of line that markers will attach to.
 */

.Timeline {
  display: flex;
  align-items: flex-start; /* 1 */
  flex-wrap: wrap;
  position: relative; /* 2 */
}

/**
 * 1. Set up border style and color with shorthand. We're using border styles
 *    over background so that we can mess with the style (solid, dashed, dotted)
 *    via modifiers if we so choose.
 * 2. Position it to the very left, centering it horizontally to make alignment
 *    a bit easier later.
 */

.Timeline::before {
  border-left: var(--Timeline-border-width) solid var(--Timeline-border-color); /* 1 */
  content: "";
  height: 100%;
  left: 0; /* 2 */
  margin-left: calc(var(--Timeline-border-width) / -2); /* 2 */
  position: absolute;
  right: 0; /* 2 */
  top: 0;
  width: 0;
}

/**
 * Center align the timeline for larger viewports.
 */

@media (--md-viewport) {
  .Timeline::before {
    margin: auto;
  }
}

/**
 * 1. Add margin between timeline items. Because flex items don't collapse
 *    margins, we have to do some math manually.
 * 2. Provide room for the marker.
 * 3. Allow marker elements to use absolute positioning relative to this.
 */

.Timeline-item {
  margin: calc(var(--Timeline-space) / 2) 0; /* 1 */
  padding-left: var(--Timeline-space); /* 2 */
  position: relative; /* 3 */
  width: 100%;
}

/**
 * Marker pseudo elements
 *
 * Similar to the timeline line (heh), these alter their position with translate
 * to make center-aligning a bit simpler.
 */

.Timeline-item::before,
.Timeline-item::after {
  border: solid var(--Timeline-marker-stroke);
  content: "";
  left: 0;
  position: absolute;
  top: var(--Timeline-marker-position);
}

/**
 * Marker line
 */

.Timeline-item::before {
  border-width: calc(var(--Timeline-border-width) * 2 / 3) 0 0;
  transform: translateY(-50%);
  width: var(--Timeline-space);
}

/**
 * Marker circle
 */

.Timeline-item::after {
  background: var(--Timeline-marker-fill);
  border-width: var(--Timeline-border-width);
  border-radius: 50%;
  height: var(--Timeline-marker-size);
  transform: translate(-50%, -50%);
  width: var(--Timeline-marker-size);
}

@media (--md-viewport) {
  /**
   * 1. Override the margin so we can set it based on which "column" a tile
   *    appears in, making tiles appear more staggered than they actually are.
   * 2. We should show two items per "row" now.
   */
  .Timeline-item {
    margin: 0; /* 1 */
    width: 50%; /* 1 */
  }

  /**
   * 1. Use `margin-bottom` for the "first" column.
   * 2. Move padding to the right to make room for a newly right-aligned marker.
   */
  .Timeline-item:nth-child(odd) {
    margin-bottom: var(--Timeline-space); /* 1 */
    padding-left: 0; /* 2 */
    padding-right: var(--Timeline-space); /* 2 */
  }

  /**
   * Right align markers in "first" column
   */

  .Timeline-item:nth-child(odd)::before {
    left: auto;
    right: 0;
  }

  .Timeline-item:nth-child(odd)::after {
    left: 100%;
  }

  /**
   * 1. Use `margin-top` for "second" column so items will appear a little
   *    further down than their siblings.
   */

  .Timeline-item:nth-child(even) {
    margin-top: var(--Timeline-space); /* 1 */
  }

  /**
   * Bottom-align markers in "second" column
   */

  .Timeline-item:nth-child(even)::before,
  .Timeline-item:nth-child(even)::after {
    top: auto;
    bottom: var(--Timeline-marker-position);
  }

  .Timeline-item:nth-child(even)::before {
    transform: translateY(50%);
  }

  .Timeline-item:nth-child(even)::after {
    transform: translate(-50%, 50%);
  }
}

/**
 * Tile elements are separate from items to simplify layout and calculation
 * of marker positioning.
 */

.Timeline-tile {
  background: var(--Timeline-tile-background);
  border: var(--Timeline-border-width) solid var(--Timeline-border-color);
  border-radius: var(--Timeline-tile-border-radius);
  padding: var(--Timeline-space);
}

/**
 * Modifier: Fuzzy
 */

.Timeline--fuzzy::before {
  border-left-style: dashed;
}

.Timeline--fuzzy .Timeline-item {
  opacity: var(--Timeline-fuzzy-item-opacity);
}

.Timeline--fuzzy .Timeline-item::before,
.Timeline--fuzzy .Timeline-item::after {
  display: none;
}

@media (--md-viewport) {
  .Timeline--fuzzy .Timeline-item:only-child {
    margin-left: auto;
    padding-left: var(--Timeline-space);
    padding-right: 0;
  }
}

.Timeline--fuzzy .Timeline-tile {
  border-color: transparent;
}
