@use "../../compiled/tokens/scss/size";

$_focus-overflow: (size.$edge-large * -1);

.c-speaking-event {
  position: relative;
}

.c-speaking-event__link::after {
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
