---
hidden: true
---
<div class="FloatLabel js-FloatLabel">
  {{#block "content"}}
    <label class="FloatLabel-label" for="{{inputid}}">{{label}}</label>
    <input class="Input" id="{{inputid}}" type="text" value="{{value}}">
  {{/block}}
</div>
