@import "css-modularscale";

/**
 * POSTCSS plugins
 *
 * https://github.com/postcss/postcss/blob/master/docs/plugins.md
 */

@use postcss-mixins;
@use postcss-preset-env {
  stage: 0;
  features {
    custom-properties {
      preserve: false
    }
  }
};
@use postcss-easings;
@use postcss-discard-comments;
@use postcss-discard-empty;
@use postcss-inline-svg {
  path: "./src/static/images"
}
@use postcss-calc;

/**
 * Colors
 *
 * Where possible, color names should map to standard webcolors.
 * See: https://zaim.github.io/webcolors/
 *
 * For adjustments to existing colors (lightening, darkening) use the
 * `color` function: https://github.com/postcss/postcss-color-function
 */

:root {
  --color-black: #000;
  --color-white: #fff;

  /* Primary colors */
  --color-navy: #0f1c3f;
  --color-blue: #456bd9;
  --color-gray: #dbe5ea;

  /* Secondary colors */
  --color-orange: #f57b47;
  --color-green: #35c98d;
  --color-fuchsia: #f14ca3;

  /* Other colors */
  --color-red: #bf0000;

  /* a11y variations for light-on-dark text contrast */
  --color-blue-a11y: color-mod(var(--color-blue) l(-4%));
  --color-fuchsia-a11y: color-mod(var(--color-fuchsia) l(-14%) s(-5%));
}

/**
 * Color Placeholders
 *
 * These are used as defaults in place of actual colors.
 *
 * 1. Represents an "absense" of color
 * 2. Represents a current or inherited color
 */

:root {
  --color-null: transparent; /* 1 */
  --color-relative: currentColor; /* 2 */
}

/**
 * Opacity
 */

:root {
  --opacity-lower: 0.125;
  --opacity-low: 0.25;
  --opacity-mid: 0.5;
  --opacity-high: 0.75;
}

/**
 * Shades
 */

:root {
  --shade-lower: color-mod(var(--color-black) alpha(0.125));
  --shade-low: color-mod(var(--color-black) alpha(0.25));
  --shade-mid: color-mod(var(--color-black) alpha(0.5));
  --shade-high: color-mod(var(--color-black) alpha(0.75));
}

/**
 * Modular Scale
 *
 * Define a modular scale for a consistent rhythm in
 * sizing and spacing of elements
 *
 * http://www.modularscale.com/?1&em&1.25&web&text
 */

:root {
  --ms-ratio: var(--major-third);
  --ms-base: 1;
}

/**
 * Spacing
 */

:root {
  --space-xs: calc(var(--ms-1) / 1rem);
  --space-sm: calc(var(--ms0) * 1rem);
  --space-md: calc(var(--ms1) * 1rem);
  --space-lg: calc(var(--ms2) * 1rem);
}

/**
 * Typography
 */

:root {
  --font-size-xs: calc(var(--ms-1) * 1em);
  --font-size-sm: calc(var(--ms0) * 1em);
  --font-size-md: calc(var(--ms1) * 1em);
  --font-size-lg: calc(var(--ms2) * 1em);
  --font-size-xl: calc(var(--ms3) * 1em);

  --font-family-default: "Source Sans Pro", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-family-mono: "Source Code Pro", Monaco, Consolas, "Lucida Console", "Andale Mono", monospace;

  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --line-height-xs: var(--ms0);
  --line-height-sm: var(--ms1);
  --line-height-md: var(--ms2);
  --line-height-lg: var(--ms3);

  --heading-font: var(--font-weight-bold) var(--font-size-sm) var(--font-family-default);

  --code-font: var(--font-size-sm) var(--font-family-mono);
}

/**
 * Content
 */

:root {
  --content-dash-em: "—";
  --content-single-quote-open: "‘";
  --content-single-quote-close: "’";
  --content-double-quote-open: "“";
  --content-double-quote-close: "”";
}

/**
 * Base
 */

:root {
  --base-background: var(--color-gray);
  --base-color: var(--color-black);
  --base-font: var(--font-size-sm)/var(--line-height-md) var(--font-family-default);
  --base-margin: var(--space-md);
}

/**
 * Link
 */

:root {
  --link-color: var(--color-blue-a11y);
  --link-hover-color: color-mod(var(--link-color) l(+10%));
}

/**
 * Lists
 */

:root {
  --list-style-default: disc;
  --list-style-numeric: decimal;
  --list-marker-padding: var(--space-md);
}

/**
 * Motion
 */

:root {
  --motion-duration-sm: 100ms;
  --motion-duration-md: 180ms;
  --motion-duration-lg: 300ms;
  --motion-timing-function-default: ease;
}


/**
 * Border
 */

:root {
  --border-width-sm: 1px;
  --border-width-md: 3px;
  --border-radius-md: 6px;
}

/**
 * Rules
 */

:root {
  --rule-color: var(--shade-lower);
  --rule-style: solid;
  --rule-width-sm: var(--border-width-sm);
  --rule-width-md: var(--border-width-md);
}

/**
 * Component
 */

:root {
  --control-stroke: var(--border-width-md);
  --control-line: var(--border-width-sm);
  --control-radius: var(--border-radius-md);
  --control-color: var(--base-color);
  --control-background-color: var(--color-null);
  --control-border-color: var(--color-relative);
  --control-disabled-opacity: var(--opacity-mid);
}

/**
 * Selectors
 */

@custom-selector :--headings h1, h2, h3, h4, h5, h6;
@custom-selector :--lists ul, ol, dl;
@custom-selector :--monospaced pre, code, kbd, samp, var;
@custom-selector :--enter :hover, :focus;

/**
 * Breakpoints
 */

/* min-width */
@custom-media --sm-viewport (width >= 30em);
@custom-media --md-viewport (width >= 48em);
@custom-media --lg-viewport (width >= 64em);
@custom-media --xl-viewport (width >= 80em);
@custom-media --xxl-viewport (width >= 100em);
@custom-media --xxxl-viewport (width >= 120em);

/* max-width */
@custom-media --sm-max-viewport (width < 48em);

/* min-height */
@custom-media --mdh-viewport (height >= 35em);
