@import "suitcss-base";

/**
 * Squash additional UA styles
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: left;
}

/**
 * Base body styles
 */

body {
  background: var(--base-background);
  color: var(--base-color);
}

/**
 * Links
 */

a {
  text-decoration: underline;
  color: var(--link-color);
}

a:matches(:active, :focus, :hover) {
  color: var(--link-hover-color);
}

/**
 * Apply color to permalink headings.
 */

:--headings:target {
  color: var(--link-color);
}

/**
 * Code
 */

pre {
  overflow: auto;
}

img {
  max-width: 100%;
}
