/**
 * Resets
 */

* {
  margin: 0;
}

* + * {
  margin-top: var(--margin-base);
}

/**
 * Squash additional UA styles
 */

button {
  padding: 0;
  border-style: none;
  background-color: transparent;
}

fieldset {
  padding: 0;
  border-style: none;
}

iframe {
  border-style: none;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

/**
 * Suppress the focus outline on links that cannot be accessed via keyboard.
 * This prevents an unwanted focus outline from appearing around elements that
 * might still respond to pointer events.
 */

[tabindex="-1"]:focus {
  outline: none !important;
}
