@import "suitcss-base";

/**
 * Squash additional UA styles
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: left;
}

/**
 * Restrict horizontal scrolling
 *
 * Necessary evil for using 100vw with visible scrollbars
 */

html,
body {
  overflow-x: hidden;
}

/**
 * Base body styles
 */

body {
  background: var(--base-background);
  color: var(--base-color);
}

/**
 * Links
 */

a {
  color: var(--link-color);
  text-decoration-skip: ink;
  text-decoration: underline;
}

a:matches(:active, :--enter) {
  color: var(--link-hover-color);
}

/**
 * Apply color to permalink headings.
 */

:--headings:target {
  color: var(--link-color);
}

/**
 * Code
 */

pre {
  overflow: auto;
}

*:not(pre, a) > code {
  color: var(--color-fuchsia);
}

pre {
  background: var(--color-navy);
  color: var(--color-white);
}

/**
 * Embeds
 */

img {
  max-width: 100%;
}
