/**
 * Resets
 */

* {
  margin: 0;
}

/**
 * All elements in the flow of the document that proceed other elements must
 * receive a top margin of one line.
 *
 * http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
 */

* + * {
  margin-top: var(--base-margin);
}

/**
 * Squash additional UA styles
 */

button {
  padding: 0;
  border-style: none;
  background-color: transparent;
}

fieldset {
  padding: 0;
  border-style: none;
}

iframe {
  border-style: none;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: left;
}

/**
 * Suppress the focus outline on links that cannot be accessed via keyboard.
 * This prevents an unwanted focus outline from appearing around elements that
 * might still respond to pointer events.
 */

[tabindex="-1"]:focus {
  outline: none !important;
}
