/**
 * base
 */

:root {
  --background-base: var(--color-white);
  --color-base: var(--color-black);
  --font-base: var(--font-size)/var(--line-height) var(--font-family);
  --margin-base: var(--space-medium);
}
