/**
 * Theme definition
 *
 * This defines the theme in fundamental terms, but not how it is applied to
 * the components. That is done in `theme-map.css`.
 */

/**
 * Misc
 */

:root {
  --ratio: 1.5;
}

/**
 * Colors
 */

:root {
  --color-black: #000;
  --color-white: #fff;

  /* Primary blues */
  --color-dark-blue: #0f1c3f;
  --color-deep-blue: #456bd9;

  /* Primary grays */
  --color-gray: #dbe5ea;

  /* Secondary colors */
  --color-orange: #f26941;
  --color-green: #35c98d;
  --color-pink: #f14ca3;
}

/**
 * Typography
 *
 * 1. The root font-size that is applied to <html>.
 * 2. The amount by which the root font-size is increased per breakpoint.
 */

:root {
  --font-size-px: 16px; /* 1 */
  --font-size-increment: 1px; /* 2 */

  --font-size-xs: calc(1em / var(--ratio));
  --font-size-sm: 1em;
  --font-size-md: calc(var(--font-size-sm) * var(--ratio));
  --font-size-lg: calc(var(--font-size-md) * var(--ratio));
  --font-size-xl: calc(var(--font-size-lg) * var(--ratio));

  --font-family: "Source Sans Pro", sans-serif;
  --font-weight: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --line-height: var(--ratio);

  --list-style-ordered: decimal;
  --list-style-unordered: disc;

  --hr-height: 0.125em;
  --hr-min-height: 1px;
  --hr-background: currentColor;

  --blockquote-padding: 2em;
  --cite-prefix: "—";
}

/**
 * Spacing
 */

:root {
  --space: calc(1rem * var(--ratio));
  --space-sm: calc(var(--space) / var(--ratio));
  --space-lg: calc(var(--space) * var(--ratio));
}

/**
 * Selectors
 */

@custom-selector :--headings h1, h2, h3, h4, h5, h6;
@custom-selector :--lists ul, ol, dl;

/**
 * Breakpoints
 */

@custom-media --sm-viewport (width >= 30em);
@custom-media --md-viewport (width >= 48em);
@custom-media --lg-viewport (width >= 64em);
@custom-media --xl-viewport (width >= 80em);
