/**
 * base
 */

:root {
  --background-base: var(--color-white);
  --color-base: var(--color-black);
  --font-base: var(--font-size-sm)/var(--line-height) var(--font-family);
  --margin-base: var(--space);
}

/**
 * heading
 */

:root {
  --font-heading: var(--font-weight-bold) var(--font-size-sm) var(--font-family);
}
