/**
 * Increase root font-size a little more for large screens.
 */

@media (--lg-viewport) {
  html {
    font-size: calc(var(--ms1) * 1rem);
  }
}

/**
 * Body type styles
 *
 * 1. Base font style for everything
 * 2. Allow long words (links) to brake at arbitrary points
 * 3. Prevent automatic size adjustments on orientation change
 */

body {
  font-size: var(--base-font-size); /* 1 */
  line-height: var(--base-line-height); /* 1 */
  word-wrap: break-word; /* 2 */
  text-size-adjust: none; /* 3 */
}

/**
 * FOUT control. This class is added once fonts are loaded to prevent
 * the double-FOUT that can occur from setting font styles prior to loading
 * the target font.
 *
 * See https://www.filamentgroup.com/lab/font-events.html
 */
.fonts-loaded body {
  font-family: var(--base-font-family);
}

/**
 * Headings
 */

:--headings {
  font-weight: var(--heading-font-weight);
  font-size: var(--heading-font-size);
}

/**
 * Largest and smallest default heading sizes
 */

h1 {
  font-size: var(--font-size-lg);
  line-height: var(--line-height-sm);
}

h2 {
  font-size: var(--font-size-md);
  line-height: var(--line-height-sm);
}

h5,
h6 {
  font-size: var(--font-size-xs);
}

/**
 * Responsive heading size increases
 */

@media (--md-viewport) {
  h1 {
    font-size: var(--font-size-xl);
  }

  h2 {
    font-size: var(--font-size-lg);
  }

  h3 {
    font-size: var(--font-size-md);
    line-height: var(--line-height-sm);
  }
}

/**
 * Small text
 */

small {
  font-size: var(--font-size-xs);
}

/**
 * Small caps
 * http://typeplate.com/#small-caps
 */

abbr {
  font-variant: small-caps;
  text-transform: lowercase;
}

/**
 * Remove hyphenation from elements with significant formatting
 */

abbr,
blockquote,
code,
kbd,
q,
samp,
var {
  hyphens: none;
}

/**
 * Use custom monospace font on all code-like elements
 */

:--monospaced {
  font: var(--code-font);
}

/**
 * Control whitespace and wrapping on code blocks
 */

pre,
code {
  white-space: pre;
}

code {
  word-wrap: normal;
}

/**
 * Lists
 */

:--lists {
  list-style-position: outside;
}

ol,
ul {
  padding: 0 0 0 var(--list-marker-padding);
}

ul {
  list-style-type: var(--list-style-default);
}

ol {
  list-style-type: var(--list-style-numeric);
}

/**
 * Horizontal rule
 */

hr {
  height: var(--border-width-md);
  min-height: var(--border-width-sm);
  border-style: none;
  background-color: var(--color-relative);
  opacity: var(--opacity-lower);
}

/**
 * Blockquote
 *
 * Assumes markup to be:
 *
 * <blockquote>
 *   <p>The movie was awesome</p>
 *   <footer>
 *     <cite>Some Person</cite>
 *   </footer>
 * </blockquote>
 *
 * http://html5doctor.com/cite-and-blockquote-reloaded/
 */

blockquote {
  padding-left: var(--space-md);
  font-style: italic;
}

blockquote p {
  margin-bottom: var(--base-margin);
}

blockquote :matches(p:last-of-type, footer) {
  display: inline;
}

blockquote cite {
  font-style: normal;
}

/**
 * Precede citation with em dash and non-breaking space.
 */

blockquote cite::before {
  content: "—\00a0";
}
