{% embed '@cloudfour/objects/individual-bio-group/individual-bio-group.twig' only %}
  {% block avatar %}
    {% include '@cloudfour/components/avatar/avatar.twig' with {
      size: 'full',
      src: 'media/team-avatars/danielle.png'
    } only %}
  {% endblock %}
  {% block content %}
    {% embed '@cloudfour/objects/rhythm/rhythm.twig' only %}
      {% block content %}
        <header>
          {% include '@cloudfour/components/heading/heading.twig' with {
            content: 'Danielle Romo',
            level: 1
          } only %}
          <p>Front-end Designer</p>
        </header>
        <p>Danielle is a front-end designer passionate about all things creative including design, art, and music. She began her career as a graphic designer and draws on her visual design skills to create engaging experiences for the web. She hasn't stopped learning since taking her first web design class and continues to develop her coding skills one web page at a time.</p>
        <p>Outside of work, you can find her drawing, listening to true crime podcasts, or hiking the beautiful Pacific Northwest.</p>
      {% endblock %}
    {% endembed %}
  {% endblock %}
  {% block links %}
    <ul>
      <li><a href="#">Website link</a></li>
      <li><a href="#">Website link</a></li>
      <li><a href="#">Social media link</a></li>
      <li><a href="#">Social media link</a></li>
    </ul>
  {% endblock %}
{% endembed %}
