{% embed '@cloudfour/objects/bio/bio.twig' only %}
  {% block avatar %}
    {% include '@cloudfour/components/avatar/avatar.twig' with {
      size: 'full',
      src: 'media/team-avatars/danielle.png'
    } only %}
  {% endblock %}
  {% block content %}
    {% embed '@cloudfour/objects/rhythm/rhythm.twig' only %}
      {% block content %}
        <header>
          {% include '@cloudfour/components/heading/heading.twig' with {
            content: 'Danielle Romo',
            subheading: 'Front-end Designer',
            level: 1
          } only %}
        </header>
        <p>Danielle is a front-end designer passionate about all things creative including design, art, and music. She began her career as a graphic designer and draws on her visual design skills to create engaging experiences for the web. She hasn't stopped learning since taking her first web design class and continues to develop her coding skills one web page at a time.</p>
        <p>Outside of work, you can find her drawing, listening to true crime podcasts, or hiking the beautiful Pacific Northwest.</p>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla leo nunc, finibus at bibendum vitae, aliquam quis lorem. Cras eu felis elit. Morbi eget ligula egestas, aliquet ex at, condimentum nisi. Ut tempus in velit quis ultrices. Duis sodales est augue, non accumsan libero ultrices at. Curabitur vel lacus enim. Proin quis sodales odio. Morbi tincidunt condimentum nulla, eget egestas ipsum mollis ut. Fusce rhoncus semper velit eget porttitor. Integer et nisi volutpat, vehicula mi vitae, euismod libero. Phasellus sit amet tristique ante, nec ultrices purus. Integer elementum lobortis libero, id varius sapien ullamcorper et. Praesent id turpis in leo viverra laoreet non a nibh.</p>
        <p>Etiam at ultrices sem, sit amet fringilla est. Morbi congue eros sed felis posuere viverra. Donec libero mi, ullamcorper id eleifend quis, semper a diam. Ut ultricies metus massa, ac mattis dolor efficitur non. Etiam ullamcorper, neque a venenatis dapibus, erat ipsum consequat leo, id efficitur eros massa quis tortor. Cras eu gravida ipsum. Proin ut gravida felis, sit amet tempus nunc. Sed egestas consectetur dui in scelerisque. Etiam luctus odio dui, a maximus purus luctus et. Aenean vestibulum ipsum at elit tempor consectetur. Aliquam tristique laoreet sagittis. Etiam hendrerit finibus purus in efficitur. Nam sit amet quam id orci aliquet tristique. Sed iaculis nulla sed tristique molestie. Mauris id ligula mi.</p>
      {% endblock %}
    {% endembed %}
  {% endblock %}
  {% block meta %}
    {% embed '@cloudfour/objects/list/list.twig' %}
      {% block content %}
        <li><a href="#">Website link</a></li>
        <li><a href="#">Website link</a></li>
        <li><a href="#">Social media link</a></li>
        <li><a href="#">Social media link</a></li>
      {% endblock %}
    {% endembed %}
  {% endblock %}
{% endembed %}
