<div id="prototype-clouds">
  <div class="o-container o-container--prose t-dark">
    <div class="o-container__content"  style="padding: 1em;">
      {% block content %}
        <h1>Cooperative Design Systems</h1>
        <p>Sp-top me if you’ve heard this one before: There once was an organization whose products lacked harmony. Its teams struggled to embrace a shared vision, continuously reinventing wheels of infinitely varied size and shape. Then one day they all joined hands and created the Design System, addressing everyone’s needs and forever banishing the dissonance they’d felt for so long.</p>
      {% endblock %}
    </div>
  </div>
  <div class="o-container o-container--prose t-dark">
    <div class="p-clouds">
      <div class="p-clouds__side p-clouds__side--left">
        <img src="clouds/cloud-white-left.svg" role="presentation" class="p-cloud p-top">
        <img src="clouds/cloud-light-blue.svg" role="presentation" class="p-cloud p-middle">
        <img src="clouds/cloud-blue-left.svg" role="presentation" class="p-cloud p-back">
      </div>
      <div class="p-clouds__side p-clouds__side--right">
        <img src="clouds/cloud-white-right.svg" role="presentation" class="p-cloud p-top">
        <img src="clouds/cloud-light-blue.svg" role="presentation" class="p-cloud p-middle">
        <img src="clouds/cloud-blue-right.svg" role="presentation" class="p-cloud p-back">
      </div>
    </div>
  </div>
  <div class="o-container o-container--prose">
    <div class="o-container__content" style="padding: 1em;">
      {{ block('content') }}
    </div>
  </div>
</div>
