@use '../../compiled/tokens/scss/size';

.o-input-group {
  display: flex;

  // Keeps focus styles from being cut off by adjacent, un-focused elements
  > :focus {
    z-index: 1;
  }

  > :not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  > :not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  > * + * {
    margin-inline-start: -(size.$edge-medium);
  }
}
