
{% embed '@cloudfour/objects/container/container.twig' with {
  class: 'o-container--pad',
} only %}
  {% block content %}
    {% embed '@cloudfour/objects/hype-group/hype-group.twig' with {
      content_class: 'o-rhythm',
    } only %}
      {% block intro %}
        {% include '@cloudfour/components/heading/heading.twig' with {
          content: "Let’s get hyped for this content!",
          level: 0,
          tag_name: 'h2',
        } only %}
      {% endblock %}
      {% block object %}
        <img src="/media/feature-ozzie-wide.jpg" alt="Ozzie being a very good boy" width="1920" height="1080">
      {% endblock %}
      {% block content %}
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nulla nulla, vestibulum vel pharetra ut, suscipit sit amet orci. Aliquam interdum tristique tincidunt.</p>
        <p>Nunc pellentesque eu purus vel aliquet. Vestibulum sed nulla tellus. Sed sed ante varius, facilisis dui in, lacinia dui. Sed convallis aliquam dolor, sit amet pretium nibh dignissim quis.</p>
      {% endblock %}
    {% endembed %}
  {% endblock %}
{% endembed %}
