@use "../../compiled/tokens/scss/size";

/**
 * Button Group layout object
 * 1. Using margins instead of Flexbox Gap due to browser support, consider
 *    changing to Flexbox Gap once browser support is better in the future.
 */
.o-button-group {
  --gap: #{size.$spacing-gap-button-group-default};

  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--gap) / -2); /* 1 */

  & > * {
    margin: calc(var(--gap) / 2); /* 1 */
  }
}

/**
 * Full button width modifier
 */
.o-button-group--grow > * {
  flex-grow: 1;
}
