@use "../../compiled/tokens/scss/breakpoint";
@use "../../compiled/tokens/scss/size";

.o-button-group {
  display: flex;
  flex-wrap: wrap;
  gap: size.$button-group-gap-default;
  // justify-content: space-evenly;
}

/**
 * Tight spacing modifier
 */
.o-button-group--tight {
  gap: size.$button-group-gap-tight;
}

/**
 * Full button width modifier
 */
.o-button-group--grow > * {
  flex-grow: 1;
}
