<div class="o-button-group{% if class %} {{class}}{% endif %}">
  <ul class="o-button-group__list">
    <li class="o-button-group__list-item">
      <button class="c-button">Button 1</button>
    </li>
    <li class="o-button-group__list-item">
      <button class="c-button">Button 2</button>
    </li>
    <li class="o-button-group__list-item">
      <button class="c-button">Button 3</button>
    </li>
  </ul>
  {% block content %}{% endblock %}
</div>
