---
name: Future Event
notes: |
  This is a future event date intended to live in the "Future Events" section of the "Speaking" page.

default:
  month: Nov
  day: 22
  datetime: 2016-11-22T18:45
  url: http://cloudfour.com
  event: The Bestest Future Event
  location: Reno, NV
  speakers:
    - Jason
    - Tyler
---
<a href="{{defaultTo url default.url}}" class="u-flex u-flexAlignItemsCenter u-linkClean u-textInheritColor">
  {{#embed "patterns.components.calendar-date.base"
    month=(defaultTo month default.month)
    day=(defaultTo day default.day)
    datetime=(defaultTo datetime default.datetime)}}
  {{/embed}}
  <div class="u-marginLeftSm">
    <h3 class="u-textLarger u-linkCleanTarget">{{defaultTo event default.event}}</h3>
    <p class="u-textNoWrap"><b>{{defaultTo location default.location}}</b></p>
    <p>
      Speaker:
      {{#each (defaultTo speakers default.speakers)}}{{#if @index}}, {{/if}}{{.}}{{/each}}
    </p>
  </div>
</a>
