---
name: Future Event
notes: |
  This is a future event date intended to live in the "Future Events" section of the "Speaking" page.

default:
  event:
    month: Nov
    day: 22
    datetime: 2016-11-22T18:45
    url: http://cloudfour.com
    name: The Bestest Future Event
    location: Reno, NV
    speakers:
      - Nicole
      - Tyler
---
{{#with (defaultTo event default.event)}}
  <a href="{{url}}" class="u-flex u-flexAlignItemsCenter u-linkClean u-textInheritColor">
    {{#embed "patterns.components.calendar-date.base" event=this}}{{/embed}}
    <div class="u-marginLeftSm">
      <h3 class="u-textLarger u-linkCleanTarget">{{name}}</h3>
      <p class="u-textNoWrap u-textBold">{{location}}</p>
      <p>
        Speaker:
        {{#each speakers}}{{#if @index}}, {{/if}}{{.}}{{/each}}
      </p>
    </div>
  </a>
{{/with}}
