---
name: Overview
order: 1
previewClass: drizzle-u-rhythm
notes: |
  The `.List` component is intended to be used on `<ul>` and `<ol>` elements.
  It removes browser default styles and provides additional styling modifiers.
---

<ol class="List">
  <li>Item</li>
  <li>Item</li>
  <li>Item</li>
</ol>

<ul class="List">
  <li>Item</li>
  <li>Item</li>
  <li>Item</li>
</ul>
