---
name: Ruled
order: 2
previewClass: drizzle-u-rhythm
notes: |
  The `.List--bottomRuled` and `.List-topRuled` modifiers can be used
  to add borders to the bottoms or tops of child `<li>` elements.
---

<ul class="List List--bottomRuled">
  <li>Item</li>
  <li>Item</li>
  <li>Item</li>
</ul>

<ol class="List List--topRuled">
  <li>Item</li>
  <li>Item</li>
  <li>Item</li>
</ol>
