---
name: Start and End Rules
order: 3
previewClass: drizzle-u-rhythm
notes: |
  The `.List--cleanEnd` and `.List-cleanStart` modifiers can be used
  to remove borders from `:last-child` or `:first-child` `<li>` elements.
---

<ol class="List List--bottomRuled List--cleanEnd">
  <li>Item</li>
  <li>Item</li>
  <li>Item</li>
</ol>

<ul class="List List--topRuled List--cleanStart">
  <li>Item</li>
  <li>Item</li>
  <li>Item</li>
</ul>
