@import "../base/theme.css";
@import "../base/theme-map.css";

/* Background colors in Tyler's style sheet obscured thumbnail images */
body {
  background-color: transparent !important;
}

footer.Global {
  background-color: var(--color-gray);
}

.blog-section, .blog-header, .blog-footer {
  max-width: 650px;
  margin: auto;
}

@media (--lg-viewport) {
  .blog-section, .blog-header, .blog-footer {
    max-width: 700px;
  }
}

@media (--xl-viewport) {
  .blog-section, .blog-header, .blog-footer {
    max-width: 800px;
  }
}

.blog-header {
  padding: var(--font-size-md);
  padding-bottom: 0;
}

.blog-intro {
  font-size: var(--font-size-md);
/*  background-color: var(--color-gray);
  padding: var(--space-sm);*/
}
  
/*.blog-footer {
    display: flex;
  }*/

.author-image {
  height: 85px;
  float: left;
  shape-outside: circle(60%);
  margin-right: 1rem;
}

.author-bio {
 text-align: right;
 margin-left: var(--space-sm);
}

.author-social {
  display: inline-flex;
  list-style: none;
  padding-left: 0;
}

.author-social li {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

@media (--sm-viewport) {
 .blog-footer {
  display: flex;
 }

 .author-image {
  float: none;
  margin-right: 0;
 }

 .author-bio {
  text-align: left;
 } 
}

.full-width {
  background: #f4eee9;
  text-align: center;
}

.blog-image {
  width: 100%;
}

@media (--md-viewport) {
  .blog-image {
    width: 40%;
  }
}

code {
  color: #d40087;
  background-color: color(var(--color-fuchsia) a(10%));
  padding: .12em;
}

pre {
  color: var(--color-fuchsia);
  background-color: var(--color-navy: #0f1c3f);
  padding: 1em;
  width: 100%;
  word-wrap: normal;
}

pre.codeBlock-blue {
  color: #637fe2;
}

pre.codeBlock-gray {
  background: color(var(--color-gray) a(50%));
  color: #d40087;
}

code, pre {
  border-radius: var(--border-width-md);
  margin: 0 .2em;
}

.blog-footer {
  padding: var(--font-size-md);
  padding-top: 0;
}

.u-nowrap {
  white-space: nowrap;
}

.permalink-hash:before, .permalink-link:before {
  position: absolute;
  margin-left: -1rem;
  color: var(--color-gray);
}

.permalink-hash:before {
  content: "#";
}

.permalink-link:before {
  content: url(/assets/toolkit/images/sandbox/link.svg);
  width: 25px;
  width: 30px;
  margin-left: -1.6rem;
}

@media (--md-viewport) {
  .permalink-link:before {
    width: 40px;
    margin-left: -2.2rem;
  }
  .permalink-hash:before {
    margin-left: -1.2rem
  }  
}

@media (--xl-viewport) {
  .permalink-link:before {
    width: 50px;
  }  
}
