@import "../base/theme.css";
@import "../base/theme-map.css";


.blog-section, .blog-header, .blog-footer {
  max-width: 650px;
  margin: auto;
}

@media (--lg-viewport) {
  .blog-section, .blog-header, .blog-footer {
    max-width: 700px;
  }
}

@media (--xl-viewport) {
  .blog-section, .blog-header, .blog-footer {
    max-width: 800px;
  }
}

.blog-header {
  padding: var(--font-size-md);
  padding-bottom: 0;
}

.blog-intro {
  font-size: var(--font-size-md);
  background-color: var(--color-gray);
  padding: 1.3rem;
  margin: 0 -1.3rem;
}

@media (--sm-viewport) {
  .blog-intro {
    margin: 0;
  }
}

.author-social {
  display: inline-flex;
  list-style: none;
  padding-left: 0;
}

.author-social li {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

.full-width {
  background: #f4eee9;
  text-align: center;
}

.blog-image {
  width: 100%;
}

@media (--md-viewport) {
  .blog-image {
    width: 40%;
  }
}

code {
  color: #d40087;
  background-color: color(var(--color-fuchsia) a(10%));
  padding: .12em;
}

pre {
  color: var(--color-fuchsia);
  background-color: #0f1c3f;
  padding: 1em;
  word-wrap: normal;
  margin: 0 -1.3rem;
}

@media (--sm-viewport) {
  pre {
    margin: 0;
  }
}

pre.codeBlock-blue {
  color: #637fe2;
}

pre.codeBlock-gray {
  background: color(var(--color-gray) a(50%));
  color: #d40087;
}

pre.codeBlock-white {
  color: var(--color-white);
}

code, pre {
  border-radius: var(--border-width-md);
}

.blog-footer {
  padding: var(--font-size-md);
  padding-top: 0;
}

.author {
  background: color(var(--color-gray) a(30%));
}

.author-image {
  float: right;
  shape-outside: circle(50%);
  margin-left: 1rem;
}

.u-nowrap {
  white-space: nowrap;
  display: inline-block;
}

.permalink { 
  /*color: var(--color-gray);*/
  color: var(--color-blue);
  font-size: var(--font-size-xs);
  vertical-align: .14rem;
}

.permalink-hash {
  text-decoration: none;
  font-size: var(--font-size-xs);
}

h2:target {
  color: var(--color-blue);
  border-bottom: solid 3px color(var(--color-gray) a(50%));
  padding-bottom: var(--space-sm);
  width: 100%;
}

.footnotes {
  border-top: solid 2px var(--color-gray);
}

 /**
 * Initialiazing a `footnotes` counter on the wrapper
 */
article {
  counter-reset: footnotes;
}

/**
 * Inline footnotes references
 * 1. Increment the counter at each new reference
 * 2. Reset link styles to make it appear like regular text
 */
[aria-describedby="footnote-label"] {
  counter-increment: footnotes; /* 1 */
  text-decoration: none; /* 2 */
  color: inherit; /* 2 */
  cursor: default; /* 2 */
  outline: none; /* 2 */
}

/**
 * Actual numbered references
 * 1. Display the current state of the counter (e.g. `[1]`)
 * 2. Align text as superscript
 * 3. Make the number smaller (since it's superscript)
 * 4. Slightly offset the number from the text
 * 5. Reset link styles on the number to show it's usable
 */
[aria-describedby="footnote-label"]::after {
  content: '' counter(footnotes) ''; /* 1 */
  vertical-align: super; /* 2 */
  font-size: 0.5em; /* 3 */
  margin-left: 2px; /* 4 */
  color: var(--color-white); /* 5 */
  /*text-decoration: underline; /* 5 */
  cursor: pointer; /* 5 */
  background: var(--color-blue);
  padding: 2px 6px;
  border-radius: 50%;
}

/**
 * Resetting the default focused styles on the number
 */
[aria-describedby="footnote-label"]:focus::after {
  outline: thin dotted;
  outline-offset: 2px;
}

[aria-label="Back to content"] {
  font-size: 0.8em;
}

/**
 * Highlight target note
 */
footer :target {
  background: var(--color-gray);
}

/**
 * Visually hidden yet accessible content
 */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  visibility: hidden;
  opacity: 0;
}

.more-articles-header {
  border-bottom: solid 2px var(--color-gray);
  padding-bottom: .4rem;
}

.more-article-header a {
  text-decoration: none;
  font-size: var(--font-size-md);
}

.more-date {
  display: block;
  color: var(--color-blue);
}

.recent-article {
  border-bottom: solid 2px var(--color-gray);
}

figure {
  display: table;
}

figure img {
  width: 100%;
}

figcaption {
  display: table-caption;
  caption-side: bottom;
  font-style: italic;
  color: color(var(--color-black) a(70%));
  font-size: var(--font-size-xs);
}
