@import "../base/theme.css";
@import "../base/theme-map.css";

.blog-section, .blog-header, .blog-footer {
  max-width: 650px;
  margin: auto;
}

@media (--lg-viewport) {
  .blog-section, .blog-header, .blog-footer {
    max-width: 700px;
  }
}

@media (--xl-viewport) {
  .blog-section, .blog-header, .blog-footer {
    max-width: 800px;
  }
}

.blog-header {
  padding: var(--font-size-md);
  padding-bottom: 0;
}

.blog-intro {
  font-size: var(--font-size-md);
/*  background-color: var(--color-gray);
  padding: var(--space-sm);*/
}

.author-image {
  margin-right: var(--space-md);
  width: 5em;
}

.author-bio {
  text-align: right;
}

@media (--sm-viewport) {
  .author-bio {
    text-align: left;
  }
}

.full-width {
  background: #f4eee9;
  text-align: center;
}

.blog-image {
  width: 100%;
}

@media (--md-viewport) {
  .blog-image {
    width: 40%;
  }
}

code {
  color: #d40087;
  background-color: color(var(--color-fuchsia) a(10%));
  padding: .12em;
}

pre {
  color: var(--color-fuchsia);
  background-color: var(--color-navy: #0f1c3f);
  padding: 1em;
}

code, pre {
  border-radius: var(--border-width-md);
  margin: 0 .2em;
}

.blog-footer {
  padding: var(--font-size-md);
  padding-top: 0;
}
