@import "../base/theme.css";
@import "../base/theme-map.css";

.Masthead {
  margin: 0;
  /*padding-bottom: 1.5em;*/
  color: var(--color-white);
}

.Masthead a {
  text-decoration: none;
  color: inherit;
}

.Masthead-nav {
  background: var(--color-blue);
}

.js .Masthead-nav {
  display: flex;
  max-height: 0;
  overflow: hidden;
  align-items: flex-end;
  transition: max-height 500ms easeInOutQuad;
}

.js .Masthead-nav.is-open {
  max-height: 29em;
}

.Masthead-links {
  margin: 0;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  background-image: linear-gradient(to bottom, color(var(--color-navy) a(60%)), color(var(--color-navy) a(0)));
}

.Masthead-links > li {
  position: relative;
}

/*.Masthead-links > li::before {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: calc(10% / -2);
  display: block;
  width: 10%;
  height: var(--border-width-sm);
  content: "";
  background: color(var(--color-white) a(40%));
}*/

.Masthead-links > li:first-child::before {
  display: none;
}

.Masthead-link {
  display: block;
  padding: var(--space-md) 0;
  background-color: color(var(--color-navy) a(0%));
  transition: background-color 300ms ease;
}

.Masthead-link:matches(:focus, :hover) {
  background-color: color(var(--color-navy) a(20%));
}

.Masthead-link-heading {
  font-weight: var(--font-weight-semibold);
}

.Masthead-link-description {
  margin-top: calc(var(--space-sm) / var(--ms-ratio));
  color: color(var(--color-white) a(80%));
}

.Masthead-main {
  position: relative;
  margin: 0;
  text-align: center;
  background: #253c7e;
}

.Masthead-logo {
  width: 4em;
  height: 4em;
  transition: transform 300ms easeOutCirc;
}

.Masthead-logo:matches(:focus, :hover) {
  transform: scale(1.1);
}

.Masthead-control {
  position: absolute;
  top: 50%;
  right: var(--space-sm);
  margin: 0;
  line-height: var(--line-height-xs);
  text-transform: uppercase;
  transform: translateY(-50%);
  transition: all 300ms ease;
}

/*.Masthead-control:matches(:focus, :hover) {
  color: var(--color-blue);
  background-color: var(--color-white);
}*/

.Hero {
  background-color: var(--color-blue);
  background-image: url("/assets/toolkit/images/sandbox/clouds.svg");
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 38em;
  text-align: center;
  color: var(--color-white);
  padding-bottom: 3rem;
}

.Hero-header {
  padding: var(--space-lg) 0;
}

.Hero-icon {
  max-width: 1.6rem;
}

.Footer {
  text-align: center;
}

.Footer-cta-headline {
  font-size: var(--font-size-lg);
  margin-bottom: var(--space-sm);
}

/*This class name sucks*/
.Footer-lower {
  text-align: left;
  background-color: var(--color-gray);
  min-height: 100vh;
}

.Footer-address {
  max-width: 24rem;
  margin: auto;
  padding-left: 1rem;
}

@media (--sm-viewport) {
  .Footer-address {
    padding-left: 0;
  }
}

.Footer-logo {
  fill: var(--color-blue);
  width: 4rem;
  height: 4rem;
  float: right;
}

/*@media (--sm-viewport) {
  .Footer-logo {
    float: right;
  } 
}*/

@media (--lg-viewport) {
  .Masthead {
    padding-bottom: 0;
    background: #253c7e;
    justify-content: center;
  }
  .Masthead-nav {
    overflow: visible !important;
    align-items: flex-start !important;
  }
  .Masthead, .Masthead-links {
    display: flex;
    background-image: none;
  }
  .Masthead-links {
    margin-top: var(--space-md);
    margin-left: var(--space-md);
  }
  .Masthead-link {
    display: inline;
  }
  .Masthead-link-heading {
    padding: 0 var(--space-sm);
  }
}
