@import "../base/theme.css";
@import "../base/theme-map.css";

.Thumbnail--large {
  width: 7rem;
  height: 7rem;
}

@media (--md-viewport) {
  .Thumbnail--large {
    width: 11rem;
    height: 11rem;
  }
}

@media (--sm-viewport) {
  .u-sm-columns2 {
    columns: 2;
    column-gap: var(--space-lg);
  }
}

@media (--lg-viewport) {
  .u-lg-columns1 {
    columns: 1 !important;
  }
}

.u-avoidBreak {
  break-inside: avoid;
}
