@import "../base/theme.css";
@import "../base/theme-map.css";

.Header {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;

  margin-top: 0; /* Override lobotomized owl */
  padding: var(--space-sm);
  background-color: var(--color-blue);
}

@media (--sm-viewport) {
  .Header {
    align-items: baseline;
    justify-content: space-between;
  }
}

.Header a {
  transition: color var(--motion-duration-md);
}

.Logo {
  padding: 0 var(--space-sm);
}

.Logo-link {
  font-size: var(--font-size-md);
  color: white;
}

.MainNav {
  margin-top: 0; /*Override lobotomized owl */
}

.MainNav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0; /* Override default list styles */
  list-style: none; /* Override default list styles */
}

.MainNav-list span {
  display: none;
}

.MainNav-list:last-child {
  margin-top: 0;
}

@media (--sm-viewport) {
  .MainNav-list span {
    display: inline;
  }
}

.MainNav-link {
  display: block;
  padding: 0 var(--space-sm);
  text-decoration: none;
  color: white;
}

@media (--md-viewport) {
  .MainNav-link {
    padding: 0 var(--space-md);
  }
}
