@import "../base/_config.css";

.Masonry {
  margin-left: auto;
  margin-right: auto;
  max-width: 30em;

  @supports (display: grid) {
    display: grid;
    grid-gap: var(--space-md);
    grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
    justify-content: center;
    max-width: none;
  }
}

.Masonry > * + * {
  margin-top: var(--space-md);

  @supports (display: grid) {
    margin-top: 0;
  }
}

.Card {
  background: var(--color-white);
  color: var(--link-color);
  display: flex;
  flex-direction: column;
  transform-origin: center;
  transition: transform 0.2s easeOutQuad;
  position: relative;
}

.Card:matches(:--enter) {
  transform: scale(1.05);
}

.Card-main {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: var(--space-md);
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.Card-main.Card-main:matches(:--enter, :active) {
  color: var(--link-hover-color);
}

.Card-icon {
  width: calc(var(--ms5) * 1em);
  position: absolute;
  top: 0;
  right: 0;
  margin: var(--space-md);
}

.Card-summary {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
  overflow: hidden;
}

.Card-summary::before {
  content: "";
  float: right;
  height: calc(var(--ms5) * 1em);
  margin-left: var(--space-xs);
  width: calc(var(--ms5) * 1em);
}

.Card-meta {
  align-items: center;
  background-color: color(var(--color-gray) l(+5%));
  color: #657BAE;
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-xs);
  padding: var(--space-sm) var(--space-md);
}

.Card-metaLink:not(:hover, :focus, :active) {
  text-decoration: none;
}
