@import "../base/theme.css";
@import "../base/theme-map.css";

@media (--xl-viewport) {
  html {
    font-size: calc(var(--ms1) * 1rem);
  }
}

.u-bigOlContainer {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

.BigOlMasthead {
  font-size: calc(1em * var(--ms5));
}

@media (--sm-viewport) {
  .BigOlMasthead {
    font-size: calc(1em * var(--ms6));
  }
}

.HotDate {
  background: #fff;
  border: 3px solid currentColor;
  border-radius: 0.25em;
  color: var(--color-navy);
  display: inline-flex;
  flex-direction: column;
  font-weight: 600;
  min-height: 4.5em;
  min-width: 4.5em;
  text-align: center;
}

.HotDate-header {
  background: var(--color-navy);
  border-bottom: 3px solid transparent;
  color: var(--color-white);
  line-height: var(--line-height-sm);
}

.HotDate-body {
  font-size: calc(1em * var(--ms3));
  line-height: var(--line-height-xs);
  margin: auto 0;
}

.HotDate--range .HotDate-body {
  font-size: calc(1em * var(--ms1));
}

.HotDate--alt .HotDate-header {
  background-color: #e90d4e;
}

.SecretLink,
.SecretLink:matches(:hover, :focus, :active) {
  color: inherit;
  text-decoration: inherit;
}

.SecretLink-beanSpiller {
  color: var(--color-blue);
}

.SecretLink:matches(:active, :focus, :hover) .SecretLink-beanSpiller {
  color: var(--link-hover-color);
}

.u-decorationNone {
  text-decoration: none;
}

.u-marginSidesMinusMd {
  margin-left: calc(var(--space-md) * -1);
  margin-right: calc(var(--space-md) * -1);
}

@media (--sm-viewport) {
  .Thumbnail--rounded\@sm {
    border-radius: var(--control-radius);
  }
}
