@import "../base/theme.css";
@import "../base/theme-map.css";

img {
  max-width: 100%;
}

.Thumbnail {
  max-width: 100%;
}

.Thumbnail > img {
  max-width: none;
}

.u-maxHeight50 {
  max-height: 50vh !important;
}

.u-maxHeight75 {
  max-height: 75vh !important;
}

.u-fitCover {
  object-fit: cover !important;
}
