@import "../base/_config.css";

:root {
  --space-xl: calc(var(--ms6) * 1rem);
}

img {
  max-width: 100%;
}

.Thumbnail {
  max-width: 100%;
}

.Thumbnail > img {
  max-width: none;
}

.Pagination {
  display: flex;
  flex-wrap: wrap;
  height: 2em;
  list-style: none;
  overflow: hidden;
  padding-left: 0;
  position: relative;
}

.Pagination > * {
  flex: 1;
}

.Pagination--withPrevious {
  padding-left: 3em;
}

.Pagination--withNext {
  padding-right: 3em;
}

.Pagination-item {
  display: block;
  line-height: 1;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
}

.Pagination-item--previous,
.Pagination-item--next {
  position: absolute;
  top: 0;
}

.Pagination-item--previous {
  left: 0;
}

.Pagination-item--next {
  right: 0;
}

.LeaderDots {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

.LeaderDots-item {
  flex: 1 0 auto;
}

.LeaderDots-dots + .LeaderDots-item {
  &::before {
    content: "\00a0";
  }
}

.LeaderDots-dots {
  flex: 1 1 auto;
  overflow: hidden;

  &::before {
    content: "\00a0........................................................................................................................................................................................................";
  }
}

.u-rhythmXl > * + *:not(.u-flexExpandTop) {
  margin-top: var(--space-xl) !important;
}

.u-rhythmLg > * + *:not(.u-flexExpandTop) {
  margin-top: var(--space-lg) !important;
}

.u-rhythmSm > * + *:not(.u-flexExpandTop) {
  margin-top: var(--space-sm) !important;
}

.u-rhythmXs > * + *:not(.u-flexExpandTop) {
  margin-top: var(--space-xs) !important;
}

.u-marginSidesMinusMd {
  margin-left: calc(var(--space-md) * -1);
  margin-right: calc(var(--space-md) * -1);
}

.u-marginEndsXl {
  margin-top: var(--space-xl) !important;
  margin-bottom: var(--space-xl) !important;
}

.u-marginTopXl {
  margin-top: var(--space-xl) !important;
}

.u-marginBottomXl {
  margin-bottom: var(--space-xl) !important;
}

.u-borderRadius {
  border-radius: var(--control-radius);
}

.u-textGray {
  color: color(var(--color-gray) l(-25%) s(-15%));
}

@media (--sm-viewport) {
  .u-sm-inline {
    display: inline !important;
  }
}

.u-marginLeftXxs {
  margin-left: calc(var(--ms-4) / 1rem);
}

.u-textCoastGuard {
  color: color(var(--color-navy) l(+15%));
}
