@import "../base/theme.css";
@import "../base/theme-map.css";

@media (--xl-viewport) {
  html {
    font-size: calc(var(--ms1) * 1rem);
  }
}

.u-bigOlContainer {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

.u-bebehContainer {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.BigOlMasthead {
  font-size: calc(1em * var(--ms5));
}

@media (--sm-viewport) {
  .BigOlMasthead {
    font-size: calc(1em * var(--ms6));
  }
}

.HotDate {
  background: #fff;
  border: 3px solid currentColor;
  border-radius: 0.25em;
  display: inline-flex;
  flex-direction: column;
  font-weight: 600;
  line-height: var(--line-height-sm);
  min-height: 4.5em;
  min-width: 4.5em;
  text-align: center;
}

.HotDate-header {
  background: var(--color-fuchsia);
  border-bottom: 3px solid transparent;
  color: var(--color-white);
}

.HotDate-body {
  font-size: calc(1em * var(--ms3));
  margin: auto 0;
}

.HotDate--range .HotDate-body {
  font-size: calc(1em * var(--ms1));
}

.SecretLink,
.SecretLink:matches(:hover, :focus, :active) {
  color: inherit;
  text-decoration: inherit;
}

.SecretLink-beanSpiller {
  color: var(--color-blue);
}

.SecretLink:matches(:active, :focus, :hover) .SecretLink-beanSpiller {
  color: var(--link-hover-color);
}

.u-decorationNone {
  text-decoration: none;
}

.u-marginSidesMinusMd {
  margin-left: calc(var(--space-md) * -1);
  margin-right: calc(var(--space-md) * -1);
}

@media (--sm-viewport) {
  .Thumbnail--rounded\@sm {
    border-radius: var(--control-radius);
  }
}

.dividerAfter {
  display: flex;
  align-items: center;
}

.dividerAfter::after {
  content: "";
  border-top: var(--border-width-md) dashed var(--color-relative);
  margin-left: var(--space-xs);
  /*height: var(--border-width-md);
  min-height: var(--border-width-sm);
  background-color: var(--color-relative);*/
  opacity: var(--opacity-lower);
  width: 100%;
}

/*hr {
  height: var(--border-width-md);
  min-height: var(--border-width-sm);
  border-style: none;
  background-color: var(--color-relative);
  opacity: var(--opacity-lower);
}*/

.ODoyleRules > * + * {
  border-top: 1px solid color(var(--color-black) a(10%));
  margin-top: var(--space-xs);
  padding-top: var(--space-xs);
}

.Button--tertiary {
  border-color: currentColor;
}
