@import "../base/theme.css";
@import "../base/theme-map.css";

/* variables and such */

@custom-media --nav-visible-viewport (--sm-viewport);
@custom-media --nav-single-row-viewport (--lg-viewport);

/* new sky component */

.Sky {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.Sky + .Sky {
  margin-top: -1px;
}

.Sky--clouds {
  background-image: url("/assets/toolkit/images/sandbox/clouds-alt.svg");
  background-position: -60% bottom;
  background-repeat: repeat-x;
  background-size: calc(420 / 16em * 1.25);
  padding-bottom: calc(24 / 16em * 1.25);
}

.Sky-nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

@media (--nav-visible-viewport) {
  .Sky-nav {
    flex-wrap: nowrap;
  }
}

.Sky-nav-controls {
  list-style: none;
  margin-left: auto;
  order: 1;
  padding: var(--space-xs) var(--space-md);
  position: relative;
}

@media (--nav-visible-viewport) {
  .Sky-nav-controls {
    padding: 0;
    position: static;
  }
}

.Sky-nav-controls-skipToMain {
  position: absolute;
  right: var(--space-md);
}

@media (--nav-visible-viewport) {
  .Sky-nav-controls-skipToMain {
    right: 50%;
    top: var(--space-xs);
    transform: translateX(50%);
  }
}

@media (--nav-visible-viewport) {
  .Sky-nav-controls-skipToMenu {
    display: none;
  }
}

.Sky-nav-logo {
  color: var(--color-white) !important;
  padding: var(--space-xs) var(--space-md);
}

.Sky-nav-logo-img {
  display: block;
  height: 5em;
  width: 5em;
}

.Sky-nav-menu {
  background: linear-gradient(to bottom, #2b3a7d, var(--color-blue));
  display: none;
  flex: 100%;
  order: -1;
  padding-bottom: var(--space-md);
}

.Sky-nav-menu:target,
.Sky-nav-menu.is-open {
  display: block;
}

@media (--nav-visible-viewport) {
  .Sky-nav-menu {
    background: transparent;
    display: block;
    order: 0;
    padding-bottom: 0;
  }
}

.Sky-nav-menu-items {
  list-style: none;
  padding: 0;
}

@media (--nav-visible-viewport) {
  .Sky-nav-menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: var(--space-sm);
  }
}

@media (--nav-single-row-viewport) {
  .Sky-nav-menu-items {
    justify-content: space-between;
  }
}

.Sky-nav-menu-item {
  border-bottom: var(--control-stroke) solid color(var(--color-black) a(10%));
  color: var(--color-white) !important;
  display: block;
  font-size: var(--font-size-md);
  line-height: var(--line-height-xs);
  padding: var(--space-sm);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

@media (--nav-visible-viewport) {
  .Sky-nav-menu-item {
    border-bottom: 0;
  }
}

/* new page component */

.Page {
  background-color: var(--color-white);
}

/* possibly throwaway Portland component */

.Portland {
  padding-right: calc(140 / 16rem);
  position: relative;
}

.Portland::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  background-image: url("/assets/toolkit/images/sandbox/portland-alt.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(70 / 16rem);
  width: calc(140 / 16rem);
}

@media (--sm-viewport) {
  .Portland::before {
    right: var(--space-md);
  }
}

@media (--md-viewport) {
  .Portland::before {
    height: calc(70 / 16rem * 1.6667);
    width: calc(140 / 16rem * 1.6667);
  }
}
