@import "../base/theme.css";
@import "../base/theme-map.css";

.Masthead {
  margin: 0;
  display: flex;
  padding-top: 0.5em;
  padding-bottom: 2em;
  color: var(--color-white);
  background-color: var(--color-blue);
  background-image: url("/assets/toolkit/images/sandbox/clouds.svg");
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 38em;
  align-items: center;
  justify-content: center;
}

@media (--md-viewport) {
  .Masthead {
    padding-bottom: 80px;
    padding-top: 1.75em;
    background-size: auto;
  }
}

.Masthead a {
  text-decoration: none;
  color: inherit;
}

.Masthead-home,
.Masthead-nav {
  margin: 0;
}

.Masthead-logo {
  width: 4em;
  height: 4em;
}

@media (--md-viewport) {
  .Masthead-logo {
    width: 5em;
    height: 5em;
  }
}

.Masthead-links {
  padding: 0;
  list-style: none;
  columns: 2;
  column-gap: 0;
}

@media (--md-viewport) {
  .Masthead-links {
    columns: auto;
    font-size: 1.25em;
  }
}

.Masthead-links > li {
  margin-bottom: calc(var(--space-sm) / 2);
  margin-left: var(--space-md);
}

@media (--md-viewport) {
  .Masthead-links > li {
    display: inline-block;
  }
}
