@import "../base/theme.css";
@import "../base/theme-map.css";

.Masthead {
  margin: 0;
  padding-bottom: 1.5em;
  color: var(--color-white);
  background-color: var(--color-blue);
  background-image: url("/assets/toolkit/images/sandbox/clouds.svg");
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 38em;
}

@media (--md-viewport) {
  .Masthead {
    padding-bottom: 80px;
    background-size: auto;
  }
}

.Masthead a {
  text-decoration: none;
  color: inherit;
}

.js .Masthead-nav {
  display: flex;
  max-height: 0;
  overflow: hidden;
  align-items: flex-end;
  transition: max-height 500ms easeInOutQuad;
}

.js .Masthead-nav.is-open {
  max-height: 29em;
}

.Masthead-links {
  margin: 0;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
  background-image: linear-gradient(to bottom, color(var(--color-navy) a(60%)), color(var(--color-navy) a(0)));
}

.Masthead-links > li {
  position: relative;
}

.Masthead-links > li::before {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: calc(10% / -2);
  display: block;
  width: 10%;
  height: var(--border-width-sm);
  content: "";
  background: color(var(--color-white) a(40%));
}

.Masthead-links > li:first-child::before {
  display: none;
}

.Masthead-link {
  display: block;
  padding: var(--space-md) 0;
  background-color: color(var(--color-navy) a(0%));
  transition: background-color 300ms ease;
}

.Masthead-link:matches(:focus, :hover) {
  background-color: color(var(--color-navy) a(20%));
}

.Masthead-link-heading {
  font-weight: var(--font-weight-semibold);
}

.Masthead-link-description {
  margin-top: calc(var(--space-sm) / var(--ms-ratio));
  color: color(var(--color-white) a(80%));
}

.Masthead-main {
  position: relative;
  margin: 0;
  text-align: center;
}

.Masthead-logo {
  width: 4em;
  height: 4em;
  transition: transform 300ms easeOutCirc;
}

.Masthead-logo:matches(:focus, :hover) {
  transform: scale(1.1);
}

.Masthead-control {
  position: absolute;
  top: 50%;
  right: var(--space-sm);
  margin: 0;
  padding: 0.5em 0.75em;
  line-height: var(--line-height-xs);
  border: var(--border-width-sm) solid color(var(--color-white) a(40%));
  border-radius: var(--border-radius-md);
  transform: translateY(-50%);
  transition: all 300ms ease;
}

.Masthead-control:matches(:focus, :hover) {
  color: var(--color-blue);
  background-color: var(--color-white);
}
