@import "../base/theme.css";
@import "../base/theme-map.css";

@media (--sm-viewport) {
  .Thumbnail--rounded\@sm {
    border-radius: var(--control-radius);
  }
}

.SecretLink,
.SecretLink:matches(:hover, :focus, :active) {
  color: inherit;
  text-decoration: inherit;
}

.SecretLink-beanSpiller {
  color: var(--color-blue);
}

.SecretLink:matches(:active, :focus, :hover) .SecretLink-beanSpiller {
  color: var(--link-hover-color);
}
