@import "../base/theme.css";
@import "../base/theme-map.css";

.Sky {
  background-color: var(--color-blue);
  background-image: url("/assets/toolkit/images/sandbox/clouds.svg");
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 38em;
  color: var(--color-white);
  padding-bottom: 2em;
}

.Sky a {
  color: inherit;
}

.Header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.Header-logo {
  font-size: 5em;
  line-height: 1;
  margin-left: var(--space-md);
}

.Header-menuToggle {
  margin-left: auto;
  margin-right: var(--space-md);
}

.Header-menuToggle .Button {
  border-color: color(var(--color-white) a(20%));
}

.Header-menu {
  max-height: 0;
  order: -1;
  overflow: hidden;
  /*transition: all 500ms easeInOutQuad;*/
  width: 100%;

  display: flex;
  align-items: flex-end;
}

.Header-menu.use-css {
  transition: all 500ms easeInOutQuad;
}

.Header-menu:target,
.Header-menu.is-open {
  max-height: 24em;
}

.Header-menu.columned:target,
.Header-menu.columned.is-open {
  max-height: 12em;
}

.Header-menu.will-open {
  position: absolute;
  transform: translateY(-100%);
}

.Header-menu ul {
  /*background-image: linear-gradient(to bottom, color(var(--color-navy) a(60%)), color(var(--color-navy) a(0)));*/
  /*columns: 2;*/
  /*column-gap: 0;*/
  list-style: none;
  /*padding: var(--space-xs) 0;*/
  padding: 0;
  width: 100%;
}

.Header-menu.columned ul {
  display: flex;
  flex-wrap: wrap;
}

.Header-menu.columned li {
  width: 50%;
}

.Header-menu a {
  display: block;
  font-size: var(--font-size-md);
  line-height: 1;
  padding: var(--space-md) 0 calc(var(--space-md) * 1.1);
  text-align: center;
  text-decoration: none;
}

.Header-menu li:nth-child(1) a {
  background-color: color(var(--color-navy) a(72%));
}

.Header-menu li:nth-child(2) a {
  background-color: color(var(--color-navy) a(60%));
}

.Header-menu li:nth-child(3) a {
  background-color: color(var(--color-navy) a(48%));
}

.Header-menu li:nth-child(4) a {
  background-color: color(var(--color-navy) a(36%));
}

.Header-menu li:nth-child(5) a {
  background-color: color(var(--color-navy) a(24%));
}

.Header-menu li:nth-child(6) a {
  background-color: color(var(--color-navy) a(12%));
}

.Sky-content {
  padding: var(--space-lg) var(--space-md) var(--space-md);
}

.Sky-content {
  font-size: 1.125em;
}

.Sky-content h1 {
  font-size: 2.666666667em;
}

/*.Header-menu ul {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}

.Header-menu li {
  width: 100%;
}*/
