@import "../base/theme.css";
@import "../base/theme-map.css";

:root {
  --space-xl: calc(var(--ms6) * 1rem);
}

@media (--xl-viewport) {
  html {
    font-size: calc(var(--ms1) * 1rem);
  }
}

img {
  max-width: 100%;
}

.Thumbnail {
  max-width: 100%;
}

.Thumbnail > img {
  max-width: none;
}

.u-bigOlContainer {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

.u-bebehContainer {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.BigOlMasthead {
  font-size: calc(1em * var(--ms5));
}

@media (--sm-viewport) {
  .BigOlMasthead {
    font-size: calc(1em * var(--ms6));
  }
}

.Sky .FloatLabel-label {
  background: var(--color-blue);
  color: var(--color-white);
}

.Sky .FloatLabel.is-empty .FloatLabel-label {
  color: var(--color-white);
}

.Sky .Input {
  background: transparent;
  border-color: color(var(--color-blue) l(+10%));
  color: var(--color-white);
}

.Sky .Input:focus {
  border-color: var(--color-white);
}

.Button--heyNameMe {
  background: color(var(--color-navy) l(+30%));
  color: var(--color-white);
}

.Button--tertiary {
  border-color: currentColor;
}

.Pagination {
  display: flex;
  flex-wrap: wrap;
  height: 2em;
  list-style: none;
  overflow: hidden;
  padding-left: 0;
  position: relative;
}

.Pagination > * {
  flex: 1;
}

.Pagination--withPrevious {
  padding-left: 3em;
}

.Pagination--withNext {
  padding-right: 3em;
}

.Pagination-item {
  display: block;
  line-height: 1;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
}

.Pagination-item--previous,
.Pagination-item--next {
  position: absolute;
  top: 0;
}

.Pagination-item--previous {
  left: 0;
}

.Pagination-item--next {
  right: 0;
}

.u-rhythmXl > * + *:not(.u-flexExpandTop) {
  margin-top: var(--space-xl) !important;
}

.u-rhythmSm > * + *:not(.u-flexExpandTop) {
  margin-top: var(--space-sm) !important;
}

.u-rhythmXs > * + *:not(.u-flexExpandTop) {
  margin-top: var(--space-xs) !important;
}

.u-marginSidesMinusMd {
  margin-left: calc(var(--space-md) * -1);
  margin-right: calc(var(--space-md) * -1);
}

.u-marginEndsXl {
  margin-top: var(--space-xl) !important;
  margin-bottom: var(--space-xl) !important;
}

.u-marginTopXl {
  margin-top: var(--space-xl) !important;
}

.u-borderRadius {
  border-radius: var(--control-radius);
}

.u-textGray {
  color: color(var(--color-gray) l(-25%) s(-15%));
}

@media (--md-viewport) {
  .u-md-textSmaller {
    font-size: calc(1em / var(--ms1));
  }
}

@media (--sm-viewport) {
  .u-sm-inline {
    display: inline !important;
  }
}
