{{#extend "default"
 htmlclass="drizzle-Layout"
 bodyclass="drizzle-Layout-body"}}
  {{#content "stylesheets" mode="append"}}
    <link rel="stylesheet" href="{{baseurl}}/assets/drizzle/styles/drizzle.css">
  {{/content}}
  {{#content "wrapper"}}
    {{> drizzle.nav}}
    <div class="drizzle-Layout-main drizzle-u-cf">
      <div class="drizzle-u-pad drizzle-u-rhythm">
        {{#block "body"}}

        {{/block}}
      </div>
    </div>
  {{/content}}
  {{#content "scripts" mode="append"}}
    <script src="{{baseurl}}/assets/drizzle/scripts/drizzle.js"></script>
  {{/content}}
{{/extend}}
