---
name: Basic Button
order: 1
notes: |
  Useful for making `<a>`, `<button>` or `<input type="submit">` elements appear
  actionable. Basic state is very plain so this element can be really flexible
  when it comes to modifiers and inheriting link styles.
---

<a class="Button" href="#">Link</a>

<button class="Button" type="button">Button</button>

<input class="Button" type="submit" value="Input">
