---
name: Notifications Activated/Deactivate Button
notes: |
  Modifier class for the notifications activated/deactivate button.
---

{{#embed "patterns.components.button.base" class="Button--notifications"}}
  {{#content "content"}}
    <span class="Button-deactivateMessage">
      {{svg "icons/close" class="Icon"}}
      Mute Notifications
    </span>
    <span class="Button-activateMessage">
      {{svg "icons/check" class="Icon"}}
      Notifications
    </span>
  {{/content}}
{{/embed}}
