---
name: Plain Button
order: 2
notes: |
  Modifier class can be used for a plain, no background-color button. This modifier enhances the basic button with `:hover`, `:focus` and `:active` color changes.
---

<a class="Button Button--plain" href="#">Link</a>

<button class="Button Button--plain" type="button">Button</button>

<input class="Button Button--plain" type="submit" value="Input">
