/**
 * Button
 *
 * Based on SUIT CSS button component, but with visual deviations so that the
 * defaults are more useful for cloudfour.com.
 *
 * See: https://github.com/suitcss/components-button
 */

:root {
  --Button-color: var(--color-blue);
  --Button-border-color: var(--color-blue);
  --Button-border-radius: var(--control-radius);
  --Button-border-width: var(--control-stroke);
  --Button-disabled-opacity: var(--control-disabled-opacity);
  --Button-font-weight: var(--font-weight-semibold);
  --Button-padding: 0.5em 1em;
  --Button-transition-duration: var(--motion-duration-lg);
  --Button-transition-property: background-color, border-color, color;
  --Button-transition-timing-function: var(--motion-timing-function-default);
}

/**
 * 1. Normalize `box-sizing` across all elements that this component could be
 *    applied to.
 * 2. Inherit font styles from ancestor.
 * 3. Set font weight to semibold.
 * 4. Normalize `line-height`. For `input`, it can't be changed from `normal` in
 *    Firefox 4+.
 * 5. Make sure `input` will wrap text across multiple lines.
 * 6. Prevent button text from being selectable.
 * 7. Corrects inability to style clickable `input` types in iOS.
 */
@define-mixin Button {
  color: var(--Button-color);
  display: inline-block;
  box-sizing: border-box; /* 1 */
  padding: var(--Button-padding);
  font: inherit; /* 2 */
  font-weight: var(--Button-font-weight); /* 3 */
  line-height: normal; /* 4 */
  white-space: normal; /* 5 */
  text-align: center;
  text-decoration: none;
  border-width: var(--Button-border-width);
  border-style: solid;
  border-color: var(--Button-border-color);
  border-radius: var(--Button-border-radius);
  background: transparent;
  transition-duration: var(--Button-transition-duration);
  transition-property: var(--Button-transition-property);
  transition-timing-function: var(--Button-transition-timing-function);
  cursor: pointer;
  user-select: none; /* 6 */

  -webkit-appearance: none; /* 7 */

  /**
  * Remove excess padding and border in Firefox 4+
  */

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  /**
  * Work around a Firefox/IE bug where the transparent `button` background
  * results in a loss of the default `button` focus styles.
  */

  &:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
  }

 /**
  * UI states
  */

  &:matches(:--enter, :active) {
    text-decoration: none;
  }

  &:matches(:disabled, .is-disabled) {
    opacity: var(--Button-disabled-opacity);
    cursor: default;
  }

  &:--enter {
    color: color-mod(var(--Button-color) l(+10%));
    border-color: color-mod(var(--Button-border-color) l(+10%));
  }

  &:active {
    color: color-mod(var(--Button-color) shade(10%));
    border-color: color-mod(var(--Button-border-color) shade(10%));
  }
}

.Button {
  @mixin Button;
}


/**
 * Modifier: default buttons
 */

:root {
  --Button-default-background-color: var(--color-blue);
  --Button-default-color: var(--color-white);
}

@define-mixin Button--default {
  color: var(--Button-default-color);
  border-color: color-mod(var(--Button-default-background-color) shade(10%));
  background-color: var(--Button-default-background-color);

  &:--enter {
    color: var(--Button-default-color);
    border-color: color-mod(var(--Button-default-background-color) shade(5%));
    background-color: color-mod(var(--Button-default-background-color) l(+5%));
  }

  &:active {
    color: var(--Button-default-color);
    border-color: color-mod(var(--Button-default-background-color) shade(10%));
    background-color: color-mod(var(--Button-default-background-color) shade(10%));
  }
}

.Button--default {
  @mixin Button--default;
}

@define-mixin Button--defaultDark {
  color: var(--Button-default-color);
  border-color: color-mod(var(--Button-default-background-color) l(+10%));
  background-color: var(--Button-default-background-color);

  &:--enter {
    color: var(--Button-default-color);
    border-color: color-mod(var(--Button-default-background-color) l(+20%));
    background-color: color-mod(var(--Button-default-background-color) l(+5%));
  }

  &:active {
    color: var(--Button-default-color);
    border-color: color-mod(var(--Button-default-background-color) l(+10%));
    background-color: color-mod(var(--Button-default-background-color) shade(10%));
  }
}

.Button--defaultDark {
  @mixin Button--defaultDark;
}


/**
 * Modifier: primary buttons
 */

:root {
  --Button-primary-background-color: #dd117d;
  --Button-primary-color: var(--color-white);
  --Button-primaryDark-background-color: color-mod(var(--color-navy) l(+30%));
}

.Button--primary,
.Button--primary:matches(:--enter, :active) {
  color: var(--Button-primary-color);
  border-color: color-mod(var(--Button-primary-background-color) shade(10%));
  background-color: var(--Button-primary-background-color);
}

.Button--primary:matches(:--enter) {
  border-color: color-mod(var(--Button-primary-background-color) shade(5%));
  background-color: color-mod(var(--Button-primary-background-color) l(+5%));
}

.Button--primary:active {
  /* background-color: color-mod(var(--Button-primary-background-color) shade(10%)); */
}

.Button--primaryDark,
.Button--primaryDark:matches(:--enter, :active) {
  background: var(--Button-primaryDark-background-color);
  color: var(--Button-primary-color);
  border-color: color-mod(var(--Button-primaryDark-background-color) shade(10%));
}

.Button--primaryDark:matches(:--enter) {
  border-color: color-mod(var(--Button-primaryDark-background-color) shade(5%));
  background-color: color-mod(var(--Button-primaryDark-background-color) l(+5%));
}

.Button--primaryDark:active {
  background-color: color-mod(var(--Button-primaryDark-background-color) shade(10%));
}

/**
 * Modifier: positive buttons
 */

:root {
  --Button-positive-background-color: #068362;
  --Button-positive-color: var(--color-white);
}

.Button--positive,
.Button--positive:matches(:--enter, :active) {
  color: var(--Button-positive-color);
  border-color: color-mod(var(--Button-positive-background-color) shade(10%));
  background-color: var(--Button-positive-background-color);
}

.Button--positive:matches(:--enter) {
  border-color: color-mod(var(--Button-positive-background-color) shade(5%));
  background-color: color-mod(var(--Button-positive-background-color) l(+5%));
}

.Button--positive:active {
  background-color: color-mod(var(--Button-positive-background-color) shade(10%));
}

/**
 * Modifier: negative button
 */

:root {
  --Button-negative-background-color: var(--color-red);
  --Button-negative-color: var(--color-white);
}

.Button--negative,
.Button--negative:matches(:--enter) {
  color: var(--Button-negative-color);
  border-color: color-mod(var(--Button-negative-background-color) shade(15%));
  background-color: var(--Button-negative-background-color);
}

.Button--negative:matches(:--enter) {
  border-color: color-mod(var(--Button-negative-background-color) shade(5%));
  background-color: color-mod(var(--Button-negative-background-color) l(+5%));
}

.Button--negative:active {
  background-color: color-mod(var(--Button-negative-background-color) shade(10%));
}
