/**
 * Calendar Date
 */
:root {
  --CalendarDate-background: var(--color-white);
  --CalendarDate-border-radius: var(--control-radius);
  --CalendarDate-border-width: var(--border-width-md);
  --CalendarDate-font-weight: var(--font-weight-semibold);
  --CalendarDate-line-height: var(--line-height-sm);
  --CalendarDate-min-height: 4.5em;
  --CalendarDate-min-width: 4.5em;

  --CalendarDate-header-background: var(--color-fuchsia);
  --CalendarDate-header-border-bottom-width: var(--border-width-md);
  --CalendarDate-header-color: var(--color-white);

  --CalendarDate-body-font-size: var(--font-size-xl);
  --CalendarDate-body-range-font-size: var(--font-size-md);
}

.CalendarDate {
  background: var(--CalendarDate-background);
  border: var(--CalendarDate-border-width) solid currentColor;
  border-radius: var(--CalendarDate-border-radius);
  display: inline-flex;
  flex-direction: column;
  font-weight: var(--CalendarDate-font-weight);
  line-height: var(--CalendarDate-line-height);
  min-height: var(--CalendarDate-min-height);
  min-width: var(--CalendarDate-min-width);
  text-align: center;
}

.CalendarDate-header {
  background: var(--CalendarDate-header-background);
  border-bottom: var(--CalendarDate-header-border-bottom-width) solid transparent;
  color: var(--CalendarDate-header-color);
}

.CalendarDate-body {
  font-size: var(--CalendarDate-body-font-size);
  margin: auto 0;
}

.CalendarDate--range .CalendarDate-body {
  font-size: var(--CalendarDate-body-range-font-size);
}
