/** @define Card */

:root {
  --Card-bg: var(--color-white);
  --Card-border-color: var(--color-gray);
  --Card-border-width: var(--border-width-md);
  --Card-main-color: var(--link-color);
  --Card-main-color-hover: var(--link-hover-color);
  --Card-mainObject-size: calc(var(--ms5) * 1em);
  --Card-meta-bg: color(var(--color-gray) l(+5%));
  --Card-meta-color: #657BAE;
  --Card-pad: var(--space-md);
  --Card-pad-sm: var(--space-sm);
}

.Card {
  background-color: var(--Card-bg);
  border: var(--Card-border-width) solid var(--Card-border-color);
  display: flex;
  flex-direction: column;
  transform-origin: center;
  transition: transform 0.2s easeInOutQuad;
}

.Card:matches(:--enter) {
  transform: scale(1.05);
}

.Card-main {
  align-items: center;
  display: flex;
  flex: 1;
  padding: var(--Card-pad);
  position: relative;
  text-decoration: none;
}

.Card-main.Card-main {
  color: var(--Card-main-color);

  &:matches(:active, :--enter) {
    color: var(--Card-main-color-hover);
  }
}

.Card-mainObject {
  height: var(--Card-mainObject-size);
  position: absolute;
  right: var(--Card-pad);
  top: var(--Card-pad);
  width: var(--Card-mainObject-size);
}

.Card-mainContent {
  font: inherit;
}

.Card-mainObject + .Card-mainContent::before {
  content: "";
  float: right;
  margin-left: var(--Card-pad-sm);
  height: var(--Card-mainObject-size);
  width: var(--Card-mainObject-size);
}

.Card-meta {
  background-color: var(--Card-meta-bg);
  color: var(--Card-meta-color);
  padding: var(--Card-pad-sm) var(--Card-pad);
}

.Card-metaLink {
  color: inherit;
}

.Card-metaLink:not(:hover, :focus, :active) {
  text-decoration: none;
}
