:root {
  --CmsContent-space: calc(var(--ms1)  * 1rem);
}

.CmsContent {}

.CmsContent pre {
  padding: var(--CmsContent-space);
  margin-right: calc(-1 * var(--CmsContent-space));
  margin-left: calc(-1 * var(--CmsContent-space));
}
