:root {

}

.DotLeaders {
  display: flex;
  white-space: nowrap;
}

.DotLeaders-start {
  flex: 1 1 auto;
  overflow-x: hidden;
}

.DotLeaders-start::after {
  content: "\00a0"
    "\2024\2024\2024\2024\2024\2024\2024\2024\2024\2024"
    "\2024\2024\2024\2024\2024\2024\2024\2024\2024\2024"
    "\2024\2024\2024\2024\2024\2024\2024\2024\2024\2024"
    "\2024\2024\2024\2024\2024\2024\2024\2024\2024\2024"
    "\2024\2024\2024\2024\2024\2024\2024\2024\2024\2024"
    "\2024\2024\2024\2024\2024\2024\2024\2024\2024\2024"
    "\2024\2024\2024\2024\2024\2024\2024\2024\2024\2024"
    "\2024\2024\2024\2024\2024\2024\2024\2024\2024\2024"
    "\2024\2024\2024\2024\2024\2024\2024\2024\2024\2024"
    "\2024\2024\2024\2024\2024\2024\2024\2024\2024\2024"
    "\2024\2024\2024\2024\2024\2024\2024\2024\2024\2024"
    "\2024\2024\2024\2024\2024\2024\2024\2024\2024\2024"
    "\2024\2024\2024\2024\2024\2024\2024\2024\2024\2024"
    "\2024\2024\2024\2024\2024\2024\2024\2024\2024\2024"
    "\2024\2024\2024\2024\2024\2024\2024\2024\2024\2024"
    "\2024\2024\2024\2024\2024\2024\2024\2024\2024\2024"
    "\2024\2024\2024\2024\2024\2024\2024\2024\2024\2024"
    "\2024\2024\2024\2024\2024\2024\2024\2024\2024\2024"
    "\2024\2024\2024\2024\2024\2024\2024\2024\2024\2024"
    "\2024\2024\2024\2024\2024\2024\2024\2024\2024\2024";
}

.DotLeaders-end {
  flex: 1 0 auto;
  text-align: right;
}

.DotLeaders-end::before {
  content: "\00a0";
}
