:root {
  --Figure-caption-color: color(var(--color-gray) blend(var(--color-black) 50%));
  --Figure-caption-font-style: italic;
  --Figure-caption-margin: var(--space-xs);
  --Figure-caption-text-align: center;
}

/**
 * A container for visual media with accompanying caption text. Intended to be
 * used with `<figure>` and `<figcaption>`. Defined as a mixin so as to be easily reused for Wordpress generated classes for `<figure>` and `<figcaption>`
 *
 * 1. Self-contain and center images.
 */

@define-mixin Figure {
  display: block;

  & > img { /* 1 */
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
}

.Figure {
  @mixin Figure;
}

@define-mixin Figure-caption {
  color: var(--Figure-caption-color);
  font-style: var(--Figure-caption-font-style);
  margin-top: var(--Figure-caption-margin);
  text-align: var(--Figure-caption-text-align);
}

.Figure-caption {
  @mixin Figure-caption;
}
