/**
 * FloatLabel
 */

:root {
  --FloatLabel-background-color: var(--color-white);
  --FloatLabel-color-empty: color(var(--base-color) a(50%));
  --FloatLabel-color: var(--color-blue);
  --FloatLabel-font-size: 0.777777778em;
  --FloatLabel-font-weight: var(--font-weight-semibold);
  --FloatLabel-offset: var(--control-stroke);
  --FloatLabel-space-x: 0.75rem;
  --FloatLabel-space-y: 0.5rem;
  --FloatLabel-transition-duration: var(--motion-duration-sm);
  --FloatLabel-transition-timing-function: var(--motion-timing-function-default);
}

.FloatLabel {
  position: relative;
  display: block;
}

.FloatLabel-label {
  position: absolute;
  top: -0.5em;
  left: var(--FloatLabel-space-x);
  margin: 0;
  padding: 0 var(--FloatLabel-offset);
  font-size: var(--FloatLabel-font-size);
  font-weight: var(--FloatLabel-font-weight);
  line-height: 1;
  color: var(--FloatLabel-color);
  background: var(--FloatLabel-background-color);
  transition: all var(--FloatLabel-transition-duration) var(--FloatLabel-transition-timing-function);
  user-select: none;
}

.FloatLabel.is-empty .FloatLabel-label {
  top: var(--FloatLabel-offset);
  left: var(--FloatLabel-offset);
  padding: var(--FloatLabel-space-y) var(--FloatLabel-space-x);
  font: inherit;
  line-height: normal;
  color: var(--FloatLabel-color-empty);
  background: transparent;
  cursor: text;
}

/**
 * Modifier: Dark backgrounds
 */

:root {
  --FloatLabel-dark-background-color: var(--color-blue);
  --FloatLabel-dark-color: var(--color-white);
  --FloatLabel-dark-color-empty: color(var(--FloatLabel-dark-background-color) s(+10%) l(90%));
}

.FloatLabel--dark .FloatLabel-label {
  background: var(--FloatLabel-dark-background-color);
  color: var(--FloatLabel-dark-color);
}

.FloatLabel--dark.is-empty .FloatLabel-label {
  color: var(--FloatLabel-dark-color-empty);
}
