/** @define FootnoteLink */

/**
 * FootnoteLink-size: Base size on ratio.
 * FootnoteLink-border-radius: If we used `50%`, wider elements would look like
 *  ovals. Using a value based on the size (1) will maintain more of a pill shape.
 * FootnoteLink-line-height-offset: Base offset on `line-height` (since this
 *  will be used to avoid unnecessary shifts in `line-height`).
 */

:root {
  --FootnoteLink-size: calc(var(--ratio) * 1em);
  --FootnoteLink-border-radius: calc(var(--FootnoteLink-size) / 2);
  --FootnoteLink-line-height-offset: calc((var(--line-height-md) - 1) / -2em);

  --FootnoteLink-border-color: var(--color-gray);
  --FootnoteLink-border-width: var(--border-width-sm);
  --FootnoteLink-font-weight: var(--font-weight-semibold);
  --FootnoteLink-padding: 0 0.25em;
  --FootnoteLink-transition-duration: var(--motion-duration-lg);
  --FootnoteLink-transition-timing-function: var(--motion-timing-function-default);

  --FootnoteLink-hover-border-color: var(--color-relative);
}

.FootnoteLink {
  position: relative;
  margin: var(--FootnoteLink-line-height-offset) 0;
  display: inline-block;
  min-width: var(--FootnoteLink-size);
  padding: var(--FootnoteLink-padding);
  font-weight: var(--FootnoteLink-font-weight);
  line-height: var(--FootnoteLink-size);
  text-align: center;
  text-decoration: none;
  border: var(--FootnoteLink-border-width) solid var(--FootnoteLink-border-color);
  border-radius: var(--FootnoteLink-border-radius);
  transition: all var(--FootnoteLink-transition-duration) var(--FootnoteLink-transition-timing-function);
}

.FootnoteLink:matches(:focus, :hover) {
  border-color: var(--FootnoteLink-hover-border-color);
}
