/** @define FootnoteLink */

:root {
  --FootnoteLink-size: calc(var(--ratio) * 1em);
  --FootnoteLink-border-width: calc(2 / 16 * 1em);
  --FootnoteLink-padding: 0 0.25em;
  --FootnoteLink-border-color: var(--color-gray);
  --FootnoteLink-transition-duration: var(--motion-duration-lg);
  --FootnoteLink-transition-timing-function: var(--motion-timing-function-default);
  --FootnoteLink-hover-border-color: var(--color-relative);
}

/**
 * 1. Subtract total vertical `border-width` value from `line-height` to retain
 *    "perfect" circle for single-digit values.
 */
.FootnoteLink {
  margin: 0;
  display: inline-block;
  box-sizing: border-box;
  min-width: var(--FootnoteLink-size);
  padding: var(--FootnoteLink-padding);
  font-weight: var(--font-weight-semibold);
  line-height: calc(var(--FootnoteLink-size) - var(--FootnoteLink-border-width) * 2); /* 1 */
  text-align: center;
  text-decoration: none;
  border: var(--FootnoteLink-border-width) solid var(--FootnoteLink-border-color);
  border-radius: calc(var(--FootnoteLink-size) / 2);
  transition: all var(--FootnoteLink-transition-duration) var(--FootnoteLink-transition-timing-function);
}

.FootnoteLink:matches(:focus, :hover) {
  border-color: var(--FootnoteLink-hover-border-color);
}
