/**
 * Subheads with permalinks
 */

/**
 * Allow child elements to absolute-position themselves relative to this
 * containing element.
 */

.HashHeading {
  position: relative;
}

/**
 * Headings may contain classes or inline styles, so we're using a max-width
 * media query and targeting the elements themselves (instead of our usual,
 * cleaner BEM class naming conventions) to avoid collisions or messy attribute
 * writing in our CMS.
 */

@media (--sm-max-viewport) {
  /**
   * 1. Let the permalink anchor follow this element inline.
   * 2. Put some space between the heading and the permalink anchor. We do this
   *    here so anchors that wrap to a new line don't have extra left margin.
   */

  .HashHeading-heading,
  .HashHeading > :--headings {
    display: inline; /* 1 */
    margin-right: calc(var(--ms-6) * 1rem); /* 2 */
  }
}

/**
 * 1. Allow negative margins (3) and position attributes (2) to adjust how this
 *    sits on the line.
 * 2. Bump this up just a smidge because alignment of iconography and text is
 *    really, really weird.
 * 3. Counteract padding (4) so icon doesn't disrupt the line-height or
 *    bounding box of the heading.
 * 4. Increase padding so anchor is easy to tap/click.
 * 5. Start out with vertical alignment, adjusting top (2) and margin (3) as
 *    necessary.
 * 6. Remove default link underline.
 * 7. Use a more subdued color by default.
 * 8. Makes the dimensions of this element more manageable.
 */

.HashHeading-link {
  position: relative; /* 1 */
  top: -2px; /* 2 */

  display: inline-block;

  margin: -1rem -0.5rem; /* 3 */
  padding: 0.5rem; /* 4 */

  vertical-align: middle; /* 5 */
  text-decoration: none; /* 6 */

  color: color-mod(var(--color-gray) l(-20%) s(-10%)); /* 7 */

  font-size: calc(var(--ms0) * 1rem);
  line-height: 1; /* 8 */
}

@media (--md-viewport) {
  /**
   * 1. Allow this element to be positioned in the left margin.
   * 2. Position halfway from the top of the container.
   * 3. Position all the way from the right, which places this out into the
   *    left margin.
   * 4. Override our earlier margin adjustments.
   * 5. Increase padding.
   * 6. Vertically center element.
   */

  .HashHeading-link {
    position: absolute; /* 1 */
    top: 50%; /* 2 */
    right: 100%; /* 3 */

    margin: 0; /* 4 */
    padding: calc(var(--ms-1) * 1rem); /* 5 */

    transform: translateY(-50%); /* 6 */
  }
}

/**
 * Heading Level Modifiers
 *
 * These exist for when proportional (em-based) spacing is desired, but the
 * containing HashHeading doesn't have the inner heading's font-size set.
 *
 * Mixins defined in base typography stylesheet.
 */

.HashHeading--h1,
.HashHeading--h2,
.HashHeading--h3,
.HashHeading--h4,
.HashHeading--h5,
.HashHeading--h6 {
  font: var(--heading-font);

  & > .HashHeading-heading,
  & > :--headings {
    font: inherit;
  }
}

.HashHeading--h1 {
  @mixin h1;
}

.HashHeading--h2 {
  @mixin h2;
}

.HashHeading--h3 {
  @mixin h3;
}

.HashHeading--h5,
.HashHeading--h6 {
  @mixin h5;
}
