/**
 * Icon
 *
 * Inline SVG icon component. Use currentColor in SVGs themselves to control
 * which elements inherit color.
 */

:root {
  --Icon-line-height-offset: calc((var(--line-height) - 1) / -2em);
  --Icon-size: 1em;
  --Icon-size-lg: calc(var(--Icon-size) * var(--ratio));
}

/**
 * 1. Because vertical alignment is funny, icons always appear about a pixel too
 *    low when they're the same height as the current `font-size`. Using `top`
 *    frees up `margin-top` for adjustments we'll be applying to modifiers.
 * 2. Base dimensions on the current `font-size` for leaner adjustments.
 */
.Icon {
  position: relative;
  top: -1px; /* 1 */
  margin: 0;
  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: var(--Icon-size); /* 2 */
  vertical-align: middle;
}

/**
 * 1. Negative vertical margins prevent the icon from disrupting the surrounding
 *    content's `line-height`.
 * 2. Actual size adjustment occurs via `font-size`.
 */

.Icon--large {
  margin-top: var(--Icon-line-height-offset); /* 1 */
  margin-bottom: var(--Icon-line-height-offset); /* 1 */
  font-size: var(--Icon-size-lg); /* 2 */
}
