/** @define Message */

:root {
  --Message-padding: var(--space-xs) 2.5em;
  --Message-background: var(--color-gray);
  --Message-warning-background: var(--color-orange);
  --Message-warning-color: var(--color-white);
}

.Message {
  position: relative;
  padding: var(--Message-padding);
  background: var(--Message-background);
  text-align: center;
}

.Message-close {
  position: absolute;
  display: block;
  top: var(--space-xs);
  right: var(--space-xs);
  color: inherit;
}

.Message--warning {
  background: var(--Message-warning-background);
  color: var(--Message-warning-color);
}

.Message--warning a {
  color: var(--Message-warning-color);
}
