:root {
  --Pagination-height: calc(var(--Pagination-item-pad-vertical) * 2 + 1em);
  --Pagination-item-pad: var(--Pagination-item-pad-vertical) var(--Pagination-item-pad-horizontal);
  --Pagination-item-pad-horizontal: var(--space-md);
  --Pagination-item-pad-vertical: var(--space-xs);
  --Pagination-control-pad: 3em;
  --Pagination-item-max-width: calc(3.5em + 6%);
}

/**
 * 1. Allow "next" and "previous" helpers to position themselves relative to
 *    this container.
 * 2. Cap the height to that of an item, and prevent overflowing items from
 *    being visible within the container.
 * 3. Override default list styles.
 * 4. Center pages if there aren't enough to fill the container.
 */

.Pagination {
  position: relative; /* 1 */
  display: flex;
  overflow: hidden; /* 2 */
  height: var(--Pagination-height); /* 2 */
  padding-left: 0; /* 3 */
  list-style: none; /* 3 */
  flex-wrap: wrap; /* 2 */
  justify-content: center; /* 4 */
}

/**
 * Modifiers: With next and/or previous controls
 */

.Pagination--withPrevious {
  padding-left: var(--Pagination-control-pad);
}

.Pagination--withNext {
  padding-right: var(--Pagination-control-pad);
}

/**
 * What we want to do is prevent the items from growing, cap them out at a
 * reasonable width and center them when there are two few to fill the row.
 * But Safari has a bug with wrapping items that have a non-default flex-basis,
 * so at smaller sizes it can cause large amounts of pagination to go wonky.
 *
 * 1. Specified flex-basis to fix Safari 10 bug
 * @see https://github.com/philipwalton/flexbugs#11-min-and-max-size-declarations-are-ignored-when-wrapping-flex-items
 * 2. Fixes centering issue in ie11
 */
.Pagination > * {
  flex: 1 1 var(--Pagination-item-max-width); /* 1 */
  max-width: var(--Pagination-item-max-width);
  width: 100%; /* 2 */
}

/**
 * 1. Fill available space.
 * 2. Establish padding so items can't squish together.
 * 3. Cap the line height so that the container height is easier to calculate.
 * 4. Center in case the container grows larger than the numeral + padding.
 * 5. Override any text decoration because it looks weird on narrow numerals.
 */

.Pagination-item {
  display: block; /* 1 */
  padding: var(--Pagination-item-pad); /* 2 */
  line-height: 1; /* 3 */
  text-align: center; /* 4 */
  text-decoration: none; /* 5 */
}

/**
 * "Next" and "previous" controls align to the sides of the container.
 */

.Pagination-item--previous,
.Pagination-item--next {
  position: absolute;
  top: 0;
}

.Pagination-item--previous {
  left: 0;
}

.Pagination-item--next {
  right: 0;
}

/**
 * Optional: Inactive controls may appear semi-opaque.
 */

.Pagination-item--muted {
  opacity: var(--opacity-mid);
}
