/** @define Thumbnail; weak */

/**
 * Variables
 */

:root {
  --Thumbnail-border-color: var(--color-navy);
  --Thumbnail-border-width: var(--control-stroke);
  --Thumbnail-rounded-radius: var(--control-radius);
}

/**
 * Core component
 */

/**
 * 1. Mimic default display of img elements.
 * 2. Removes extra space below img for certain vertical alignments. Preferable
 *    to setting display: block on img because it respects vertical-align rules
 *    on either this element or the img itself.
 * 3. Transition rules for border.
 */
.Thumbnail {
  display: inline-block; /* 1 */
  line-height: 0; /* 2 */
  border: solid var(--Thumbnail-border-width) color(var(--Thumbnail-border-color) a(10%));
  transition: border 300ms ease; /* 3 */
}

.Thumbnail:matches(:focus, :hover) {
  border: solid var(--Thumbnail-border-width) color(var(--Thumbnail-border-color) a(25%));
}

.Thumbnail:active {
  border: solid var(--Thumbnail-border-width) color(var(--Thumbnail-border-color) a(50%));
}

/**
 * Modifiers
 */

.Thumbnail--rounded {
  border-radius: var(--Thumbnail-rounded-radius);
}

.Thumbnail--circle {
  border-radius: 50%;
}
