/**
 * Thumbnail
 */

/**
 * Variables
 */

:root {
  --Thumbnail-shadow-color: var(--color-dark-blue);
  --Thumbnail-shadow-width: 3px;
  --Thumbnail-rounded-radius: 6px;
}

/**
 * Core component
 */

/**
 * 1. Mimic default display of img elements.
 * 2. Removes extra space below img for certain vertical alignments. Preferable
 *    to setting display: block on img because it respects vertical-align rules
 *    on either this element or the img itself.
 * 3. Inner shadow effect.
 * 4. Transition rules for inner shadow.
 */
.Thumbnail {
  display: inline-block; /* 1 */
  line-height: 0; /* 2 */
  box-shadow: inset 0 0 0 var(--Thumbnail-shadow-width) color(var(--Thumbnail-shadow-color) a(10%)); /* 3 */
  transition: box-shadow 300ms ease; /* 4 */
}

.Thumbnail:matches(:focus, :hover) {
  box-shadow: inset 0 0 0 var(--Thumbnail-shadow-width) color(var(--Thumbnail-shadow-color) a(25%));
}

.Thumbnail:active {
  box-shadow: inset 0 0 0 var(--Thumbnail-shadow-width) color(var(--Thumbnail-shadow-color) a(50%));
}

.Thumbnail img {
  position: relative;
  z-index: -1;
  border-radius: inherit;
}

/**
 * Modifiers
 */

.Thumbnail--rounded {
  border-radius: var(--Thumbnail-rounded-radius);
}

.Thumbnail--circle {
  border-radius: 50%;
}
