:root {
  --ToggleControl-background-color: var(--color-white);
  --ToggleControl-background-color-checked: var(--color-blue);
  --ToggleControl-border-color: var(--color-gray);
  --ToggleControl-border-color-checked: transparent;
  --ToggleControl-border-color-focus: var(--color-blue);
  --ToggleControl-border-width: var(--control-stroke);
  --ToggleControl-disabled-opacity: var(--control-disabled-opacity);
  --ToggleControl-icon-color: var(--color-white);
  --ToggleControl-size: 1.25em;
  --ToggleControl-space-x: 0.5em;
  --ToggleControl-space-y: calc((var(--line-height-md) * 1em - var(--ToggleControl-size)) / 2);
}

.ToggleControl {
  position: relative;

  display: inline-block;

  padding-left: calc(var(--ToggleControl-size) + var(--ToggleControl-space-x));

  cursor: pointer;
}

.ToggleControl-input {
  position: absolute;
  z-index: -1;

  opacity: 0;
}

.ToggleControl-indicator {
  position: absolute;
  top: var(--ToggleControl-space-y);
  left: 0;

  display: inline-block;

  width: var(--ToggleControl-size);
  height: var(--ToggleControl-size);

  border: var(--ToggleControl-border-width) solid var(--ToggleControl-border-color);
  background-color: var(--ToggleControl-background-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.ToggleControl-input:active ~ .ToggleControl-indicator {
  border-color: color(var(--ToggleControl-border-color) l(-15%));
}

.ToggleControl-input:focus ~ .ToggleControl-indicator {
  border-color: var(--ToggleControl-border-color-focus);
  box-shadow: 0 0 0 1px var(--ToggleControl-border-color-focus);
}

.ToggleControl-input:checked ~ .ToggleControl-indicator {
  border-color: var(--ToggleControl-border-color-checked);
  background-color: var(--ToggleControl-background-color-checked);
}

/**
 * Modifier: Checkbox
 */

:root {
  --ToggleControl-checkbox-border-radius: var(--control-radius);
}

@svg-load ToggleControl-checkbox-icon url("icons/check.svg") {
  polyline {
    stroke: var(--ToggleControl-icon-color);
  }
}

.ToggleControl--checkbox .ToggleControl-indicator {
  border-radius: var(--ToggleControl-checkbox-border-radius);
  background-image: svg-inline(ToggleControl-checkbox-icon);
}

/**
 * Modifier: Radio
 */

:root {
  --ToggleControl-radio-border-radius: 50%;
}

@svg-load ToggleControl-radio-icon url("icons/dot.svg") {
  fill: var(--ToggleControl-icon-color);
}

.ToggleControl--radio .ToggleControl-indicator {
  border-radius: var(--ToggleControl-radio-border-radius);
  background-image: svg-inline(ToggleControl-radio-icon);
}
