.WorkImage {

}

.WorkImage--tilt {
  transform: rotate(-3deg);
}

.WorkImage-bezel {
  fill: var(--color-navy);
}

.WorkImage-detail {
  fill: var(--color-gray);
}

.WorkImage-detail--alt {
  fill: none;
  stroke: var(--color-gray);
  stroke-width: 2px;
}

.WorkImage-screen {
  fill: var(--color-white);
}

.WorkImage-large {

}

.WorkImage-small {
  transform: rotate(6deg) translate(690px, 120px);
}
