@use '../../mixins/border-radius';
@use '../../mixins/ms';
@use '../../mixins/spacing';
@use '../../mixins/theme';
@use '../../compiled/tokens/scss/breakpoint';
@use '../../compiled/tokens/scss/font-weight';
@use '../../compiled/tokens/scss/size';
@use 'sass:math';

@include theme.props() {
  --theme-blend-mode-background: multiply;
}

@include theme.props(dark) {
  --theme-blend-mode-background: hard-light;
}

#_new-footer-r3 {
  ._c-heading--medium {
    font-weight: font-weight.$medium;
  }

  ._c-ground-nav {
    background-color: var(--theme-color-background-base);
    display: grid;
    grid-template-rows: repeat(3, minmax(0, auto));
  }

  ._c-ground-nav::before {
    background-color: var(--theme-color-background-secondary);
    content: '';
    grid-column: 1;
    grid-row: 2 / span 2;
  }

  ._c-ground-nav__lead-in {
    grid-column: 1;
    grid-row: 1 / span 2;
  }

  ._c-ground-nav__main {
    --theme-color-text-emphasis: var(--theme-color-text-muted);
    background-blend-mode: var(--theme-blend-mode-background);
    background-color: var(--theme-color-background-secondary);
    background-image: svg-load('illustrations/portland.svg');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: auto clamp(ms.step(6), 15vw, ms.step(9));
    color: var(--theme-color-text-muted);
    grid-column: 1;
    grid-row: 3;

    @media (width >= breakpoint.$xxl) {
      background-size: auto ms.step(10);
    }

    @media (width >= breakpoint.$xxxl) {
      background-position: right calc(50vw - #{math.div(size.$max-width-spread, 2)} - #{spacing.$fluid-spacing-inline-max}) bottom;
    }
  }

  ._c-ground-nav__content {
    column-gap: spacing.$fluid-gap;
    display: grid;
    grid-template-areas: "address"
      "primary-nav"
      "secondary-nav"
      "social"
      "colophon";
    grid-template-columns: minmax(0, 1fr);
    row-gap: ms.step(2);

    @media (width < breakpoint.$s) {
      padding-bottom: ms.step(6);
    }

    @media (width >= breakpoint.$s) {
      grid-template-areas: "address address"
        "primary-nav secondary-nav"
        "social social"
        "colophon colophon";
      grid-template-columns: minmax(0, auto) minmax(0, 1fr);
    }

    @media (width >= breakpoint.$m) {
      grid-template-areas: "address primary-nav secondary-nav"
        "social primary-nav secondary-nav"
        "colophon colophon colophon";
      grid-template-columns: repeat(2, minmax(0, auto)) minmax(0, 1fr);
    }

    @media (width >= breakpoint.$xl) {
      grid-template-areas: "address primary-nav secondary-nav social"
        "colophon primary-nav secondary-nav .";
      grid-template-columns: repeat(3, minmax(0, auto)) minmax(0, 1fr);
    }

    @media (width >= breakpoint.$xxl) {
      grid-template-columns: minmax(0, 1fr) repeat(2, minmax(0, auto)) minmax(0, 1fr);
    }

    @media (width >= breakpoint.$xxxl) {
      grid-template-columns: minmax(0, 2fr) repeat(2, minmax(0, 1fr)) minmax(0, 2fr);
    }
  }

  ._c-ground-nav__address {
    grid-area: address;
  }

  ._c-ground-nav__address-section {
    @media (width >= breakpoint.$m) {
      display: inline-block;
      margin-top: ms.step(2);
    }
  }

  ._c-ground-nav__primary-nav {
    grid-area: primary-nav;
  }

  ._c-ground-nav__secondary-nav {
    grid-area: secondary-nav;
  }

  ._c-ground-nav__social {
    --icon-size: #{size.$icon-medium};
    grid-area: social;

    @media (width >= breakpoint.$xl) {
      --icon-size: #{size.$icon-large};
      justify-self: end;
    }
  }

  ._c-ground-nav__colophon {
    grid-area: colophon;

    @media (breakpoint.$xl > width >= breakpoint.$m) {
      margin-top: ms.step(2);
    }
  }
}
