---
hidden: true
---
<time class="CalendarDate{{#if range}} CalendarDate--range{{/if}}" datetime="{{defaultTo datetime "2016-04-12T18:30"}}">
  <span class="CalendarDate-header">{{defaultTo month "Dec"}}</span>
  <span class="CalendarDate-body">{{defaultTo day "9"}}</span>
</time>
