---
name: Blockquote
sourceless: true
---

<blockquote>
  <p>
    This unit represents the number of dots per px unit. Due to the 1:96 fixed
    ratio of CSS in to CSS px, 1dppx is equivalent to 96dpi, that corresponds
    to the default resolution of images displayed in CSS as defined by
    image-resolution.
  </p>
  <p>
    CSS counters are, in essence, variables maintained by CSS whose values may
    be incremented by CSS rules to track how many times they're used. This lets
    you adjust the appearance of content based on its placement in the document.
  </p>
  <footer>
    <cite><a href="//developer.mozilla.org">The Mozilla Developer Network</a></cite>
  </footer>
</blockquote>
