---
name: Lists
sourceless: true
---

<div class="u-spaceChildren">
  {{#with drizzle.data.specimens.contents}}
    <h3>Unordered</h3>
    <ul>
      {{#each definitions as |term|}}
        <li>{{term}}</li>
      {{/each}}
    </ul>
    <h3>Ordered</h3>
    <ol>
      {{#each definitions as |term|}}
        <li>{{term}}</li>
      {{/each}}
    </ol>
    <h3>Definition</h3>
    <dl>
      {{#each definitions as |term def|}}
        <dt>
          <b>{{term}}</b>
        </dt>
        <dd>{{def}}</dd>
      {{/each}}
    </dl>
  {{/with}}
</div>
