---
name: Misc. Elements
sourceless: true
---

<table>
  <tbody>
    <tr>
      <td><code>&lt;em&gt;</code></td>
      <td>Emphasize text using <em>em</em>.</td>
    </tr>
    <tr>
      <td><code>&lt;strong&gt;</code></td>
      <td>Imply any extra importance using <strong>strong</strong>.</td>
    </tr>
    <tr>
      <td><code>&lt;code&gt;</code></td>
      <td>Define inline code snippets using <code>code</code>.</td>
    </tr>
    <tr>
      <td><code>&lt;del&gt;</code></td>
      <td>Mark document changes as deleted text using <del>del</del>.</td>
    </tr>
    <tr>
      <td><code>&lt;ins&gt;</code></td>
      <td>Mark document changes as inserted text using <ins>ins</ins>.</td>
    </tr>
    <tr>
      <td><code>&lt;mark&gt;</code></td>
      <td>
        Highlight text with no semantic meaning using <mark>mark</mark>.
      </td>
    </tr>
    <tr>
      <td><code>&lt;q&gt;</code></td>
      <td>
        Define inline quotations using <q>q <q>inside</q> a q</q>.
      </td>
    </tr>
    <tr>
      <td><code>&lt;abbr&gt;</code></td>
      <td>
        Define an abbreviation using <abbr title="Abbreviation">abbr</abbr>.
      </td>
    </tr>
    <tr>
      <td><code>&lt;dfn&gt;</code></td>
      <td>
        Define a definition term using <dfn title="Definition">dfn</dfn>.
      </td>
    </tr>
    <tr>
      <td><code>&lt;small&gt;</code></td>
      <td>De-emphasize text for small print using <small>small</small>.</td>
    </tr>
  </tbody>
</table>
