@use "../../design-tokens/colors.yml";

.c-cloud-cover {
  align-items: center;
  display: flex;
  min-height: 66vh;
  overflow: hidden;
  padding: 20vh 0;
  position: relative;
}

.c-cloud-cover::after {
  background-image: svg-load(
      'clouds/large.svg',
      fill=colors.$text-light-emphasis,
      width= '320',
      height= '300',
      viewBox= '0 0 320 300'
    ),
    svg-load(
      'clouds/medium.svg',
      fill=colors.$primary-brand-lighter,
      width= '480',
      height= '220',
      viewBox= '0 0 480 220'
    ),
    svg-load(
      'clouds/small.svg',
      fill=colors.$primary-brand-light,
      width= '580',
      height= '140',
      viewBox= '0 0 580 140'
    );
  background-position: bottom right, bottom right, bottom right;
  background-repeat: no-repeat;
  background-size: auto 100%, auto (220 / 300 * 100%), auto (140 / 300 * 100%);
  bottom: 0;
  content: '';
  height: calc(15% + 5vw);
  pointer-events: none;
  position: absolute;
  right: 0;
  width: 100%;
}
