<div class="c-cloud-cover t-dark">
  <div class="o-container o-container--pad-inline c-cloud-cover__container">
    <div class="o-container__content c-cloud-cover__inner">
      <div class="c-cloud-cover__content">
        {% block content %}
        {% endblock %}
      </div>
      {% if block('scene') is defined %}
        <div class="c-cloud-cover__scene">
          {% block scene %}
          {% endblock %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
