@use "../../design-tokens/colors.yml";
@use "../../design-tokens/layout.yml";
@use "../../mixins/ms";

.c-cloud-cover {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, calc(7vh + 2vw)) 1fr repeat(2, calc(7vh + 2vw));
}

.c-cloud-cover::after {
  background-image: svg-load(
      'clouds/large.svg',
      fill=colors.$text-light-emphasis,
      width= '320',
      height= '300',
      viewBox= '0 0 320 300'
    ),
    svg-load(
      'clouds/medium.svg',
      fill=colors.$primary-brand-lighter,
      width= '480',
      height= '220',
      viewBox= '0 0 480 220'
    ),
    svg-load(
      'clouds/small.svg',
      fill=colors.$primary-brand-light,
      width= '580',
      height= '140',
      viewBox= '0 0 580 140'
    );
  background-position: bottom right, bottom right, bottom right;
  background-repeat: no-repeat;
  background-size: auto 100%, auto (220 / 300 * 100%), auto (140 / 300 * 100%);
  content: '';
  display: block;
  grid-column: 1 / span 2;
  grid-row: 4 / span 2;
  height: 100%;
  pointer-events: none;
  width: 100%;

  @media (orientation: landscape) {
    grid-column: 2;
  }
}

.c-cloud-cover__container {
  align-self: center;
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;

  @media (orientation: landscape) {
    grid-row: 2 / span 3;
  }
}

.c-cloud-cover__inner {
  align-items: center;
  display: grid;
  grid-gap: ms.step(1);
  grid-template-areas:
    'scene scene'
    'content content';
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr auto;

  @media (orientation: landscape) {
    grid-template-areas:
      'content scene'
      'content scene';
  }
}

.c-cloud-cover__content {
  grid-area: content;
}

.c-cloud-cover__scene {
  grid-area: scene;
  justify-self: center;
  z-index: 1;
}
