<div id="card-variations">
  <div class="wrapper-container light">
    <div class="card-one card">
      <div class="card-container">
        <article class="c-card c-card--with-link c-card--horizontal@m">
          <header class="c-card__header">
            <h2 class="c-card__heading">
              <a href="#" class="c-card__link">Lorem ipsum dolor sit amet</a>
            </h2>
          </header>
          <div class="c-card__cover">
            <img src="https://placeimg.com/800/450/animals" alt="" />
          </div>
          <div class="c-card__content">
            <p>
              Consectetur adipiscing elit. Fusce tempor ut ex nec scelerisque. Quisque
              dui tortor, tempus et tempor in, rhoncus eu massa. Vestibulum dolor erat,
              vestibulum eget velit eu, dignissim hendrerit tortor.
            </p>
          </div>
        </article>
      </div>
      <footer class="c-card__footer t-light footer">
        <p>Jun 4, 2021</p>
      </footer>
    </div>

    <div class="card-two t-dark card">
      <div class="card-container">
        <article class="c-card c-card--with-link c-card--horizontal@m">
          <header class="c-card__header">
            <h2 class="c-card__heading">
              <a href="#" class="c-card__link">Lorem ipsum dolor sit amet</a>
            </h2>
          </header>
          <div class="c-card__cover">
            <img src="https://placeimg.com/800/450/animals" alt="" />
          </div>
          <div class="c-card__content">
            <p>
              Consectetur adipiscing elit. Fusce tempor ut ex nec scelerisque. Quisque
              dui tortor, tempus et tempor in, rhoncus eu massa. Vestibulum dolor erat,
              vestibulum eget velit eu, dignissim hendrerit tortor.
            </p>
          </div>
        </article>
      </div>
      <footer class="t-dark footer c-card__footer">
        <p>Jun 4, 2021</p>
      </footer>
    </div>
  </div>


  <div class="t-dark wrapper-container">
    <div class="t-dark card-one t-light card">
      <div class="card-container">
        <article class="c-card c-card--with-link c-card--horizontal@m">
          <header class="c-card__header">
            <h2 class="c-card__heading">
              <a href="#" class="c-card__link">Lorem ipsum dolor sit amet</a>
            </h2>
          </header>
          <div class="c-card__cover">
            <img src="https://placeimg.com/800/450/animals" alt="" />
          </div>
          <div class="c-card__content">
            <p>
              Consectetur adipiscing elit. Fusce tempor ut ex nec scelerisque. Quisque
              dui tortor, tempus et tempor in, rhoncus eu massa. Vestibulum dolor erat,
              vestibulum eget velit eu, dignissim hendrerit tortor.
            </p>
          </div>
        </article>
      </div>
      <footer class="t-dark footer c-card__footer">
        <p>Jun 4, 2021</p>
      </footer>
    </div>
    <div class="card-two t-light card">
      <div class="card-container">
        <article class="c-card c-card--with-link c-card--horizontal@m">
          <header class="c-card__header">
            <h2 class="c-card__heading">
              <a href="#" class="c-card__link">Lorem ipsum dolor sit amet</a>
            </h2>
          </header>
          <div class="c-card__cover">
            <img src="https://placeimg.com/800/450/animals" alt="" />
          </div>
          <div class="c-card__content">
            <p>
              Consectetur adipiscing elit. Fusce tempor ut ex nec scelerisque. Quisque
              dui tortor, tempus et tempor in, rhoncus eu massa. Vestibulum dolor erat,
              vestibulum eget velit eu, dignissim hendrerit tortor.
            </p>
          </div>
        </article>
      </div>
      <footer class="c-card__footer t-light footer">
        <p>Jun 4, 2021</p>
      </footer>
    </div>
  </div>
</div>
