#card-variations {

  // General styles

  .wrapper-container {
    padding: 1rem;
  }

  .card {
    margin: 1em;
    border-radius: 0.5em;
    max-width: 50em;
  }

  .card-container {
    display: flex;
    padding: 1em;
  }

  .footer {
    padding: .5em 1em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
  }

  // Light theme styles
  // #1D4AAA is a mix of two colors we have, $primary-brand and $primary-brand-dark

  .light {
    .card-one {
      background-color: #F2F5F7;

      .footer {
        border: 3px solid #F2F5F7;
      }
    }

    .card-two {
      .footer {
        background-color: #1D4AAA;
      }
    }
  }

  // Dark theme styles

  .t-dark {
    .card-one {
      background-color: #1D4AAA;

      .footer {
        border: 3px solid #1D4AAA;
      }
    }

    .card-two {
      .footer {
        background-color: #F2F5F7;
      }
    }
  }
}
