<div id="card-variations">
  <div class="wrapper-container light o-container o-container--prose">
    <div class="card-one o-media o-container__content">
      <div class="test">
        <div class="o-media__object">
          <div class="c-avatar">
            <img
              src="media/megan.png"
              alt=""
              loading="lazy"
            />
          </div>
        </div>
        <div class="o-media__content">
          <p>
            One of the things that is really clear to us (and that we hear often from
            our clients) is that the way we engage with our clients is unique. In
            fact, bringing clients in early and often to our process is one of our
            specialties at Cloud Four.
          </p>
        </div>
      </div>
    </div>
    <div class="card-two t-dark o-media o-container__content">
      <div class="test">
        <div class="o-media__object">
          <div class="c-avatar">
            <img
              src="media/megan.png"
              alt=""
              loading="lazy"
            />
          </div>
        </div>
        <div class="o-media__content">
          <p>
            One of the things that is really clear to us (and that we hear often from
            our clients) is that the way we engage with our clients is unique. In
            fact, bringing clients in early and often to our process is one of our
            specialties at Cloud Four.
          </p>
        </div>
      </div>
      <div class="o-media__content t-light footer">
        <p>
          I can be a footer section within a card to hold additional content.
        </p>
      </div>
    </div>
  </div>
  <div class="t-dark wrapper-container o-container o-container--prose">
    <div class="card-one t-light o-media o-container__content">
      <div class="test">
        <div class="o-media__object">
          <div class="c-avatar">
            <img
              src="media/megan.png"
              alt=""
              loading="lazy"
            />
          </div>
        </div>
        <div class="o-media__content">
          <p>
            One of the things that is really clear to us (and that we hear often from
            our clients) is that the way we engage with our clients is unique. In
            fact, bringing clients in early and often to our process is one of our
            specialties at Cloud Four.
          </p>
        </div>
      </div>
    </div>
    <div class="card-two t-light o-media o-container__content">
      <div class="test">
        <div class="o-media__object">
          <div class="c-avatar">
            <img
              src="media/megan.png"
              alt=""
              loading="lazy"
            />
          </div>
        </div>
        <div class="o-media__content">
          <p>
            One of the things that is really clear to us (and that we hear often from
            our clients) is that the way we engage with our clients is unique. In
            fact, bringing clients in early and often to our process is one of our
            specialties at Cloud Four.
          </p>
        </div>
      </div>
      <div class="o-media__content t-light footer">
        <p>
          I can be a footer section within a card to hold additional content.
        </p>
      </div>
    </div>
  </div>
</div>
