{% embed '@cloudfour/components/card/card.twig' %}
  {% block heading %}
    Lorem ipsum dolor sit amet
  {% endblock %}
  {% block content %}
    <p>Consectetur adipiscing elit. Fusce tempor ut ex nec scelerisque. Quisque dui tortor, tempus et tempor in, rhoncus eu massa. Vestibulum dolor erat, vestibulum eget velit eu, dignissim hendrerit tortor.</p>
  {% endblock %}
  {% block footer %}
    <p>{{'now'|date('M j, Y')}}</p>
  {% endblock %}
{% endembed %}
