{% embed '@cloudfour/components/card/card.twig' %}
  {% block content %}
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempor ut ex nec scelerisque. Quisque dui tortor, tempus et tempor in, rhoncus eu massa. Vestibulum dolor erat, vestibulum eget velit eu, dignissim hendrerit tortor.</p>
  {% endblock %}
{% endembed %}
