{% embed '@cloudfour/objects/overview/overview.twig' %}
  {% block header %}
    {% include '@cloudfour/components/heading/heading.twig' with {
      level: -1,
      weight: "light",
      content: 'More Topics',
    } only %}
  {% endblock %}
  {% block actions %}
    {#
      In the future we could swap this out for the Input Group component
      that's currently in the works.
    #}
    <label>
      <span class="u-hidden-visually">Search</span>
      {% include '@cloudfour/components/input/input.twig' %}
    </label>
  {% endblock %}
  {% block content %}
    {% embed '@cloudfour/objects/list/list.twig' with {
      "tag_name": "ul",
      "class": "o-list--2-column@m o-list--3-column@l"
    } %}
      {% block content %}
        {% for topic in topics %}
          <li class="u-space-block-end-0">
            {% include '@cloudfour/components/dot-leader/dot-leader.twig' with {
              label: topic.title,
              count: topic.count,
              href: 'https://cloudfour.com/thinks/'
            } only %}
          </li>
        {% endfor %}
      {% endblock %}
    {% endembed %}
  {% endblock %}
{% endembed %}
