<div id="_landing-ecom-r1">

  {% embed '@cloudfour/components/cloud-cover/cloud-cover.twig' %}
    {% block heading %}
      {% embed '@cloudfour/components/heading/heading.twig' with {
        level: -2,
      } only %}
        {% block content %}
          Shopping should be fast and easy
        {% endblock %}
      {% endembed %}
    {% endblock %}
    {% block content %}
      <p>
        How Cloud Four’s design and development approach creates exceptional ecommerce experiences.
      </p>
    {% endblock %}
  {% endembed %}

  <div class="o-container o-container--pad">
    <div class="o-container__content">
      <div class="_ecom-section">
        <div class="_ecom-section__heading">
          <h2 class="c-heading c-heading--level-0">Customer-centered design</h2>
        </div>
        <div class="_ecom-section__visual"></div>
        <div class="_ecom-section__content o-rhythm">
          <p>
            Ecommerce is not one size fits all: The journey to buying a bunch of bananas is different than buying a new pair of shoes.
            Our decisions adhere to a <a href="#">priority of constituencies</a> from discovery through execution so that customer’s needs, expectations and desires are considered in every interaction.
            And our <a href="#">consistently collaborative</a> in-browser design process reduces the distance between aspiration and conversion.
          </p>
          {% include '@cloudfour/components/media-link/media-link.twig' with {
            "label": "Cloud Four’s product finder experiences for Champion Power Equipment make complex category navigation a breeze",
            "class": "u-size-inline-3/4@l u-size-inline-3/5@xl",
            "action_class": "u-text-small",
            "avatar": "/media/landing/cpe-icon.png",
            "avatar_shape": "squircle",
            "avatar_width": 88,
            "avatar_height": 88,
            "icon": "arrow-right"
          } only %}
        </div>
      </div>
    </div>
  </div>

  <div class="t-alternate o-container o-container--pad">
    <div class="o-container__content">
      <div class="_ecom-section">
        <div class="_ecom-section__heading">
          <h2 class="c-heading c-heading--level-0">Mobile (and beyond)</h2>
        </div>
        <div class="_ecom-section__visual"></div>
        {# <img class="_ecom-section__visual" src="/media/landing/wm-grocery.jpg" alt=""> #}
        <div class="_ecom-section__content o-rhythm">
          <p>
            We helped popularize <a href="#">mobile-first responsive design</a> and wrote the book on <a href="#">Progressive Web&nbsp;Apps</a>.
            Effective content prioritization, touch-friendly interfaces and design breakpoints are just the beginning:
            Your audience deserves a fantastic shopping experience that blurs the line between “web site” and “app,” whether they're using a mouse, keyboard, touchscreen or <span style="display: inline-block">assistive device</span>.
          </p>
          {% include '@cloudfour/components/media-link/media-link.twig' with {
            "label": "Walmart chose Cloud Four to make their checkout and grocery delivery responsive",
            "class": "u-size-inline-3/4@l u-size-inline-3/5@xl",
            "action_class": "u-text-small",
            "avatar": "/media/landing/wm-grocery-icon.png",
            "avatar_shape": "squircle",
            "avatar_width": 88,
            "avatar_height": 88,
            "icon": "arrow-right"
          } only %}
        </div>
      </div>
    </div>
  </div>

  <div class="o-container o-container--pad">
    <div class="o-container__content">
      <div class="_ecom-section">
        <div class="_ecom-section__heading">
          <h2 class="c-heading c-heading--level-0">Forms, evolved</h2>
        </div>
        <div class="_ecom-section__visual"></div>
        <div class="_ecom-section__content o-rhythm">
          <p>
            We’ve all struggled with broken or finicky forms disrupting our purchase process, but it doesn't have to be this way.
            We have years of experience crafting smooth and reliable payment and shipping forms for some of the world’s largest online retailers.
            Our continuous exploration of the latest standards (autofill, passkeys, validation, etc.) and payment methods (Apple Pay, Google Pay, etc.) empowers us to design forms that aren’t just modern… <a style="display: inline-block;" href="#">they’re magic!</a>
          </p>
          {% include '@cloudfour/components/media-link/media-link.twig' with {
            "label": "Cloud Four CEO Jason Grigsby demonstrates amazing new techniques for simplifying forms",
            "class": "u-size-inline-3/4@l u-size-inline-3/5@xl",
            "action_class": "u-text-small",
            "avatar": "/media/landing/jason.png",
            "avatar_width": 88,
            "avatar_height": 88,
            "icon": "arrow-right"
          } only %}
        </div>
      </div>
    </div>
  </div>

  <div class="t-alternate o-container o-container--pad">
    <div class="o-container__content">
      <div class="_ecom-section">
        <div class="_ecom-section__heading">
          <h2 class="c-heading c-heading--level-0">Performance optimization</h2>
        </div>
        <div class="_ecom-section__visual"></div>
        <div class="_ecom-section__content o-rhythm">
          <p>
            It’s a fact: Slow-loading pages lead to reduced search engine rankings, higher bounce rates, lost sales and frustrated customers.
            We optimize site speed by minimizing page weight, reducing requests, leveraging caching techniques, and evaluating tools and techniques to identify and overcome performance pitfalls.
            We’ve even built <a href="#">tools that help test site&shy;wide performance</a>.
          </p>
          {% include '@cloudfour/components/media-link/media-link.twig' with {
            "label": "Cloud Four partner Megan Notarte explains why performance is an issue of equity",
            "class": "u-size-inline-3/4@l u-size-inline-3/5@xl",
            "action_class": "u-text-small",
            "avatar": "/media/landing/megan.png",
            "avatar_width": 88,
            "avatar_height": 88,
            "icon": "arrow-right"
          } only %}
        </div>
      </div>
    </div>
  </div>

  <div class="o-container o-container--pad">
    <div class="o-container__content">
      <div class="_ecom-section">
        <div class="_ecom-section__heading">
          <h2 class="c-heading c-heading--level-0">Platform integration</h2>
        </div>
        <div class="_ecom-section__visual"></div>
        <div class="_ecom-section__content o-rhythm">
          <p>
            We craft amazing experiences using Shopify, WordPress/WooCommerce, and a long list of hybrid, headless and home-grown solutions.
            Our deep knowledge of the web and well of experience allow our team to adapt to your organization’s unique mix of platform, payment processing, <abbr title="customer relationship management">CRM</abbr> and analytics requirements.
          </p>
          <div style="display: flex; flex-wrap: wrap; gap: 2em;">
            {% include '@cloudfour/components/logo/logo.twig' with {
              "src": "/media/landing/shopify-logo.svg",
              "alt": "Shopify",
              "width": 125,
              "height": 36,
              "scale": 0.9,
            } only %}
            {% include '@cloudfour/components/logo/logo.twig' with {
              "src": "/media/landing/woocommerce-logo.svg",
              "alt": "WooCommerce",
              "width": 195,
              "height": 48,
              "scale": 0.85,
              "align": "end",
            } only %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="t-alternate o-container o-container--pad">
    <div class="o-container__content">
      <div class="_ecom-section">
        <div class="_ecom-section__heading">
          <h2 class="c-heading c-heading--level-0">Accessible to everyone</h2>
        </div>
        <div class="_ecom-section__visual"></div>
        <div class="_ecom-section__content o-rhythm">
          <p>
            Our team cares deeply about accessibility, and so do your customers. The design and technical considerations that make experiences accessible to people with disabilities are of benefit to your entire audience, leading to increased conversion, revenue and customer loyalty.
            We regularly audit our work against the Web Content Accessibility Guidelines (WCAG) and have experience working with <abbr title="Americans with Disabilities Act">ADA</abbr> compliance requirements.
          </p>

          {% include '@cloudfour/components/media-link/media-link.twig' with {
            "label": "Many of the largest sporting goods ecommerce sites don’t provide accessible sale prices",
            "class": "u-size-inline-3/4@l u-size-inline-3/5@xl",
            "action_class": "u-text-small",
            "avatar": "/media/landing/mystery-price-square.png",
            "avatar_shape": "square",
            "avatar_width": 88,
            "avatar_height": 88,
            "icon": "arrow-right"
          } only %}
        </div>
      </div>
    </div>
  </div>

  <div class="o-container o-container--pad">
    <div class="o-container__content o-rhythm">
      <h2 class="c-heading c-heading--light c-heading--level-0">
        Have a project?
        <b style="display: inline-block;">Let’s talk!</b>
      </h2>
      <div class="_form-and-quote">
        <div class="_form-and-quote__quote">
          <blockquote>
            <p>
              Cloud Four is hands down the best agency I have ever worked with on any web project ever in my 25+ web career.
            </p>
            <footer>
              <cite>Daniel Divens, Cloudinary</cite>
            </footer>
          </blockquote>
        </div>
        <div class="_form-and-quote__form o-rhythm">
          {% embed '@cloudfour/objects/form-group/form-group.twig' only %}
            {% block label %}
              Name
              {% include '@cloudfour/components/badge/badge.twig' with {
                "label": "Required",
                icon: 'asterisk',
                parenthetical: true,
              } only %}
            {% endblock %}
            {% block control %}
              {% include '@cloudfour/components/input/input.twig' with {
                type: 'text',
                required: true
              } only %}
            {% endblock %}
          {% endembed %}
          {% embed '@cloudfour/objects/form-group/form-group.twig' only %}
            {% block label %}
              Email
              {% include '@cloudfour/components/badge/badge.twig' with {
                "label": "Required",
                icon: 'asterisk',
                parenthetical: true,
              } only %}
            {% endblock %}
            {% block control %}
              {% include '@cloudfour/components/input/input.twig' with {
                type: 'email',
                required: true
              } only %}
            {% endblock %}
          {% endembed %}
          {% embed '@cloudfour/objects/form-group/form-group.twig' with {
            label: 'Phone',
          } only %}
            {% block control %}
              {% include '@cloudfour/components/input/input.twig' with {
                type: 'tel',
              } only %}
            {% endblock %}
          {% endembed %}
          {% embed '@cloudfour/objects/form-group/form-group.twig' with {
            label: 'Website',
          } only %}
            {% block control %}
              {% include '@cloudfour/components/input/input.twig' with {
                type: 'url',
              } only %}
            {% endblock %}
          {% endembed %}
          {% embed '@cloudfour/objects/form-group/form-group.twig' only %}
            {% block label %}
              How can we help?
              {% include '@cloudfour/components/badge/badge.twig' with {
                "label": "Required",
                icon: 'asterisk',
                parenthetical: true,
              } only %}
            {% endblock %}
            {% block control %}
              {% include '@cloudfour/components/input/input.twig' with {
                class: 'js-elastic-textarea',
                type: 'textarea',
                rows: 3,
                required: true
              } only %}
            {% endblock %}
          {% endembed %}
          {% include '@cloudfour/components/button/button.twig' with {
            "label": "Send message",
          } only %}
        </div>
      </div>
    </div>
  </div>

</div>
