<div id="_landing-ecom-r1">

  {% embed '@cloudfour/components/cloud-cover/cloud-cover.twig' %}
    {% block heading %}
      {% embed '@cloudfour/components/heading/heading.twig' with {
        level: -2,
      } only %}
        {% block content %}
          Shopping should be fast and easy
        {% endblock %}
      {% endembed %}
    {% endblock %}
    {% block content %}
      <p>
        How Cloud Four’s design and development approach creates exceptional ecommerce experiences.
      </p>
    {% endblock %}
  {% endembed %}

  <div class="o-container o-container--pad">
    <div class="o-container__content">
      <div class="_ecom-section">
        <div class="_ecom-section__heading">
          <h2 class="c-heading c-heading--level-0">Customer-centered design</h2>
        </div>
        <div class="_ecom-section__visual"></div>
        <div class="_ecom-section__content o-rhythm">
          <p>
            Ecommerce is not one size fits all: The journey to buying a bunch of bananas is different than buying a new pair of shoes.
            Our decisions adhere to a <a href="#">priority of constituencies</a> from discovery through execution so that customer’s needs, expectations and desires are considered in every interaction.
            And our <a href="#">consistently collaborative</a> in-browser design process reduces the distance between our aspirations and the end user’s reality.
          </p>
          <div class="o-media _o-media--link">
            <div class="o-media__object">
              {% include '@cloudfour/components/avatar/avatar.twig' with {
                "src": "/media/landing/cpe-icon.png",
                "class": "_c-avatar--icon",
              } only %}
            </div>
            <div class="o-media__content">
              <a class="_u-small" href="#">
                Cloud Four’s product finder experiences for <span style="display: inline-block; text-decoration: inherit;">Champion Power Equipment</span> make complex category navigation a breeze
              </a>
            </div>
            <div class="_o-media__icon">
              {% include '@cloudfour/components/icon/icon.twig' with {
                name: 'arrow-right',
                inline: true
              } %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="t-alternate o-container o-container--pad">
    <div class="o-container__content">
      <div class="_ecom-section">
        <div class="_ecom-section__heading">
          <h2 class="c-heading c-heading--level-0">Mobile (and beyond)</h2>
        </div>
        <div class="_ecom-section__visual"></div>
        <div class="_ecom-section__content o-rhythm">
          <p>
            We helped popularize <a href="#">mobile-first responsive design</a> and wrote the book on <a href="#">Progressive Web&nbsp;Apps</a>.
            Effective content prioritization, touch-friendly interfaces and design breakpoints are just the beginning:
            Your audience deserves a fantastic shopping experience that blurs the line between “web site” and “app,” whether they're using a mouse, keyboard, touchscreen or <span style="display: inline-block">assistive device</span>.
          </p>
          <div class="o-media _o-media--link">
            <div class="o-media__object">
              {% include '@cloudfour/components/avatar/avatar.twig' with {
                "src": "/media/landing/wm-grocery-icon.png",
                "class": "_c-avatar--icon",
              } only %}
            </div>
            <div class="o-media__content">
              <a class="_u-small" href="#">
                Walmart chose Cloud Four to make their checkout and grocery delivery responsive
              </a>
            </div>
            <div class="_o-media__icon">
              {% include '@cloudfour/components/icon/icon.twig' with {
                name: 'arrow-right',
                inline: true
              } %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="o-container o-container--pad">
    <div class="o-container__content">
      <div class="_ecom-section">
        <div class="_ecom-section__heading">
          <h2 class="c-heading c-heading--level-0">Forms, evolved</h2>
        </div>
        <div class="_ecom-section__visual"></div>
        <div class="_ecom-section__content o-rhythm">
          <p>
            We’ve all struggled with broken or finicky forms disrupting our purchase process, but it doesn't have to be this way.
            We have years of experience crafting smooth and reliable payment and shipping forms for some of the world’s largest online retailers.
            Our continuous exploration of the latest web standards for autofill, autocomplete and validation (to name a few) empowers us to design forms that aren’t just modern… <a style="display: inline-block;" href="#">they’re magic!</a>
          </p>
          <div class="o-media _o-media--link">
            <div class="o-media__object">
              {% include '@cloudfour/components/avatar/avatar.twig' with {
                "src": "/media/landing/jason.png",
              } only %}
            </div>
            <div class="o-media__content">
              <a class="_u-small" href="#">
                Cloud Four CEO Jason Grigsby demonstrates amazing new techniques for simplifying forms
              </a>
            </div>
            <div class="_o-media__icon">
              {% include '@cloudfour/components/icon/icon.twig' with {
                name: 'arrow-right',
                inline: true
              } %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="t-alternate o-container o-container--pad">
    <div class="o-container__content">
      <div class="_ecom-section">
        <div class="_ecom-section__heading">
          <h2 class="c-heading c-heading--level-0">Performance optimization</h2>
        </div>
        <div class="_ecom-section__visual"></div>
        <div class="_ecom-section__content o-rhythm">
          <p>
            It’s a fact: Slow-loading pages lead to reduced search engine rankings, higher bounce rates, lost sales and frustrated customers.
            We optimize site speed by minimizing page weight, reducing requests, leveraging caching techniques, and evaluating tools and techniques to identify and overcome performance pitfalls.
            We’ve even built <a href="#">tools that help test site&shy;wide performance</a>.
          </p>
          <div class="o-media _o-media--link">
            <div class="o-media__object">
              {% include '@cloudfour/components/avatar/avatar.twig' with {
                "src": "/media/landing/megan.png",
              } only %}
            </div>
            <div class="o-media__content">
              <a class="_u-small" href="#">
                Cloud Four partner Megan Notarte explains why performance is an issue of equity
              </a>
            </div>
            <div class="_o-media__icon">
              {% include '@cloudfour/components/icon/icon.twig' with {
                name: 'arrow-right',
                inline: true
              } %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="o-container o-container--pad">
    <div class="o-container__content">
      <div class="_ecom-section">
        <div class="_ecom-section__heading">
          <h2 class="c-heading c-heading--level-0">Platform integration</h2>
        </div>
        <div class="_ecom-section__visual"></div>
        <div class="_ecom-section__content o-rhythm">
          <p>
            We craft amazing experiences using Shopify, WordPress/WooCommerce, and a long list of hybrid, headless and home-grown solutions.
            Our deep knowledge of the web and well of experience allow our team to adapt to your organization’s unique mix of platform, payment processing, <abbr title="customer relationship management">CRM</abbr> and analytics requirements.
          </p>
          <div style="display: flex; flex-wrap: wrap; gap: 2em;">
            {% include '@cloudfour/components/logo/logo.twig' with {
              "src": "/media/landing/shopify-logo.svg",
              "alt": "Shopify",
              "width": 125,
              "height": 36,
              "scale": 0.9,
            } only %}
            {% include '@cloudfour/components/logo/logo.twig' with {
              "src": "/media/landing/woocommerce-logo.svg",
              "alt": "WooCommerce",
              "width": 195,
              "height": 48,
              "scale": 0.85,
              "align": "end",
            } only %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="t-alternate o-container o-container--pad">
    <div class="o-container__content">
      <div class="_ecom-section">
        <div class="_ecom-section__heading">
          <h2 class="c-heading c-heading--level-0">Accessible to everyone</h2>
        </div>
        <div class="_ecom-section__visual"></div>
        <div class="_ecom-section__content o-rhythm">
          <p>
            Our team cares deeply about accessibility, and so do your customers. The design and technical considerations that make experiences accessible to people with disabilities are of benefit to your entire audience, leading to increased revenue and customer loyalty.
            We regularly audit our work against the Web Content Accessibility Guidelines (WCAG) and have experience working with <abbr title="Americans with Disabilities Act">ADA</abbr> compliance requirements.
          </p>
          <div class="o-media _o-media--link">
            <div class="o-media__object">
              {% include '@cloudfour/components/avatar/avatar.twig' with {
                "src": "/media/landing/mystery-price-square.png",
              } only %}
            </div>
            <div class="o-media__content">
              <a class="_u-small" href="#">
                Many of the largest sporting goods ecommerce sites don’t provide
                accessible sale prices
              </a>
            </div>
            <div class="_o-media__icon">
              {% include '@cloudfour/components/icon/icon.twig' with {
                name: 'arrow-right',
                inline: true
              } %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="o-container o-container--pad">
    <div class="o-container__content o-rhythm">
      <h2 class="c-heading c-heading--light c-heading--level-0">
        Have a project?
        <b style="display: inline-block;">Let’s talk!</b>
      </h2>
      <div class="_form-and-quote">
        <div class="_form-and-quote__quote">
          <blockquote>
            <p>
              Cloud Four redefined my expectations for what an ecommerce design and development juggernaut could even possible be conceived of concordantly vis a vis indubitably true that fam.
            </p>
            <footer>
              <cite>Jane Basketweaver, CEO, <a style="display: inline-block;" href="#">Basketweaver Basketry</a></cite>
            </footer>
          </blockquote>
        </div>
        <div class="_form-and-quote__form o-rhythm">
          {% embed '@cloudfour/objects/form-group/form-group.twig' with { label: 'Label TBD' } only %}
            {% block control %}
              {% include '@cloudfour/components/input/input.twig' with { type: 'text' } only %}
            {% endblock %}
          {% endembed %}
          {% embed '@cloudfour/objects/form-group/form-group.twig' with { label: 'Label TBD' } only %}
            {% block control %}
              {% include '@cloudfour/components/input/input.twig' with { type: 'text' } only %}
            {% endblock %}
          {% endembed %}
          {% embed '@cloudfour/objects/form-group/form-group.twig' with { label: 'Label TBD' } only %}
            {% block control %}
              {% include '@cloudfour/components/input/input.twig' with { type: 'textarea' } only %}
            {% endblock %}
          {% endembed %}
          {% include '@cloudfour/components/button/button.twig' with {
            "label": "Send",
          } only %}
        </div>
      </div>
    </div>
  </div>

</div>
