---
name: Example
sourceless: true
hidden: true
---

<div class="Message Message--offline">
  You seem to be offline at the moment. <span class="u-hidden u-md-inlineBlock">We'll keep trying to connect.</span> <a href=".">Try again</a>
  <a href="#" class="Message-close">
    {{svg "icons/plus" class="Icon"}}
  </a>
</div>

