---
notes: |
  Container for topmost page content.

  By default includes `.Sky-nav`, responsive navigation designed specifically
  for this containing element.

  Add clouds with the `.Sky--clouds` modifier.
---
<div class="Sky {{class}}">
  <div class="u-containSpread">
    {{#block "top"}}
      <header class="Sky-nav" role="banner">
          <ul class="Sky-nav-controls">
            {{! TODO: Allow these href destinations to be customized }}
            <li><a class="Sky-nav-controls-skipToMain Button Button--defaultDark u-textNoWrap u-hiddenTillFocus" href="#main">Skip to main content</a></li>
            <li><a class="Sky-nav-controls-skipToMenu Button Button--defaultDark" href="#menu" aria-label="Skip to navigation">Menu</a></li>
          </ul>
          <a class="Sky-nav-logo" href="/">
            <svg class="Sky-nav-logo-object" width="80" height="80" role="img" aria-labelledby="logo-title">
              <title id="logo-title">Cloud Four</title>
              <use xlink:href="/images/icons.svg#cloud-four" fill="currentColor"/>
            </svg>
          </a>
          {{! TODO: Allow this ID to be customized (see above href todo as well) }}
          <nav class="Sky-nav-menu" role="navigation" id="menu">
            <ul class="Sky-nav-menu-items">
              <li><a class="Sky-nav-menu-item" href="/#main" aria-current>What We Do</a></li>
              {{!-- <li><a class="Sky-nav-menu-item" href="/#main" aria-current>What Sets Us Apart</a></li> --}}
              <li><a class="Sky-nav-menu-item" href="/">Our Work</a></li>
              <li><a class="Sky-nav-menu-item" href="/">Articles</a></li>
              <li><a class="Sky-nav-menu-item" href="/">Speaking</a></li>
              <li><a class="Sky-nav-menu-item" href="/">Labs</a></li>
              <li><a class="Sky-nav-menu-item" href="/">Our Team</a></li>
            </ul>
          </nav>
      </header>
    {{/block}}
    {{{block "bottom"}}}
  </div>
</div>
