@use "sass:math";
@use '../../mixins/svg';
@use '../../mixins/unit';

.o-icon {
  @include svg.inherit-color;
  @include svg.inherit-size;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

/**
 * Apply a small vertical adjustment to properly align with adjacent text.
 *
 * 1. We convert a pixel value to rems so it will scale with the root font size
 *    but not with the icon itself. If we scale the adjustment with the icon
 *    itself, it will appear too dramatic the larger the icon is in comparison
 *    to adjacent text.
 *
 * @see https://cloudfour.com/thinks/some-imaginary-css/#align-to-typeface-median
 */
.o-icon--inline {
  top: unit.px-to-rem(-2px); /* 1 */
}
