---
name: Background
notes: |
  + `.u-bgWhite` makes the background color white.
  + `.u-bgGray` makes the background color gray.
  + `.u-bgGrayTarget` makes the background color gray when the element is the
    `:target` (when its ID matches the current hash)
---

<div class="u-bgGray u-pad1 u-spaceItems1">
  <p>Gray container.</p>
  <div class="u-bgWhite u-pad1">
    <p>White container.</p>
  </div>
</div>
