---
name: List
previewClass: u-spaceItems1
notes: |
  Utilities for styling ordered or unordered lists.

  + `u-listUnstyled` removes list item indicators and default whitespace.
  + `u-listInline` arranges items in a wrapping inline list with gaps in-between.
  + `u-listColumns` allows list style to be combined with column utilities.
---

<ul class="u-listUnstyled">
  {{#iterate 3}}
    <li>Unstyled item {{@count}}</li>
  {{/iterate}}
</ul>

<ul class="u-listInline">
  {{#iterate 3}}
    <li>Inline item {{@count}}</li>
  {{/iterate}}
</ul>

<ul class="u-listColumns u-columns3">
  {{#iterate 6}}
    <li>Column item {{@count}}</li>
  {{/iterate}}
</ul>
