---
name: Position
notes: |
  Includes all standard SUIT CSS position utilities:

  + `u-posAbsolute` absolutely positions an element.
  + `u-posAbsoluteCenter` absolutely positions and centre an element.
  + `u-posFit` fits an element to the dimensions of its parent
  + `u-posFullScreen` ixes an element over the viewport
  + `u-posFixed` fixed positions an element.
  + `u-posFixedCenter` fixes an element in the centre of the viewport
  + `u-posRelative` relatively positions an element.
  + `u-posStatic` static positions an element.

  Also includes additional utilities that extend the standard ones:

  + `u-posAbsoluteTopCenter`
  + `u-posAbsoluteTopLeft`
  + `u-posAbsoluteTopRight`
  + `u-posAbsoluteBottomLeft`
  + `u-posAbsoluteBottomRight`

  Some of these utilities also support responsive breakpoint prefixes:

  + `u-sm-posAbsoluteTopLeft`
  + `u-md-posAbsoluteTopLeft`
  + `u-lg-posAbsoluteTopLeft`
  + `u-sm-posAbsoluteTopRight`
  + `u-md-posAbsoluteTopRight`
  + `u-lg-posAbsoluteTopRight`
  + `u-sm-posAbsoluteBottomLeft`
  + `u-md-posAbsoluteBottomLeft`
  + `u-lg-posAbsoluteBottomLeft`
  + `u-sm-posAbsoluteBottomRight`
  + `u-md-posAbsoluteBottomRight`
  + `u-lg-posAbsoluteBottomRight`

links:
  "SUIT CSS utilities: position": https://github.com/suitcss/utils-position
---

<div class="u-posRelative" style="height: 20em;">
  <div class="u-posAbsoluteTopLeft u-bgGray u-pad1">Top Left</div>
  <div class="u-posAbsoluteTopCenter u-bgGray u-pad1">Top Center</div>
  <div class="u-posAbsoluteTopRight u-bgGray u-pad1">Top Right</div>
  <div class="u-posAbsoluteBottomRight u-bgGray u-pad1">Bottom Right</div>
  <div class="u-posAbsoluteBottomLeft u-bgGray u-pad1">Bottom Left</div>
  <div class="u-posAbsoluteCenter u-bgGray u-pad1">Center</div>
</div>
