---
name: Scroll
notes: |
  Utility for preventing horizontal overflow while allowing a scrollbar to
  still access the overflowing content. Works well for wrapping tables with
  a lot of columns.
---

<div class="u-scrollX">
  <table class="Table Table--ruled">
    <thead>
      <tr>
        {{#iterate 15}}
          <th>{{capitalize (random "word")}}</th>
        {{/iterate}}
      </tr>
    </thead>
    <tbody>
      {{#iterate 3}}
        <tr>
          {{#iterate 15}}
            <td>{{random "word"}}</td>
          {{/iterate}}
        </tr>
      {{/iterate}}
    </tbody>
  </table>
</div>
