---
name: Space
previewClass: u-spaceItems1
notes: |
  Utilities for applying whitespace adjustments (`margin` or `padding`) to
  elements.

  + `u-spaceX` applies `margin` all around.
  + `u-spaceEndsX` applies `margin` to top and bottom.
  + `u-spaceSidesX` applies `margin` to left and right.
  + `u-spaceTopX` applies `margin` to top.
  + `u-spaceBottomX` applies `margin` to bottom.
  + `u-spaceLeftX` applies `margin` to left.
  + `u-spaceRightX` applies `margin` to right.
  + `u-spaceItemsX` applies vertical `margin` between adjacent items.
  + `u-staggerItemsX` applies vertical `margin` between adjacent items proportional to the item's `font-size`.
  + `u-staggerHeadingsX` can be used to apply increased vertical `margin` to
  headings. Useful for increasing contrast between headings and their preceding content.
  + `u-padX` applies `padding` all around.
  + `u-padEndsX` applies `padding` to top and bottom.
  + `u-padSidesX` applies `padding` to left and right.
  + `u-padTopX` applies `padding` to top.
  + `u-padBottomX` applies `padding` to bottom.
  + `u-padLeftX` applies `padding` to left.
  + `u-padRightX` applies `padding` to right.
  + `u-pullSidesX` applies negative `margin` to left and right.
  + `u-pullLeftX` applies negative `margin` to left.
  + `u-pullRightX` applies negative `margin` to right.

  `X` corresponds to a point in our modular scale, which keeps whitespace
  feeling harmonious with our typography.

  Omit `X` to use a whitespace value equal to our modular scale ratio. Use `1`
  through `6` to apply the corresponding multiplier to the ratio. Apply a
  leading zero (`01` through `06`) for whitespace smaller than the ratio with
  any of the above utilities except `u-pull*`.

  With the exception of `u-spaceItems*` and `u-stagger*`, all of these
  utilities support our standard breakpoint abbreviations of `sm`, `md` and `lg`.
---

<div class="u-borderLeftMd u-padLeftNone">
  None
</div>
<div class="u-borderLeftMd u-padLeft06">
  06
</div>
<div class="u-borderLeftMd u-padLeft05">
  05
</div>
<div class="u-borderLeftMd u-padLeft04">
  04
</div>
<div class="u-borderLeftMd u-padLeft03">
  03
</div>
<div class="u-borderLeftMd u-padLeft02">
  02
</div>
<div class="u-borderLeftMd u-padLeft01">
  01
</div>
<div class="u-borderLeftMd u-padLeft">
  Default
</div>
<div class="u-borderLeftMd u-padLeft1">
  1
</div>
<div class="u-borderLeftMd u-padLeft2">
  2
</div>
<div class="u-borderLeftMd u-padLeft3">
  3
</div>
<div class="u-borderLeftMd u-padLeft4">
  4
</div>
<div class="u-borderLeftMd u-padLeft5">
  5
</div>
<div class="u-borderLeftMd u-padLeft6">
  6
</div>
