{% embed '@cloudfour/components/cloud-cover/cloud-cover.twig' %}
  {% block content %}
    {% embed '@cloudfour/objects/rhythm/rhythm.twig' with {
      class: 'o-rhythm--condensed'
    } only %}
      {% block content %}
        {% include '@cloudfour/components/heading/heading.twig' with {
          level: -2,
          content: 'Our Team'
        } only %}
        <p>
          We are a small, versatile team who care passionately about the web.
          We’re full of what our industry considers unicorns. Our designers
          code. Our developers went to art school.
        </p>
      {% endblock %}
    {% endembed %}
  {% endblock %}
{% endembed %}
