{% embed '@cloudfour/components/cloud-cover/cloud-cover.twig' %}
  {% block heading %}
    {% include '@cloudfour/components/heading/heading.twig' with {
      level: -2,
      content: 'Articles'
    } only %}
  {% endblock %}
  {% block content %}
    <p>
      Tales from the edge of the web
    </p>
  {% endblock %}
  {% block extra %}
    {% embed '@cloudfour/components/subscribe/subscribe.twig' with {
      form_id: 'cloud-cover-test'
    } only %}{% endembed %}
  {% endblock %}
{% endembed %}
