{% embed '@cloudfour/components/cloud-cover/cloud-cover.twig' %}
  {% block content %}
    {% embed '@cloudfour/objects/rhythm/rhythm.twig' with {
      class: 'o-rhythm--condensed'
    } only %}
      {% block content %}
        {% include '@cloudfour/components/heading/heading.twig' with {
          level: -2,
          content: 'What We Do'
        } only %}
        <p>
          We
          {% include '@cloudfour/components/icon/icon.twig' with {
            name: 'heart',
            inline: true
          } only %}
          <span class="u-hidden-visually">love</span>
          solving tough puzzles through design and&nbsp;code.
        </p>
      {% endblock %}
    {% endembed %}
  {% endblock %}
  {% block scene %}
    <img class="c-cloud-cover__scene-object" src="{{image}}" alt="Example">
  {% endblock %}
{% endembed %}
