{% embed '../message.twig' %}
  {% block content %}
    <p>
      {{label|default('Messages contain short, concise information used to highlight important
      information.')}}
      
    </p>
  {% endblock %}
{% endembed %}
