{% embed '../message.twig' %}
  <p id="MessageInfo">
    {% block content %}
      Messages contain short, consice information used to highlight important
      information.
    {% endblock %}
  </p>
{% endembed %}
