{% embed '@cloudfour/patterns/components/message/message.twig' with { include_close: true } %}
  {% block content %}
    <p>
      {{label|default('Message with close button')}}
    </p>
  {% endblock %}
{% endembed %}
