{% embed '../message.twig' with {
  includeClose: true,
  class: 'c-message--warning' } 
%}
  {% block content %}
    <p>
      You seem to be offline at the moment.
      <span>We'll keep trying to
      connect.</span> <a href=".">Try again</a>
    </p>
  {% endblock %}
{% endembed %}
