@use '../../design-tokens/breakpoint.yml';
@use '../../design-tokens/colors.yml';
@use '../../design-tokens/sizes.yml';
@use '../../mixins/fluid';
@use '../../mixins/ms';

$_row-gap: ms.step(0);

.c-card {
  display: grid;
  @include fluid.grid-column-gap(
    breakpoint.$s,
    breakpoint.$xl,
    ms.step(1, 1rem),
    ms.step(3, 1rem)
  );
  grid-template-areas:
    'object'
    'header'
    'content'
    'footer';
  grid-template-rows: auto auto 1fr auto;
  position: relative;
}

.c-card--horizontal {
  grid-template-areas:
    'object object .'
    'object object header'
    'object object content'
    'object object footer'
    'object object .';
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr repeat(3, auto) 1fr;
}

.c-card__header {
  grid-area: header;
}

.c-card__object {
  border-radius: sizes.$radius-medium;
  grid-area: object;
  overflow: hidden;
  position: relative;

  .c-card__header ~ & {
    margin-bottom: $_row-gap;

    .c-card--horizontal & {
      margin-bottom: 0;
    }
  }
}

.c-card__object::before {
  content: '';
  display: block;
  padding-bottom: (100% / (16/9));
}

.c-card__object > *,
.c-card__object > picture > img {
  height: 100%;
  left: 0;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  width: 100%;
}

.c-card__content {
  grid-area: content;

  &:not(:first-child) {
    margin-top: $_row-gap;
  }
}

.c-card__footer {
  grid-area: footer;

  &:not(:first-child) {
    margin-top: $_row-gap;
  }
}
