@use '../../../compiled/tokens/scss/color';
@use 'sass:math';

$_line-color: color.$base-fuchsia-lighter;
$_line-size: 1px;

._demo-c-logo-alignment {
  background-image: linear-gradient(
    to bottom,
    transparent calc(50% - math.div($_line-size, 2)),
    $_line-color calc(50% - math.div($_line-size, 2)),
    $_line-color calc(50% + math.div($_line-size, 2)),
    transparent calc(50% + math.div($_line-size, 2))
  );
  border: 0 solid $_line-color;
  border-width: $_line-size 0;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;

  > * {
    border: inherit;
    border-width: 0 $_line-size;
  }
}
