{% set fallback = fallback|default('x') %}

{% set _dir = '@cloudfour/assets/icons/' %}
{% set _ext = '.svg.twig' %}
{% set _path = _dir ~ name ~ _ext %}
{% set _fallback_path = _dir ~ fallback ~ _ext %}

{% set _class = 'c-icon' %}

{% if inline %}
  {% set _class = _class ~ ' c-icon--inline' %}
{% endif %}

{% if class %}
  {% set _class = _class ~ ' ' ~ class %}
{% endif %}

{% if title %}
  {% set _role = role ?? 'img' %}
  {% embed [ _path, _fallback_path ] with {
    class: _class,
    role: _role,
  } %}
    {% block before %}
      <title>{{title}}</title>
    {% endblock %}
  {% endembed %}
{% else %}
  {% set _aria_hidden = aria_hidden ?? 'true' %}
  {% include [ _path, _fallback_path ] with {
    class: _class,
    aria_hidden: _aria_hidden,
  } %}
{% endif %}
