@use "sass:math";
@use "../../mixins/svg";
@use "../../mixins/icon";

.c-icon {
  @include svg.inherit-color;
  @include svg.inherit-size;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

/**
 * Apply a small vertical adjustment to properly align with adjacent text.
 */

.c-icon--inline {
  @include icon.inline();
}
