---
hidden: true
---
<div class="FlexEmbed">
  <div class="FlexEmbed-ratio{{#if ratio}} FlexEmbed-ratio--{{ratio}}{{/if}}"></div>
  {{#block "content"}}
    <div class="FlexEmbed-content"></div>
  {{/block}}
</div>
