---
title: Icons | Fabricator
fabricator: true
---

<h1>Icons</h1>

<p>
  This toolkit includes a custom library of icons to accompany content where
  appropriate. These icons will inherit the parent element's text color where
  specified by the icon designer.
</p>

<ul class="f-Icons">
  {{#each toolkit.icons}}
    <li class="f-Icon">
      <svg class="Icon">
        <use xlink:href="{{baseurl}}/assets/toolkit/images/icons.svg#{{this}}" />
      </svg>
      <span class="f-Icon-label">{{this}}</span>
    </li>
  {{/each}}
</ul>

<h2 id="usage">How to use</h2>

<p>
  Reference the <code>icons.svg</code> file with the hash of the icon you wish
  to use (e.g. <code>#envelope</code>) in a standard SVG element:
</p>

<pre class="language-markup"><code class="language-markup">&lt;svg class=&quot;Icon&quot;&gt;
  &lt;use xlink:href=&quot;assets/toolkit/images/icons.svg#foobar&quot; /&gt;
&lt;/svg&gt;</code></pre>

<p>
  The <code>.Icon</code> component class is included for consistent styles.
  Include the <code>.Icon--large</code> modifier to increase the icon's size
  relative to the containing element's <code>font-size</code>:
</p>


<div>
  <svg class="Icon">
    <use xlink:href="{{baseurl}}/assets/toolkit/images/icons.svg#envelope" />
  </svg>
  <code>.Icon</code>
</div>
<div>
  <svg class="Icon Icon--large">
    <use xlink:href="{{baseurl}}/assets/toolkit/images/icons.svg#envelope" />
  </svg>
  <code>.Icon.Icon--large</code>
</div>
