---
title: Overview | Fabricator
fabricator: true
---

<h1>Overview</h1>

<p>This UI toolkit is a highly-modular design system for rapid web page development. It contains different materials that can be assembled into more complex page layouts.</p>

<p>This guide contains real working examples, code snippets, documentation, and style guidelines.</p>

<h2>Usage</h2>

<p>Start by adding the following files to your page:</p>

<pre class="language-markup"><code class="language-markup">&lt;link rel=&quot;stylesheet&quot; href=&quot;assets/toolkit/styles/toolkit.css&quot;&gt;</code></pre>

<pre class="language-markup"><code class="language-markup">&lt;script src=&quot;assets/toolkit/scripts/toolkit.js&quot;&gt;&lt;/script&gt;</code></pre>


<h2>Color</h2>

{{#each toolkit.colors}}
	<ul class="f-Swatches">
		{{#each this}}
			<li class="f-Swatch" style="border-top-color:{{this}}">
				<div class="f-Swatch-name">{{@key}}</div>
				<div class="f-Swatch-color">{{this}}</div>
			</li>
		{{/each}}
	</ul>
{{/each}}

<h2>Typography</h2>

{{!-- Body copy --}}

<p>
	<strong>Though Lausanne is so near Geneva,</strong> its history, in historical
	times, has been widely different from that of the neighbouring town. Geneva
	enjoyed a modified independence from an early date, and became completely
	independent early in the sixteenth century. Lausanne, until nearly 300 years
	later, endured the domination, first of Savoy, and subsequently of Berne.
</p>
<p>
	<em>The early history is obscure and full of vexed questions</em> as well as
	unfamiliar names; but the central fact is that the Counts of Savoy—they were
	not promoted to be Dukes of Savoy until later—took possession of the Canton of
	Vaud, as well as of the Chablais and the lower Valais, after the death of the
	last of the Zaeringen, at the beginning of the thirteenth century.
</p>

<blockquote>
	<p>
		This preceding text makes sure initial paragraphs are still blocks.
	</p>
	<p>
		This unit represents the number of dots per px unit. Due to the 1:96 fixed
		ratio of CSS in to CSS px, 1dppx is equivalent to 96dpi, that corresponds
		to the default resolution of images displayed in CSS as defined by
		image-resolution.
	</p>
	<footer>
		<cite>
			<a href="//developer.mozilla.org">The Mozilla Developer Network</a>
		</cite>
	</footer>
</blockquote>

{{!-- Headings --}}

<h1>{{toolkit.specimens.heading}}</h1>
<h2>{{toolkit.specimens.heading}}</h2>
<h3>{{toolkit.specimens.heading}}</h3>
<h4>{{toolkit.specimens.heading}}</h4>
<h5>{{toolkit.specimens.heading}}</h5>
<h6>{{toolkit.specimens.heading}}</h6>

{{!-- Horizontal rule --}}

<hr>

{{!-- Lists --}}

<ul>
	{{#each toolkit.languages}}
		<li>{{@key}}</li>
	{{/each}}
</ul>

<ol>
	{{#each toolkit.languages}}
		<li>{{@key}}</li>
	{{/each}}
</ol>

<dl>
	{{#each toolkit.languages}}
		<dt>
			<b>{{@key}}</b>
		</dt>
		<dd>{{.}}</dd>
	{{/each}}
</dl>
