---
title: Timeline | Fabricator
fabricator: true
---

<h1 data-f-toggle="labels">Project Timeline</h1>

<div>{{!-- Defy the owl's spacing ಠ__ಠ --}}
  {{#each timeline.groups}}
    <div class="f-Timeline{{#if type}} f-Timeline--{{type}}{{/if}}">
      {{#each items}}
        <article class="f-Timeline-item">
          <div class="f-Timeline-tile">
            <h3>{{heading}}</h3>
            <ul class="f-u-listUnstyled">
              {{#each details}}
                <li>{{{.}}}</li>
              {{/each}}
            </ul>
          </div>
        </article>
      {{/each}}
    </div>
  {{/each}}
</div>
