@use '../../compiled/tokens/scss/color';
@use '../../compiled/tokens/scss/size';
@use '../../mixins/theme';
@use '../../mixins/ms';

/// Footnote groups are used to group footnotes together in a list
.c-footnote-group {
  --spacing-footnotes: #{ms.step(2)};

  border-top: size.$edge-medium solid color.$base-gray-lighter;
  margin-top: var(--spacing-footnotes);
  padding-top: var(--spacing-footnotes);

  @include theme.styles(dark) {
    border-color: color.$brand-primary-light;
  }
}

/// Compact footnote groups have smaller text, smaller gaps, and no top
/// border/padding
.c-footnote-group--compact {
  --spacing-footnotes: #{ms.step(1)};

  border-top: none;
  font-size: ms.step(-1);
  padding-top: 0;
}

.c-footnote-group__list > * + * {
  margin-top: var(--spacing-footnotes);
}
