<div class="demo-u-rounded-sizes">
  {% for class in ['u-rounded', 'u-rounded-full', 'u-rounded-none'] %}
    {% include '../../../components/button/button.twig' with { label: class } %}
  {% endfor %}
</div>
