---
title: Overview
---

<h1>{{title}}</h1>

<p>
  This UI toolkit is a highly-modular design system for rapid web page
  development. It contains different materials that can be assembled into more
  complex page layouts.
</p>

<p>
  This guide contains real working examples, code snippets, documentation, and
  style guidelines.
</p>

<h2>Colors</h2>

{{#each drizzle.data.colors.contents}}
  <h4 class="drizzle-u-capitalize">{{@key}}</h4>
  <ul class="drizzle-u-listInline">
    {{#each this}}
      <li class="drizzle-u-marginBottom">
        {{> drizzle.swatch }}
      </li>
    {{/each}}
  </ul>
{{/each}}
