@use '../../compiled/tokens/scss/color';
@use '../../compiled/tokens/scss/ease';
@use '../../compiled/tokens/scss/scale';
@use '../../compiled/tokens/scss/size';
@use '../../compiled/tokens/scss/transition';
@use '../../mixins/focus';
@use '../../mixins/ms';

.c-alert {
  background: var(--theme-color-background-secondary);
  border-radius: size.$border-radius-medium;
  color: var(--theme-color-text-emphasis);
}

/// When alert is meant to span the full viewport width, we omit its rounded
/// corners to avoid awkward counter spaces where the background shows through
/// those corners.
.c-alert--full-width {
  border-radius: 0;
}

/// We use a separate inner element so we can constrain it when the alert is
/// full-width without having to factor in the size of the optional dismissal
/// control.
///
/// We lay out elements using CSS Grid to avoid relying on negative margins
/// so that the dismissal control's interactive area will reach the element's
/// edges.
///
/// The spacing here involves more "magic" numbers than I wanted it to, but
/// since the default container is pretty subtle neither the standard container
/// padding nor control padding felt quite right. We may want to revisit that
/// in the future.
.c-alert__inner {
  display: grid;
  grid-column-gap: ms.step(1);
  grid-template-areas:
    '. . dismiss'
    '. content dismiss'
    '. . dismiss';
  grid-template-columns: 0 1fr minmax(0, auto);
  grid-template-rows: ms.step(-1) minmax(0, auto) ms.step(-1);

  /// We only bother constraining this element when it's full-width.
  .c-alert--full-width & {
    margin: 0 auto;
    max-width: size.$max-width-spread;
  }
}

.c-alert__content {
  grid-area: content;
}

/// Reset the dismissal button's appearance and center-align its content
.c-alert__dismiss {
  align-items: center;
  appearance: none;
  background: transparent;
  border: 0;
  border-radius: size.$border-radius-medium;
  color: inherit;
  cursor: pointer;
  display: flex;
  font: inherit;
  grid-area: dismiss;
  justify-content: center;
  margin: 0;
  // This is a magic number but it just feels right, y'know?
  min-width: ms.step(5);
  padding: 0;

  @include focus.focus-visible {
    box-shadow: 0 0 0 size.$edge-large color.$brand-primary-lighter;
  }
}

/// We apply the transition effects to the icon so the button itself won't break
/// outside of the alert, which is particularly important when it's full-width.
.c-alert__dismiss-icon {
  transition: filter transition.$slow ease.$out,
    transform transition.$quick ease.$out;

  .c-alert__dismiss:hover & {
    transform: scale(scale.$effect-grow);
  }

  .c-alert__dismiss:active & {
    transform: scale(scale.$effect-shrink);
  }
}
