<p>
  Micro-interactions are small, singular interactions that serve one purpose:
  communicate meaningful feedback to users in a positive and welcoming
  way.{% include '@cloudfour/components/footnote-link/footnote-link.twig' with {
    count: count
  } %}
  People like to constantly know <em>what’s</em> going to happen when an
  action is performed and tend to expect something to happen when they
  interact with it. The pop of the heart when you favorite a post, the
  elasticity of pull-to-refresh, or even snoozing your alarm are all
  examples of micro-interactions we experience every day.
  I think it’s important to take the extra time to make these experiences
  feel more human.
</p>
