{% embed '@cloudfour/objects/embed/embed.twig' %}
  {% block content %}
    <iframe height="300" style="width: 100%;" scrolling="no" title="Staggered Menu Transition" src="https://codepen.io/tylersticka/embed/rWKVrj?height=300&theme-id=28494&default-tab=css,result">
      See the Pen <a href='https://codepen.io/tylersticka/pen/rWKVrj'>Staggered Menu Transition</a> by Tyler Sticka
      (<a href='https://codepen.io/tylersticka'>@tylersticka</a>) on <a href='https://codepen.io'>CodePen</a>.
    </iframe>
  {% endblock %}
{% endembed %}
