<div id="signup-form-a">
  <div class="c-cloud-cover t-dark">
    <div class="o-container o-container--pad-inline">
      <div class="o-container__content c-cloud-cover__inner">
        <div class="c-cloud-cover__content">
          <div class="o-rhythm o-rhythm--condensed">
            <h1 class="c-heading c-heading--level-n2">Articles</h1>
            <p>Tales from the edge of the web</p>
          </div>
        </div>
        <div class="c-cloud-cover__extra">
          <label for="demo-input">Send weekly digests to...</label>
          <demo class="demo-input-basic demo-input-button">
            <input
              type="text"
              value=""
              class="c-input"
              id="demo-input"
              placeholder="Example: you@somewhere.tld"
            />
            <button class="c-button" type="button">Subscribe</button>
          </demo>
        </div>
      </div>
    </div>
  </div>
</div>
