---
name: Post Byline
order: 4
notes: |
  This is an author bio summary intended to live at the end of blog posts.
---

<div class="u-cf u-bgGray u-pad1 u-pullSides1">
  <a class="Thumbnail Thumbnail--circle u-floatRight u-spaceLeft"
   href="{{defaultTo author.url '#'}}">
    <img src="/assets/toolkit/images/sandbox/orange-avatar.svg" width="75"
     height="75" alt="{{defaultTo author.name 'Author Name'}}" />
  </a>
  <p>
    {{#block "bio"}}
      <a href="#">Author Name</a> has an author bio. HTML elements
      can be within it. It should be relatively short. It should
      contain some links, possibly pointing to a <a href="#">@twitter</a> profile or maybe a <a href="#">website</a>.
    {{/block}}
  </p>
</div>
