---
name: Pullquote
order: 3
default: |
  I have always considered myself a “designer who codes”. I enjoy that aspect of
  the web, even while in a purely visual design role.
---

<blockquote class="u-bgGray u-paddingMd u-textLarger {{class}}">
  <p>
    {{#block "content"}}
      I have always considered myself a “designer who codes”. I enjoy that aspect of
      the web, even while in a purely visual design role.
    {{/block}}
  </p>
</blockquote>
