---
name: Post Intro
order: 3
notes: |
  This is intended to contain the introductory portion of a blog post.
---

<div class="u-bgGray u-pad1 u-pullSides1 u-textGrow1 u-spaceItems1">
  {{#block "content"}}
    <p>
      I have always considered myself a “designer who codes”. I enjoy that aspect of the web, even while in a purely visual design role.
    </p>
  {{/block}}
</div>
