---
name: Post Comment Form
order: 5
---

<form class="u-spaceItems1 {{class}}" id="respond">
  {{#unless isReply}}
    <h2>Leave a Comment</h2>
  {{/unless}}
  <p>Please be kind, courteous and constructive. You may use simple HTML or <a href="https://en.support.wordpress.com/markdown-quick-reference/">Markdown</a> in your comments. All fields are required.</p>
  {{#embed "patterns.components.input.float-label.base"
    type="textarea"
    label="Message"
    inputclass="js-ElasticTextarea"
    inputid="comment"}}{{/embed}}
  <div class="Grid Grid--withGutter">
    <div class="Grid-cell u-sm-size1of2">
      {{#embed "patterns.components.input.float-label.base"
        label="Name"
        inputid="name"
        inputname="name"
        autocomplete="name"}}{{/embed}}
    </div>
    <div class="Grid-cell u-spaceTop1 u-sm-spaceTopNone u-sm-size1of2">
      {{#embed "patterns.components.input.float-label.base"
        label="Email"
        type="email"
        inputid="email"
        inputname="email"
        autocomplete="home email"}}{{/embed}}
    </div>
    {{#if isReply}}
      <div class="Grid-cell u-spaceTop1 u-textRight">
        <a href="#" class="Button u-spaceRight04 js-comment-formToggle">
          Cancel
        </a>
        {{#embed "patterns.components.button.base" class="Button--default"}}
          {{#content "content"}}
            Submit Reply
          {{/content}}
        {{/embed}}
        <input type="hidden" name="comment_parent" id="comment_parent" value="0">
      </div>
    {{else}}
      <div class="Grid-cell u-spaceTop1">
        {{#embed "patterns.components.button.base" class="Button--default u-block u-sizeFull"}}
          {{#content "content"}}
            Submit {{#if isReply}}Reply{{else}}Comment{{/if}}
          {{/content}}
        {{/embed}}
      </div>
    {{/if}}
  </div>
</form>
