@use '../../compiled/tokens/scss/breakpoint';
@use '../../compiled/tokens/scss/color';
@use '../../mixins/a11y';

// button[aria-expanded='false'] + .c-disclosure-widget__form {
//   // display: none;
// }

.c-disclosure-widget {
  display: grid;
  gap: 1rem;
  position: relative;
}

.c-disclosure-widget .c-button {
  width: 100%;
}

.c-disclosure-widget__form {
  background-color: var(--form-bg-color, color.$base-white);
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;

  .c-disclosure-widget:not(.show-form) &:not(:target):not(:focus-within) {
    @include a11y.sr-only;
  }
}
