@use '../../compiled/tokens/scss/color';
@use '../../mixins/a11y';

body {
  @media (prefers-color-scheme: dark) {
    // Don't wake up baby
    background-color: black !important;
  }
}

.c-disclosure-widget {
  display: grid;
  gap: 1rem;
  position: relative;
}

.c-disclosure-widget__control {
  width: 100%;
}

.c-disclosure-widget__form {
  background-color: var(--form-bg-color, color.$base-white);
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;

  .c-disclosure-widget:not(.activate-form) &:not(:target):not(:focus-within) {
    @include a11y.sr-only;
  }
}
