<div
  class="c-disclosure-widget js-disclosure-widget{% if class %} {{ class }}{% endif %}"
  {% if form_bg_color %}
    style="--form-bg-color: {{form_bg_color}};"
  {% endif %}
>

  <div class="c-disclosure-widget__controls">
    {% include '@cloudfour/components/button-swap/button-swap.twig' with {
      class: '
        c-disclosure-widget__control
        js-disclosure-widget__control
      ',
      initial_label: 'Notifications have been turned off.',
      initial_visual_label: 'Get notifications',
      swapped_label: 'Notifications have been turned on.',
      swapped_visual_label: 'Turn off notifications'
    } only %}

    {% include '@cloudfour/components/button/button.twig' with {
      href: "##{ body_content_id }",
      class: '
        c-disclosure-widget__control
        js-disclosure-widget__control
        js-disclosure-widget__get-weekly-digests-btn
      ',
      label: button_label|default('Get Weekly Digests'),
      content_start_icon: button_icon|default('envelope')
    } only %}
  </div>


  <form id="{{ body_content_id }}" class="c-disclosure-widget__form">
    <label for="subscription-email">Email</label>
    <input id="subscription-email" type="text" />
    <button>Submit</button>
  </form>

</div>
