@use "../compiled/scss/tokens";

.t-dark {
  background-color: tokens.$color-brand-primary;
  color: tokens.$color-text-light;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    color: tokens.$color-text-light-emphasis;
  }

  del {
    opacity: inherit;
  }

  *:not(pre):not(a) > code,
  *:not(pre):not(a) > kbd {
    color: tokens.$color-text-light-emphasis;
  }

  *:not(pre):not(a) > kbd {
    background-color: tokens.$color-brand-primary-dark;
    border-color: tokens.$color-brand-primary-darker;
    box-shadow: 0 tokens.$size-edge-small 0 0 tokens.$color-brand-primary-darker;
  }
}
