@use "../design-tokens/colors.yml";
@use "../design-tokens/sizes.yml";

.t-dark {
  background-color: colors.$primary-brand;
  color: colors.$text-light;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    color: colors.$text-light-emphasis;
  }

  *:not(pre):not(a) > code {
    color: inherit;
  }

  *:not(pre):not(a) > kbd {
    background: colors.$primary-brand-dark;
    border-color: transparent;
    box-shadow: 0 sizes.$edge-small 0 0 colors.$primary-brand-darker;
    color: colors.$text-light-emphasis;
  }
}
