{% set _links %}{% block links %}{% endblock %}{% endset %}

<div class="o-individual-bio-group">
  <div class="o-individual-bio-group__avatar">
    {% block avatar %}{% endblock %}
  </div>
  {% if _links is not empty %}
    <div class="o-individual-bio-group__links">
      {{ _links }}
    </div>
  {% endif %}
  <div class="o-individual-bio-group__content">
    {% block content %}{% endblock %}
  </div>
</div>
