<p>
  Before:
  {% include '@cloudfour/assets/icons/heart.svg.twig' with {
    class: 'c-icon'
  } %}
</p>
<p>
  After:
  {% include '@cloudfour/assets/icons/heart.svg.twig' with {
    class: 'c-icon c-icon--inline'
  } %}
</p>
