{#
  These inline styles are necessary to fill both the Storybook canvas and doc
  previews while cooexisting with the Centered addon.

  It unfortunately does not play nicely with the Themes addon.

  It should be noted that Storybook and Storybook Docs are still in heavy
  development as of this writing. I imagine our options for pulling this off
  will improve over time.
#}
<div{% if theme %} class="t-{{theme}}"{% endif %} style="
  align-items: center;
  display: flex;
  justify-content: center;
  left: 0;
  min-height: 100%;
  position: fixed;
  top: 0;
  width: 100%;">
  <div>
    {% block content %}
      <h1>Hello world</h1>
      <p>Progressive web apps <a href="#">simply make sense</a>!</p>
    {% endblock %}
  </div>
</div>
