<div class="f-Item-preview f-u-cf">
  {{{material @key @root}}}
</div>
<ul class="f-Item-controls f-u-listInline">
  <li>
    <a href="#{{@key}}-source" class="f-Item-control" data-f-toggle-control="code">
      <svg>
        <use xlink:href="#f-icon-code" />
      </svg>
      Source
    </a>
  </li>
  {{#each data.links}}
    <li>
      <a href="{{this}}" class="f-Item-control">
        <svg>
          <use xlink:href="#f-icon-external" />
        </svg>
        {{@key}}
      </a>
    </li>
  {{/each}}
</ul>
<div id="{{@key}}-source" class="f-Item-code f-u-hidden" data-f-toggle="code">
  <pre><code class="language-markup">{{material @key @root}}</code></pre>
</div>
