<div class="f-Layout-nav f-Nav">
  <div class="f-Nav-header">
    <svg>
      <use xlink:href="#f-icon-cloudfour" />
    </svg>
  </div>
  <ul class="f-Nav-menu">
    <li>
      <a href="index.html" class="f-Nav-item f-Nav-item--heading">Overview</a>
    </li>
    <li>
      <a href="timeline.html" class="f-Nav-item f-Nav-item--heading">Timeline</a>
    </li>
    <li>
      <a href="icons.html" class="f-Nav-item f-Nav-item--heading">Icons</a>
    </li>
    <li>
      <a href="typography.html" class="f-Nav-item f-Nav-item--heading">Typography</a>
      <ul class="f-Nav-menu">
        {{#each materials.typography.items}}
          <li>
            <a href="typography.html#{{@key}}" class="f-Nav-item">
              {{ displayName name}}
            </a>
          </li>
        {{/each}}
      </ul>
    </li>
    <li>
      <a href="components.html" class="f-Nav-item f-Nav-item--heading">Components</a>
      <ul class="f-Nav-menu">
        {{#each materials.components.items}}
          <li>
            <a href="components.html#{{@key}}" class="f-Nav-item">
              {{ displayName name}}
            </a>
          </li>
        {{/each}}
      </ul>
    </li>
    {{#each views}}
    <li>
      <a href="{{@key}}.html" class="f-Nav-item f-Nav-item--heading">{{ displayName name}}</a>
      <ul class="f-Nav-menu">
        {{#each items}}
        <li>
          <a href="{{@../key}}/{{@key}}.html" class="f-Nav-item">{{ displayName name}}</a>
        </li>
        {{/each}}
      </ul>
    </li>
    {{/each}}
    <li>
      <a href="docs.html" class="f-Nav-item f-Nav-item--heading">Docs</a>
      <ul class="f-Nav-menu">
        {{#each docs}}
        <li>
          <a href="docs.html#{{@key}}" class="f-Nav-item">{{ displayName name}}</a>
        </li>
        {{/each}}
      </ul>
    </li>
  </ul>
  <div class="f-Nav-footer">
    {{ moment format="MMM D, YYYY"}} &#183; {{ moment format="h:mma"}}
  </div>
</div>
