@use '../../design-tokens/breakpoint.yml';
@use '../../design-tokens/colors.yml';
@use '../../design-tokens/font.yml';
@use '../../design-tokens/opacity.yml';
@use '../../design-tokens/sizes.yml';
@use '../../mixins/theme';

/// The breakpoint at which items should attempt to display in a single line.
/// @access private
$_breakpoint-wide: breakpoint.$m;

/**
 * Themed properties
 */

@include theme.props() {
  --theme-color-border-event-log-item: #{colors.$gray-light};
  --theme-opacity-event-log-location: #{opacity.$muted};
}

@include theme.props(dark) {
  --theme-color-border-event-log-item: #{colors.$primary-brand-dark};
  --theme-opacity-event-log-location: 1;
}

.c-event-log {
  display: grid;
  grid-column-gap: sizes.$gap-inline-medium;
  grid-template-columns: auto 1fr;
}

.c-event-log__item {
  border: 0 solid var(--theme-color-border-event-log-item);
  display: grid;
  grid-column: span 2;
  grid-template-columns: 8rem 1fr;

  @supports (grid-template-columns: subgrid) {
    grid-template-columns: subgrid;
  }

  &:not(:first-child) {
    border-top-width: 1px;
    padding-top: sizes.$cell-pad-vertical;
  }

  &:not(:last-child) {
    padding-bottom: sizes.$cell-pad-vertical;
  }
}

.c-event-log__date {
  font: inherit;
}

.c-event-log__content {
  @media (width >= $_breakpoint-wide) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.c-event-log__details {
  display: inherit;
  flex-wrap: inherit;

  @media (width >= $_breakpoint-wide) {
    margin-right: sizes.$gap-inline-medium;
  }
}

.c-event-log__title {
  font-weight: font.$weight-semibold;

  @media (width >= $_breakpoint-wide) {
    margin-right: 1ch;
  }
}

.c-event-log__location {
  opacity: var(--theme-opacity-event-log-location);
}
