<div class="o-page{% if class %} {{ class }}{% endif %}">
  {% if block("header") is defined %}
    <div class="o-page__header{% if header_class %} {{ header_class }}{% endif %}">
      {% block header %}{% endblock %}
    </div>
  {% endif %}
  <div class="o-page__content{% if content_class %} {{ content_class }}{% endif %}">
    {% block content %}{% endblock %}
  </div>
  <div class="o-page__footer{% if footer_class %} {{ footer_class }}{% endif %}">
    {% block footer %}{% endblock %}
  </div>
</div>
