<div class="o-page{% if class %} {{ class }}{% endif %}">
  <div class="o-page__footer">
    {% block footer %}{% endblock %}
  </div>
  <div class="o-page__content">
    {% block content %}{% endblock %}
  </div>
</div>
