@use "../../../compiled/scss/tokens";
@use "../../../mixins/ms";

/**
 * Wrap entire prototype in selector to prevent CSS leakage.
 *
 * @see https://github.com/storybookjs/storybook/issues/729
 */

#prototype-articles-example {
  .articles {
    display: grid;
    grid-gap: ms.step(4);
    padding: ms.step(2);

    @media (min-width: tokens.$size-breakpoint-xs) {
      grid-template-columns: repeat(
        auto-fit,
        minmax(tokens.$size-breakpoint-xs - ms.step(2) * 2, 1fr)
      );
    }
  }
}
