{% embed '@cloudfour/objects/button-group/button-group.twig' %}
  {% block content %}
    <ul role="list">
      <li>
        <button class="c-button">Button 1</button>
      </li>
      <li>
        <button class="c-button">Button 2</button>
      </li>
      <li>
        <button class="c-button">Button 3</button>
      </li>
      <li>
        <button class="c-button">Button 4</button>
      </li>
      <li>
        <button class="c-button">Button 5</button>
      </li>
    </ul>
  {% endblock %}
{% endembed %}
