---
name: CodePen Preview
notes: |
  This is the combo for a Code Pen preview intended to be used in the "Experiments" section of the "Labs" page.

default:
  pen:
    title: Profile Header
    creator: Tyler Sticka
    url: http://codepen.io/tylersticka/pen/mewaqW
---
{{#with (defaultTo pen default.pen)}}
<a href="{{url}}" class="u-linkBlock u-textInheritColor">
  <div class="Thumbnail u-block u-pullSides1 u-sm-spaceSidesNone u-sm-borderRadius">
    <img class="u-sizeFull" src="{{url}}/image/small.png" alt="">
  </div>
  <h4 class="u-linkTarget u-spaceTop01 u-sm-padRight">
    {{title}}
  </h4>
  <p>
    <span class="u-textShrink1">By {{creator}}</span>
  </p>
</a>
{{/with}}
