---
name: Block Modifier
notes: |
  The `Icon--block` class will omit any `line-height` adjustments and set the
  icon's `display` to `block`. This is useful if you plan on composing the icon
  using Flexbox, Grid or absolute positioning.
previewClass: u-spaceItems1
sourceless: true
---

<div class="u-borderMd">
  {{svg "icons/reply" class="Icon"}}
  Aligned normally
</div>
<div class="u-flex u-flexAlignItemsCenter u-borderMd">
  {{svg "icons/reply" class="Icon u-spaceRight06"}}
  <div>
    Aligned with Flexbox alone
  </div>
</div>
<div class="u-flex u-flexAlignItemsCenter u-borderMd">
  {{svg "icons/reply" class="Icon Icon--block u-spaceRight06"}}
  <div>
    Aligned with <code>Icon--block</code> and Flexbox
  </div>
</div>
