---
name: Example
previewClass: u-spaceItems1
sourceless: true
---

<div>
  <button class="Button Button--primary">
    {{svg "icons/envelope" class="Icon Icon--large u-spaceRight06"}}
    Drop us a line!
  </button>
</div>
<div>
  <a class="u-linkClean" href="#">
    View live demo
    {{svg "icons/arrow-right" class="Icon Icon--large u-spaceLeft06"}}
  </a>
</div>
