---
name: Example
sourceless: true
---

<div>
  <button class="Button Button--primary">
    {{#embed "patterns.components.icon.base"
     class="Icon--large"
     iconid="envelope"}}
    {{/embed}}
    Drop us a line!
  </button>
</div>
<div>
  <a href="#">
    View live demo
    {{#embed "patterns.components.icon.base"
     class="Icon--large"
     iconid="arrow-right"}}
    {{/embed}}
  </a>
</div>
