---
order: 1
sourceless: true
notes: |
  This toolkit includes a custom library of icons to accompany content where
  appropriate. These icons will inherit the parent element's text color where
  specified by the icon designer.
---

<ul class="drizzle-Grid drizzle-u-listUnstyled">
  {{#each drizzle.data.toolkit.contents.icons}}
    <li class="
     drizzle-Grid-cell
     drizzle-u-size1of3
     drizzle-u-md-size1of4
     drizzle-u-textCenter
     drizzle-u-pad">
      <svg class="Icon u-textLarger">
        <use xlink:href="{{baseurl}}/assets/toolkit/images/icons.svg#{{this}}" />
      </svg>
      <div class="u-textSmaller">{{this}}</div>
    </li>
  {{/each}}
</ul>
