---
name: Compact Modifier
order: 3
notes: |
  Use the `.TextBlock--compact` modifier to make the `line-height` smaller.
---

<div class="TextBlock TextBlock--large TextBlock--compact">
  Looking for a way to get your team up to speed on what it takes to build
  on the multi-device web? That's our speciality.
</div>
