---
name: Large Modifier
order: 2
notes: |
  Use the `.TextBlock--large` modifier to make the text larger.
---

<div class="TextBlock TextBlock--large">
  Looking for a way to get your team up to speed on what it takes to build
  on the multi-device web? That's our speciality.
</div>
