:root {
  /* Common properties */
  --color-aqua: #7fdbff;
  --color-blue: #456BD9;
  --color-lime: #01ff70;
  --color-navy: #001f3f;
  --color-teal: #39cccc;
  --color-olive: #3d9970;
  --color-green: #2ecc40;
  --color-red: #ff4136;
  --color-maroon: #85144b;
  --color-orange: #ff851b;
  --color-purple: #b10dc9;
  --color-yellow: #ffdc00;
  --color-fuchsia: #f012be;
  --color-gray: color(var(--color-silver) l(-10%));
  --color-white: #fff;
  --color-black: #111;
  --color-silver: #DBE5EA;
  --monospace: "Source Code Pro";
  --space: 1rem;

  /* SUIT component properties */
  --Arrange-gutter-size: calc(var(--space) / 2);
}

@custom-media --sm-viewport (max-width: 30em);
@custom-media --md-viewport (min-width: 40em);
@custom-media --lg-viewport (min-width: 60em);

@custom-selector :--enter :matches(:hover, :focus, :active);
@custom-selector :--heading h1, h2, h3, h4, h5, h6;

/* For Drizzle demos/previews */
@custom-selector :--demo-box [class*="Grid-cell"];
