@use "../../design-tokens/colors.yml";
@use "../../design-tokens/motion.yml";
@use "../../design-tokens/sizes.yml";
@use "../../mixins/focus";
@use "../../mixins/theme";

/**
 * Themed properties
 */

@include theme.props() {
  --theme-color-text-checkbox-checked-hover: var(
    --theme-color-text-checkbox-hover
  );
  --theme-color-text-checkbox-disabled: #{colors.$gray-dark};
  --theme-color-text-checkbox-hover: #{colors.$primary-brand};
}

@include theme.props(dark) {
  --theme-color-text-checkbox-checked-hover: #{colors.$primary-brand-darker};
  --theme-color-text-checkbox-disabled: #{colors.$text-light};
  --theme-color-text-checkbox-hover: #{colors.$text-dark};
}

/**
 * 1. This `@supports` query prevents IE11 (and older browsers) from applying
 *    these styles, falling back to the native checkbox appearance.
 * 2. Modern browsers let us apply wholly custom styles to certain elements,
 *    but only when `appearance` is set to `none`. Because this property is not
 *    a finalized standard, vendor prefixes are still required.
 * 3. Some browsers will squish the checkbox in flex containers, which we never,
 *    ever want.
 * 4. Without this, checkboxes appear too small unless hard-pixel sizes are
 *    used (ew).
 */

.c-checkbox {
  @supports (-moz-appearance: none) or (-webkit-appearance: none) or
    (appearance: none) {
    /* 1 */
    -moz-appearance: none; /* stylelint-disable-line property-no-vendor-prefix */
    -webkit-appearance: none; /* stylelint-disable-line property-no-vendor-prefix */
    appearance: none; /* 2 */
    background-color: colors.$text-light;
    border: sizes.$edge-medium solid currentColor;
    border-radius: sizes.$radius_medium;
    color: colors.$text-dark;
    cursor: pointer;
    flex: none; /* 3 */
    font: inherit; /* 4 */
    height: sizes.$toggle-medium;
    padding: 0;
    position: relative;
    transition-duration: motion.$speed-quick;
    transition-property: background-color, border-color, color;
    transition-timing-function: motion.$ease-out;
    vertical-align: middle;
    width: sizes.$toggle-medium;

    /**
     * We add the check mark via a pseudo element so we can easily apply
     * transitions to it without requiring separate elements.
     *
     * 1. The icon looks kind of claustrophobic if it runs right up to the
     *    element edge, so we re-use the border size as an inset value. This
     *    appears much more balanced!
     * 2. Starting state of animation.
     */

    &::after {
      background-image: svg-load(
        'icons/check.svg',
        stroke=colors.$text-light-emphasis
      );
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      bottom: sizes.$edge-medium; /* 1 */
      content: '';
      left: sizes.$edge-medium; /* 1 */
      opacity: 0; /* 2 */
      position: absolute;
      right: sizes.$edge-medium; /* 1 */
      top: sizes.$edge-medium; /* 1 */
      transform: scale(0); /* 2 */
      transition-duration: motion.$speed-quick;
      transition-property: opacity, transform;
      transition-timing-function: motion.$ease-out;
    }

    /**
     * State: Hover
     */

    &:hover {
      background-color: colors.$text-light-emphasis;
      color: var(--theme-color-text-checkbox-hover);
    }

    /**
     * State: Checked
     */

    &:checked {
      background-color: currentColor;

      /**
       * End state of animation
       */

      &::after {
        opacity: 1;
        transform: scale(1);
      }

      &:hover {
        color: var(--theme-color-text-checkbox-checked-hover);
      }
    }

    /**
     * State: Focused
     *
     * We use `focus-visible` here because checkboxes do not inherently require
     * keyboard interactions.
     */

    @include focus.focus-visible {
      box-shadow: 0 0 0 sizes.$edge-large colors.$primary-brand-lighter;
    }

    /**
     * State: Disabled
     *
     * 1. We want the checkbox to appear "read-only." A transparent background
     *    and dashed line help symbolize a lack of interactivity.
     * 2. Same color used for disabled `c-input` borders.
     */

    &:disabled {
      background-color: transparent; /* 1 */
      border-style: dashed; /* 1 */
      color: var(--theme-color-text-checkbox-disabled); /* 2 */
      cursor: not-allowed;

      &::after {
        /**
         * Inline SVGs aren't aware of custom properties, so we have to do a bit
         * of theming trickery here
         */

        &,
        .t-light & {
          background-image: svg-load(
            'icons/check.svg',
            stroke=colors.$gray-dark
          );
        }

        .t-dark & {
          background-image: svg-load(
            'icons/check.svg',
            stroke=colors.$text-light
          );
        }
      }

      /**
       * We can forego the border entirely for a disabled checkmark, as the hit
       * area is unimportant.
       */

      &:checked {
        border-color: transparent;
      }
    }
  }
}
