@use "../../design-tokens/colors.yml";
@use "../../design-tokens/motion.yml";
@use "../../design-tokens/sizes.yml";
@use "../../mixins/focus";

.c-checkbox {
  @supports (-moz-appearance: none) or (-webkit-appearance: none) or
    (appearance: none) {
    -moz-appearance: none; /* stylelint-disable-line property-no-vendor-prefix */
    -webkit-appearance: none; /* stylelint-disable-line property-no-vendor-prefix */
    appearance: none;
    background-color: colors.$text-light;
    border: sizes.$edge-medium solid currentColor;
    border-radius: sizes.$radius_medium;
    color: colors.$text-dark;
    cursor: pointer;
    font: inherit;
    height: sizes.$toggle-medium;
    margin: 0;
    padding: 0;
    position: relative;
    transition-duration: motion.$speed-quick;
    transition-property: background-color, border-color, color;
    transition-timing-function: motion.$ease-out;
    width: sizes.$toggle-medium;

    &::after {
      background-image: svg-load(
        'icons/check.svg',
        stroke=colors.$text-light-emphasis
      );
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      bottom: sizes.$edge-medium;
      content: '';
      left: sizes.$edge-medium;
      opacity: 0;
      position: absolute;
      right: sizes.$edge-medium;
      top: sizes.$edge-medium;
      transform: scale(0);
      transition-duration: motion.$speed-quick;
      transition-property: opacity, transform;
      transition-timing-function: motion.$ease-out;
    }

    &:hover {
      background-color: colors.$text-light-emphasis;
      color: colors.$primary-brand;

      .t-dark & {
        color: colors.$text-dark;
      }
    }

    &:checked {
      background-color: currentColor;

      &::after {
        opacity: 1;
        transform: scale(1);
      }

      .t-dark &:hover {
        color: colors.$primary-brand-darker;
      }
    }

    @include focus.focus-visible {
      box-shadow: 0 0 0 sizes.$edge-large colors.$primary-brand-lighter;
    }

    &:disabled {
      background-color: transparent;
      border-style: dashed;
      color: colors.$gray-dark;
      cursor: not-allowed;

      .t-dark & {
        color: colors.$text-light;
      }

      &::after {
        background-image: svg-load('icons/check.svg', stroke=colors.$gray-dark);

        .t-dark & {
          background-image: svg-load(
            'icons/check.svg',
            stroke=colors.$text-light
          );
        }
      }

      &:checked {
        border-color: transparent;
      }
    }
  }
}
