<div class="demo-checkbox-labels">
  <label class="demo-checkbox-label">
    {% include '@cloudfour/patterns/components/checkbox/checkbox.twig' %}
    Unchecked
  </label>
  <label class="demo-checkbox-label">
    {% include '@cloudfour/patterns/components/checkbox/checkbox.twig' with { checked: true } %}
    Checked
  </label>
</div>
