@use "../../compiled/tokens/scss/tokens";

.u-rounded {
  border-radius: tokens.$size-border-radius-medium !important;
}

.u-rounded-full {
  border-radius: tokens.$size-border-radius-full !important;
}

.u-rounded-none {
  border-radius: 0 !important;
}
