@use "../../compiled/tokens/scss/size";

.u-rounded {
  border-radius: size.$border-radius-medium !important;
}

.u-rounded-full {
  border-radius: size.$border-radius-full !important;
}

.u-rounded-none {
  border-radius: 0 !important;
}
