---
hidden: true;
---

<nav role="menu" aria-label="Pagination">
  <ul class="Pagination {{#compare (defaultTo current 1) '>' 1}}Pagination--withPrevious{{/compare}} {{#compare (defaultTo current 1) '<' (defaultTo pages 10)}}Pagination--withNext{{/compare}}">
    {{#iterate (defaultTo pages 10)}}
      <li>
        {{#compare @count "===" (defaultTo ../current 1)}}
          <span class="Pagination-item Pagination-item--muted">
            <span class="u-hiddenVisually">Currently viewing page</span>
            {{@count}}
          </span>
        {{else}}
          <a class="Pagination-item" href="#">
            {{#compare @count "===" (math (defaultTo ../current 1) "--")}}
              <span class="Pagination-item Pagination-item--previous">
                {{#svg "icons/arrow-left" class="Icon" aria-labelledby="pagination-previous-title"}}
                  <title id="pagination-previous-title">Previous:</title>
                {{/svg}}
              </span>
            {{/compare}}
            {{#compare @count "===" (math (defaultTo ../current 1) "++")}}
              <span class="Pagination-item Pagination-item--next">
                {{#svg "icons/arrow-right" class="Icon" aria-labelledby="pagination-next-title"}}
                  <title id="pagination-next-title">Next:</title>
                {{/svg}}
              </span>
            {{/compare}}
            <span class="u-hiddenVisually">Page</span>
            {{@count}}
          </a>
        {{/compare}}
      </li>
    {{/iterate}}
  </ul>
</nav>
