---
notes: |
  Styles text-like `<input>` elements in a consistent way.
---
<div>
  <input class="Input" type="text" value="Text">
</div>
<div>
  <input class="Input" type="text" value="Disabled" disabled>
</div>
<div>
  <input class="Input" type="search" placeholder="Search">
</div>
<div>
  <input class="Input" type="number" placeholder="Number">
</div>
<div>
  <textarea class="Input" placeholder="Textarea">{{data.toolkit.contents.specimens.sentence}}</textarea>
</div>
