---
name: Dark Input Modifiers
order: 2
sourceless: true
previewClass: drizzle-u-rhythm Sky
notes: |
  Use the `.Input--dark` modifier for dark backgrounds.
---
<div>
  <input class="Input Input--dark" type="text" value="Text">
</div>
<div>
  <input class="Input Input--dark" type="text" value="Disabled" disabled>
</div>
<div>
  <input class="Input Input--dark" type="search" placeholder="Search">
</div>
<div>
  <input class="Input Input--dark" type="number" placeholder="Number">
</div>
<div>
  <textarea class="Input Input--dark" placeholder="Textarea">{{drizzle.data.specimens.contents.sentence}}</textarea>
</div>
