
{% embed '../rhythm.twig' with { tagName: 'ul', class: 'o-rhythm--compact' } %}
  {% block content %}
    <li><a href="#">Accessibility</a></li>
    <li><a href="#">Design Systems</a></li>
    <li><a href="#">Performance</a></li>
    <li><a href="#">Progressive Web Apps</a></li>
  {% endblock %}
{% endembed %}
