{% embed '@cloudfour/objects/rhythm/rhythm.twig' with {
  class: 'o-rhythm--condensed'
} only %}
  {% block content %}
    <h2>Our goals are audacious.</h2>
    <p>We believe a small company like ours can have an outsized impact on our customers and the world. We bring this perspective to everything we do.</p>
    <p>
      {% embed '@cloudfour/components/button/button.twig' with {
        href: 'https://cloudfour.com/believes/'
      } only %}
        {% block content %}
          What sets us apart
          {% include '@cloudfour/components/icon/icon.twig' with {
            name: 'arrow-right',
            inline: true
          } only %}
        {% endblock %}
      {% endembed %}
    </p>
  {% endblock %}
{% endembed %}
