@use 'sass:meta';
@use '../../compiled/tokens/scss/aspect-ratio';
@use '../../mixins/media-query';

/// Saving a map of aspect ratio values makes it easier to loop through.
/// @type Map
$aspect-ratio-map: meta.module-variables('aspect-ratio');

@each $name, $ratio in $aspect-ratio-map {
  .u-aspect-#{$name} {
    @include media-query.breakpoint-classes {
      --aspect-ratio: #{$ratio};
      aspect-ratio: var(--aspect-ratio);
      object-fit: cover;
      width: 100%;

      /**
       * 1. Helps the iframe to fill the aspect ratio space.
       * 2. Fixes a Safari bug where a playing video embedded via an iframe gets
       *    incorrectly shifted causing part of the video to not be visible.
       */

      &:where(iframe) {
        block-size: auto; /* 1 */
        object-fit: unset; /* 2 */
      }
    }
  }
}
