@use 'sass:meta';
@use '../../compiled/tokens/scss/aspect-ratio';
@use '../../mixins/media-query';

/// Saving a map of aspect ratio values makes it easier to loop through.
/// @type Map
$aspect-ratio-map: meta.module-variables('aspect-ratio');

@each $name, $ratio in $aspect-ratio-map {
  .u-aspect-#{$name} {
    @include media-query.breakpoint-classes {
      --aspect-ratio: #{$ratio};
      aspect-ratio: var(--aspect-ratio);
      block-size: 100%;
      inline-size: 100%;
      object-fit: cover;

      /**
       * Fixes a Safari bug where YouTube videos embedded via an iframe get
       * incorrectly shifted inline causing part of the video to be not visible.
       * Other browser handle the video iframe fine with or without object-fit set.
       */

      &:where(iframe) {
        object-fit: unset;
      }
    }
  }
}
