@use 'sass:meta';
@use '../../compiled/tokens/scss/aspect-ratio';
@use '../../mixins/media-query';

/// Saving a map of aspect ratio values makes it easier to loop through.
/// @type Map
$aspect-ratio-map: meta.module-variables('aspect-ratio');

.u-aspect-ratio {
  @each $name, $ratio in $aspect-ratio-map {
    &-#{$name} {
      @include media-query.breakpoint-classes {
        --aspect-ratio: #{$ratio};
        aspect-ratio: var(--aspect-ratio);
      }
    }
  }
}
