<label class="o-form-group{% if class %} {{ class }}{% endif %}">
  <div class="o-form-group__label">
    {% block label %}
      {{ label | default('Label') }}
    {% endblock %}
  </div>
  {% block control %}{% endblock %}
</label>
