---
title: "Blog Core Page"
labels:
  - inprogress
stylesheets:
  - sandbox/nm-core-blog
---

<main class="u-bgWhite" role="main" id="main">
  <article>
    <header class="blog-header">
      <h1>The Year of the Ugly Unicorn</h1>
      <h2>Here is an h2 for comparison</h2>
      Written by <a href="#">Nicole Mors</a>
      <time>on March 8, 2016</time>
    </header>

    <section class="blog-section u-spaceChildren u-paddingMd">
      <p class="blog-intro">I have always considered myself a “designer who codes”. I enjoy that aspect of the web, even while in a purely visual design role.</p>

      <p>Not too long ago, in a previous visual design position I was in, I had a manager refer to me as a code “dabbler”. This actually offended me. Surely countless hours spent reading books, doing tutorials, hacking away, building websites makes me more than a “dabbler”? I thought to myself, I am not a “dabbler”, I am a <a href="#unicorn" aria-describedby="footnote-label" id="unicorn-ref">unicorn!</a></p>

      <p>Proof of this unicorniness? I packed up my design and code skills, and found a new work home at Cloud Four, haven to unicorns just like myself. Everyone at Cloud Four is a kind of unicorn… magnificent designing developers and developing designers.</p>
    </section>

    <div class="full-width">
      <img class="blog-image" src="/assets/toolkit/images/sandbox/unicorn.png" alt="unicorn" />
    </div>

    <section class="blog-section u-spaceChildren u-paddingMd">
      <p>But after a few months of having my code reviewed by my fellow unicorns, I felt less like a magnificent unicorn and more like this:</p>

      <div style="text-align: center">
        <img class="blog-image" src="/assets/toolkit/images/sandbox/ugly-unicorn.png" alt="ugly unicorn"> 
      </div>
      <p>Working in code every day has given me a new perspective… <em>I am an Ugly Unicorn</em>.</p>

      <blockquote>I found myself spending little to no time in photoshop or sketch and jumping into the deep end of pattern libraries and prototypes. For the first time I was working on a team, submitting code, using git and creating pull requests.</blockquote>

      <p>Here is a little how that went:</p>

      <img style="width:100%" src="/assets/toolkit/images/sandbox/no-good.png" alt="PR comment"> 

      <p>Yikes. I kept hearing the those words echo through my head: <code>.code dabbler</code> <code>&lt;code dabbler&gt;</code> <code>.code dabbler</code>. Over the last year I have been waiting for an “ah-ha” moment where things would click and I would feel super comfortable and confident in my skill set, that really hasn’t been the case.</p>


<pre class="codeBlock-gray">
&lt;p&gt;Code Block&lt;/p&gt;

.Sky--clouds {
background-image: url("/assets/toolkit/images/sandbox/clouds-alt.svg");
background-position: -60% bottom;
background-repeat: repeat-x;
background-size: calc(420 / 16em * 1.25);
padding-bottom: calc(24 / 16em * 1.25);
}</pre>

<pre class="codeBlock-white">
&lt;p&gt;Code Block&lt;/p&gt;

.Sky--clouds {
background-image: url("/assets/toolkit/images/sandbox/clouds-alt.svg");
background-position: -60% bottom;
background-repeat: repeat-x;
background-size: calc(420 / 16em * 1.25);
padding-bottom: calc(24 / 16em * 1.25);
}</pre>

      <p><a href="#smug" aria-describedby="footnote-label" id="smug-ref">As someone who knows a little code,</a> it’s easy to be like, “Hey, just learn to code”. However, stepping out of your knowledge base and comfort zone can be a scary place. It can even be daunting just knowing where to begin. Some designers I have talked to are straight up hostile when the idea of having to learn to code is mentioned. One designer friend of mine was appalled at the idea that now after having invested so much time, energy and money into her design education she would additionally have to learn to code. What I wanted to say to my friend, and also what I should remind myself of at times is that, <em>it is going to be okay. You do not have to become a developer.</em></p>

      <p>It’s not about being an expert at both design and development. You will always have a strong leaning towards one or the other. I will always be a designer first. I will never look at something and not want to make it beautiful. Also, there are developers out there that not only can see and appreciate design, but can put together <a href="#">typographic systems</a> and pick amazing color palettes, however, at their core they are developers. People have their natural strengths, but that doesn't preclude them from having other talents and appreciations.</p>

      <p>When I look at a problem, it will always be from the perspective of a designer. I like to solve the big problem, piecing the code together to get my idea out as quickly as possible. Then I worry about making the code better later. The main point is getting the design, or the experience out of my head and into the browser, where I can squish my screen, or pull it up on my phone. I don’t have to be an amazing developer, or a decent developer or even developer at all. I just need the tools necessary to realize my vision for the design problem I am trying to solve.</p>

      <p>I like to look at having technical skills the same way I would look at having presentation skills. Or project management, writing, and concepting skills. We are not just pixel pushers, we are designers. We are complex thinkers, makers and problem solvers. That goes way beyond just the presentation layer of a design. It’s about a breadth of knowledge that informs your creative process. Code informing visual design. And vice versa, visual design informing the code.</p>

      <div class="u-flex u-flexAlignItemsCenter">
        <h2 class="u-marginTopNone" id="natural-unicorns">I don’t believe there are natural born
          <span class="u-nowrap"> 
            unicorns.
            <a class="permalink" id="permalink" href="#natural-unicorns" aria-label="Link to 'Natural Unicorns' section">
              <svg class="Icon u-textSmaller u-marginTopNone u-marginLeftXs" role="img">
                <use xlink:href="/assets/toolkit/images/icons.svg#link"/>
              </svg>
            </a>
          </span>
        </h2>
      </div>

      <p>People are not just magically amazing designers and awesome developers. I do believe in the constant and perpetual learner. What being a unicorn is really about is just having a hunger for knowing more. Not stopping at just enough knowledge. Unicorns are just people who are curious. You show me a unicorn, and I see someone who likes to learn not just about their own discipline, but also the ones that overlap theirs.</p>

      <div class="u-flex u-flexAlignItemsCenter">
        <h2 class="u-marginTopNone" id="practical-advice">Some practical advice from an Ugly 
          <span class="u-nowrap"> 
            Unicorn.
            <a class="permalink permalink-hash u-marginLeftXs" href="#practical-advice" aria-label="Link to 'Practical Advice' section">
              #
            </a>
          </span>
        </h2>
      </div>
      <ul>
        <li>A basic knowledge of HTML and CSS is enough to start designing in-browser.</li>
        <li>Start a CodePen account.</li>
        <li>Bookmark and save plugins that can help you prototype quickly.</li>
      </ul>
      <p>You don’t have to become a developer, it’s about getting your idea out. Be okay with feeling like you kinda suck, or feeling uncomfortable. Embrace being an ugly unicorn. Even though it feels weird and messy stepping out of your pixel-pushing comfort zone, you will ultimately be embracing the responsive web.</p>
    </section>

    <footer class="blog-footer">
      <h2 class="visually-hidden" id="footnote-label">Footnotes</h2>
      <ol class="u-marginTopMd">
        <li id="unicorn">A unicorn is someone who can perform the tasks of a UX Designer/Architect, Visual Designer and Developer (typically front-end). 
          <a href="#unicorn-ref" aria-label="Back to content">
            <svg class="Icon u-textSmaller u-marginTopNone" style="transform: scaleX(-1);" role="img">
              <use xlink:href="/assets/toolkit/images/icons.svg#reply"/>
            </svg>
          </a>
        </li>
        <li id="smug">Otherwise known as a super smug person who considers themselves a unicorn. 
          <a href="#smug-ref" aria-label="Back to content">
            <svg class="Icon u-textSmaller u-marginTopNone" style="transform: scaleX(-1);" role="img">
              <use xlink:href="/assets/toolkit/images/icons.svg#reply"/>
            </svg>
          </a>
        </li>
      </ol>

      <div class="u-marginTopMd">
        <a href="#" class="Thumbnail Thumbnail--circle author-image">
          <img width="85" src="/assets/toolkit/images/sandbox/orange-avatar.svg" alt="orange avitar">
        </a>
        <div class="author-bio">
          <p><b><a href="#">Nicole Mors</a></b> is a highly caffeinated designer with a serious weakness for all things cute, including but not limited to: babies, baby animals and Grumpy Cat.</p>
        </div>
      </div>
      
    </footer>
  </article>
