---
title: "Blog Core Page"
labels:
  - inprogress
stylesheets:
  - sandbox/tcs-nav-e
  - sandbox/nm-core-blog
---

<div class="Sky">
  <header class="Sky-nav" role="banner">
    <ul class="Sky-nav-controls">
      <li><a class="Sky-nav-controls-skipToMain Button Button--inverse u-textNoWrap u-hiddenTillFocus" href="#main">Skip to main content</a></li>
      <li><a class="Sky-nav-controls-skipToMenu Button Button--sheer" href="#menu" aria-label="Skip to navigation">Menu</a></li>
    </ul>
    <a class="Sky-nav-logo" href="/">
      <svg class="Sky-nav-logo-img" width="80" height="80" role="img" aria-labelledby="logo-title">
        <title id="logo-title">Cloud Four</title>
        <use xlink:href="/assets/toolkit/images/icons.svg#cloud-four" fill="currentColor"/>
      </svg>
    </a>
    <nav class="Sky-nav-menu" role="navigation" id="menu">
      <ul class="Sky-nav-menu-items">
        <li><a class="Sky-nav-menu-item" href="/#main" aria-current>Our Process</a></li>
        <li><a class="Sky-nav-menu-item" href="/">Our Work</a></li>
        <li><a class="Sky-nav-menu-item" href="/">Articles</a></li>
        <li><a class="Sky-nav-menu-item" href="/">Speaking</a></li>
        <li><a class="Sky-nav-menu-item" href="/">Code</a></li>
        <li><a class="Sky-nav-menu-item" href="/">The Team</a></li>
      </ul>
    </nav>
  </header>
</div>

<main role="main" id="main">
  <div class="Sky Sky--clouds">
    <div class="u-paddingMd">
      <h1>Articles</h1>
      <p>Technical Notes, war stories and anecdotes.</p>
    </div>
  </div>
  <div class="Page">
    <article>
      <header class="blog-header">
        <h1>The Year of the Ugly Unicorn</h1>
        Written by <a href="#">Nicole Mors</a>
        <time>on March 8, 2016</time>
      </header>

      <section class="blog-section u-spaceChildren u-paddingMd">
        <p class="blog-intro">I have always considered myself a “designer who codes”. I enjoy that aspect of the web, even while in a purely visual design role.</p>

        <p>Not too long ago, in a previous visual design position I was in, I had a manager refer to me as a code “dabbler”. This actually offended me. Surely countless hours spent reading books, doing tutorials, hacking away, building websites makes me more than a “dabbler”? I thought to myself, I am not a “dabbler”, I am a unicorn!</p>

        <p>Proof of this unicorniness? I packed up my design and code skills, and found a new work home at Cloud Four, haven to unicorns just like myself. Everyone at Cloud Four is a kind of unicorn… magnificent designing developers and developing designers.</p>
      </section>

      <div class="full-width">
        <img class="full-width-image" src="/assets/toolkit/images/sandbox/unicorn.png" alt="unicorn">    
      </div>

      <section class="blog-section u-spaceChildren u-paddingMd">
        <p>But after a few months of having my code reviewed by my fellow unicorns, I felt less like a magnificent unicorn and more like this:</p>

        <div style="text-align: center">
          <img class="full-width-image" src="/assets/toolkit/images/sandbox/ugly-unicorn.png" alt="ugly unicorn"> 
        </div>

        <p>Working in code every day has given me a new perspective… I am an Ugly Unicorn.</p>

        <p>I found myself spending little to no time in photoshop or sketch and jumping into the deep end of pattern libraries and prototypes. For the first time I was working on a team, submitting code, using git and creating pull requests. Here is a little how that went:</p>

        <p>Yikes. I kept hearing the those words echo through my head: code dabbler, code dabbler, code dabbler. Over the last year I have been waiting for an “ah-ha” moment where things would click and I would feel super comfortable and confident in my skill set, that really hasn’t been the case.</p>

        <p>As someone who knows a little code (aka: super smug person who considers themselves a unicorn), it’s easy to be like, “Hey, just learn to code”. However, stepping out of your knowledge base and comfort zone can be a scary place. It can even be daunting just knowing where to begin. Some designers I have talked to are straight up hostile when the idea of having to learn to code is mentioned. One designer friend of mine was appalled at the idea that now after having invested so much time, energy and money into her design education she would additionally have to learn to code. What I wanted to say to my friend, and also what I should remind myself of at times is that, it’s going to be okay. You don’t have to become a developer.</p>

        <p>It’s not about being an expert at both design and development. You will always have a strong leaning towards one or the other. I will always be a designer first. I will never look at something and not want to make it beautiful. Also, there are developers out there that not only can see and appreciate design, but can put together typographic systems and pick amazing color palettes, however, at their core they are developers. People have their natural strengths, but that doesn’t preclude them from having other talents and appreciations.</p>

        <p>When I look at a problem, it will always be from the perspective of a designer. I like to solve the big problem, piecing the code together to get my idea out as quickly as possible. Then I worry about making the code better later. The main point is getting the design, or the experience out of my head and into the browser, where I can squish my screen, or pull it up on my phone. I don’t have to be an amazing developer, or a decent developer or even developer at all. I just need the tools necessary to realize my vision for the design problem I am trying to solve.</p>

        <p>I like to look at having technical skills the same way I would look at having presentation skills. Or project management, writing, and concepting skills. We are not just pixel pushers, we are designers. We are complex thinkers, makers and problem solvers. That goes way beyond just the presentation layer of a design. It’s about a breadth of knowledge that informs your creative process. Code informing visual design. And vice versa, visual design informing the code.</p>

        <p>I don’t believe there are natural born unicorns. People are not just magically amazing designers and awesome developers. I do believe in the constant and perpetual learner. What being a unicorn is really about is just having a hunger for knowing more. Not stopping at just enough knowledge. Unicorns are just people who are curious. You show me a unicorn, and I see someone who likes to learn not just about their own discipline, but also the ones that overlap theirs.</p>

        <h2>Some practical advice from a Ugly Unicorn</h2>
        <p>A basic knowledge of HTML and CSS is enough to start designing in-browser. Start a CodePen account. Keep reusable snippits that you can incorporate into prototypes. Bookmark and save plugins that can help you prototype quickly. You don’t have to become a developer, it’s about getting your idea out. Be okay with feeling like you kinda suck, or feeling uncomfortable. Embrace being an ugly unicorn. Even though it feels weird and messy stepping out of your pixel-pushing comfort zone, you will ultimately be embracing the responsive web.</p>
      </section>

      <footer class="blog-footer u-flex u-flexJustifyCenter">
        <a href="#" class="author-image">
          <img src="/assets/toolkit/images/sandbox/orange-avatar.svg" alt="avatar">
        </a>
        <div>
          <h3>About the Author</h3>
          <p class="author-bio">Nicole Mors is a highly caffeinated designer with a serious weakness for all things cute, including but not limited to: babies, baby animals and Grumpy Cat. Her most recent pursuits have been trying to learn JavaScript and buying books she won't get around to reading. She writes online at <a href="#">nicolemors.com</a> and tweets as <a href="#">@nicolemors</a>.</p>
        </div>
      </footer>
    </article>
    <hr class="u-marginMd u-marginBottom0">
    <div class="Portland">
      <p class="u-paddingMd u-posRelative">
        <span class="u-inlineBlock u-textNoWrap u-textLarger u-marginRightSm">
          Need help clouding your fours?
        </span>
        <a class="Button Button--primary u-marginEndsXs u-textNoWrap" href="mailto:info@cloudfour.com">
          <svg class="Icon Icon--large" role="img">
            <use xlink:href="/assets/toolkit/images/icons.svg#envelope"/>
          </svg>
          Squiddly-doo
        </a>
      </p>
    </div>
  </div>
</main>

<footer class="u-paddingMd" role="contentinfo">
  <p>
    <a href="/"><strong>Cloud Four, Inc.</strong></a>
  </p>
  <div class="Grid u-posRelative">
    <div class="Grid-cell u-sm-size1of2 u-md-size1of3">
      <p>
        208 SW 1st Ave, Suite 240<br>
        Portland, Oregon 97204 USA
      </p>
      <ul class="u-listUnstyled">
        <li><a href="mailto:info@cloudfour.com">info@cloudfour.com</a></li>
        <li><a href="tel:15032901090">+1 503.290.1090</a></li>
      </ul>
      <ul class="u-listInline u-marginTopMd u-md-marginTop0 u-md-posAbsoluteTopRight">
        {{#each toolkit.social}}
          <li>
            <a class="u-textLarger" href="{{url}}" title="{{text}}">
              <svg class="Icon Icon--large" role="img">
                <use xlink:href="/assets/toolkit/images/icons.svg#{{@key}}"/>
              </svg>
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
    <hr class="Grid-cell u-sm-hidden u-marginTopMd u-marginBottom0"/>
    <nav class="Grid-cell u-marginTopMd u-sm-marginTop0 u-sm-size1of2 u-md-size1of3">
      <ul class="u-listUnstyled u-columns2">
        <li><a href="/">Our Process</a></li>
        <li><a href="/">Our Work</a></li>
        <li><a href="/">Articles</a></li>
        <li><a href="/">Speaking</a></li>
        <li><a href="/">Code</a></li>
        <li><a href="/">The Team</a></li>
        <li><a href="/">Patterns</a></li>
        <li><a href="/">Device Lab</a></li>
      </ul>
    </nav>
    <hr class="Grid-cell u-md-hidden u-marginTopMd u-marginBottom0"/>
    <p class="Grid-cell u-marginTopMd u-md-sizeFit u-md-flexAlignSelfEnd u-md-flexExpandLeft">
      <small>&copy; 2007 - 2016 Cloud Four, Inc.</small>
    </p>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
<script>

var effectOptions = {
  duration: 500,
  easing: [0.455, 0.03, 0.515, 0.955] // easeInOutQuad
};

var snapOptions = {
  duration: 0
};

var body = document.body;
var menuId = 'menu';
var toggle = document.querySelector('a[href="#' + menuId + '"]');
var menu = document.getElementById(menuId);
var testClass = 'u-testBlock';
var openClass = 'is-open';

function getHeight (element) {
  var height = element.offsetHeight;

  if (!height) {
    element.classList.add(testClass);
    height = element.offsetHeight;
    element.classList.remove(testClass);
  }

  return height;
}

toggle.addEventListener('click', function (event) {
  event.preventDefault();

  var isOpen = menu.classList.contains(openClass);
  var menuHeight = getHeight(menu);
  var startOptions = isOpen ? effectOptions : snapOptions;
  var endOptions = isOpen ? snapOptions : effectOptions;

  if (isOpen) {
    endOptions.complete = function () {
      menu.classList.remove(openClass);
    };
  } else {
    endOptions.begin = function () {
      menu.classList.add(openClass);
    }
  }

  startOptions.complete = function () {
    Velocity(body, { translateY: 0 }, endOptions);
  };

  Velocity(body, { translateY: menuHeight * -1 }, startOptions);
});

</script>
