---
stylesheets:
  - sara-nav-prototype-b
---

<header class="Header">
  <div class="Logo">
    <a class="Logo-link" href="#">
      <svg class="Icon Icon--large">
        <use xlink:href="{{baseurl}}/assets/toolkit/images/icons.svg#cloud-four" />
      </svg>
    </a>
  </div>
  <nav class="MainNav">
    <ul class="MainNav-list">
      <li>
        <a class="MainNav-link" href="#">Who <span>we are</span></a>
      </li>
      <li>
        <a class="MainNav-link" href="#">What <span>we do</span></a>
      </li>
      <li>
        <a class="MainNav-link" href="#">Blog</a>
      </li>
      <li>
        <a class="MainNav-link" href="#">Contact</a>
      </li>
    </ul>
  </nav>
</header>
