---
title: "Core Events Page"
stylesheets:
  - sandbox/tcs-events-a
labels:
  - inprogress
---

{{#embed "sky"}}
  {{#content "top"}}
    <div class="u-bigOlContainer">
      <header class="Sky-nav" role="banner">
        <ul class="Sky-nav-controls">
          {{! TODO: Allow these href destinations to be customized }}
          <li><a class="Sky-nav-controls-skipToMain Button Button--inverse u-textNoWrap u-hiddenTillFocus" href="#main">Skip to main content</a></li>
          <li><a class="Sky-nav-controls-skipToMenu Button Button--defaultLight" href="#menu" aria-label="Skip to navigation">Menu</a></li>
        </ul>
        <a class="Sky-nav-logo" href="/">
          <svg class="Sky-nav-logo-object" width="80" height="80" role="img" aria-labelledby="logo-title">
            <title id="logo-title">Cloud Four</title>
            <use xlink:href="/assets/toolkit/images/icons.svg#cloud-four" fill="currentColor"/>
          </svg>
        </a>
        {{! TODO: Allow this ID to be customized (see above href todo as well) }}
        <nav class="Sky-nav-menu" role="navigation" id="menu">
          <ul class="Sky-nav-menu-items">
            <li><a class="Sky-nav-menu-item" href="/#main" aria-current>Our Process</a></li>
            <li><a class="Sky-nav-menu-item" href="/">Our Work</a></li>
            <li><a class="Sky-nav-menu-item" href="/">Articles</a></li>
            <li><a class="Sky-nav-menu-item" href="/">Speaking</a></li>
            <li><a class="Sky-nav-menu-item" href="/">Code</a></li>
            <li><a class="Sky-nav-menu-item" href="/">The Team</a></li>
          </ul>
        </nav>
      </header>
    </div>
  {{/content}}
{{/embed}}

<main role="main" id="main">
  {{#embed "sky" class="Sky--clouds"}}
    {{#content "top"}}
      <div class="u-bigOlContainer u-paddingMd u-md-flex u-flexAlignItemsBaseline">
        <h1 class="BigOlMasthead u-marginRightMd">Speaking</h1>
        <p class="u-textLarger" style="opacity: 0.8;">
          Saying what we mean, meaning what we say
        </p>
      </div>
    {{/content}}
  {{/embed}}
  <div class="u-bgWhite">

    <div class="u-bigOlContainer u-paddingMd">
      <div>
        <label>
          <input id="hotdatefoo" type="checkbox">
          Alternate calendars
        </label>
      </div>
      <h1 class="u-marginEndsXs">Future Events</h1>
      <div class="Grid Grid--withGutter">
        {{#each toolkit.events}}
          <article class="Grid-cell u-flex u-marginEndsXs u-sm-size1of2 u-md-size1of3">
            <a href="{{url}}" class="SecretLink u-flex u-flexAlignItemsCenter">
              <time class="HotDate {{#if range}}HotDate--range{{/if}}" datetime="2016-04-12T18:30">
                <span class="HotDate-header">{{month}}</span>
                <span class="HotDate-body">{{day}}</span>
              </time>
              <div class="u-marginLeftSm">
                <h3 class="u-textLarger SecretLink-beanSpiller">{{name}}</h3>
                <p class="u-textNoWrap"><b>{{location}}</b></p>
                <p>
                  Speaker:
                  {{#each speakers}}{{#if @index}}, {{/if}}{{.}}{{/each}}
                </p>
              </div>
            </a>
          </article>
        {{/each}}
      </div>
      <hr class="u-marginEndsMd">
      <h1 class="u-marginTopXs u-marginBottomNone">Our Talks</h1>
      <div class="Grid Grid--withGutter">
        {{#each toolkit.talks}}
          <article class="Grid-cell u-marginTopMd u-marginBottomXs u-sm-size1of2 u-md-size1of3">
            <a href="#" class="SecretLink u-block">
              <div class="Thumbnail Thumbnail--rounded@sm u-block u-marginSidesMinusMd u-sm-marginSidesNone">
                <img class="u-sizeFull" src="{{thumbnail}}" alt="">
              </div>
              <h2 class="SecretLink-beanSpiller u-marginTopXs">
                {{title}}
              </h2>
              <p><b>By {{speaker}}</b></p>
              <p class="u-sm-paddingRightSm">
                Presented at
                {{#each events}}{{#if @index}}, {{/if}}{{.}}{{/each}}
                {{#if moreEvents}}
                  <span class="SecretLink-beanSpiller u-textNoWrap">
                    + {{moreEvents}} more
                  </span>
                {{/if}}
              </p>
            </a>
          </article>
        {{/each}}
      </div>
    </div>

    <div class="u-bigOlContainer">
      <hr class="u-marginSidesMd u-marginEndsNone">
    </div>
    <div class="u-bigOlContainer u-posRelative">
      <p class="u-paddingMd u-size2of3">
        <span class="u-inlineBlock u-textLarger u-marginRightSm u-textNoWrap">
          Need help clouding your fours?
        </span>
        <a class="Button Button--primary u-marginEndsXs u-textNoWrap" href="mailto:info@cloudfour.com">
          <svg class="Icon Icon--large" role="img">
            <use xlink:href="/assets/toolkit/images/icons.svg#envelope"/>
          </svg>
          Squiddly-doo
        </a>
      </p>
      <img class="u-posAbsoluteBottomRight u-size2of5 u-sm-size1of3 u-sm-marginRightMd u-md-size1of4"
        src="/assets/toolkit/images/portland.svg" alt="">
    </div>
  </div>
</main>

<footer class="u-bigOlContainer u-paddingMd" role="contentinfo">
  <p>
    <a href="/"><strong>Cloud Four, Inc.</strong></a>
  </p>
  <div class="u-posRelative">
    <div class="Grid Grid--withGutter">
      <div class="Grid-cell u-sm-size1of2 u-md-size1of3">
        <p>
          208 SW 1st Ave, Suite 240<br>
          Portland, Oregon 97204 USA
        </p>
        <ul class="u-listUnstyled">
          <li><a href="mailto:info@cloudfour.com">info@cloudfour.com</a></li>
          <li><a href="tel:15032901090">+1 503.290.1090</a></li>
        </ul>
        <ul class="u-listInline u-marginTopMd u-md-marginTopNone u-md-posAbsoluteTopRight">
          {{#each toolkit.social}}
            <li>
              <a class="u-textLarger" href="{{url}}" title="{{text}}">
                <svg class="Icon Icon--large" role="img">
                  <use xlink:href="/assets/toolkit/images/icons.svg#{{@key}}"/>
                </svg>
              </a>
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="Grid-cell u-sm-hidden">
        <hr class="u-marginTopMd u-marginBottomNone"/>
      </div>
      <nav class="Grid-cell u-marginTopMd u-sm-marginTopNone u-sm-size1of2 u-md-size1of3">
        <ul class="u-listUnstyled u-columns2">
          <li><a href="/">Our Process</a></li>
          <li><a href="/">Our Work</a></li>
          <li><a href="/">Articles</a></li>
          <li><a href="/">Speaking</a></li>
          <li><a href="/">Code</a></li>
          <li><a href="/">The Team</a></li>
          <li><a href="/">Patterns</a></li>
          <li><a href="/">Device Lab</a></li>
        </ul>
      </nav>
      <div class="Grid-cell u-md-hidden">
        <hr class="u-marginTopMd u-marginBottomNone"/>
      </div>
      <p class="Grid-cell u-marginTopMd u-md-sizeFit u-md-flexAlignSelfEnd u-md-flexExpandLeft">
        <small>&copy; 2007 - 2016 Cloud Four, Inc.</small>
      </p>
    </div>
  </div>
</footer>

<script>

var calendars = Array.from(document.querySelectorAll('.HotDate'));
var checkbox = document.getElementById('hotdatefoo');

checkbox.addEventListener('change', function () {
  calendars.forEach(function (calendar) {
    if (checkbox.checked) {
      calendar.classList.add('HotDate--alt');
    } else {
      calendar.classList.remove('HotDate--alt');
    }
  });
});

</script>
