---
stylesheets:
  - sandbox-tcs-nav-a
---

{{! TODO: Skip to main content link }}

<header class="Masthead" role="banner">
  <nav class="Masthead-nav" id="nav">
    <ul class="Masthead-links">
      {{#times 4}}
        <li>
          <a class="Masthead-link" href="#">
            <h2 class="Masthead-link-heading">
              Section title {{@index}}
            </h2>
            <p class="Masthead-link-description">
              What you need, when you need it &trade;
            </p>
          </a>
        </li>
      {{/times}}
    </ul>
  </nav>
  <div class="Masthead-main">
    <a class="Masthead-home" href="/" title="Home">
      <svg class="Masthead-logo">
        <title>Cloud Four</title>
        <use xlink:href="{{baseurl}}/assets/toolkit/images/icons.svg#cloud-four" />
      </svg>
    </a>
    <a class="Masthead-control" href="#nav">Menu</a>
  </div>
</header>

<div style="text-align: center; padding: 6em 0; opacity: 0.5;">
  (page content)
</div>

<script>

var nav = document.getElementById('nav');
var toggle = document.querySelector('[href="#nav"]');

toggle.addEventListener('click', function(event) {
  event.preventDefault();
  nav.classList.toggle('is-open');
});

</script>
