---
stylesheets:
  - sandbox/tcs-nav-b
---

{{! TODO: Skip to main content link }}

<header class="Masthead" role="banner">
  <a class="Masthead-home" href="/" title="Home">
    <svg class="Masthead-logo">
      <title>Cloud Four</title>
      <use xlink:href="{{baseurl}}/assets/toolkit/images/icons.svg#cloud-four" fill="currentColor" />
    </svg>
  </a>
  <nav class="Masthead-nav">
    <ul class="Masthead-links">
      <li><a href="#">What we do</a></li>
      <li><a href="#">Who we are</a></li>
      <li><a href="#">Our blog</a></li>
      <li><a href="#">Contact us</a></li>
    </ul>
  </nav>
</header>

<div style="text-align: center; padding: 6em 0; opacity: 0.5;">
  (page content)
</div>
