---
title: "Single Talk Page"
stylesheets:
  - sandbox/tcs-events-a
labels:
  - inprogress
---

{{#embed "sky" class="Sky--clouds"}}
  {{#content "top"}}
    <div class="u-bigOlContainer">
      <header class="Sky-nav" role="banner">
        <ul class="Sky-nav-controls">
          {{! TODO: Allow these href destinations to be customized }}
          <li><a class="Sky-nav-controls-skipToMain Button Button--inverse u-textNoWrap u-hiddenTillFocus" href="#main">Skip to main content</a></li>
          <li><a class="Sky-nav-controls-skipToMenu Button Button--defaultLight" href="#menu" aria-label="Skip to navigation">Menu</a></li>
        </ul>
        <a class="Sky-nav-logo" href="/">
          <svg class="Sky-nav-logo-object" width="80" height="80" role="img" aria-labelledby="logo-title">
            <title id="logo-title">Cloud Four</title>
            <use xlink:href="/assets/toolkit/images/icons.svg#cloud-four" fill="currentColor"/>
          </svg>
        </a>
        {{! TODO: Allow this ID to be customized (see above href todo as well) }}
        <nav class="Sky-nav-menu" role="navigation" id="menu">
          <ul class="Sky-nav-menu-items">
            <li><a class="Sky-nav-menu-item" href="/#main" aria-current>Our Process</a></li>
            <li><a class="Sky-nav-menu-item" href="/">Our Work</a></li>
            <li><a class="Sky-nav-menu-item" href="/">Articles</a></li>
            <li><a class="Sky-nav-menu-item" href="/">Speaking</a></li>
            <li><a class="Sky-nav-menu-item" href="/">Code</a></li>
            <li><a class="Sky-nav-menu-item" href="/">The Team</a></li>
          </ul>
        </nav>
      </header>
    </div>
  {{/content}}
{{/embed}}

<main role="main" id="main">
  <div class="u-bgWhite">

    <div class="u-bebehContainer u-paddingMd">
      <h1 class="u-marginTopMd"><span class="u-textLarger">When You Just Can&rsquo;t Even</span></h1>
      <div class="u-spaceChildren">
        <p class="u-textLarger">
          I would like to give you a back&shy;stage pass to my imag&shy;ination. You suck the oysters up and you always keep some on your face to let the oysters know that you&rsquo;re proud of em.
        </p>
        <div class="u-flex u-flexAlignItemsCenter">
          <div class="Thumbnail Thumbnail--circle u-marginRightXs">
            <img src="/assets/toolkit/images/sandbox/erik-jung.jpg" alt="" style="width: 3em; height: 3em;">
          </div>
          <div>
            <b>Phillipé Flarghuunstöw</b><br>
            <i>Lead Something Person</i>
          </div>
        </div>
      </div>
      <div class="u-spaceChildren u-marginTopLg">
        {{!-- <h2>Slides</h2> --}}
        <script async class="speakerdeck-embed" data-id="f83311d5319044dfa5cd5ecf0451281d" data-ratio="1.77777777777778" src="//speakerdeck.com/assets/embed.js"></script>
        <ul class="u-listUnstyled Grid Grid--fit Grid--withGutter">
          <li class="Grid-cell">
            <a href="#" class="Button Button--default u-block">
              <svg class="Icon" role="img">
                <use xlink:href="/assets/toolkit/images/icons.svg#arrow-down"/>
              </svg>
              PDF
            </a>
          </li>
          <li class="Grid-cell">
            <a href="#" class="Button Button--default u-block">
              <svg class="Icon Icon--large" role="img">
                <use xlink:href="/assets/toolkit/images/icons.svg#github"/>
              </svg>
              GitHub
            </a>
          </li>
        </ul>
      </div>
      <hr class="u-marginEndsLg">
      <div class="u-spaceChildren">
        <div class="u-flex u-flexAlignItemsBaseline u-flexWrap">
          <h2 class="u-marginRightXs">Watch</h2>
          <p>Dashing Confluence (Dec 12, 2015)</p>
        </div>
        <div class="FlexEmbed">
          <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
          <iframe class="FlexEmbed-content" width="320" height="180" src="https://www.youtube-nocookie.com/embed/HEZdnuJCoGo?rel=0" allowfullscreen></iframe>
        </div>
      </div>
      <hr class="u-marginEndsLg">
      <div class="u-spaceChildren">
        <h2>Presented at&hellip;</h2>
        <div class="ODoyleRules">
          {{#each toolkit.talkHistory}}
            <article>
              <div class="Grid Grid--withGutter">
                <p class="Grid-cell u-size1of3 u-sm-size1of4 u-md-size1of5 u-textNoWrap">{{date}}</p>
                <div class="Grid-cell u-size2of3 u-sm-size3of4 u-md-size4of5 u-sm-flex u-flexWrap">
                  <p class="u-marginRightXs">
                    <a href="{{url}}"><b>{{name}}</b></a>
                  </p>
                  <p>
                    {{location}}
                  </p>
                  {{#if media}}
                    <ul class="u-listInline u-sm-flexExpandLeft">
                      {{#each media}}
                        <li><a href="{{.}}">{{@key}}</a></li>
                      {{/each}}
                    </ul>
                  {{/if}}
                </div>
              </div>
            </article>
          {{/each}}
        </div>
      </div>
      <p class="u-marginEndsLg u-paddingTopLg">
        <a class="Button Button--tertiary u-block" href="#">
          More talks&nbsp;
          <svg class="Icon" role="img">
            <use xlink:href="/assets/toolkit/images/icons.svg#arrow-right"/>
          </svg>
        </a>
      </p>
    </div>
  </div>
</main>

<footer class="u-bigOlContainer u-paddingMd u-marginBottomSm" role="contentinfo">
  <p>
    <a href="/"><strong>Cloud Four, Inc.</strong></a>
  </p>
  <div class="u-posRelative">
    <div class="Grid Grid--withGutter">
      <div class="Grid-cell u-sm-size1of2 u-md-size1of3">
        <p>
          208 SW 1st Ave, Suite 240<br>
          Portland, Oregon 97204 USA
        </p>
        <ul class="u-listUnstyled">
          <li><a href="mailto:info@cloudfour.com">info@cloudfour.com</a></li>
          <li><a href="tel:15032901090">+1 503.290.1090</a></li>
        </ul>
        <ul class="u-listInline u-marginTopMd u-md-marginTopNone u-md-posAbsoluteTopRight">
          {{#each toolkit.social}}
            <li>
              <a class="u-textLarger" href="{{url}}" title="{{text}}">
                <svg class="Icon Icon--large" role="img">
                  <use xlink:href="/assets/toolkit/images/icons.svg#{{@key}}"/>
                </svg>
              </a>
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="Grid-cell u-sm-hidden">
        <hr class="u-marginTopMd u-marginBottomNone"/>
      </div>
      <nav class="Grid-cell u-marginTopMd u-sm-marginTopNone u-sm-size1of2 u-md-size1of3">
        <ul class="u-listUnstyled u-columns2">
          <li><a href="/">Our Process</a></li>
          <li><a href="/">Our Work</a></li>
          <li><a href="/">Articles</a></li>
          <li><a href="/">Speaking</a></li>
          <li><a href="/">Code</a></li>
          <li><a href="/">The Team</a></li>
          <li><a href="/">Patterns</a></li>
          <li><a href="/">Device Lab</a></li>
        </ul>
      </nav>
      <div class="Grid-cell u-md-hidden">
        <hr class="u-marginTopMd u-marginBottomNone"/>
      </div>
      <p class="Grid-cell u-marginTopMd u-md-sizeFit u-md-flexAlignSelfEnd u-md-flexExpandLeft">
        <small>&copy; 2007 - 2016 Cloud Four, Inc.</small>
      </p>
    </div>
  </div>
</footer>
