<div class="o-featured-row">
  <div class="o-featured-row__heading">
    {% block heading %}{% endblock %}
  </div>
  <div class="o-featured-row__content">
    {% block content %}{% endblock %}
  </div>
  <div class="o-featured-row__action">
    {% block action %}{% endblock %}
  </div>
</div>
