@use "../../compiled/tokens/scss/breakpoint";
@use "../../compiled/tokens/scss/size";
@use '../../mixins/fluid';
@use '../../mixins/media-query';
@use "../../mixins/ms";

.o-featured-row {
  display: grid;
  @include fluid.grid-gap(
    breakpoint.$s,
    breakpoint.$xl,
    size.$spacing-gap-fluid-min,
    size.$spacing-gap-fluid-max
  );

  @media (min-width: breakpoint.$l) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, max-content);
  }
}

.o-featured-row__intro {
  @media (min-width: breakpoint.$l) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.o-featured-row__content {
  @media (min-width: breakpoint.$l) {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
}

.o-featured-row__action {
  @media (min-width: breakpoint.$l) {
    align-self: end;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}
