{% set _action_block %}{% block action %}{% endblock %}{% endset %}

<div class="o-featured-row">
  <div class="o-featured-row__intro">
    {% block intro %}{% endblock %}
  </div>
  <div class="o-featured-row__content">
    {% block content %}{% endblock %}
  </div>
  {% if _action_block is not empty %}
  <div class="o-featured-row__action">
    {{_action_block}}
  </div>
  {% endif %}
</div>
