<style>
  @media (prefers-color-scheme: light) {
    #favicon-demoWrapper {
      background-color: white;
    }
  }
  @media (prefers-color-scheme: dark) {
    #favicon-demoWrapper {
      background-color: black;
    }
  }
</style>
<div id="favicon-demoWrapper">
  {% include '@cloudfour/assets/brand/favicon.svg.twig' %}
</div>
