<ul class="demo-tabs">
  <li class="demo-tab demo-tabDark">{% include '@cloudfour/assets/brand/favicon.svg.twig' %} Cloud Four</li>
  <li class="demo-tab demo-tabMedium">{% include '@cloudfour/assets/brand/favicon.svg.twig' %} Cloud Four</li>
  <li class="demo-tab demo-tabLight">{% include '@cloudfour/assets/brand/favicon.svg.twig' %} Cloud Four</li>
</ul>
