@use '../../compiled/tokens/scss/breakpoint';
@use '../../compiled/tokens/scss/size';
@use '../../mixins/fluid';

.o-bio {
  display: grid;
  gap: fluid.fluid-clamp(
    size.$spacing-gap-fluid-min,
    size.$spacing-gap-fluid-max,
    breakpoint.$s,
    breakpoint.$xl
  );
  grid-template-areas:
    'avatar'
    'content'
    'meta';
  grid-template-rows: minmax(0, auto);

  @media (min-width: breakpoint.$l) {
    gap: 1em;
    grid-template-areas:
      'avatar content content'
      'meta content content';
    grid-template-columns: repeat(3, 1fr);
  }
}

///
/// 1. Match prototype designs
///

.o-bio__avatar {
  grid-area: avatar;
  width: 12em; // 1
  margin: 0 auto;
  @media (min-width: breakpoint.$l) {
    width: 14em; // 1
  }
}

.o-bio__content {
  grid-area: content;
}

.o-bio__meta {
  grid-area: meta;
  @media (min-width: breakpoint.$l) {
    text-align: center;
  }
}
