@use '../../compiled/tokens/scss/breakpoint';
@use '../../compiled/tokens/scss/size';
@use '../../mixins/fluid';
@use '../../mixins/ms';

.o-bio {
  display: grid;
  gap: fluid.fluid-clamp(
    size.$spacing-gap-fluid-min,
    size.$spacing-gap-fluid-max,
    breakpoint.$s,
    breakpoint.$xl
  );
  grid-template-areas:
    'avatar'
    'content'
    'meta';

  @media (min-width: breakpoint.$l) {
    row-gap: ms.step(0);
    grid-template-areas:
      'avatar content content'
      'meta content content';
    grid-template-columns: repeat(3, 1fr);
  }
}

.o-bio__avatar {
  grid-area: avatar;
  inline-size: 100%;
  margin: 0 auto;
  max-inline-size: size.$square-avatar-large;
  @media (min-width: breakpoint.$l) {
    inline-size: 100%;
    font-size: ms.step(1);
  }
}

.o-bio__content {
  grid-area: content;
}

.o-bio__meta {
  grid-area: meta;
  @media (min-width: breakpoint.$l) {
    text-align: center;
  }
}
