@use '../../design-tokens/breakpoint.yml';
@use '../../design-tokens/colors.yml';
@use '../../design-tokens/font.yml';
@use '../../design-tokens/motion.yml';
@use '../../design-tokens/opacity.yml';
@use '../../design-tokens/sizes.yml';
@use '../../mixins/focus';
@use '../../mixins/ms';
@use 'sass:color';

$_min-width-wide: breakpoint.$m;
$_min-width-nowrap: breakpoint.$l;

$_max-width-narrow: ($_min-width-wide * 16 - 1) / 16;
$_max-width-wide: ($_min-width-nowrap * 16 - 1) / 16;

$_space-horizontal: ms.step(1, 1rem);
$_space-vertical: ms.step(-2, 1rem);

// $_action-space-vertical: ms.step(-2);
// $_action-space-horizontal: ms.step(1);

// .c-sky-nav {
//   &,
//   & *[class*='c-sky-nav'] {
//     outline: 1px solid cyan;
//   }

//   & * *[class*='c-sky-nav'] {
//     outline-color: magenta;
//   }

//   & * * *[class*='c-sky-nav'] {
//     outline-color: orangered;
//   }

//   & * * * *[class*='c-sky-nav'] {
//     outline-color: rebeccapurple;
//   }
// }

// [class*='c-sky-nav'] {
//   outline: 1px solid magenta;
// }

.c-sky-nav__content {
  display: flex;

  @media (max-width: $_max-width-narrow) {
    flex-direction: column-reverse;
  }
}

.c-sky-nav__masthead {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.c-sky-nav__logo {
  padding: $_space-vertical $_space-horizontal;
}

.c-sky-nav__logo-object {
  display: block;
  fill: currentColor;
  height: auto;
  margin: (ms.step(-6) * -1);
  width: ms.step(8);
}

.c-sky-nav__logo-outline {
  opacity: 0;
  stroke: colors.$primary-brand-lighter;
}

.c-sky-nav__logo {
  @include focus.focus-visible {
    .c-sky-nav__logo-outline {
      opacity: 1;
    }
  }
}

.c-sky-nav__menu-toggle {
  margin-right: $_space-horizontal;

  @media (min-width: $_min-width-wide) {
    display: none;
  }
}

.c-sky-nav__menu {
  flex: 1;

  @media (max-width: $_max-width-narrow) {
    .t-dark & {
      background-image: linear-gradient(
        to bottom,
        colors.$primary-brand-dark,
        color.change(colors.$primary-brand-dark, $alpha: 0)
      );
    }
  }

  @media (min-width: $_min-width-wide) {
    display: flex;
  }

  @media (min-width: $_min-width-wide) and (max-width: $_max-width-wide) {
    margin-left: auto;
    max-width: 100% / 3 * 2;
    padding: ($_space-vertical / 2) ($_space-horizontal / 2);
  }

  @media (min-width: $_min-width-nowrap) {
    padding-right: ($_space-horizontal / 2);
  }
}

.c-sky-nav__menu-items {
  list-style: none;
  padding-left: 0;

  @media (min-width: $_min-width-wide) {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }

  @media (min-width: $_min-width-wide) and (max-width: $_max-width-wide) {
    flex-wrap: wrap;
  }
}

.c-sky-nav__menu-item {
  display: flex;

  @media (min-width: $_min-width-nowrap) {
    flex: 1 1 auto;
  }
}

.c-sky-nav__menu-action {
  align-items: center;
  display: flex;
  font-size: ms.step(1);
  justify-content: center;
  line-height: ms.step(1, 1);
  text-align: center;
  text-decoration: none;
  width: 100%;

  @media (max-width: $_max-width-narrow) {
    border-bottom: sizes.$edge-small solid colors.$gray-light;
    padding: $_space-vertical $_space-horizontal;

    .t-dark & {
      border-bottom-color: color.change(
        colors.$primary-brand-darker,
        $alpha: 0.5
      );
    }
  }

  @media (min-width: $_min-width-wide) {
    white-space: nowrap;
  }

  @media (min-width: $_min-width-wide) and (max-width: $_max-width-wide) {
    padding: ($_space-vertical / 2) ($_space-horizontal / 2);
  }
}
