{# https://webaim.org/techniques/skipnav/ #}
<a href="#main">
  Skip to main content
</a>

{#
  This may require `role="banner"` if nested in something other than `body`.
  https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/Banner_Role
#}
<header>
  <a href="/"{% if is_home %} aria-current="page"{% endif %}>
    {# https://heydonworks.com/article/aria-label-is-a-xenophobe/ #}
    <span class="u-hidden-visually">Home: Cloud Four</span>
    {# http://simplyaccessible.com/article/7-solutions-svgs/#acc-heading-4 #}
    {% include '../../assets/brand-elements/cloud-four.svg.twig' with {
      width: '80',
      height: '80',
      focusable: 'false'
    } only %}
  </a>
  <button type="button">
    <span class="u-hidden-visually">Toggle Main</span>
    Menu
  </button>
  <nav aria-labelledby="menu-label">
    <h2 id="menu-label" class="u-hidden-visually">
      Main Menu
    </h2>
    {#
      Preemptively adding `role="list"` since we will be removing list styles
      via CSS
      https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html
    #}
    <ul role="list">
      {% for item in menu.items %}
        <li>
          <a href="{{item.link}}"{% if item.current %} aria-current="page"{% endif %}>
            {{item.title}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>

<main id="main">
  <h1>Main Content</h1>
  <p>This is where the actual page content would go.</p>
</main>
