@use "../../../mixins/ms";
@use "../../../compiled/tokens/scss/size";

#home-page {

  .book-container {
    padding-top: ms.step(6);
    .book-image {
    width: 7em;
    transform: rotate(-5deg);
    margin-right: ms.step(1);
    }
  }

  .container-spacing {
    padding-top: ms.step(6);
    padding-bottom: ms.step(6);
  }

  .cover-image {
    object-position: top;
    height: 28em;
  }

  .feature-content {
    padding-top: ms.step(1);
  }

  .link {
    .link__inner {
      color: #215cca;
    }

    &:not(:hover) {
      text-decoration: none;
    }
  }
}
