<div id="home-page">


{% embed '@cloudfour/objects/container/container.twig' with {
  class: 'o-container--prose o-container--pad u-pad-block-start-6'
} only %}
  {% block content %}


    {% embed '@cloudfour/objects/media/media.twig' with { jaunty: true } only %}
      {% block object %}
        <img
          src="media/home-page/bookicon.png"
          class="u-max-inline-size-small u-space-inline-end-1 u-space-inline-start-n4"
          width="140"
          height="190"
        />
      {% endblock %}
      {% block content %}
        {% embed '@cloudfour/objects/rhythm/rhythm.twig' with {
          class: 'o-rhythm--condensed'
        } only %}
          {% block content %}
            {% include '@cloudfour/components/heading/heading.twig' with {
              "level": 2,
              "content": "Progressive Web Apps"
            } only %}
            <p>Jason Grigsby answers the what, why, and how of PWAs, from making the case in your organization to reaching your users in bold, new ways.</p>
            {% include '@cloudfour/components/button/button.twig' with {
              "content_end_icon": "arrow-right",
              "label": "Available Now"
            } only %}
          {% endblock %}
        {% endembed %}
      {% endblock %}
    {% endembed %}





  {% endblock %}
{% endembed %}


  {% embed '@cloudfour/objects/container/container.twig' with {
    class: 'o-container--pad u-pad-block-6'
  } only %}
    {% block content %}
      {% embed '@cloudfour/objects/deck/deck.twig' only %}
        {% block content %}
          {% embed '@cloudfour/components/card/card.twig' only %}
            {% block heading %}Our goals are audacious.{% endblock %}
            {% block cover %}<img class="cover-image" src="media/home-page/home-goals.svg" alt="">{% endblock %}
            {% block content %}<p>We believe a small company like ours can have an outsized impact on our customers and the world. We bring this perspective to everything we do.</p>{% endblock %}
            {% block footer %}
              {% include '@cloudfour/components/button/button.twig' with {
                "content_end_icon": "arrow-right",
                "label": "What Sets Us Apart"
              } only %}
            {% endblock %}
          {% endembed %}
          {% embed '@cloudfour/components/card/card.twig' only %}
            {% block heading %}We know the terrain.{% endblock %}
            {% block cover %}<img src="media/home-page/collage-cpe.jpg" alt="">{% endblock %}
            {% block content %}<p>Responsive websites, JavaScript applications, hybrid apps, pattern libraries, you name it… if it’s mobile, we’ve built it.</p>{% endblock %}
            {% block footer %}
            {% include '@cloudfour/components/button/button.twig' with {
              "content_end_icon": "arrow-right",
              "label": "Our Work"
            } only %}
            {% endblock %}
          {% endembed %}
        {% endblock %}
      {% endembed %}
    {% endblock %}
  {% endembed %}


  <div class="t-alternate">
    {% embed '@cloudfour/objects/container/container.twig' with {
    class: 'o-container--pad u-pad-block-6'
    } only %}
      {% block content %}
        {% embed '@cloudfour/objects/feature-group/feature-group.twig' %}
          {% block intro %}
            {% include '@cloudfour/components/heading/heading.twig' with {
              "level": 0,
              "weight": "light",
              "content": "Featured Articles"
            } only %}

            <p class="u-pad-block-start-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          {% endblock %}
          {% block content %}
            {% embed '@cloudfour/objects/deck/deck.twig' only %}
              {% block content %}
                {% embed '@cloudfour/components/card/card.twig' with { href: '#' } only %}
                  {% block heading %}Faster Integration with Web Components{% endblock %}
                  {% block cover %}<img src="media/home-page/speedy-web-components.png" alt="">{% endblock %}
                  {% block content %}<p>Web components promise speedier integration. At some level, I understood this. I've even made this…</p>{% endblock %}
                  {% block footer %}
                    {% include '@cloudfour/components/author/author.twig' with {
                      "authors": [
                        {
                          "name": "Jason Grigsby",
                          "avatar": "media/team-avatars/jason.png",
                          "link": "https://cloudfour.com/is/jason"
                        }
                      ],
                      "date": "2021-05-17T07:00:00.000Z"
                    } only %}
                  {% endblock %}
                {% endembed %}

                {% embed '@cloudfour/components/card/card.twig' with { href: '#' } only %}
                  {% block heading %}Cooperative Design Systems{% endblock %}
                  {% block cover %}<img src="media/home-page/cooperative-plugins.png" alt="">{% endblock %}
                  {% block content %}<p>Strategies for when the goals of your project, team or users diverge from those of…</p>
                  {% endblock %}
                  {% block footer %}
                    {% include '@cloudfour/components/author/author.twig' with {
                      "authors": [
                        {
                          "name": "Tyler Sticka",
                          "avatar": "media/team-avatars/tyler.png",
                          "link": "https://cloudfour.com/is/tyler"
                        }
                      ],
                      "date": "2019-09-09T07:00:00.000Z"
                    } only %}
                  {% endblock %}
                {% endembed %}

              {% endblock %}
            {% endembed %}
          {% endblock %}
          {% block action %}
            {% include '@cloudfour/components/button/button.twig' with {
              class: 'c-button--secondary',
              "content_end_icon": "arrow-right",
              "label": "More Articles"
            } only %}
          {% endblock %}
        {% endembed %}
      {% endblock %}
    {% endembed %}
  </div>

  {% embed '@cloudfour/objects/container/container.twig' with {
  class: 'o-container--pad u-pad-block-6'
  } only %}
    {% block content %}
      {% embed '@cloudfour/objects/feature-group/feature-group.twig' %}
        {% block intro %}
          {% include '@cloudfour/components/heading/heading.twig' with {
            "level": 0,
            "weight": "light",
            "content": "Upcoming Talks"
          } only %}
        {% endblock %}
        {% block content %}
          {% embed '@cloudfour/objects/deck/deck.twig' with {
            class: 'o-deck--2-column@m'
          } only %}
            {% block content %}

              {% embed '@cloudfour/components/event-summary/event-summary.twig' with {
                datetime: '2021-10-07',
                event: 'PWA Summit',
                location: 'Online',
                speakers: ['Jason', 'Gerardo'],
                href: '#',
              } only %}
              {% endembed %}

              {% embed '@cloudfour/components/event-summary/event-summary.twig' with {
                datetime: '2021-10-13',
                event: 'An Event Apart Full Summit',
                location: 'Online',
                speakers: ['Jason'],
                href: '#',
              } only %}
              {% endembed %}

            {% endblock %}
          {% endembed %}
        {% endblock %}
        {% block action %}
          {% include '@cloudfour/components/button/button.twig' with {
            class: 'c-button--secondary',
            "content_end_icon": "arrow-right",
            "label": "Our Talks"
          } only %}
        {% endblock %}
      {% endembed %}
    {% endblock %}
  {% endembed %}
  {% include '@cloudfour/components/ground-nav/ground-nav.twig' with {
    "menu": {
      "items": [
        {
          "link": "/does",
          "title": "What We Do",
          "current": true
        },
        {
          "link": "/believes",
          "title": "Our Approach"
        },
        {
          "link": "/made",
          "title": "Our Work"
        },
        {
          "link": "/thinks",
          "title": "Articles"
        },
        {
          "link": "/presents",
          "title": "Speaking"
        },
        {
          "link": "/contributes",
          "title": "Labs"
        },
        {
          "link": "/is",
          "title": "Team"
        },
        {
          "link": "/portland-device-lab",
          "title": "Device Lab"
        },
        {
          "link": "https://cloudfour-patterns.netlify.app/",
          "title": "Patterns"
        },
        {
          "link": "https://www.responsivefieldday.com/",
          "title": "Responsive Field Day"
        }
      ]
    },
    "social": {
      "items": [
        {
          "link": "https://twitter.com/cloudfour",
          "title": "Follow us on Twitter",
          "icon": "brands/twitter"
        },
        {
          "link": "https://github.com/cloudfour",
          "title": "Find us on GitHub",
          "icon": "brands/github"
        },
        {
          "link": "https://www.instagram.com/cloudfourpdx/",
          "title": "Follow us on Instagram",
          "icon": "brands/instagram"
        },
        {
          "link": "https://www.linkedin.com/company/cloud-four",
          "title": "Follow us on LinkedIn",
          "icon": "brands/linkedin"
        }
      ]
    },
    "action": {
      "lead_in": "Let’s discuss your project!",
      "title": "Email us",
      "link": "mailto:info@cloudfour.com",
      "icon": "envelope"
    },
    "organization": {
      "name": "Cloud Four, Inc.",
      "address": {
        "street_address": "510 SW 3rd Ave, Suite 420",
        "address_locality": "Portland",
        "address_region": "Oregon",
        "postal_code": "97204",
        "address_country": "USA"
      },
      "email": "info@cloudfour.com",
      "telephone": "+1 (503) 290-1090",
      "url": "https://cloudfour.com/",
      "founding_date": "2007-12-13"
    }
  } only %}
</div>
