<a href="https://github.com/cloudfour/cloudfour.com-patterns">
  {% include '@cloudfour/patterns/assets/icons/brands/github.svg.twig' with { class: 'c-icon c-icon--inline' } %}
  <span class="u-hidden-visually">
    View this project on GitHub
  </span>
</a>
