{# This demo is used by tests, do not delete #}

{% embed '@cloudfour/components/subscribe/subscribe.twig' with {
  form_id: 'test',
  weekly_digests_heading: 'Get Weekly Digests',
  subscribe_heading: 'Never miss an article!',
} only %}{% endembed %}

<p>This is only for demo purposes. <a href="#">I am a link</a></p>
