{# This demo is used by tests, do not delete #}

{% embed '@cloudfour/objects/rhythm/rhythm.twig' only %}
  {% block content %}
    {% include '@cloudfour/components/subscribe/subscribe.twig' with {
      form_id: 'test',
      weekly_digests_heading: 'Get Weekly Digests',
      subscribe_heading: 'Never miss an article!',
    } only %}

    <div>
      <a href="#">Testing link</a>
    </div>
  {% endblock %}
{% endembed %}

