{# This demo is used by storybook, do not delete #}

{% embed '@cloudfour/objects/rhythm/rhythm.twig' %}
  {% block content %}
    <button class="js-destroy-button">Destroy Subscribe component</button>
    <button class="js-init-button">Initialize Subscribe component</button>

    {% include '@cloudfour/components/subscribe/subscribe.twig' %}
  {% endblock %}
{% endembed %}

