<demo class="demo-input-basic{% if type != 'textarea' %} demo-input-basic--single-line{% endif %}">
  <label for="{{id}}">Label</label>
  {% include '../input.twig' %}
  {% include '../../button/button.twig' with { label: 'Button' } %}
</demo>
