{% embed '@cloudfour/components/input/select.twig' only %}
  {% block options %}
    <option value="this">This</option>
    <option value="that">That</option>
    <option value="other">Other</option>
    <option value="none">None</option>
  {% endblock %}
{% endembed %}
