@use "../../../compiled/scss/tokens";
@use "../../../mixins/ms";

.demo-input-basic {
  align-items: center;
  display: grid;
  grid-column-gap: ms.step(1);
  grid-row-gap: ms.step(-3);
}

.demo-input-basic--single-line {
  @media (min-width: tokens.$size-breakpoint-m) {
    grid-template-columns: auto 1fr auto;
  }
}
