@use "../compiled/tokens/scss/brightness";
@use "../compiled/tokens/scss/color";
@use "../compiled/tokens/scss/ease";
@use "../compiled/tokens/scss/font-weight";
@use "../compiled/tokens/scss/scale";
@use "../compiled/tokens/scss/size";
@use "../compiled/tokens/scss/transition";
@use "./focus";
@use "./ms";
@use "./unit";
@use "./theme";

/**
 * Themed properties
 */

@include theme.props() {
  --theme-color-background-button-default: #{color.$brand-primary};
  --theme-color-background-button-secondary: transparent;
  --theme-color-background-button-icon-slash-default: #{color.$brand-primary};
  --theme-color-background-button-icon-slash-secondary: transparent;
  --theme-color-background-button-icon-slash-tertiary: transparent;
  --theme-color-border-button-default: #{color.$brand-primary-dark};
  --theme-color-border-button-secondary: #{color.$brand-primary-light};
  --theme-color-text-button-secondary: var(--theme-color-text-action);
  --theme-color-text-button-tertiary: var(--theme-color-text-action);
}

@include theme.props(dark) {
  --theme-color-background-button-default: #{color.$brand-primary-dark};
  --theme-color-background-button-secondary: transparent;
  --theme-color-background-button-icon-slash-default: #{color.$brand-primary-dark};
  --theme-color-background-button-icon-slash-secondary: transparent;
  --theme-color-background-button-icon-slash-tertiary: transparent;
  --theme-color-border-button-default: #{color.$brand-primary-darker};
  --theme-color-border-button-secondary: #{color.$brand-primary-dark};
  --theme-color-text-button-secondary: var(--theme-color-text-action);
  --theme-color-text-button-tertiary: var(--theme-color-text-action);
}

/**
 * Button object
 *
 * 1. More overtly actionable cursor appearance. Recently this tweak has come
 *    with some contention, but our experience has been that the average user
 *    doesn't differentiate cursor styles between different styles of action.
 * 2. Although we will be overtly setting some typographic properties, the
 *    shorthand is helpful for completely overriding all system font styles as
 *    a starting point.
 * 3. We set a height to coordinate consistently with `c-input`. Unfortunately
 *    browsers don't consistently size inputs without setting `height`.
 */

@mixin default {
  background: var(--theme-color-background-button-default);
  border-color: var(--theme-color-border-button-default);
  border-radius: size.$border-radius-medium;
  border-style: solid;
  border-width: size.$edge-medium;
  color: color.$text-light-emphasis;
  cursor: pointer; /* 1 */
  display: inline-block;
  font: inherit; /* 2 */
  font-style: normal;
  font-weight: font-weight.$semibold;
  height: size.$height-control-default; /* 3 */
  line-height: normal;
  padding: size.$padding-control-vertical size.$padding-control-horizontal;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: filter transition.$slow ease.$out,
    transform transition.$quick ease.$out;
  user-select: none;

  /**
   * Transform, opacity and filter changes are performant and will work across
   * many more stylistic modifiers than specific color shifts.
   */

  &:hover {
    filter: brightness(brightness.$control-brighten);
    transform: scale(scale.$effect-grow);
  }

  &:active {
    filter: brightness(brightness.$control-dim);
    transform: scale(scale.$effect-shrink);
  }

  &:disabled {
    cursor: not-allowed;
    filter: grayscale(60%);
    opacity: 0.85;
    transform: none;
  }

  /**
   * Toggling button
   * This adds a slash across the icon to visually show the state has changed
   * when `aria-pressed` is `'true'`.
   */
  &[aria-pressed='true'] {
    .c-button__effect {
      display: inline-block;
      position: relative;

      &::after {
        background-color: currentColor;
        border-radius: 99rem;
        content: '';
        height: 2px;
        left: 0;
        position: absolute;
        top: 50%;
        transform: rotate(-30deg) translateY(-100%);
        width: 100%;
      }

      /**
       * 1. This is a hack to force Safari to use a different polygon for
       *    the clip-path. The -webkit-clip-path rule should be below the
       *    clip-path version to work as intended.
       */
      .c-icon {
        clip-path: polygon(
          0 0,
          130% 0,
          0 75%,
          0% 95%,
          170% 0,
          176% 120%,
          0 170%
        );

        /* stylelint-disable-next-line order/properties-alphabetical-order, property-no-vendor-prefix */
        -webkit-clip-path: view-box
          polygon(0 0, 180% 0, 0 100%, 0% 120%, 210% 0, 176% 120%, 0 170%); /* 1 */
      }
    }
  }

  @include focus.focus-visible {
    box-shadow: 0 0 0 size.$edge-large color.$brand-primary-lighter;
  }
}

/**
 * Modifier: Secondary
 */

@mixin secondary {
  background-color: var(--theme-color-background-button-secondary);
  border-color: var(--theme-color-border-button-secondary);
  color: var(--theme-color-text-button-secondary);
}

/**
 * Modifier: Tertiary
 */

@mixin tertiary {
  background-color: transparent;
  border-color: transparent;
  color: var(--theme-color-text-button-tertiary);
}
