@use "../compiled/tokens/scss/brightness";
@use "../compiled/tokens/scss/color";
@use "../compiled/tokens/scss/ease";
@use "../compiled/tokens/scss/font-weight";
@use "../compiled/tokens/scss/scale";
@use "../compiled/tokens/scss/size";
@use "../compiled/tokens/scss/transition";
@use "./focus";
@use "./ms";
@use "./unit";
@use "./theme";

/**
 * Themed properties
 */

@include theme.props() {
  --theme-color-background-button-default: #{color.$brand-primary};
  --theme-color-background-button-secondary: transparent;
  --theme-color-border-button-default: #{color.$brand-primary-dark};
  --theme-color-border-button-secondary: #{color.$brand-primary-light};
  --theme-color-text-button-secondary: var(--theme-color-text-action);
  --theme-color-text-button-tertiary: var(--theme-color-text-action);
}

@include theme.props(dark) {
  --theme-color-background-button-default: #{color.$brand-primary-dark};
  --theme-color-background-button-secondary: transparent;
  --theme-color-border-button-default: #{color.$brand-primary-darker};
  --theme-color-border-button-secondary: #{color.$brand-primary-dark};
  --theme-color-text-button-secondary: var(--theme-color-text-action);
  --theme-color-text-button-tertiary: var(--theme-color-text-action);
}

/**
 * Button object
 *
 * 1. More overtly actionable cursor appearance. Recently this tweak has come
 *    with some contention, but our experience has been that the average user
 *    doesn't differentiate cursor styles between different styles of action.
 * 2. Although we will be overtly setting some typographic properties, the
 *    shorthand is helpful for completely overriding all system font styles as
 *    a starting point.
 * 3. We set a height to coordinate consistently with `c-input`. Unfortunately
 *    browsers don't consistently size inputs without setting `height`.
 */

@mixin default {
  align-items: center;
  background: var(--theme-color-background-button-default);
  border-color: var(--theme-color-border-button-default);
  border-radius: size.$border-radius-medium;
  border-style: solid;
  border-width: size.$edge-medium;
  color: color.$text-light-emphasis;
  cursor: pointer; /* 1 */
  display: inline-flex;
  font: inherit; /* 2 */
  font-style: normal;
  font-weight: font-weight.$semibold;
  height: size.$height-control-default; /* 3 */
  line-height: normal;
  padding: size.$padding-control-vertical size.$padding-control-horizontal;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: filter transition.$slow ease.$out,
    transform transition.$quick ease.$out;
  user-select: none;
  vertical-align: middle;

  /**
   * Transform, opacity and filter changes are performant and will work across
   * many more stylistic modifiers than specific color shifts.
   */

  &:hover {
    filter: brightness(brightness.$control-brighten);
    transform: scale(scale.$effect-grow);
  }

  &:active {
    filter: brightness(brightness.$control-dim);
    transform: scale(scale.$effect-shrink);
  }

  &:disabled {
    cursor: not-allowed;
    filter: grayscale(60%);
    opacity: 0.85;
    transform: none;
  }

  .c-button__extra {
    display: flex;
    font-size: ms.step(1);
    margin: 0 ms.step(-4);
    position: relative;

    &:first-child {
      margin-left: ms.step(-4) * -1;
    }

    &:last-child {
      margin-right: ms.step(-4) * -1;
    }
  }

  /**
   * Toggling button
   * This adds a slash across the icon to visually show the state has changed
   * when `aria-pressed` is `'true'`.
   */
  &[aria-pressed='true'] {
    .c-button__extra {
      &::after {
        background: currentColor;
        border-radius: size.$border-radius-full;
        content: '';
        height: size.$edge-medium;
        left: 0;
        position: absolute;
        top: 50%;
        transform: rotate(-30deg);
        width: 100%;
      }

      $clip-path: polygon(
        -5% -5%,
        105% -5%,
        105% 23%,
        -5% 87%,
        -5% 101.4711%,
        105% 37.9626%,
        105% 105%,
        -5% 105%
      );

      & > * {
        clip-path: $clip-path;
        transform: translate(0, 0);

        @supports (clip-path: view-box) {
          clip-path: view-box $clip-path;
        }
      }
    }
  }

  @include focus.focus-visible {
    box-shadow: 0 0 0 size.$edge-large color.$brand-primary-lighter;
  }
}

/**
 * Modifier: Secondary
 */

@mixin secondary {
  background-color: var(--theme-color-background-button-secondary);
  border-color: var(--theme-color-border-button-secondary);
  color: var(--theme-color-text-button-secondary);
}

/**
 * Modifier: Tertiary
 */

@mixin tertiary {
  background-color: transparent;
  border-color: transparent;
  color: var(--theme-color-text-button-tertiary);
}
