@use "../compiled/tokens/scss/tokens";
@use "../compiled/tokens/scss/color";
@use "./focus";
@use "./ms";
@use "./unit";
@use "./theme";

/**
 * Themed properties
 */

@include theme.props() {
  --theme-color-background-button-default: #{color.$-brand-primary};
  --theme-color-background-button-secondary: transparent;
  --theme-color-border-button-default: #{color.$-brand-primary-dark};
  --theme-color-border-button-secondary: #{color.$-brand-primary-light};
  --theme-color-text-button-secondary: var(--theme-color-text-action);
  --theme-color-text-button-tertiary: var(--theme-color-text-action);
}

@include theme.props(dark) {
  --theme-color-background-button-default: #{color.$-brand-primary-dark};
  --theme-color-background-button-secondary: transparent;
  --theme-color-border-button-default: #{color.$-brand-primary-darker};
  --theme-color-border-button-secondary: #{color.$-brand-primary-dark};
  --theme-color-text-button-secondary: var(--theme-color-text-action);
  --theme-color-text-button-tertiary: var(--theme-color-text-action);
}

/**
 * Button object
 *
 * 1. More overtly actionable cursor appearance. Recently this tweak has come
 *    with some contention, but our experience has been that the average user
 *    doesn't differentiate cursor styles between different styles of action.
 * 2. Although we will be overtly setting some typographic properties, the
 *    shorthand is helpful for completely overriding all system font styles as
 *    a starting point.
 * 3. We set a height to coordinate consistently with `c-input`. Unfortunately
 *    browsers don't consistently size inputs without setting `height`.
 */

@mixin default {
  background: var(--theme-color-background-button-default);
  border-color: var(--theme-color-border-button-default);
  border-radius: tokens.$size-border-radius-medium;
  border-style: solid;
  border-width: tokens.$size-edge-medium;
  color: color.$-text-light-emphasis;
  cursor: pointer; /* 1 */
  display: inline-block;
  font: inherit; /* 2 */
  font-style: normal;
  font-weight: tokens.$number-font-weight-semibold;
  height: tokens.$size-height-control-default; /* 3 */
  line-height: normal;
  padding: tokens.$size-padding-control-vertical
    tokens.$size-padding-control-horizontal;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: filter tokens.$time-transition-slow tokens.$ease-out,
    transform tokens.$time-transition-quick tokens.$ease-out;
  user-select: none;

  /**
   * Transform, opacity and filter changes are performant and will work across
   * many more stylistic modifiers than specific color shifts.
   */

  &:hover {
    filter: brightness(tokens.$number-brightness-control-brighten);
    transform: scale(tokens.$number-scale-effect-grow);
  }

  &:active {
    filter: brightness(tokens.$number-brightness-control-dim);
    transform: scale(tokens.$number-scale-effect-shrink);
  }

  &:disabled {
    cursor: not-allowed;
    filter: grayscale(60%);
    opacity: 0.85;
    transform: none;
  }

  @include focus.focus-visible {
    box-shadow: 0 0 0 tokens.$size-edge-large color.$-brand-primary-lighter;
  }
}

/**
 * Modifier: Secondary
 */

@mixin secondary {
  background-color: var(--theme-color-background-button-secondary);
  border-color: var(--theme-color-border-button-secondary);
  color: var(--theme-color-text-button-secondary);
}

/**
 * Modifier: Tertiary
 */

@mixin tertiary {
  background-color: transparent;
  border-color: transparent;
  color: var(--theme-color-text-button-tertiary);
}
