@use '../design-tokens/breakpoint.yml';
@use '../design-tokens/font.yml';
@use 'fluid';
@use 'ms';

$max-level: 3;
$fluid-steps: 1;

/**
 * Mixin for applying heading styles at a particular level. Accepts an argument
 * so it may be easily baked into "for" loops. The size jumps and responsive
 * behavior are determined mathematically, so the level may be lower than 1 for
 * constructing larger heading classes.
 */

@mixin level($level) {
  @if $level <= $max-level {
    $min-step: $level * -1 + $max-level;
    $max-step: $min-step + $fluid-steps;

    @include fluid.font-size(
      breakpoint.$xs,
      breakpoint.$l,
      ms.step($min-step),
      ms.step($max-step)
    );

    @if $level < 1 {
      line-height: ms.step(0, 1);
    } @else {
      line-height: ms.step(1, 1);
    }
  } @else {
    font-size: inherit;
    line-height: inherit;
  }

  font-weight: font.$weight-bold;
}
