@use "sass:math";
@use "../compiled/tokens/scss/tokens";
@use "../compiled/tokens/scss/scale";

@function step($step, $base: 1em, $ratio: scale.$modular-ratio) {
  @return math.pow($ratio, $step) * $base;
}

@function step-class-segment($step) {
  $result: math.abs($step);

  @if $step < 0 {
    $result: 'n#{$result}';
  }

  @return $result;
}
