{% embed '@cloudfour/components/media-summary/media-summary.twig' with {
  heading: "Progressive Web Apps",
  href: "https://cloudfour.com/thinks/progressive-web-apps-book-now-available/",
  reverse_markup: true,
  align_start: true,
  class: 'o-media--1-by-2@l',
} only %}
  {% block object %}
    <img src="/media/home-page/bookicon.png" width="730" height="992" alt="" style="width: 7em;">
  {% endblock %}
  {% block content %}
    <p>Progressive web apps represent the next big digital opportunity: they look and feel like native apps, they work offline, and they’re available to anyone—no app store required.</p>
  {% endblock %}
{% endembed %}
