{% embed '@cloudfour/components/ground-nav/ground-nav.twig' %}
  {% block kudos %}
    <p class="c-ground-nav__kudos">
      Hosted by <a href="https://www.netlify.com/">Netlify</a>, inspired by <a href="https://wpostats.com/">WPO Stats</a> and <a href="https://developers.google.com/web/showcase/">Google Web Showcase</a>
    </p>
  {% endblock %}
  {% block legal %}
    <p class="c-ground-nav__legal">
      Designed by Cloud Four (<a href="https://github.com/cloudfour/pwastats/blob/master/LICENSE">License</a>)
    </p>
  {% endblock %}
{% endembed %}
