@use '../../compiled/tokens/scss/breakpoint';
@use '../../compiled/tokens/scss/color';
@use '../../compiled/tokens/scss/size';
@use '../../mixins/spacing';

.c-hype-section {
  contain: layout;
  // position: relative;
  // z-index: 2;

  @media (width >= breakpoint.$m) {
    column-gap: spacing.$fluid-gap;
    display: grid;
    grid-template-areas: '. stage'
      'intro stage'
      'content stage'
      '. stage';
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(0, 1fr) repeat(2, minmax(0, auto)) minmax(0, 1fr);
  }

  @media (width >= breakpoint.$l) {
    grid-template-areas: '. . stage'
      'intro intro stage'
      'content content stage'
      '. . stage';
    grid-template-columns: repeat(3, 1fr);
  }
}

.c-hype-section--reverse {
  @media (width >= breakpoint.$m) {
    grid-template-areas: 'stage .'
      'stage intro'
      'stage content'
      'stage .';
  }

  @media (width >= breakpoint.$l) {
    grid-template-areas: 'stage . .'
      'stage intro intro'
      'stage content content'
      'stage . .';
  }
}

.c-hype-section__intro {
  grid-area: intro;
}

.c-hype-section__stage {
  container-type: size;
  grid-area: stage;
  position: relative;

  @media (width < breakpoint.$m) {
    aspect-ratio: 2/3;
    float: right;
    margin: size.$spacing-gap-inline-small;
    margin-inline-end: 0;
    width: calc(50% - #{size.$spacing-gap-inline-small});

    .c-hype-section--circle-object & {
      shape-outside: circle(58% at 66% 50%);
    }

    @media (width >= breakpoint.$s) {
      aspect-ratio: 4/5;
      width: calc(100% / 3 - #{size.$spacing-gap-inline-small});

      .c-hype-section--circle-object & {
        shape-outside: circle(65% at 80% 50%);
      }
    }
  }

  @media (width >= breakpoint.$l) {
    margin-block: spacing.$fluid-spacing-block-negative-overlap-partial;
  }

  @media (width >= breakpoint.$xl) {
    margin-block: spacing.$fluid-spacing-block-negative-overlap;
  }
}

.c-hype-section__object {
  aspect-ratio: 1;
  background: color.$base-gray;
  border-radius: size.$border-radius-large;
  display: flex;
  height: 100%;
  height: 100cqmax;
  overflow: hidden;
  position: relative;
  width: auto;

  .c-hype-section--circle-object & {
    border-radius: size.$border-radius-full;
  }

  @media (width >= breakpoint.$m) {
    inset-block-start: 50%;
    position: absolute;
    transform: translateY(-50%);

    .c-hype-section--reverse & {
      inset-inline-end: 0;
    }
  }

  .c-hype-section--outline-object &::after {
    border: size.$edge-medium solid color.$base-blue-darker;
    border-radius: inherit;
    content: '';
    inset: 0;
    opacity: 0.1;
    pointer-events: none;
    position: absolute;
  }

  > img,
  > picture > img {
    object-fit: cover;
  }
}

.c-hype-section__content {
  grid-area: content;
  margin-block-start: var(--rhythm, #{size.$rhythm-default});
  max-inline-size: size.$max-width-prose;
}

// .c-hype-section {
//   @media (width >= breakpoint.$l) {
//     column-gap: spacing.$fluid-gap;
//     display: grid;
//     grid-template-areas: '. float'
//       'intro float'
//       'content float'
//       '. float';
//     grid-template-columns: repeat(2, minmax(0, 1fr));
//     grid-template-rows: minmax(0, 1fr) repeat(2, minmax(0, auto)) minmax(0, 1fr);
//   }

//   @media (width >= breakpoint.$xxl) {
//     grid-template-areas: '. . float'
//       'intro intro float'
//       'content content float'
//       '. . float';
//     grid-template-columns: repeat(3, minmax(0, 1fr));
//   }
// }

// .c-hype-section__intro {
//   grid-area: intro;
// }

// .c-hype-section__float {
//   grid-area: float;
//   position: relative;
//   shape-outside: circle(50%);

//   @media (width < breakpoint.$l) {
//     aspect-ratio: 3/4;
//     float: right;
//     margin: size.$spacing-gap-inline-small;
//     width: calc(100% / 3 - #{size.$spacing-gap-inline-small});
//   }

//   @media (width < breakpoint.$m) {
//     aspect-ratio: 2/3;
//     // width: calc(100% / 5 * 2 - #{size.$spacing-gap-inline-small});
//   }

//   @media (width >= breakpoint.$l) {
//     margin-block: spacing.$fluid-spacing-block-negative-2x;
//   }
// }

// .c-hype-section__object {
//   aspect-ratio: 1;
//   border-radius: 50%;
//   display: flex;
//   height: 100%;
//   overflow: hidden;

//   > img,
//   > picture > img {
//     object-fit: cover;
//   }
// }

// .c-hype-section__content {
//   grid-area: content;
//   margin-block-start: var(--rhythm, #{size.$rhythm-default});
//   max-inline-size: size.$max-width-prose;
// }
