@use "../../../compiled/tokens/scss/color";
@use "../../../mixins/ms";

#no-results {
  .large-icon {
    color: #{color.$base-gray-light};
    font-size: ms.step(5);
  }

  .u-text-center {
    text-align: center;
  }
}
