{% embed '@cloudfour/components/disclosure-widget/disclosure-widget.twig' with{
  body_content_id: 'example-demo'
} only %}
  {% block body_content %}
    <form>
      <label>
        Test
        <input type="text" />
      </label>
    </form>
  {% endblock %}
{% endembed %}
