{% embed '@cloudfour/components/disclosure-widget/disclosure-widget.twig' only %}
  {% block content %}
    <form>
      <label>
        Test
        <input type="text" />
      </label>
    </form>
  {% endblock %}
{% endembed %}
