<table class="c-table {% if tableClass %} {{tableClass}} {% endif %}">
  {% if block("header") %}
    <thead class="c-table__header">
      {% block header %}{% endblock %}
    </thead>
  {% endif %}

  <tbody>
    {% block body %}{% endblock %}
  </tbody>

  {% if block("footer") %}
    <tfoot class="c-table__footer">
      {% block footer %}{% endblock %}
    </tfoot>
  {% endif %}
</table>
