@use "../../design-tokens/colors.yml";
@use "../../design-tokens/font.yml";
@use "../../design-tokens/sizes.yml";
@use "../../mixins/ms";

$table-border-color: colors.$gray-light;
$table-border-thin: sizes.$edge_small solid $table-border-color;
$table-border-thick: sizes.$edge_medium solid $table-border-color;

/**
 * Our base table component
 *
 * Since tables require specific markup using the BEM element class names can
 * quickly become overwhelming. We make an exception from our BEM rules to
 * directly style elements within `.c-table`s.
 */

/**
 * Table cells and headers share padding
 */
.c-table td,
.c-table th {
  padding: ms.step(-3);
}

/**
 * Table headings are semibold to stand out as labels
 */
.c-table th {
  font-weight: font.$weight-semibold;
}

/**
 * Table headers and footers are separated from the table body with strokes.
 */
.c-table thead {
  border-bottom: $table-border-thick;
}

.c-table tfoot {
  border-top: $table-border-thick;
}

.c-table caption {
  color: colors.$gray-dark;
  caption-side: bottom;
  font-size: ms.step(-1);
  font-style: italic;
  padding: ms.step(-1) 0;
}

/**
 * Table rows can be styled in a couple ways.
 * This is achieved by adding a class to the table itself.
 */
.c-table--ruled tbody tr {
  border-bottom: $table-border-thin;
}

.c-table--striped tbody tr:nth-of-type(2n - 1) {
  background-color: colors.$gray-lighter;
}

/**
 * The `.c-table--numeric` modifier applies a few stylistic changes to make
 * tables with numeric data easier to read and understand.
 */

/**
 * When comparing numeric table cells, it's easier if the ones, tens, hundreds,
 * etc. columns are lines up.
 *
 * 1. Make numbers equal width so the columns line up
 * 2. Right align numeric cells so the "ones" column lines up on the right side
 */
.c-table--numeric td {
  font-variant-numeric: tabular-nums; /* 1 */
  text-align: right; /* 2 */
}

/**
 * Optionally right align row headings.
 * This keeps headings closer to the content they label and in some cases
 * improves scannability.
 */
.c-table--numeric [scope='row'] {
  text-align: right;
}
