@use "../../mixins/table";

.c-table td,
.c-table th {
  @include table.t-container;
}

.c-table th {
  @include table.t-heading;
}

.c-table thead {
  @include table.t-head;
}

.c-table tfoot {
  @include table.t-foot;
}

.c-table caption {
  @include table.t-caption;
}

.c-table--ruled tbody tr {
  @include table.t-ruled;
}

.c-table--striped tbody tr:nth-of-type(2n - 1) {
  @include table.t-striped;
}

.c-table--numeric {
  @include table.t-numeric;
}
