@use '../../design-tokens/colors.yml';
@use '../../design-tokens/sizes.yml';
@use '../../mixins/ratio-box';
@use '../../mixins/theme';

/**
 * Themed properties
 */

@include theme.props() {
  --theme-color-background-avatar: #{colors.$gray-light};
}

@include theme.props(dark) {
  --theme-color-background-avatar: #{colors.$primary-brand-dark};
}

.c-avatar {
  background-color: var(--theme-color-background-avatar);
  background-image: svg-load('illustrations/default-avatar.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: sizes.$radius-full;
  width: sizes.$avatar-base;
  @include ratio-box.core-styles();
}
