@use '../../design-tokens/colors.yml';
@use '../../design-tokens/sizes.yml';
@use '../../mixins/ratio-box';
@use '../../mixins/theme';

/**
 * Themed properties
 */

@include theme.props() {
  --theme-color-background-avatar: #{colors.$gray-light};
}

@include theme.props(dark) {
  --theme-color-background-avatar: #{colors.$primary-brand-dark};
}

.c-avatar {
  background: var(--theme-color-background-avatar);
  border-radius: sizes.$radius-full;
  flex: none;
  width: sizes.$avatar-base;
  @include ratio-box.core-styles();
}

.c-avatar--full {
  width: 100%;
}
