{% embed '@cloudfour/objects/media/media.twig' with { reverse_markup: true } %}
  {% block object %}
    {% include '@cloudfour/components/calendar-date/calendar-date.twig' with {
      datetime: '2020-08-17',
      note: '3-day event'
    } only %}
  {% endblock %}
  {% block content %}
    <h3>An Event Apart</h3>
    <p>Minneapolis, MN</p>
    <p>Speaker: Jason</p>
  {% endblock %}
{% endembed %}
