{% embed '@cloudfour/objects/media/media.twig' %}
  {% block object %}
    {% include '@cloudfour/components/avatar/avatar.twig' with {
      src: imgSrc
    } only %}
  {% endblock %}
  {% block content %}
    <p>{{text|default('Hello world!')}}</p>
  {% endblock %}
{% endembed %}
