---
order: 1
notes: |
  Friendly, more tappable style for links to footnotes from prose content.
links:
  "W3C: Common idioms": http://www.w3.org/TR/html5/common-idioms.html#footnotes
  "Markdown Extra: Footnotes": https://michelf.ca/projects/php-markdown/extra/#footnotes
---

<a class="FootnoteLink" href="#" id="fn-foo-1" title="Jump to footnote">1</a>
<a class="FootnoteLink" href="#" id="fn-foo-2" title="Jump to footnote">2</a>
<a class="FootnoteLink" href="#" id="fn-foo-10" title="Jump to footnote">10</a>
