---
name: Basic
order: 1
notes: |
  Intended for differentiating small blocks of text content. Modifiers exist
  for additional `font-size` and `line-height` configurations.
---

<div class="TextBlock">
  We build mobile websites, desktop-mobile hybrids, and mobile apps.
  If you already have a desktop site or application and need to go mobile,
  we can take you there. If you want to build something brand new,
  we do that, too. Contact us to discuss your project.
</div>
