@use "../../../compiled/tokens/scss/tokens";
@use "../../../compiled/tokens/scss/breakpoint";
@use "../../../compiled/tokens/scss/color";
@use '../../../mixins/ms';

.demo-u-space-logical-properties,
.demo-u-space-directions {
  div {
    border-radius: tokens.$size-border-radius-medium;
  }

  & > div {
    background: color.$base-gray-light;
    overflow: hidden;
  }

  [class*='u-space'] {
    background: color.$text-light-emphasis;
    border: tokens.$size-edge-medium solid color.$base-gray;
    padding: ms.step(-1);
  }
}

.demo-u-pad-logical-properties,
.demo-u-pad-directions {
  [class*='u-pad'] {
    background: color.$base-gray-light;
    border: tokens.$size-edge-medium solid color.$base-gray;
    border-radius: tokens.$size-border-radius-medium;

    div {
      background: color.$text-light-emphasis;
      border-radius: inherit;
    }
  }
}

.demo-u-pull-directions {
  display: flex;
  flex-direction: column;

  div {
    border-radius: tokens.$size-border-radius-medium;
  }

  & > div {
    background: color.$base-gray-light;
    padding: ms.step(-1);
  }

  [class*='u-pull'] {
    background: color.$text-light-emphasis;
    border: tokens.$size-edge-medium solid color.$base-gray;
    opacity: 0.66;
    padding: ms.step(-1);
  }
}

.demo-u-pad-logical-properties,
.demo-u-space-logical-properties {
  display: grid;
  grid-gap: ms.step(1);
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: breakpoint.$s) {
    grid-template-columns: repeat(4, 1fr);
  }

  > :nth-child(-n + 2) {
    grid-column: span 2;

    @media (min-width: breakpoint.$s) {
      grid-column: span 4;
    }
  }
}
