@use '../../../design-tokens/breakpoint.yml';
@use '../../../design-tokens/colors.yml';
@use '../../../design-tokens/sizes.yml';
@use '../../../mixins/ms';

.demo-u-space-logical-properties,
.demo-u-space-directions {
  div {
    border-radius: sizes.$radius-medium;
  }

  & > .demo-example {
    background: colors.$gray-light;
    overflow: hidden;
  }

  [class*='u-space'] {
    background: colors.$text-light-emphasis;
    border: sizes.$edge-medium solid colors.$gray;
    padding: ms.step(-1);
  }
}

.demo-u-pad-logical-properties,
.demo-u-pad-directions {
  [class*='u-pad'] {
    background: colors.$gray-light;
    border: sizes.$edge-medium solid colors.$gray;
    border-radius: sizes.$radius-medium;

    div {
      background: colors.$text-light-emphasis;
      border-radius: inherit;
    }
  }
}

.demo-u-pull-directions {
  display: flex;
  flex-direction: column;

  div {
    border-radius: sizes.$radius-medium;
  }

  & > div {
    background: colors.$gray-light;
    padding: ms.step(-1);
  }

  [class*='u-pull'] {
    background: colors.$text-light-emphasis;
    border: sizes.$edge-medium solid colors.$gray;
    opacity: 0.66;
    padding: ms.step(-1);
  }
}

.demo-u-pad-logical-properties,
.demo-u-space-logical-properties {
  display: grid;
  grid-gap: ms.step(1);
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: breakpoint.$s) {
    grid-template-columns: repeat(4, 1fr);
  }

  > :nth-child(-n + 2) {
    grid-column: span 2;

    @media (min-width: breakpoint.$s) {
      grid-column: span 4;
    }
  }
}
