@use "../../../design-tokens/breakpoint.yml";
@use "../../../design-tokens/colors.yml";
@use "../../../mixins/ms";

$overlap: ms.step(6);

#ph-prototype-articles-example-2 {
  /* stylelint-disable */
  --indent: 0;

  @media (min-width: breakpoint.$l) {
    --indent: #{ms.step(2)}
  }
  /* stylelint-enable */

  * {
    box-sizing: border-box;
    margin: 0;
  }

  /**
   * Wrap entire prototype in selector to prevent CSS leakage.
   *
   * @see https://github.com/storybookjs/storybook/issues/729
   */

  .hero {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 20em;
    justify-content: center;
    padding: ms.step(2);
    padding-bottom: $overlap;
  }

  .hero h1 {
    font-size: ms.step(5);
  }

  .subtitle {
    font-size: ms.step(1);
    font-style: italic;
  }

  .content {
    background: colors.$gray_lighter;
    padding: ms.step(2);
  }

  .listings {
    display: grid;
    // This messes with the document flow so isn't super accessible
    grid-auto-flow: dense;
    grid-gap: ms.step(2);
    grid-template-columns: repeat(auto-fit, minmax(breakpoint.$xs, 1fr));
    list-style: none;
    margin-top: calc(#{$overlap} * -1);
    padding: 0;
  }

  .listings > :first-child,
  .listings > :nth-of-type(5) {
    display: flex;
    font-size: ms.step(1);
    grid-column: 1 / -1;
    margin: 0 var(--indent);
  }

  .card {
    background: #fff;
    border-radius: 3px;
    height: 100%;
    overflow: hidden;
    position: relative;
    transition-duration: 0.2s;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out;
  }

  .card:hover {
    box-shadow: 0 ms.step(-5) ms.step(-4) 0 rgba(0,0,0,0.1);
    transform: scale(1.01);
  }

  .card__preview {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .card__body {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    padding: ms.step(2);
  }

  .card__primary-action {
    text-decoration: none;
  }

  .card__primary-action::before {
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .card__secondary-action {
    z-index: 1;
  }

  .card__content {
    margin: ms.step(-2) 0;
  }

  .card__footer {
    align-items: center;
    display: flex;
    font-size: ms.step(-1);
    justify-content: space-between;
    margin-top: auto;
  }

  .author {
    align-items: center;
    display: flex;
    text-decoration: none;
  }

  /* stylelint-disable */
  .author__photo {
    border-radius:
      var(--border-radius-val-1)
      var(--border-radius-val-2)
      var(--border-radius-val-3)
      var(--border-radius-val-4)
      /
      var(--border-radius-val-5)
      var(--border-radius-val-6)
      var(--border-radius-val-7)
      var(--border-radius-val-8);

    height: ms.step(4);
    margin-right: ms.step(0);
    // transform: rotate(var(--rotation));
  }

  /* stylelint-enable rule */
}
