---
name: With Meta
notes: |
  To add an additional block of supporting information, use the `Card-meta`
  class. You can also style special subdued links with `Card-metaLink`.
order: 1
---

{{#embed "patterns.components.card.base"}}
  {{#content "footer"}}
    <h3 class="u-hiddenVisually">
      Tags
    </h3>
    <div class="Grid Grid--withGutter Grid--alignMiddle u-textShrink1">
      <div class="Grid-cell u-sizeFill">
        <ul class="u-listInline">
          {{#iterate 3}}
            <li>
              <a class="Card-metaLink" href="">
                #{{random "word"}}
              </a>
            </li>
          {{/iterate}}
        </ul>
      </div>
      <p class="Grid-cell u-sizeFit">
        <a class="Card-metaLink" href="" title="Permalink">
          {{svg "icons/link" class="Icon Icon--large"}}
        </a>
      </p>
    </div>
  {{/content}}
{{/embed}}
