{% set content %}
<button class="Button">
  <span class="Button-inner">
    Example
  </span>
  <!-- badge, etc. -->
</button>
{% endset %}

<pre><code class="language-markup">{{content|trim|escape}}</code></pre>
