<p>Our values, along with the <a href="https://cloudfour.com/thinks/what-we-believe/">vision statement Jason set out in 2007</a>, define the way we approach our work as Cloud Four. We incorporate them into our work and communication both inside the company and with our clients.</p>
<p>We believe in the web as a unifying platform to provide access to information for all people of all abilities. Our small team routinely has an outsized impact on the world through our work on the web.</p>
