@use "../../design-tokens/colors.yml";
@use "../../design-tokens/motion.yml";
@use "../../design-tokens/sizes.yml";
@use "../../mixins/ms";
@use "../../mixins/unit";

/**
 * Button object
 *
 * 1. More overtly actionable cursor appearance. Recently this tweak has come
 *    with some contention, but our experience has been that the average user
 *    doesn't differentiate cursor styles between different styles of action.
 */

.o-button {
  background: colors.$primary-brand;
  border-color: colors.$primary-brand-dark;
  border-radius: sizes.$radius-medium;
  border-style: solid;
  border-width: sizes.$edge-medium;
  color: colors.$text_light_emphasis;
  cursor: pointer; /* 1 */
  display: inline-block;
  font: inherit;
  font-weight: 600;
  line-height: ms.step(1, 1);
  margin: 0;
  padding: ms.step(-3) ms.step(0);
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: filter motion.$speed-slow motion.$ease-out, transform motion.$speed-quick motion.$ease-out;
  user-select: none;

  /**
   * Transform, opacity and filter changes are performant and will work across
   * many more stylistic modifiers than specific color shifts.
   */

  &:hover {
    filter: brightness(110%);
    transform: scale(1.05);
  }

  &:active {
    filter: brightness(80%);
    transform: scale(0.95);
  }

  &:disabled {
    cursor: not-allowed;
    filter: grayscale(60%);
    opacity: 0.85;
    transform: none;
  }
}
