<!doctype html>
<html class="no-js {{#if fabricator}}f-Layout{{/if}}">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{title}}</title>

  {{#if fabricator}}<link rel="stylesheet" href="{{baseurl}}/assets/fabricator/styles/f.css">{{/if}}

  <!-- toolkit styles -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic|Source+Code+Pro">
  <link rel="stylesheet" href="{{baseurl}}/assets/toolkit/styles/toolkit.css">
  <!-- /toolkit styles -->

  {{#each stylesheets}}
    <link rel="stylesheet" href="{{baseurl}}/assets/toolkit/styles/{{.}}.css">
  {{/each}}

  <script src="{{baseurl}}/assets/toolkit/scripts/modernizr.js"></script>
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=blissfuljs"></script>

</head>
<body {{#if fabricator}}class="f-Layout-body"{{/if}}>

  {{#if fabricator}}
    {{> f-icons}}
    {{> f-nav}}
    <div class="f-Layout-main f-u-cf">
      {{> f-masthead}}
      <div class="f-u-padSides f-u-padBottom f-u-spaceChildren">
  {{/if}}

  {% body %}

  {{#if fabricator}}
      </div>
    </div>
    <script src="{{baseurl}}/assets/fabricator/scripts/f.js"></script>
  {{/if}}

  <!-- toolkit scripts -->
  <script src="{{baseurl}}/assets/toolkit/scripts/toolkit.js"></script>
  <!-- /toolkit scripts -->

</body>
</html>
