<div id="prototype-thread">
  <div class="o-container--prose o-container">
    <div class="grid o-container__content">
      <div class="first-comment">
        <div class="thread-line"></div>
        <div class="initial-comment">
          <div class="name">
            <div class="avatar"></div>
            <h2 class="username">Kurtis Conner</h2>
          </div>
          <div class="comment-content">
            <p>I’m an example of a longer comment. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<p>
            <div class="timestamp">
              <span>2hrs ago</span>
              <a href="#" class="reply">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="22" viewBox="0 0 25 22">
                  <path d="M20.69813,16.634a8.38,8.38,0,0,0,2.91-6.21c0-4.47-4-9-11-9s-11,4.53-11,9,4,9,11,9a13.52033,13.52033,0,0,0,4.87-.86l4.13,1.55Z" fill="#fff" stroke="#205bc7" stroke-width="2" fill-rule="evenodd"/>
                </svg>Reply</a>
            </div>
          </div>
        </div>
        <div class="threaded-comment">
          <div class="avatar-username">
            <div class="threaded-avatar"></div>
            <h2 class="username">Paul Hebert</h2><svg xmlns="http://www.w3.org/2000/svg" width="139" height="94" viewBox="0 0 139 94">
              <path d="M39.56,64.86c-2.47-.46-9-7.22-10.89-13.08,0,0,.07-2.49,3-5.87C34.39,42.78,66.34,8.07,79.89,2.13A67.49133,67.49133,0,0,0,69.1,1.27991C29.16,1.27991,25.3,29.8,25.3,29.8S1,37.34,1,59.46C1,91.18,40.06,92.78,40.06,92.78a88.35041,88.35041,0,0,0,12.06-.53,7.4,7.4,0,0,0,5.1-4.06c2.33-5.9,5.59-14.79,9-24.32C53.54,64.51,40.87,65.11,39.56,64.86Z" fill="#205bc7"/>
              <path d="M138.06,52.59c0-28.05-27.45-31-27.45-31S107.32,14.72,98.4,9c-2.4,8.74-8.81,32-9.16,36.41h9.59s1.52,0,1.13,1.89C99,51.6,96.67,62,91.5,62.37c-1.2.08-3.61.25-6.72.43-1.91,7.68-3.89,15.76-5.31,21.59.71.6,6.34,5.19,17.34,5.19,12.91,0,19.14-7,19.14-7C138.84,78.8,138.06,52.59,138.06,52.59Z" fill="#205bc7"/>
              <path d="M80.32,17.67C79,17.67,57.22,39.61,51.84,47l20.59-.82c4.21-11.87,7.89-22.44,9.48-27.1a1.68,1.68,0,0,0-1.59-1.41Z" fill="#205bc7"/>
            </svg>
          </div>
          <div class="threaded-comment-content">
            <p>Thanks for your response!<p>
            <div class="timestamp">
              <span>2hrs ago</span>
            </div>
          </div>
        </div>
      </div>
      <div class="second-comment">
        <div class="name">
          <div class="avatar"></div>
          <h2 class="username">Firstname Lastname-Lastname</h2>
        </div>
        <div class="comment-content">
          <p>I am the start of a new comment.<p>
          <div class="timestamp">
            <span>Feb 16, 2020 via css-tricks.com</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

