<div class="o-container o-container--pad o-container--prose">
	<div class="o-container__content o-rhythm o-rhythm--default o-rhythm--generous-headings">
		<textarea id="email-draft" class="c-input u-pad-1 js-elastic-textarea" spellcheck="false" rows="5">Hi there,

My name is [Firstname Lastname], I’m a [role] at [organization].

I’m reaching out to discuss [project, question, challenge]. [Additional details, if any.]

Our budget for this effort is [budget, range, etc.] and we’re interested in wrapping up in [timeframe].

I’m available to chat [potential meeting times], let me know if any of those work for you.

Have a great day!

[Firstname Lastname]</textarea>

		{% embed '@cloudfour/objects/button-group/button-group.twig' with {
			grow: true,
			class: 'u-space-block-start-n2'
		} only %}
			{% block content %}
				{% include '@cloudfour/components/button/button.twig' with {
					label: 'Copy',
					id: 'copy-btn',
					content_start_icon: 'copy',
				} only %}
				{% include '@cloudfour/components/button/button.twig' with {
					label: 'Draft email',
					class: 'c-button--secondary',
					content_start_icon: 'envelope',
					href: "mailto:info@cloudfour.com?subject=Discuss potential project&body=Hi there,%0D%0A%0D%0AMy name is [Firstname Lastname], I’m a [role] at [organization].%0D%0A%0D%0AI’m reaching out to discuss [project, question, challenge]. [Additional details, if any.]%0D%0A%0D%0AOur budget for this effort is [budget, range, etc.] and we’re interested in wrapping up in [timeframe].%0D%0A%0D%0AI’m available to chat [potential meeting times], let me know if any of those work for you.%0D%0A%0D%0AHave a great day!%0D%0A%0D%0A[Firstname Lastname]",
				} only %}
			{% endblock %}
		{% endembed %}

		<script src="/wp-content/themes/cloudfour2022/static/scripts/init-elastic-textarea.js" type="module"></script>

		<!-- Copy Button JS below -->
		<script>
			const copyToClipboard = (text) => {
				if (navigator && navigator.clipboard && navigator.clipboard.writeText) {
					return navigator.clipboard.writeText(text);
				}
				return Promise.reject('Clipboard API not available');
			};

			const onCopyClick = () => {
				const draftEl = document.getElementById('email-draft');

				// Select the text on click for a better UX
				draftEl.select();
				draftEl.setSelectionRange(0, 99999); // For mobile devices

				copyToClipboard(draftEl.value);
			};

			document.getElementById('copy-btn').addEventListener('click', onCopyClick);
		</script>
	</div>
</div>
