<div class="o-container o-container--pad o-container--prose">
	<div class="o-container__content o-rhythm o-rhythm--default o-rhythm--generous-headings">
		<h2 class="has-heading-0-font-size">What to expect</h2>
		<p class="has-big-font-size">We deliver the best value for clients when our work and expertise directly serve their success. Our initial discussions will help clarify your project’s goals and our team’s fit.</p>
		<p>The size of an engagement varies based on project requirements, typically in the range of $XX,000 to $XXX,000. We are always happy to discuss ongoing retainer agreements and unique partnerships.</p>
		<p>If you aren’t sure how to start, you can modify this example email:</p>

		<textarea id="email-draft" class="c-input c-input--elastic js-elastic-textarea" spellcheck="false" rows="5" style="padding: 1.25em">Hi there,

My name is [Firstname Lastname], I’m a [role] at [organization].

I’m reaching out to discuss [project, question, challenge]. [Additional details, if any.]

Our budget for this effort is [budget, range, etc.] and we’re interested in wrapping up in [timeframe].

I’m available to chat [potential meeting times], let me know if any of those work for you.

Have a great day!

[Firstname Lastname]</textarea>

		<div class="o-button-group o-button-group--grow u-space-block-start-n2">
			<button id="copy-btn" class="c-button">
				<span class="c-button__extra">
					<svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" class="c-icon">
						<path d="M16 16v5c0 .55-.45 1-1 1H3c-.55 0-1-.45-1-1V9c0-.55.45-1 1-1h5" fill="none" stroke-linecap="round" stroke-width="2"></path>
						<rect x="8" y="2" width="14" height="14" rx="1" ry="1" fill="none" stroke-linecap="round" stroke-width="2"></rect>
					</svg>
				</span>
				<span class="c-button__content"> Copy </span>
			</button>

			<a href="mailto:info@cloudfour.com?subject=Discuss potential project&body=Hi there,%0D%0A%0D%0AMy name is [Firstname Lastname], I’m a [role] at [organization].%0D%0A%0D%0AI’m reaching out to discuss [project, question, challenge]. [Additional details, if any.]%0D%0A%0D%0AOur budget for this effort is [budget, range, etc.] and we’re interested in wrapping up in [timeframe].%0D%0A%0D%0AI’m available to chat [potential meeting times], let me know if any of those work for you.%0D%0A%0D%0AHave a great day!%0D%0A%0D%0A[Firstname Lastname]" class="c-button c-button--secondary">
				<span class="c-button__extra">
					<svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" class="c-icon">
						<path d="M12 13.31l11-7V6a2 2 0 00-2-2H3a2 2 0 00-2 2v.31z"></path>
						<path d="M13.07 15a2 2 0 01-2.14 0L1 8.69V18a2 2 0 002 2h18a2 2 0 002-2V8.69z"></path>
					</svg>
				</span>
				<span class="c-button__content"> Draft email </span>
			</a>
		</div>

		<script src="/wp-content/themes/cloudfour2022/static/scripts/init-elastic-textarea.js" type="module"></script>

		<!-- Copy Button JS below -->
		<script>
			const copyToClipboard = (text) => {
				if (navigator && navigator.clipboard && navigator.clipboard.writeText) {
					return navigator.clipboard.writeText(text);
				}
				return Promise.reject("Clipboard API not available");
			};

			const onCopyClick = () => {
				const draftEl = document.getElementById("email-draft");

				// Select the text on click for a better UX
				draftEl.select();
				draftEl.setSelectionRange(0, 99999); // For mobile devices

				copyToClipboard(draftEl.value);
			};

			document.getElementById("copy-btn").addEventListener("click", onCopyClick);
		</script>
	</div>
</div>
