@use "../design-tokens/colors.yml";
@use "../mixins/ms";

/**
 * Sensible box model
 */

*,
::before,
::after {
  box-sizing: border-box;
}

/**
 * 1. Prevents custom background colors, iframes, etc. from making page content
 *    unreadable.
 * 2. 100% black can appear somewhat harsh against white.
 * 3. Remove white space surrounding page.
 */

body {
  background-color: #fff; /* 1 */
  color: colors.$text-dark; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Default link color
 */

a {
  color: colors.$text-action;
}

/**
 * 1. Block display is usually what we want
 * 2. Remove strange space-below when inline
 * 3. Responsive by default
 *
 * @see https://github.com/mozdevs/cssremedy
 */

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block; /* 1 */
  max-width: 100%; /* 3 */
  vertical-align: middle; /* 2 */
}

/**
 * Embedded elements with consistent aspect ratios require this to maintain
 * that ratio when resized.
 */

canvas,
img,
svg,
video {
  height: auto;
}

/**
 * It's pretty arbitrary that audio elements are 300px wide by default.
 */

audio {
  width: 100%;
}

/**
 * Don't allow code blocks to overflow willy-nilly.
 */

pre {
  background: colors.$primary-brand-darker;
  color: colors.$text-light;
  overflow: auto;
  padding: ms.step(1);
}

/**
 * IE10 and earlier still show borders around linked images. While usage of that
 * browser is low, this is an easy fix to include.
 */

img {
  border-style: none;
}

/**
 * IE10 and earlier do not respect the `hidden` attribute.
 *
 * @see https://cloudfour.com/thinks/see-no-evil-hidden-content-and-accessibility/
 */

[hidden] {
  display: none !important;
}

/**
 * IE11 and earlier display some HTML5 elements as `inline` by default.
 */

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
