@use "../compiled/tokens/scss/color";
@use "../compiled/tokens/scss/opacity";
@use '../mixins/theme';

/**
 * These are the default, global theme properties. These should not be specific
 * to any particular component or element, which can define their own theme
 * properties wherever their styles are defined.
 */

/**
 * Light theme (default)
 */

@include theme.props() {
  --theme-color-background-base: #{color.$text-light-emphasis};
  --theme-color-background-kbd: transparent;
  --theme-color-background-secondary: #{color.$base-gray-lighter};
  --theme-color-border-kbd: #{color.$base-gray-light};
  --theme-color-text-action: #{color.$text-action};
  --theme-color-text-base: #{color.$text-dark};
  --theme-color-text-code: #{color.$base-fuchsia};
  --theme-color-text-emphasis: var(--theme-color-text-base);
  --theme-color-text-muted: #{color.$text-dark-muted};
  --theme-opacity-del: #{opacity.$muted};
}

/**
 * Dark theme
 */

@include theme.props(dark) {
  --theme-color-background-base: #{color.$brand-primary};
  --theme-color-background-kbd: #{color.$brand-primary-dark};
  --theme-color-background-secondary: #{color.$brand-primary-dark};
  --theme-color-border-kbd: #{color.$brand-primary-darker};
  --theme-color-text-action: var(--theme-color-text-emphasis);
  --theme-color-text-base: #{color.$text-light};
  --theme-color-text-code: var(--theme-color-text-emphasis);
  --theme-color-text-emphasis: #{color.$text-light-emphasis};
  --theme-color-text-muted: #{color.$text-light};
  --theme-opacity-del: 1;
}

/**
 * Container styles
 */

.t-light,
.t-dark {
  @include theme.rules();
}
