@use '../design-tokens/colors.yml';
@use '../design-tokens/opacity.yml';
@use '../mixins/theme';

/**
 * These are the default, global theme properties. These should not be specific
 * to any particular component or element, which can define their own theme
 * properties wherever their styles are defined.
 */

/**
 * Light theme (default)
 */

@include theme.props() {
  --theme-color-background-base: #{colors.$text-light-emphasis};
  --theme-color-background-kbd: transparent;
  --theme-color-background-secondary: #{colors.$gray-lighter};
  --theme-color-border-kbd: #{colors.$gray-light};
  --theme-color-text-action: #{colors.$text-action};
  --theme-color-text-base: #{colors.$text-dark};
  --theme-color-text-code: #{colors.$fuchsia};
  --theme-color-text-emphasis: var(--theme-color-text-base);
  --theme-opacity-del: #{opacity.$muted};
}

/**
 * Dark theme
 */

@include theme.props(dark) {
  --theme-color-background-base: #{colors.$primary-brand};
  --theme-color-background-kbd: #{colors.$primary-brand-dark};
  --theme-color-background-secondary: #{colors.$primary-brand-dark};
  --theme-color-border-kbd: #{colors.$primary-brand-darker};
  --theme-color-text-action: var(--theme-color-text-emphasis);
  --theme-color-text-base: #{colors.$text-light};
  --theme-color-text-code: var(--theme-color-text-emphasis);
  --theme-color-text-emphasis: #{colors.$text-light-emphasis};
  --theme-opacity-del: 1;
}

/**
 * Container styles
 */

.t-light,
.t-dark {
  @include theme.rules();
}
