@use "_fonts";
@use "../design-tokens/font.yml";

/**
 * Promote consistent line spacing.
 *
 * @see https://drafts.csswg.org/css-inline-3/#line-sizing-property
 */

html {
  line-sizing: normal;
}

/**
 * 1. Prevent size adjustments on orientation change.
 * 2. Allow long words (like URLs) to break at arbitrary points.
 */

body {
  font-family: font.$family-sans-fallback;
  text-size-adjust: none; /* 1 */
  word-wrap: break-word; /* 2 */

  @supports (font-variation-settings: normal) {
    font-family: font.$family-sans;
  }
}
