@use '../../design-tokens/breakpoint.yml';
@use '../../design-tokens/colors.yml';
@use '../../design-tokens/font.yml';
@use '../../design-tokens/layout.yml';
@use '../../design-tokens/motion.yml';
@use '../../design-tokens/opacity.yml';
@use '../../design-tokens/sizes.yml';
@use '../../mixins/a11y';
@use '../../mixins/fluid';
@use '../../mixins/focus';
@use '../../mixins/ms';
@use '../../mixins/unit';
@use 'sass:color';

$_space: ms.step(1, 1rem);
$_divider-height: 3px;
$_divider-color: colors.$gray-light;

.c-ground-nav__action,
.c-ground-nav__content {
  padding: $_space;
}

.c-ground-nav__content-inner > * + * {
  margin-top: $_space;
}

.c-ground-nav__action-title {
  margin-top: $_space;
}

.c-ground-nav__content {
  background-color: colors.$gray-lighter;
}

.c-ground-nav__organization {
  margin-top: 0;
}

.c-ground-nav__organization-name {
  font-style: normal;
  font-weight: font.$weight-bold;
}

.c-ground-nav__social-action {
  font-size: ms.step(2);
}

.c-ground-nav__menu-items {
  column-gap: $_space;
  columns: 2;
}

.c-ground-nav__divider {
  background-color: $_divider-color;
  border-style: none;
  height: $_divider-height;
  width: 100%;
}

.c-ground-nav__copyright {
  font-size: ms.step(-1);
}

.c-ground-nav__copyright > * + * {
  margin-top: $_space;
}

@supports (display: grid) {

  .c-ground-nav__content-inner {
    display: grid;
    grid-gap: $_space;

    @media (min-width: breakpoint.$m) {
      grid-template-areas:
        "organization menu"
        "social social"
        "divider divider"
        "copyright copyright";
    }

    @media (min-width: breakpoint.$l) {
      grid-template-areas:
        "organization menu social"
        "copyright copyright copyright";
    }
  }

  .c-ground-nav__content-inner > * + * {
    margin-top: 0;
  }

  .c-ground-nav__organization {
    @media (min-width: breakpoint.$m) {
      grid-area: organization;
    }
  }

  .c-ground-nav__menu {
    @media (min-width: breakpoint.$m) {
      grid-area: menu;
    }
  }

  .c-ground-nav__social {
    @media (min-width: breakpoint.$m) {
      grid-area: social;
    }

    @media (min-width: breakpoint.$l) {
      justify-self: end;
    }
  }

  .c-ground-nav__divider {
    @media (min-width: breakpoint.$m) {
      grid-area: divider;
    }
  }

  .c-ground-nav__copyright {
    @media (min-width: breakpoint.$m) {
      grid-area: copyright;
    }

    @media (min-width: breakpoint.$l) {
      display: flex;
      justify-content: flex-end;
    }
  }

  .c-ground-nav__copyright > * + * {
    @media (min-width: breakpoint.$l) {
      margin-top: 0;
    }
  }
}
