{# 
  @TODO
  1. Generate an example of a message with a decorative icon.
  #}

{% set tagName = tagName | default('div') %}

<{{tagName}} aria-describedby="MessageInfo" {% if not stopAnnouncements %} aria-live="polite"{% endif %} class="c-message{% if class %} {{class}}{% endif
%}" tabindex="0"{% if isWarning %} role="alert"{% else %} role="status"{% endif
%}>
  <p id="MessageInfo">
    {% block content %}
      {{label | default('Hi, I\'m a message!')}}
    {% endblock %}
  </p>
  {% if includeClose %}
    <button aria-label="Close message" class="c-button c-button--link" type="button">
      {% include '../../assets/icons/close.svg.twig' with {
        class: 'c-icon'
      } %}
    </button>
  {% endif %}
</{{tagName}}>
