{% set tagName = tagName | default('div') %}

<{{tagName}} class="c-message{% if class %} {{class}}{% endif %}">
  {% block content %}
    <p>
      {{label | default('Hi, I\'m a message!')}}
    </p>
  {% endblock %}
  {% if includeClose %}
    <button class="c-message-close" type="button">
      {# 
        TODO
        1. aria-labelledby
        2. closeIconTitle
       #}
      {% include '../../assets/icons/close.svg.twig' with {
        class: 'c-icon'
      } %}
    </button>
  {% endif %}
</{{tagName}}>
