@use "../../compiled/tokens/scss/tokens";
@use "../../compiled/tokens/scss/brightness";
@use "../../compiled/tokens/scss/color";
@use "../../compiled/tokens/scss/ease";
@use "../../compiled/tokens/scss/transition";
@use "../../compiled/tokens/scss/scale";
@use "../../compiled/tokens/scss/size";
@use "../../mixins/focus";
@use "../../mixins/ms";

/**
 * 1. Push message and close button as far apart as possible.
 * 2. When text breaks onto multiple lines our default line-height visually
 *    competes with this element's padding, so we condense it a little.
 */

.c-message {
  background-color: color.$base-gray-lighter;
  color: color.$text-dark;
  display: flex; /* 1 */
  justify-content: space-between; /* 1 */
  line-height: ms.step(1, 1); /* 2 */
}

.c-message__content {
  padding: ms.step(1);
}

/**
 * 1. Transparent background and inherited text color promote harmony with
 *    adjacent text and won't compete with any adjacent calls to action.
 * 2. To add a little visual emphasis, make icon a little larger than the
 *    parent text size.
 * 3. To prevent the message text from colliding with to the close button,
 *    we add some space between the message and the button.
 */

.c-message__close {
  align-items: center;
  background-color: inherit; /* 1 */
  border-radius: size.$border-radius-medium;
  border-width: 0;
  color: inherit; /* 1 */
  cursor: pointer;
  display: flex;
  font-size: ms.step(1); /* 2 */
  margin-left: ms.step(1); /* 3 */
  padding: 0 ms.step(1);

  @include focus.focus-visible {
    box-shadow: 0 0 0 size.$edge-large color.$brand-primary-lighter;
  }
}

.c-message__close-icon {
  transition: filter transition.$slow ease.$out,
    transform transition.$quick ease.$out;
}

.c-message__close:hover .c-message__close-icon {
  transform: scale(scale.$effect-grow);
}

.c-message__close:active .c-message__close-icon {
  filter: brightness(brightness.$control-dim);
  transform: scale(scale.$effect-shrink);
}
