@use "../../design-tokens/colors.yml";
@use "../../mixins/focus";
@use "../../design-tokens/font.yml";
@use "../../design-tokens/sizes.yml";
@use "../../mixins/ms";
@use "../../mixins/unit";

/**
 * 1. Push message and close button as far apart as possible.
 * 3. When text breaks onto multiple lines our default line-height visually
 *    competes with this element's padding, so we condense it a little.
 */

.c-message {
  align-items: center;
  background-color: colors.$gray-lighter;
  color: colors.$text-dark;
  display: flex; /* 1 */
  justify-content: space-between; /*  */
  line-height: ms.step(1, 1); /* 3 */
  padding: ms.step(1);
}

/**
 * 1. Button background-color should inherit the same color as its parent.
 * 3. Close icon should be the same color as the parent text color.
 * 4. Easy way to collapse extra whitespace between button edge and icon.
 * 5. Make icon a little larger than the parent text size.
 * 6. Put some space between message and close button.
 * 7. Removes padding so that element maintains consistent spacing with other
 *    inner elments
 */

.c-message__close {
  background-color: inherit; /* 1 */
  border-color: transparent;
  border-radius: sizes.$radius-medium;
  border-style: solid;
  border-width: 0;
  color: inherit; /* 4 */
  cursor: pointer;
  display: flex; /* 5 */
  font-size: ms.step(1); /* 5 */
  margin-left: ms.step(1); /* 6 */
  padding: 0; /* 7 */

  @include focus.focus-visible {
    box-shadow: 0 0 0 sizes.$edge-large colors.$primary-brand-lighter;
  }
}
