{% set tagName = tagName | default('div') %}

<{{tagName}} class="c-message{% if class %} {{class}}{% endif %}">
  {% block content %}
    <p>
      {{label | default('Hi, I\'m a message!')}}
    </p>
  {% endblock %}
  {% if includeClose %}
    <button class="c-message__close" type="button">
      {% include '../../assets/icons/close.svg.twig' with {
          class: 'c-icon'
        } %}
      <span class="u-hidden-visually">Close</span>
    </button>
  {% endif %}
</{{tagName}}>
