@use "../../design-tokens/colors.yml";
@use "../../design-tokens/font.yml";
@use "../../design-tokens/sizes.yml";
@use "../../mixins/ms";
@use "../../mixins/unit";

/**
 * 1. Display message and close button in a centered row.
 * 2. Push message and close button as far apart as possible.
 * 3. Condense line height in case it breaks to multiple lines.
 *
 * @TODO
 * 1. Style `:focus` state
 */

.c-message {
  align-items: center; /* 1 */
  background-color: colors.$gray-lighter;
  color: colors.$text-dark;
  display: flex; /* 1, 2 */
  justify-content: space-between; /* 2 */
  line-height: ms.step(1, 1); /* 3 */
  padding: ms.step(-8) ms.step(0);
}

.c-message--warning {
  background-color: colors.$fuchsia;
  color: colors.$text-light-emphasis;
}

/**
 * Inherit parent text color for links when blue is hideous against background.
 */

.c-message--warning a {
  color: inherit;
}

/**
 * 1. Reset default button styles (remove once reset/button CSS is inplace)
 * 2. Close icon should be the same color as the parent text color.
 * 3. Easy way to collapse extra whitespace between button edge and icon.
 * 4. Make icon a little larger than the parent text size.
 * 5. Put some space between message and close button.
 * 6. Removes padding so that element maintains consistent spacing with other
 *    inner elments
 */

.c-message__close {
  background-color: inherit; /* 1 */
  border: 0; /* 1 */
  color: inherit; /* 2 */
  cursor: pointer;
  display: flex; /* 3 */
  font-size: ms.step(1); /* 4 */
  margin-left: ms.step(1); /* 5 */
  padding-right: 0;
}
