.f-u-padSides {
  padding-right: 1rem;
  padding-left: 1rem;
}

.f-u-padBottom {
  padding-bottom: 1rem;
}

/**
 * Apply the Lobotomized Owl selector on child sibling elements within.
 * http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
 */

.f-u-spaceChildren > * + * {
  margin-top: 1rem !important;
}
