<div class="c-footnotes{% if compact %} c-footnotes__compact{% endif %}">
  {# H3 Stuff? #}

  <ol class="c-footnotes__list">
    {% block content %}
      {% for item in items %}
        {% set _id = loop.index %}

        {% if id_suffix %}
          {% set _id = _id ~ id_suffix %}
        {% endif %}

        {% embed '@cloudfour/components/footnote-list-item/footnote-list-item.twig' with {
          count: loop.index,
          id: _id,
        } %}
          {% block content %}
            {{ item|raw }}
          {% endblock %}
        {% endembed %}
      {% endfor %}
    {% endblock %}
  </ol>
</div>
